/* astrolight
 * revision: f6883da9b88ac810e6e5568db9a74ba6d6672d4b
 */
.lumis {
  color: #4f4f4f;
  background-color: #f7f8f8;
}
.l-attribute {
  color: #7300b8;
}
.l-attribute-builtin {
  color: #7300b8;
}
.l-boolean {
  color: #a34500;
}
.l-character {
  color: #345e00;
}
.l-character-special {
  color: #00508a;
}
.l-comment {
  color: #8b9297;
  font-style: italic;
}
.l-comment-documentation {
  color: #8b9297;
  font-style: italic;
}
.l-comment-error {
  color: #e72f1f;
}
.l-comment-hint {
  color: #21b386;
}
.l-comment-note {
  color: #3f8cea;
}
.l-comment-todo {
  color: #e69400;
}
.l-comment-warning {
  color: #e69400;
}
.l-constant {
  color: #7300b8;
}
.l-constant-builtin {
  color: #7300b8;
}
.l-constant-macro {
  color: #7300b8;
}
.l-constant-rust {
  color: #00615b;
}
.l-constructor {
  color: #00508a;
}
.l-constructor-lua {
  color: #a34500;
}
.l-constructor-tsx {
  color: #9e007c;
}
.l-constructor-typescript {
  color: #9e007c;
}
.l-diff-delta {
  background-color: #d6bae8;
}
.l-diff-minus {
  background-color: #e0baba;
}
.l-diff-plus {
  color: #345e00;
}
.l-error {
  color: #e72f1f;
}
.l-function {
  color: #00508a;
}
.l-function-builtin {
  color: #00615b;
}
.l-function-call {
  color: #00508a;
}
.l-function-macro {
  color: #7300b8;
}
.l-function-macro-rust {
  color: #990000;
}
.l-function-method {
  color: #00508a;
}
.l-function-method-call {
  color: #00508a;
}
.l-highlighted {
  background-color: #eaebeb;
}
.l-keyword {
  color: #9e007c;
}
.l-keyword-conditional {
  color: #9e007c;
}
.l-keyword-conditional-ternary {
  color: #9e007c;
}
.l-keyword-coroutine {
  color: #9e007c;
}
.l-keyword-debug {
  color: #3f8cea;
}
.l-keyword-directive {
  color: #9e007c;
}
.l-keyword-directive-define {
  color: #9e007c;
}
.l-keyword-exception {
  color: #9e007c;
}
.l-keyword-export {
  color: #9e007c;
}
.l-keyword-function {
  color: #9e007c;
}
.l-keyword-import {
  color: #9e007c;
}
.l-keyword-modifier {
  color: #7300b8;
}
.l-keyword-operator {
  color: #9e007c;
}
.l-keyword-repeat {
  color: #9e007c;
}
.l-keyword-return {
  color: #9e007c;
}
.l-keyword-type {
  color: #7300b8;
}
.l-label {
  color: #00508a;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #b5b9bd;
}
.l-line-number-highlighted {
  color: #424446;
}
.l-markup {
  color: #00508a;
}
.l-markup-environment {
  color: #a34500;
}
.l-markup-environment-name {
  color: #a34500;
}
.l-markup-heading {
  color: #4f4f4f;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #4f4f4f;
  font-weight: bold;
}
.l-markup-heading-1-markdown {
  color: #9e007c;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #4f4f4f;
  font-weight: bold;
}
.l-markup-heading-2-markdown {
  color: #00508a;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #4f4f4f;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #00615b;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #4f4f4f;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #345e00;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #4f4f4f;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #7300b8;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #4f4f4f;
  font-weight: bold;
}
.l-markup-heading-6-markdown {
  color: #7300b8;
  font-weight: bold;
}
.l-markup-italic {
  color: #4f4f4f;
  font-style: italic;
}
.l-markup-link {
  color: #7300b8;
  font-weight: bold;
}
.l-markup-link-label {
  color: #345e00;
}
.l-markup-link-url {
  color: #00508a;
  font-style: italic;
  text-decoration: underline;
}
.l-markup-list {
  color: #00508a;
}
.l-markup-list-checked {
  color: #21b386;
  font-weight: bold;
}
.l-markup-list-markdown {
  color: #a34500;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #3f8cea;
  font-weight: bold;
}
.l-markup-math {
  color: #00508a;
}
.l-markup-quote {
  color: #4f4f4f;
  font-style: italic;
}
.l-markup-raw {
  color: #990000;
}
.l-markup-raw-block {
  color: #4f4f4f;
}
.l-markup-strikethrough {
  color: #4f4f4f;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #4f4f4f;
  font-weight: bold;
}
.l-module {
  color: #9e007c;
}
.l-module-builtin {
  color: #7300b8;
}
.l-namespace {
  color: #9e007c;
}
.l-number {
  color: #a34500;
}
.l-number-css {
  color: #00615b;
}
.l-number-float {
  color: #7300b8;
}
.l-operator {
  color: #4f4f4f;
}
.l-property {
  color: #990000;
}
.l-property-cpp {
  color: #a34500;
}
.l-property-css {
  color: #a34500;
}
.l-punctuation-bracket {
  color: #4f4f4f;
}
.l-punctuation-bracket-php {
  color: #9e007c;
  font-weight: bold;
}
.l-punctuation-bracket-rainbow-1 {
  color: #990000;
}
.l-punctuation-bracket-rainbow-2 {
  color: #7300b8;
}
.l-punctuation-bracket-rainbow-3 {
  color: #00508a;
}
.l-punctuation-bracket-rainbow-4 {
  color: #a34500;
}
.l-punctuation-bracket-rainbow-5 {
  color: #345e00;
}
.l-punctuation-bracket-rainbow-6 {
  color: #9e007c;
}
.l-punctuation-delimiter {
  color: #4f4f4f;
}
.l-punctuation-special {
  color: #4f4f4f;
}
.l-punctuation-special-rust {
  color: #9e007c;
}
.l-string {
  color: #345e00;
}
.l-string-documentation {
  color: #345e00;
}
.l-string-escape {
  color: #990000;
}
.l-string-regexp {
  color: #345e00;
}
.l-string-special {
  color: #345e00;
}
.l-string-special-path {
  color: #345e00;
}
.l-string-special-symbol {
  color: #345e00;
}
.l-string-special-symbol-ruby {
  color: #a34500;
}
.l-string-special-url {
  color: #00508a;
  font-style: italic;
  text-decoration: underline;
}
.l-tag {
  color: #990000;
}
.l-tag-attribute {
  color: #00615b;
}
.l-tag-attribute-tsx {
  color: #9e007c;
  font-style: italic;
}
.l-tag-builtin {
  color: #00508a;
}
.l-tag-delimiter {
  color: #4f4f4f;
}
.l-type {
  color: #00508a;
}
.l-type-builtin {
  color: #7300b8;
}
.l-type-css {
  color: #a34500;
}
.l-type-definition {
  color: #00508a;
}
.l-type-rust {
  color: #00615b;
}
.l-variable {
  color: #4f4f4f;
}
.l-variable-builtin {
  color: #00615b;
}
.l-variable-member {
  color: #990000;
}
.l-variable-parameter {
  color: #a34500;
}
.l-variable-parameter-builtin {
  color: #a34500;
}
