/* ayu_mirage
 * revision: e5a9f0fa2918d6b5f57c21b3ac014314ee5e41c8
 */
.lumis {
  color: #cccac2;
  background-color: #1f2430;
}
.l-attribute {
  color: #ffcc66;
}
.l-attribute-builtin {
  color: #ffcc66;
}
.l-boolean {
  color: #dfbfff;
}
.l-character {
  color: #dfbfff;
}
.l-character-special {
  color: #ffcc66;
}
.l-comment {
  color: #6c7a8b;
  font-style: italic;
}
.l-comment-documentation {
  color: #6c7a8b;
  font-style: italic;
}
.l-comment-error {
  color: #ff6666;
}
.l-comment-hint {
  color: #6c7a8b;
  font-style: italic;
}
.l-comment-note {
  color: #5ccfe6;
}
.l-comment-todo {
  color: #f28779;
}
.l-comment-warning {
  color: #ffad66;
}
.l-constant {
  color: #dfbfff;
}
.l-constant-builtin {
  color: #ffcc66;
}
.l-constant-macro {
  color: #dfbfff;
}
.l-constructor {
  color: #ffcc66;
}
.l-diff-delta {
  color: #80bfff;
}
.l-diff-minus {
  color: #f27983;
}
.l-diff-plus {
  color: #87d96c;
}
.l-function {
  color: #ffd173;
}
.l-function-builtin {
  color: #ffcc66;
}
.l-function-call {
  color: #ffd173;
}
.l-function-macro {
  color: #ffd173;
}
.l-function-method {
  color: #ffd173;
}
.l-function-method-call {
  color: #ffd173;
}
.l-highlighted {
  background-color: #171b24;
}
.l-keyword {
  color: #ffad66;
}
.l-keyword-conditional {
  color: #ffad66;
}
.l-keyword-conditional-ternary {
  color: #ffad66;
}
.l-keyword-coroutine {
  color: #ffad66;
}
.l-keyword-debug {
  color: #ffad66;
}
.l-keyword-directive {
  color: #ffad66;
}
.l-keyword-directive-define {
  color: #ffad66;
}
.l-keyword-exception {
  color: #ffad66;
}
.l-keyword-export {
  color: #ffad66;
}
.l-keyword-function {
  color: #ffad66;
}
.l-keyword-import {
  color: #ffad66;
}
.l-keyword-modifier {
  color: #ffad66;
}
.l-keyword-operator {
  color: #ffad66;
}
.l-keyword-repeat {
  color: #ffad66;
}
.l-keyword-return {
  color: #ffad66;
}
.l-keyword-type {
  color: #ffad66;
}
.l-label {
  color: #ffad66;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #323843;
}
.l-line-number-highlighted {
  color: #ffcc66;
  background-color: #171b24;
}
.l-markup {
  color: #ffcc66;
}
.l-markup-environment {
  color: #ffcc66;
}
.l-markup-environment-name {
  color: #ffcc66;
}
.l-markup-heading {
  color: #ffad66;
}
.l-markup-heading-1 {
  color: #ffad66;
}
.l-markup-heading-2 {
  color: #ffad66;
}
.l-markup-heading-3 {
  color: #ffad66;
}
.l-markup-heading-4 {
  color: #ffad66;
}
.l-markup-heading-5 {
  color: #ffad66;
}
.l-markup-heading-6 {
  color: #ffad66;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #ffcc66;
}
.l-markup-list-checked {
  color: #ffcc66;
}
.l-markup-list-unchecked {
  color: #ffcc66;
}
.l-markup-math {
  color: #ffcc66;
}
.l-markup-quote {
  color: #ffcc66;
}
.l-markup-raw {
  color: #ffcc66;
}
.l-markup-raw-block {
  color: #ffcc66;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #ffd173;
}
.l-module-builtin {
  color: #ffcc66;
}
.l-number {
  color: #dfbfff;
}
.l-number-float {
  color: #dfbfff;
}
.l-operator {
  color: #f29e74;
}
.l-property {
  color: #5ccfe6;
}
.l-punctuation-bracket {
  color: #ffdfb3;
}
.l-punctuation-delimiter {
  color: #ffdfb3;
}
.l-punctuation-special {
  color: #ffcc66;
}
.l-string {
  color: #d5ff80;
}
.l-string-documentation {
  color: #d5ff80;
}
.l-string-escape {
  color: #ffcc66;
}
.l-string-regexp {
  color: #ffcc66;
}
.l-string-special {
  color: #ffcc66;
}
.l-string-special-path {
  color: #ffcc66;
}
.l-string-special-symbol {
  color: #ffcc66;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #ffad66;
}
.l-tag-attribute {
  color: #73d0ff;
}
.l-tag-builtin {
  color: #ffcc66;
}
.l-tag-delimiter {
  color: #ffdfb3;
}
.l-type {
  color: #73d0ff;
}
.l-type-builtin {
  color: #ffcc66;
}
.l-type-definition {
  color: #73d0ff;
}
.l-variable {
  color: #cccac2;
}
.l-variable-builtin {
  color: #ffd173;
}
.l-variable-member {
  color: #5ccfe6;
}
.l-variable-parameter {
  color: #cccac2;
}
.l-variable-parameter-builtin {
  color: #ffcc66;
}
