/* bamboo_vulgaris
 * revision: 1309bc88bffcf1bedc3e84e7fa9004de93da774a
 */
.lumis {
  color: #f1e9d2;
  background-color: #252623;
}
.l-attribute {
  color: #70c2be;
}
.l-attribute-builtin {
  color: #e75a7c;
}
.l-attribute-typescript {
  color: #57a5e5;
}
.l-boolean {
  color: #ff9966;
}
.l-character {
  color: #ff9966;
}
.l-character-special {
  color: #e75a7c;
}
.l-comment {
  color: #e2c792;
  font-style: italic;
}
.l-comment-documentation {
  color: #e2c792;
  font-style: italic;
}
.l-comment-error {
  color: #111210;
  background-color: #e75a7c;
  font-weight: bold;
}
.l-comment-hint {
  color: #e2c792;
  font-style: italic;
}
.l-comment-note {
  color: #111210;
  background-color: #57a5e5;
  font-weight: bold;
}
.l-comment-todo {
  color: #111210;
  background-color: #aaaaff;
  font-weight: bold;
}
.l-comment-warning {
  color: #111210;
  background-color: #ff9966;
  font-weight: bold;
}
.l-comment-warning-gitcommit {
  background-color: #5c4334;
}
.l-constant {
  color: #ff9966;
}
.l-constant-builtin {
  color: #ff9966;
}
.l-constant-macro {
  color: #df73ff;
}
.l-constructor {
  color: #dbb651;
  font-weight: bold;
}
.l-constructor-lua {
  color: #dbb651;
}
.l-diff-delta {
  background-color: #2a3a57;
}
.l-diff-minus {
  background-color: #893f45;
}
.l-diff-plus {
  background-color: #40531b;
}
.l-error {
  color: #e75a7c;
}
.l-function {
  color: #57a5e5;
}
.l-function-builtin {
  color: #ff9966;
}
.l-function-call {
  color: #57a5e5;
}
.l-function-macro {
  color: #df73ff;
}
.l-function-method {
  color: #57a5e5;
}
.l-function-method-call {
  color: #57a5e5;
}
.l-highlighted {
  background-color: #2f312c;
}
.l-keyword {
  color: #aaaaff;
}
.l-keyword-conditional {
  color: #aaaaff;
  font-style: italic;
}
.l-keyword-conditional-ternary {
  color: #c5c2ee;
}
.l-keyword-coroutine {
  color: #aaaaff;
}
.l-keyword-debug {
  color: #aaaaff;
}
.l-keyword-directive {
  color: #aaaaff;
}
.l-keyword-directive-define {
  color: #aaaaff;
  font-weight: bold;
}
.l-keyword-exception {
  color: #aaaaff;
}
.l-keyword-export {
  color: #aaaaff;
}
.l-keyword-function {
  color: #aaaaff;
}
.l-keyword-import {
  color: #aaaaff;
}
.l-keyword-modifier {
  color: #aaaaff;
  font-style: italic;
}
.l-keyword-operator {
  color: #aaaaff;
}
.l-keyword-repeat {
  color: #aaaaff;
}
.l-keyword-return {
  color: #aaaaff;
}
.l-keyword-type {
  color: #aaaaff;
}
.l-label {
  color: #e75a7c;
  font-weight: bold;
}
.l-label-diff {
  color: #dbb651;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #5b5e5a;
}
.l-line-number-highlighted {
  color: #f1e9d2;
}
.l-markup {
  color: #e75a7c;
}
.l-markup-environment {
  color: #e75a7c;
}
.l-markup-environment-name {
  color: #e75a7c;
}
.l-markup-heading {
  color: #ff9966;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #ed839d;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #ffb38c;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #e4c87d;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #abc896;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #94d1ce;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #81bcec;
  font-weight: bold;
}
.l-markup-italic {
  color: #ff9966;
  font-style: italic;
}
.l-markup-link {
  color: #57a5e5;
}
.l-markup-link-label {
  color: #57a5e5;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #70c2be;
  font-style: italic;
  text-decoration: underline;
}
.l-markup-list {
  color: #e75a7c;
}
.l-markup-list-checked {
  color: #dbb651;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #838781;
  font-weight: bold;
}
.l-markup-math {
  color: #96c7ef;
}
.l-markup-quote {
  color: #838781;
}
.l-markup-raw {
  color: #8fb573;
}
.l-markup-raw-block {
  color: #8fb573;
}
.l-markup-strikethrough {
  color: #ff9966;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #ff9966;
  font-weight: bold;
}
.l-markup-underline {
  color: #ff9966;
  text-decoration: underline;
}
.l-module {
  color: #96c7ef;
  font-style: italic;
}
.l-module-builtin {
  color: #e75a7c;
}
.l-module-latex {
  color: #70c2be;
  font-style: italic;
}
.l-number {
  color: #ff9966;
}
.l-number-float {
  color: #ff9966;
}
.l-operator {
  color: #c5c2ee;
}
.l-property {
  color: #70c2be;
}
.l-punctuation-bracket {
  color: #838781;
}
.l-punctuation-bracket-rainbow-1 {
  color: #ed839d;
}
.l-punctuation-bracket-rainbow-2 {
  color: #e4c87d;
}
.l-punctuation-bracket-rainbow-3 {
  color: #81bcec;
}
.l-punctuation-bracket-rainbow-4 {
  color: #ffb38c;
}
.l-punctuation-bracket-rainbow-5 {
  color: #abc896;
}
.l-punctuation-bracket-rainbow-6 {
  color: #bfbfff;
}
.l-punctuation-delimiter {
  color: #838781;
}
.l-punctuation-special {
  color: #e75a7c;
}
.l-punctuation-special-diff {
  color: #838781;
}
.l-string {
  color: #8fb573;
}
.l-string-documentation {
  color: #abc896;
}
.l-string-escape {
  color: #f08080;
}
.l-string-regexp {
  color: #ff9966;
}
.l-string-special {
  color: #e75a7c;
}
.l-string-special-path {
  color: #96c7ef;
  text-decoration: underline;
}
.l-string-special-path-diff {
  color: #96c7ef;
}
.l-string-special-symbol {
  color: #70c2be;
}
.l-string-special-url {
  color: #70c2be;
  font-style: italic;
  text-decoration: underline;
}
.l-tag {
  color: #aaaaff;
}
.l-tag-attribute {
  color: #70c2be;
}
.l-tag-builtin {
  color: #aaaaff;
}
.l-tag-delimiter {
  color: #838781;
}
.l-type {
  color: #dbb651;
}
.l-type-builtin {
  color: #dbb651;
}
.l-type-definition {
  color: #dbb651;
}
.l-variable {
  color: #f1e9d2;
}
.l-variable-builtin {
  color: #e75a7c;
}
.l-variable-member {
  color: #70c2be;
}
.l-variable-parameter {
  color: #f08080;
  font-style: italic;
}
.l-variable-parameter-builtin {
  color: #e75a7c;
  font-style: italic;
}
