/* bamboo_light
 * revision: 1309bc88bffcf1bedc3e84e7fa9004de93da774a
 */
.lumis {
  color: #3a4238;
  background-color: #fafae0;
}
.l-attribute {
  color: #188a9e;
}
.l-attribute-builtin {
  color: #c72a3c;
}
.l-attribute-typescript {
  color: #1745d5;
}
.l-boolean {
  color: #df5926;
}
.l-character {
  color: #df5926;
}
.l-character-special {
  color: #c72a3c;
}
.l-comment {
  color: #6f4c05;
  font-style: italic;
}
.l-comment-documentation {
  color: #6f4c05;
  font-style: italic;
}
.l-comment-error {
  color: #fff8f0;
  background-color: #c72a3c;
  font-weight: bold;
}
.l-comment-hint {
  color: #6f4c05;
  font-style: italic;
}
.l-comment-note {
  color: #fff8f0;
  background-color: #1745d5;
  font-weight: bold;
}
.l-comment-todo {
  color: #fff8f0;
  background-color: #8a4adf;
  font-weight: bold;
}
.l-comment-warning {
  color: #fff8f0;
  background-color: #df5926;
  font-weight: bold;
}
.l-comment-warning-gitcommit {
  background-color: #f3d2b2;
}
.l-constant {
  color: #df5926;
}
.l-constant-builtin {
  color: #df5926;
}
.l-constant-macro {
  color: #c810d0;
}
.l-constructor {
  color: #a77b00;
  font-weight: bold;
}
.l-constructor-lua {
  color: #a77b00;
}
.l-diff-delta {
  background-color: #d2dceb;
}
.l-diff-minus {
  background-color: #f9afb5;
}
.l-diff-plus {
  background-color: #c0e3ab;
}
.l-error {
  color: #c72a3c;
}
.l-function {
  color: #1745d5;
}
.l-function-builtin {
  color: #df5926;
}
.l-function-call {
  color: #1745d5;
}
.l-function-macro {
  color: #c810d0;
}
.l-function-method {
  color: #1745d5;
}
.l-function-method-call {
  color: #1745d5;
}
.l-highlighted {
  background-color: #eaead0;
}
.l-keyword {
  color: #8a4adf;
}
.l-keyword-conditional {
  color: #8a4adf;
  font-style: italic;
}
.l-keyword-conditional-ternary {
  color: #6c47a0;
}
.l-keyword-coroutine {
  color: #8a4adf;
}
.l-keyword-debug {
  color: #8a4adf;
}
.l-keyword-directive {
  color: #8a4adf;
}
.l-keyword-directive-define {
  color: #8a4adf;
  font-weight: bold;
}
.l-keyword-exception {
  color: #8a4adf;
}
.l-keyword-export {
  color: #8a4adf;
}
.l-keyword-function {
  color: #8a4adf;
}
.l-keyword-import {
  color: #8a4adf;
}
.l-keyword-modifier {
  color: #8a4adf;
  font-style: italic;
}
.l-keyword-operator {
  color: #8a4adf;
}
.l-keyword-repeat {
  color: #8a4adf;
}
.l-keyword-return {
  color: #8a4adf;
}
.l-keyword-type {
  color: #8a4adf;
}
.l-label {
  color: #c72a3c;
  font-weight: bold;
}
.l-label-diff {
  color: #a77b00;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #a1a7a0;
}
.l-line-number-highlighted {
  color: #3a4238;
}
.l-markup {
  color: #c72a3c;
}
.l-markup-environment {
  color: #c72a3c;
}
.l-markup-environment-name {
  color: #c72a3c;
}
.l-markup-heading {
  color: #df5926;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #95202d;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #a7431d;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #7d5c00;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #1d6408;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #126877;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #1134a0;
  font-weight: bold;
}
.l-markup-italic {
  color: #df5926;
  font-style: italic;
}
.l-markup-link {
  color: #1745d5;
}
.l-markup-link-label {
  color: #1745d5;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #188a9e;
  font-style: italic;
  text-decoration: underline;
}
.l-markup-list {
  color: #c72a3c;
}
.l-markup-list-checked {
  color: #a77b00;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #838781;
  font-weight: bold;
}
.l-markup-math {
  color: #177fff;
}
.l-markup-quote {
  color: #838781;
}
.l-markup-raw {
  color: #27850b;
}
.l-markup-raw-block {
  color: #27850b;
}
.l-markup-strikethrough {
  color: #df5926;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #df5926;
  font-weight: bold;
}
.l-markup-underline {
  color: #df5926;
  text-decoration: underline;
}
.l-module {
  color: #177fff;
  font-style: italic;
}
.l-module-builtin {
  color: #c72a3c;
}
.l-module-latex {
  color: #188a9e;
  font-style: italic;
}
.l-number {
  color: #df5926;
}
.l-number-float {
  color: #df5926;
}
.l-operator {
  color: #6c47a0;
}
.l-property {
  color: #188a9e;
}
.l-punctuation-bracket {
  color: #838781;
}
.l-punctuation-bracket-rainbow-1 {
  color: #95202d;
}
.l-punctuation-bracket-rainbow-2 {
  color: #7d5c00;
}
.l-punctuation-bracket-rainbow-3 {
  color: #1134a0;
}
.l-punctuation-bracket-rainbow-4 {
  color: #a7431d;
}
.l-punctuation-bracket-rainbow-5 {
  color: #1d6408;
}
.l-punctuation-bracket-rainbow-6 {
  color: #6838a7;
}
.l-punctuation-delimiter {
  color: #838781;
}
.l-punctuation-special {
  color: #c72a3c;
}
.l-punctuation-special-diff {
  color: #838781;
}
.l-string {
  color: #27850b;
}
.l-string-documentation {
  color: #1d6408;
}
.l-string-escape {
  color: #c05050;
}
.l-string-regexp {
  color: #df5926;
}
.l-string-special {
  color: #c72a3c;
}
.l-string-special-path {
  color: #177fff;
  text-decoration: underline;
}
.l-string-special-path-diff {
  color: #177fff;
}
.l-string-special-symbol {
  color: #188a9e;
}
.l-string-special-url {
  color: #188a9e;
  font-style: italic;
  text-decoration: underline;
}
.l-tag {
  color: #8a4adf;
}
.l-tag-attribute {
  color: #188a9e;
}
.l-tag-builtin {
  color: #8a4adf;
}
.l-tag-delimiter {
  color: #838781;
}
.l-type {
  color: #a77b00;
}
.l-type-builtin {
  color: #a77b00;
}
.l-type-definition {
  color: #a77b00;
}
.l-variable {
  color: #3a4238;
}
.l-variable-builtin {
  color: #c72a3c;
}
.l-variable-member {
  color: #188a9e;
}
.l-variable-parameter {
  color: #c05050;
  font-style: italic;
}
.l-variable-parameter-builtin {
  color: #c72a3c;
  font-style: italic;
}
