/* carbonfox
 * revision: 4dacd3f0185a2227bdf3b6c0975a8f0bf87cac9a
 */
.lumis {
  color: #f2f4f8;
  background-color: #161616;
}
.l-attribute {
  color: #5ae0df;
}
.l-attribute-builtin {
  color: #8cb6ff;
}
.l-boolean {
  color: #3ddbd9;
}
.l-character {
  color: #25be6a;
}
.l-character-special {
  color: #8cb6ff;
}
.l-comment {
  color: #6e6f70;
}
.l-comment-documentation {
  color: #6e6f70;
}
.l-comment-error {
  color: #161616;
  background-color: #ee5396;
}
.l-comment-hint {
  color: #6e6f70;
}
.l-comment-note {
  color: #161616;
  background-color: #78a9ff;
}
.l-comment-todo {
  color: #161616;
  background-color: #3ddbd9;
}
.l-comment-warning {
  color: #161616;
  background-color: #be95ff;
}
.l-constant {
  color: #5ae0df;
}
.l-constant-builtin {
  color: #5ae0df;
}
.l-constant-macro {
  color: #ff91c1;
}
.l-constructor {
  color: #33b1ff;
}
.l-constructor-lua {
  color: #b6b8bb;
}
.l-diff-delta {
  color: #08bdba;
}
.l-diff-minus {
  color: #ee5396;
}
.l-diff-plus {
  color: #25be6a;
}
.l-function {
  color: #8cb6ff;
}
.l-function-builtin {
  color: #ee5396;
}
.l-function-call {
  color: #8cb6ff;
}
.l-function-macro {
  color: #ee5396;
}
.l-function-method {
  color: #8cb6ff;
}
.l-function-method-call {
  color: #8cb6ff;
}
.l-highlighted {
  background-color: #353535;
}
.l-keyword {
  color: #be95ff;
}
.l-keyword-conditional {
  color: #c8a5ff;
}
.l-keyword-conditional-ternary {
  color: #c8a5ff;
}
.l-keyword-coroutine {
  color: #be95ff;
}
.l-keyword-debug {
  color: #be95ff;
}
.l-keyword-directive {
  color: #be95ff;
}
.l-keyword-directive-define {
  color: #be95ff;
}
.l-keyword-exception {
  color: #be95ff;
}
.l-keyword-export {
  color: #be95ff;
}
.l-keyword-function {
  color: #be95ff;
}
.l-keyword-import {
  color: #ff91c1;
}
.l-keyword-modifier {
  color: #be95ff;
}
.l-keyword-operator {
  color: #b6b8bb;
}
.l-keyword-repeat {
  color: #c8a5ff;
}
.l-keyword-return {
  color: #ee5396;
}
.l-keyword-type {
  color: #be95ff;
}
.l-label {
  color: #c8a5ff;
}
.l-label-json {
  color: #8cb6ff;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #7b7c7e;
}
.l-line-number-highlighted {
  color: #be95ff;
  font-weight: bold;
}
.l-markup {
  color: #f2f4f8;
}
.l-markup-environment {
  color: #f2f4f8;
}
.l-markup-environment-name {
  color: #f2f4f8;
}
.l-markup-heading {
  color: #8cb6ff;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #8cb6ff;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #8cb6ff;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #8cb6ff;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #8cb6ff;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #8cb6ff;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #8cb6ff;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #be95ff;
  font-weight: bold;
}
.l-markup-link-label {
  color: #8cb6ff;
}
.l-markup-link-url {
  color: #5ae0df;
  font-style: italic;
  text-decoration: underline;
}
.l-markup-list {
  color: #52bdff;
}
.l-markup-list-checked {
  color: #25be6a;
}
.l-markup-list-unchecked {
  color: #08bdba;
}
.l-markup-math {
  color: #8cb6ff;
}
.l-markup-quote {
  color: #b6b8bb;
}
.l-markup-raw {
  color: #33b1ff;
  font-style: italic;
}
.l-markup-raw-block {
  color: #ff7eb6;
}
.l-markup-strikethrough {
  color: #f2f4f8;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #ca4780;
  font-weight: bold;
}
.l-module {
  color: #52bdff;
}
.l-module-builtin {
  color: #8cb6ff;
}
.l-namespace {
  color: #52bdff;
}
.l-number {
  color: #3ddbd9;
}
.l-number-float {
  color: #3ddbd9;
}
.l-operator {
  color: #b6b8bb;
}
.l-property {
  color: #78a9ff;
}
.l-punctuation-bracket {
  color: #b6b8bb;
}
.l-punctuation-bracket-rainbow-1 {
  color: #ee5396;
}
.l-punctuation-bracket-rainbow-2 {
  color: #08bdba;
}
.l-punctuation-bracket-rainbow-3 {
  color: #78a9ff;
}
.l-punctuation-bracket-rainbow-4 {
  color: #3ddbd9;
}
.l-punctuation-bracket-rainbow-5 {
  color: #25be6a;
}
.l-punctuation-delimiter {
  color: #b6b8bb;
}
.l-punctuation-special {
  color: #52bdff;
}
.l-string {
  color: #25be6a;
}
.l-string-documentation {
  color: #25be6a;
}
.l-string-escape {
  color: #2dc7c4;
  font-weight: bold;
}
.l-string-regex {
  color: #2dc7c4;
}
.l-string-regexp {
  color: #2dc7c4;
}
.l-string-special {
  color: #8cb6ff;
}
.l-string-special-path {
  color: #8cb6ff;
}
.l-string-special-symbol {
  color: #8cb6ff;
}
.l-string-special-url {
  color: #5ae0df;
  font-style: italic;
  text-decoration: underline;
}
.l-tag {
  color: #be95ff;
}
.l-tag-attribute {
  color: #8cb6ff;
  font-style: italic;
}
.l-tag-builtin {
  color: #8cb6ff;
}
.l-tag-delimiter {
  color: #52bdff;
}
.l-type {
  color: #08bdba;
}
.l-type-builtin {
  color: #52bdff;
}
.l-type-definition {
  color: #08bdba;
}
.l-variable {
  color: #dfdfe0;
}
.l-variable-builtin {
  color: #ee5396;
}
.l-variable-member {
  color: #78a9ff;
}
.l-variable-parameter {
  color: #52bdff;
}
.l-variable-parameter-builtin {
  color: #8cb6ff;
}
