/* everblush
 * revision: 678f808d81801b983b6fb8296fb17ba1b2785d7c
 */
.lumis {
  color: #dadada;
  background-color: #141b1e;
}
.l-attribute {
  color: #67b0e8;
}
.l-attribute-builtin {
  color: #6cbfbf;
}
.l-boolean {
  color: #6cbfbf;
}
.l-character {
  color: #67b0e8;
}
.l-character-special {
  color: #dadada;
}
.l-comment {
  color: #404749;
  font-style: italic;
}
.l-comment-documentation {
  color: #404749;
  font-style: italic;
}
.l-comment-error {
  color: #e57474;
}
.l-comment-hint {
  color: #404749;
  font-style: italic;
}
.l-comment-note {
  color: #67b0e8;
}
.l-comment-todo {
  color: #e57474;
  background-color: #141b1e;
}
.l-comment-warning {
  color: #e5c76b;
}
.l-constant {
  color: #6cbfbf;
}
.l-constant-builtin {
  color: #67b0e8;
}
.l-constant-macro {
  color: #e5c76b;
}
.l-constructor {
  color: #67b0e8;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-function {
  color: #e57474;
}
.l-function-builtin {
  color: #67cbe7;
}
.l-function-call {
  color: #e57474;
}
.l-function-macro {
  color: #8ccf7e;
}
.l-function-method {
  color: #e57474;
}
.l-function-method-call {
  color: #e57474;
}
.l-highlighted {
  background-color: #2c3333;
}
.l-keyword {
  color: #c47fd5;
}
.l-keyword-conditional {
  color: #c47fd5;
}
.l-keyword-conditional-ternary {
  color: #c47fd5;
}
.l-keyword-coroutine {
  color: #c47fd5;
}
.l-keyword-debug {
  color: #c47fd5;
}
.l-keyword-directive {
  color: #c47fd5;
}
.l-keyword-directive-define {
  color: #c47fd5;
}
.l-keyword-exception {
  color: #c47fd5;
}
.l-keyword-export {
  color: #c47fd5;
}
.l-keyword-function {
  color: #67b0e8;
}
.l-keyword-import {
  color: #c47fd5;
}
.l-keyword-modifier {
  color: #c47fd5;
}
.l-keyword-operator {
  color: #71baf2;
}
.l-keyword-repeat {
  color: #c47fd5;
}
.l-keyword-return {
  color: #67b0e8;
}
.l-keyword-type {
  color: #c47fd5;
}
.l-label {
  color: #67b0e8;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #232a2d;
  background-color: #141b1e;
}
.l-line-number-highlighted {
  color: #2c3333;
}
.l-markup {
  color: #6cbfbf;
}
.l-markup-environment {
  color: #6cbfbf;
}
.l-markup-environment-name {
  color: #6cbfbf;
}
.l-markup-heading {
  color: #67b0e8;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #67b0e8;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #67b0e8;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #67b0e8;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #67b0e8;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #67b0e8;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #67b0e8;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #e5c76b;
}
.l-markup-link-label {
  color: #e5c76b;
}
.l-markup-link-url {
  color: #e5c76b;
}
.l-markup-list {
  color: #6cbfbf;
}
.l-markup-list-checked {
  color: #6cbfbf;
}
.l-markup-list-unchecked {
  color: #6cbfbf;
}
.l-markup-math {
  color: #6cbfbf;
}
.l-markup-quote {
  color: #6cbfbf;
}
.l-markup-raw {
  color: #6cbfbf;
}
.l-markup-raw-block {
  color: #6cbfbf;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #6cbfbf;
}
.l-module-builtin {
  color: #6cbfbf;
}
.l-namespace {
  color: #ef7e7e;
}
.l-number {
  color: #e5c76b;
}
.l-number-float {
  color: #c47fd5;
}
.l-operator {
  color: #b3b9b8;
}
.l-property {
  color: #e57474;
}
.l-punctuation-bracket {
  color: #b3b9b8;
}
.l-punctuation-delimiter {
  color: #b3b9b8;
}
.l-punctuation-special {
  color: #b3b9b8;
}
.l-string {
  color: #8ccf7e;
}
.l-string-documentation {
  color: #8ccf7e;
}
.l-string-escape {
  color: #67b0e8;
}
.l-string-regexp {
  color: #67b0e8;
}
.l-string-special {
  color: #67b0e8;
}
.l-string-special-path {
  color: #67b0e8;
}
.l-string-special-symbol {
  color: #67b0e8;
}
.l-string-special-url {
  color: #e5c76b;
}
.l-tag {
  color: #67b0e8;
}
.l-tag-attribute {
  color: #e57474;
}
.l-tag-builtin {
  color: #6cbfbf;
}
.l-tag-delimiter {
  color: #b3b9b8;
}
.l-type {
  color: #e5c76b;
}
.l-type-builtin {
  color: #e5c76b;
}
.l-type-definition {
  color: #e5c76b;
}
.l-variable {
  color: #b3b9b8;
}
.l-variable-builtin {
  color: #67b0e8;
}
.l-variable-member {
  color: #b3b9b8;
}
.l-variable-parameter {
  color: #b3b9b8;
}
.l-variable-parameter-builtin {
  color: #6cbfbf;
}
