/* flow_dark
 * revision: 4863b14263a77f8efb79068f7078b6261c9cbda2
 */
.lumis {
  color: #5e7b8d;
  background-color: #1b2328;
}
.l-attribute {
  color: #70dbc1;
}
.l-attribute-builtin {
  color: #a670db;
}
.l-boolean {
  color: #dbdb70;
}
.l-character {
  color: #728fa1;
}
.l-character-special {
  color: #70c9db;
}
.l-comment {
  color: #4e6574;
}
.l-comment-documentation {
  color: #4e6574;
}
.l-comment-error {
  color: #db7079;
}
.l-comment-hint {
  color: #70afdb;
}
.l-comment-note {
  color: #70afdb;
}
.l-comment-todo {
  color: #70c9db;
}
.l-comment-warning {
  color: #dbdb70;
}
.l-constant {
  color: #dbdb70;
}
.l-constant-builtin {
  color: #a670db;
}
.l-constant-macro {
  color: #5e7b8d;
}
.l-constructor {
  color: #a670db;
}
.l-diff-delta {
  color: #70afdb;
  background-color: #253c41;
}
.l-diff-minus {
  color: #db7079;
  background-color: #412528;
}
.l-diff-plus {
  background-color: #284125;
}
.l-function {
  color: #70afdb;
}
.l-function-builtin {
  color: #a670db;
}
.l-function-call {
  color: #70afdb;
}
.l-function-macro {
  color: #5e7b8d;
}
.l-function-method {
  color: #70afdb;
}
.l-function-method-call {
  color: #70afdb;
}
.l-highlighted {
  background-color: #291921;
}
.l-keyword {
  color: #db7079;
}
.l-keyword-conditional {
  color: #db7079;
}
.l-keyword-conditional-ternary {
  color: #db7079;
}
.l-keyword-coroutine {
  color: #db7079;
}
.l-keyword-debug {
  color: #a670db;
}
.l-keyword-directive {
  color: #70dbc1;
}
.l-keyword-directive-define {
  color: #5e7b8d;
}
.l-keyword-directive-markdown {
  color: #70afdb;
}
.l-keyword-exception {
  color: #db7079;
}
.l-keyword-export {
  color: #db7079;
}
.l-keyword-function {
  color: #70afdb;
}
.l-keyword-function-go {
  color: #a670db;
}
.l-keyword-import {
  color: #db7079;
}
.l-keyword-modifier {
  color: #db7079;
}
.l-keyword-operator {
  color: #db7079;
}
.l-keyword-repeat {
  color: #db7079;
}
.l-keyword-return {
  color: #db7079;
}
.l-keyword-type {
  color: #db7079;
}
.l-label {
  color: #db7079;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #2f3d46;
  background-color: #1b2328;
}
.l-line-number-highlighted {
  color: #ff007b;
}
.l-markup-environment {
  color: #5e7b8d;
}
.l-markup-environment-name {
  color: #70afdb;
}
.l-markup-heading {
  color: #a670db;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #a670db;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #a670db;
  font-weight: bold;
}
.l-markup-heading-2-markdown {
  color: #7082db;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #a670db;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #70afdb;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #a670db;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #70dbc1;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #a670db;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #70c9db;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #a670db;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #70c9db;
}
.l-markup-link-label {
  color: #70afdb;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #dbdb70;
  font-weight: bold;
}
.l-markup-list-checked {
  color: #79db70;
}
.l-markup-list-unchecked {
  color: #70c9db;
}
.l-markup-math {
  color: #a670db;
}
.l-markup-quote {
  color: #a670db;
}
.l-markup-raw {
  color: #728fa1;
}
.l-markup-raw-block {
  background-color: #161d22;
}
.l-markup-raw-markdown {
  color: #70dbc1;
}
.l-markup-raw-markdown_inline {
  color: #70dbc1;
  background-color: #161d22;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #db7079;
}
.l-module-builtin {
  color: #db7079;
}
.l-module-go {
  color: #7082db;
}
.l-number {
  color: #dbdb70;
}
.l-number-float {
  color: #dbdb70;
}
.l-operator {
  color: #db7079;
}
.l-property {
  color: #70dbc1;
}
.l-property-yaml {
  color: #dbdb70;
}
.l-punctuation-bracket {
  color: #a670db;
}
.l-punctuation-delimiter {
  color: #a670db;
}
.l-punctuation-special {
  color: #a670db;
}
.l-punctuation-special-markdown {
  color: #70afdb;
}
.l-string {
  color: #728fa1;
}
.l-string-documentation {
  color: #dbdb70;
}
.l-string-escape {
  color: #70dbc1;
}
.l-string-regexp {
  color: #70dbc1;
}
.l-string-special {
  color: #70c9db;
}
.l-string-special-path {
  color: #70c9db;
}
.l-string-special-symbol {
  color: #70c9db;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #db7079;
}
.l-tag-attribute {
  color: #70dbc1;
}
.l-tag-builtin {
  color: #a670db;
}
.l-tag-delimiter {
  color: #a670db;
}
.l-type {
  color: #70afdb;
}
.l-type-builtin {
  color: #70dbc1;
}
.l-type-definition {
  color: #70afdb;
}
.l-variable {
  color: #5e7b8d;
}
.l-variable-builtin {
  color: #db7079;
}
.l-variable-member {
  color: #70afdb;
}
.l-variable-parameter {
  color: #5e7b8d;
}
.l-variable-parameter-builtin {
  color: #dbdb70;
}
