/* horizon_light
 * revision: b4d7b1e7c3aa77aea31b9ced8960e49fd8682c47
 */
.lumis {
  color: #06060c;
  background-color: #fdf0ed;
}
.l-attribute-builtin {
  color: #f77d26;
}
.l-boolean {
  color: #f77d26;
}
.l-character {
  color: #f6661e;
}
.l-comment {
  color: #989290;
  font-style: italic;
}
.l-comment-documentation {
  color: #989290;
  font-style: italic;
}
.l-comment-error {
  color: #f43e5c;
}
.l-comment-hint {
  color: #989290;
  font-style: italic;
}
.l-comment-note {
  color: #1d8991;
}
.l-comment-todo {
  color: #1eb980;
  font-weight: bold;
}
.l-comment-warning {
  color: #f77d26;
}
.l-constant {
  color: #dc3318;
}
.l-constant-builtin {
  color: #dc3318;
}
.l-constant-macro {
  color: #dc3318;
}
.l-diff-delta {
  color: #007373;
}
.l-diff-minus {
  color: #590008;
}
.l-diff-plus {
  color: #005523;
}
.l-error {
  color: #f43e5c;
}
.l-function {
  color: #1d8991;
}
.l-function-builtin {
  color: #1d8991;
}
.l-function-call {
  color: #1d8991;
}
.l-function-macro {
  color: #1d8991;
}
.l-function-method {
  color: #1d8991;
}
.l-function-method-call {
  color: #1d8991;
}
.l-highlighted {
  background-color: #fce5df;
}
.l-keyword {
  color: #8a31b9;
}
.l-keyword-conditional {
  color: #8a31b9;
}
.l-keyword-conditional-ternary {
  color: #8a31b9;
}
.l-keyword-coroutine {
  color: #8a31b9;
}
.l-keyword-debug {
  color: #8a31b9;
}
.l-keyword-directive {
  color: #8a31b9;
}
.l-keyword-directive-define {
  color: #8a31b9;
}
.l-keyword-exception {
  color: #8a31b9;
}
.l-keyword-export {
  color: #8a31b9;
}
.l-keyword-function {
  color: #8a31b9;
}
.l-keyword-import {
  color: #8a31b9;
}
.l-keyword-modifier {
  color: #8a31b9;
}
.l-keyword-operator {
  color: #8a31b9;
}
.l-keyword-repeat {
  color: #8a31b9;
}
.l-keyword-return {
  color: #8a31b9;
}
.l-keyword-type {
  color: #8a31b9;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #e4d9d7;
}
.l-line-number-highlighted {
  color: #827b7d;
  background-color: #fce5df;
  font-weight: bold;
}
.l-markup {
  color: #f77d26;
}
.l-markup-environment {
  color: #f77d26;
}
.l-markup-environment-name {
  color: #f77d26;
}
.l-markup-heading {
  font-weight: bold;
}
.l-markup-heading-1 {
  font-weight: bold;
}
.l-markup-heading-2 {
  font-weight: bold;
}
.l-markup-heading-3 {
  font-weight: bold;
}
.l-markup-heading-4 {
  font-weight: bold;
}
.l-markup-heading-5 {
  font-weight: bold;
}
.l-markup-heading-6 {
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #f77d26;
}
.l-markup-list-checked {
  color: #f77d26;
}
.l-markup-list-unchecked {
  color: #f77d26;
}
.l-markup-math {
  color: #f77d26;
}
.l-markup-quote {
  color: #f77d26;
}
.l-markup-raw {
  color: #f77d26;
}
.l-markup-raw-block {
  color: #f77d26;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module-builtin {
  color: #f77d26;
}
.l-namespace {
  color: #1d8991;
}
.l-number {
  color: #f77d26;
}
.l-number-float {
  color: #f77d26;
}
.l-operator {
  color: #333333;
}
.l-punctuation-bracket {
  color: #333333;
}
.l-punctuation-bracket-rainbow-1 {
  color: #da103f;
}
.l-punctuation-bracket-rainbow-2 {
  color: #f77d26;
}
.l-punctuation-bracket-rainbow-3 {
  color: #169fff;
}
.l-punctuation-bracket-rainbow-4 {
  color: #dc3318;
}
.l-punctuation-bracket-rainbow-5 {
  color: #29d398;
}
.l-punctuation-bracket-rainbow-6 {
  color: #8a31b9;
}
.l-punctuation-delimiter {
  color: #333333;
}
.l-punctuation-special {
  color: #333333;
}
.l-string {
  color: #f6661e;
}
.l-string-documentation {
  color: #f6661e;
}
.l-string-escape {
  color: #f6661e;
}
.l-string-regexp {
  color: #06060c;
}
.l-string-special {
  color: #06060c;
}
.l-string-special-path {
  color: #06060c;
}
.l-string-special-symbol {
  color: #06060c;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag-attribute {
  color: #f77d26;
  font-style: italic;
}
.l-tag-builtin {
  color: #f77d26;
}
.l-type-builtin {
  color: #f77d26;
}
.l-variable-parameter-builtin {
  color: #f77d26;
}
