/* jellybeans
 * revision: d5989265b5256cb296b5772c73e57490e84f69b1
 */
.lumis {
  color: #e8e8d4;
  background-color: #141414;
}
.l-attribute {
  color: #8297c0;
}
.l-attribute-builtin {
  color: #8bc1aa;
}
.l-boolean {
  color: #cf694a;
}
.l-character {
  color: #cf694a;
}
.l-character-special {
  color: #8bc1aa;
}
.l-comment {
  color: #878787;
}
.l-comment-documentation {
  color: #878787;
}
.l-comment-error {
  color: #ffc0b9;
}
.l-comment-hint {
  color: #878787;
}
.l-comment-note {
  color: #8cf8f7;
}
.l-comment-todo {
  color: #c7c7c7;
}
.l-comment-warning {
  color: #fce094;
}
.l-constant {
  color: #cf694a;
}
.l-constant-builtin {
  color: #8bc1aa;
}
.l-constant-macro {
  color: #cf694a;
}
.l-constructor {
  color: #8bc1aa;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-function {
  color: #facf7a;
}
.l-function-builtin {
  color: #8bc1aa;
}
.l-function-call {
  color: #facf7a;
}
.l-function-macro {
  color: #facf7a;
}
.l-function-method {
  color: #facf7a;
}
.l-function-method-call {
  color: #facf7a;
}
.l-highlighted {
  background-color: #1c1c1c;
}
.l-keyword {
  color: #b2d1f0;
}
.l-keyword-conditional {
  color: #b2d1f0;
}
.l-keyword-conditional-ternary {
  color: #b2d1f0;
}
.l-keyword-coroutine {
  color: #b2d1f0;
}
.l-keyword-debug {
  color: #b2d1f0;
}
.l-keyword-directive {
  color: #b2d1f0;
}
.l-keyword-directive-define {
  color: #b2d1f0;
}
.l-keyword-exception {
  color: #b2d1f0;
}
.l-keyword-export {
  color: #b2d1f0;
}
.l-keyword-function {
  color: #b2d1f0;
}
.l-keyword-import {
  color: #b2d1f0;
}
.l-keyword-modifier {
  color: #b2d1f0;
}
.l-keyword-operator {
  color: #b2d1f0;
}
.l-keyword-repeat {
  color: #b2d1f0;
}
.l-keyword-return {
  color: #b2d1f0;
}
.l-keyword-type {
  color: #b2d1f0;
}
.l-label {
  color: #b2d1f0;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #5f5958;
}
.l-line-number-highlighted {
  color: #cbc4c3;
}
.l-markup {
  color: #8bc1aa;
}
.l-markup-environment {
  color: #8bc1aa;
}
.l-markup-environment-name {
  color: #8bc1aa;
}
.l-markup-heading {
  color: #70b950;
}
.l-markup-heading-1 {
  color: #70b950;
}
.l-markup-heading-2 {
  color: #70b950;
}
.l-markup-heading-3 {
  color: #70b950;
}
.l-markup-heading-4 {
  color: #70b950;
}
.l-markup-heading-5 {
  color: #70b950;
}
.l-markup-heading-6 {
  color: #70b950;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #8bc1aa;
}
.l-markup-list-checked {
  color: #8bc1aa;
}
.l-markup-list-unchecked {
  color: #8bc1aa;
}
.l-markup-math {
  color: #8bc1aa;
}
.l-markup-quote {
  color: #8bc1aa;
}
.l-markup-raw {
  color: #8bc1aa;
}
.l-markup-raw-block {
  color: #8bc1aa;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #8fbedc;
}
.l-module-builtin {
  color: #8bc1aa;
}
.l-namespace {
  color: #f09ebf;
}
.l-number {
  color: #cf694a;
}
.l-number-float {
  color: #cf694a;
}
.l-operator {
  color: #8fbedc;
}
.l-property {
  color: #c5b5ee;
}
.l-punctuation-bracket {
  color: #668799;
}
.l-punctuation-delimiter {
  color: #668799;
}
.l-punctuation-special {
  color: #8bc1aa;
}
.l-string {
  color: #9aae6b;
}
.l-string-documentation {
  color: #9aae6b;
}
.l-string-escape {
  color: #8bc1aa;
}
.l-string-regexp {
  color: #8bc1aa;
}
.l-string-special {
  color: #8bc1aa;
}
.l-string-special-path {
  color: #8bc1aa;
}
.l-string-special-symbol {
  color: #8bc1aa;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #8bc1aa;
}
.l-tag-attribute {
  color: #8bc1aa;
}
.l-tag-builtin {
  color: #8bc1aa;
}
.l-tag-delimiter {
  color: #556677;
}
.l-type {
  color: #ffba66;
  font-style: italic;
}
.l-type-builtin {
  color: #8bc1aa;
}
.l-type-definition {
  color: #ffba66;
  font-style: italic;
}
.l-variable {
  color: #e8e8d4;
  background-color: #141414;
}
.l-variable-builtin {
  color: #8bc1aa;
}
.l-variable-member {
  color: #e8e8d4;
  background-color: #141414;
}
.l-variable-parameter {
  color: #e8e8d4;
  background-color: #141414;
}
.l-variable-parameter-builtin {
  color: #8bc1aa;
}
