/* lackluster_hack
 * revision: 70dd682e564784893b984deb51dd5ddd263c8cc7
 */
.lumis {
  color: #cccccc;
  background-color: #101010;
}
.l-attribute {
  color: #666666;
}
.l-attribute-builtin {
  color: #708090;
}
.l-boolean {
  color: #aaaaaa;
}
.l-character {
  color: #708090;
}
.l-character-special {
  color: #708090;
}
.l-comment {
  color: #3a3a3a;
}
.l-comment-documentation {
  color: #3a3a3a;
}
.l-comment-error {
  color: #d70000;
}
.l-comment-hint {
  color: #3a3a3a;
}
.l-comment-note {
  color: #7a7a7a;
}
.l-comment-todo {
  color: #7a7a7a;
}
.l-comment-warning {
  color: #444444;
}
.l-constant {
  color: #aaaaaa;
}
.l-constant-builtin {
  color: #7a7a7a;
}
.l-constant-macro {
  color: #aaaaaa;
}
.l-constructor {
  color: #7a7a7a;
}
.l-diff-delta {
  color: #7a7a7a;
}
.l-diff-minus {
  color: #ffaa88;
}
.l-diff-plus {
  color: #789978;
}
.l-function {
  color: #deeeed;
}
.l-function-builtin {
  color: #555555;
}
.l-function-call {
  color: #7a7a7a;
}
.l-function-macro {
  color: #deeeed;
}
.l-function-method {
  color: #deeeed;
}
.l-function-method-call {
  color: #7a7a7a;
}
.l-highlighted {
  background-color: #191919;
}
.l-keyword {
  color: #666666;
}
.l-keyword-conditional {
  color: #666666;
}
.l-keyword-conditional-ternary {
  color: #666666;
}
.l-keyword-coroutine {
  color: #666666;
}
.l-keyword-debug {
  color: #666666;
}
.l-keyword-directive {
  color: #666666;
}
.l-keyword-directive-define {
  color: #666666;
}
.l-keyword-exception {
  color: #7788aa;
}
.l-keyword-export {
  color: #666666;
}
.l-keyword-function {
  color: #666666;
}
.l-keyword-import {
  color: #666666;
}
.l-keyword-modifier {
  color: #666666;
}
.l-keyword-operator {
  color: #666666;
}
.l-keyword-repeat {
  color: #666666;
}
.l-keyword-return {
  color: #789978;
}
.l-keyword-type {
  color: #666666;
}
.l-label {
  color: #555555;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #444444;
}
.l-line-number-highlighted {
  color: #aaaaaa;
}
.l-markup {
  color: #708090;
}
.l-markup-environment {
  color: #708090;
}
.l-markup-environment-name {
  color: #708090;
}
.l-markup-heading {
  color: #555555;
}
.l-markup-heading-1 {
  color: #555555;
}
.l-markup-heading-2 {
  color: #555555;
}
.l-markup-heading-3 {
  color: #555555;
}
.l-markup-heading-4 {
  color: #555555;
}
.l-markup-heading-5 {
  color: #555555;
}
.l-markup-heading-6 {
  color: #555555;
}
.l-markup-italic {
  color: #444444;
}
.l-markup-link {
  color: #7a7a7a;
}
.l-markup-link-label {
  color: #7a7a7a;
}
.l-markup-link-url {
  color: #444444;
}
.l-markup-list {
  color: #444444;
}
.l-markup-list-checked {
  color: #789978;
}
.l-markup-list-unchecked {
  color: #d70000;
}
.l-markup-math {
  color: #ffaa88;
}
.l-markup-quote {
  color: #7a7a7a;
}
.l-markup-raw {
  color: #708090;
}
.l-markup-raw-block {
  color: #708090;
}
.l-markup-strikethrough {
  color: #444444;
}
.l-markup-strong {
  color: #444444;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #aaaaaa;
}
.l-module-builtin {
  color: #555555;
}
.l-number {
  color: #aaaaaa;
}
.l-number-float {
  color: #aaaaaa;
}
.l-operator {
  color: #7a7a7a;
}
.l-property {
  color: #aaaaaa;
}
.l-property-css {
  color: #cccccc;
}
.l-property-json {
  color: #7a7a7a;
}
.l-property-toml {
  color: #7a7a7a;
}
.l-property-yaml {
  color: #7a7a7a;
}
.l-punctuation-bracket {
  color: #7a7a7a;
}
.l-punctuation-bracket-rainbow-1 {
  color: #555555;
}
.l-punctuation-bracket-rainbow-2 {
  color: #999999;
}
.l-punctuation-bracket-rainbow-3 {
  color: #aaaaaa;
}
.l-punctuation-bracket-rainbow-4 {
  color: #cccccc;
}
.l-punctuation-bracket-rainbow-5 {
  color: #666666;
}
.l-punctuation-bracket-rainbow-6 {
  color: #bbbbbb;
}
.l-punctuation-delimiter {
  color: #7a7a7a;
}
.l-punctuation-special {
  color: #7a7a7a;
}
.l-string {
  color: #708090;
}
.l-string-documentation {
  color: #708090;
}
.l-string-escape {
  color: #789978;
}
.l-string-regexp {
  color: #789978;
}
.l-string-special {
  color: #789978;
}
.l-string-special-path {
  color: #789978;
}
.l-string-special-symbol {
  color: #789978;
}
.l-string-special-symbol-clojure {
  color: #aaaaaa;
}
.l-string-special-symbol-make {
  color: #708090;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #555555;
}
.l-tag-attribute {
  color: #444444;
}
.l-tag-builtin {
  color: #555555;
}
.l-tag-css {
  color: #cccccc;
}
.l-tag-delimiter {
  color: #555555;
}
.l-type {
  color: #aaaaaa;
}
.l-type-builtin {
  color: #aaaaaa;
}
.l-type-definition {
  color: #cccccc;
}
.l-type-toml {
  color: #cccccc;
}
.l-variable {
  color: #cccccc;
}
.l-variable-builtin {
  color: #cccccc;
}
.l-variable-member {
  color: #aaaaaa;
}
.l-variable-parameter {
  color: #8e8e8e;
}
.l-variable-parameter-builtin {
  color: #708090;
}
