/* matte_black
 * revision: a8a039f5d6189b28d76fa0221e64965efec7e996
 */
.lumis {
  color: #eaeaea;
  background-color: #121212;
}
.l-attribute {
  color: #d97706;
  font-style: italic;
}
.l-attribute-builtin {
  color: #f59e0b;
}
.l-boolean {
  color: #10b981;
}
.l-character {
  color: #efbf04;
}
.l-character-special {
  color: #efbf04;
}
.l-comment {
  color: #8a8a8d;
  font-style: italic;
}
.l-comment-documentation {
  color: #8a8a8d;
  font-style: italic;
}
.l-comment-error {
  color: #dc2626;
  font-style: italic;
}
.l-comment-hint {
  color: #8a8a8d;
  font-style: italic;
}
.l-comment-note {
  color: #8a8a8d;
  font-style: italic;
}
.l-comment-todo {
  color: #fbbf24;
  font-style: italic;
}
.l-comment-warning {
  color: #d97706;
  font-style: italic;
}
.l-constant {
  color: #d97706;
}
.l-constant-builtin {
  color: #d97706;
}
.l-constant-macro {
  color: #fbbf24;
}
.l-constructor {
  color: #fbbf24;
}
.l-diff-delta {
  color: #f59e0b;
}
.l-diff-minus {
  color: #dc2626;
}
.l-diff-plus {
  color: #10b981;
}
.l-function {
  color: #dc2626;
}
.l-function-builtin {
  color: #d97706;
}
.l-function-call {
  color: #f59e0b;
}
.l-function-macro {
  color: #fbbf24;
}
.l-function-method {
  color: #f59e0b;
}
.l-function-method-call {
  color: #f59e0b;
}
.l-highlighted {
  background-color: #212121;
}
.l-keyword {
  color: #059669;
}
.l-keyword-conditional {
  color: #059669;
}
.l-keyword-conditional-ternary {
  color: #059669;
}
.l-keyword-coroutine {
  color: #059669;
}
.l-keyword-debug {
  color: #059669;
}
.l-keyword-directive {
  color: #3b82f6;
}
.l-keyword-directive-define {
  color: #fbbf24;
}
.l-keyword-exception {
  color: #059669;
}
.l-keyword-export {
  color: #059669;
}
.l-keyword-function {
  color: #059669;
}
.l-keyword-import {
  color: #059669;
}
.l-keyword-modifier {
  color: #059669;
}
.l-keyword-operator {
  color: #bebebe;
}
.l-keyword-repeat {
  color: #059669;
}
.l-keyword-return {
  color: #059669;
}
.l-keyword-type {
  color: #059669;
}
.l-label {
  color: #059669;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #333333;
}
.l-line-number-highlighted {
  color: #f59e0b;
}
.l-markup {
  color: #f59e0b;
}
.l-markup-environment {
  color: #f59e0b;
}
.l-markup-environment-name {
  color: #f59e0b;
}
.l-markup-heading {
  color: #d97706;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #d97706;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #d97706;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #d97706;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #d97706;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #d97706;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #d97706;
  font-weight: bold;
}
.l-markup-italic {
  color: #eaeaea;
  font-style: italic;
}
.l-markup-link {
  color: #f59e0b;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #f59e0b;
}
.l-markup-link-url {
  color: #f59e0b;
  text-decoration: underline;
}
.l-markup-list {
  color: #f59e0b;
}
.l-markup-list-checked {
  color: #10b981;
}
.l-markup-list-unchecked {
  color: #f59e0b;
}
.l-markup-math {
  color: #efbf04;
}
.l-markup-quote {
  color: #8a8a8d;
  font-style: italic;
}
.l-markup-raw {
  color: #eaeaea;
}
.l-markup-raw-block {
  color: #eaeaea;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  color: #eaeaea;
  font-weight: bold;
}
.l-markup-underline {
  color: #f59e0b;
  text-decoration: underline;
}
.l-module {
  color: #bf9903;
  font-style: italic;
}
.l-module-builtin {
  color: #f59e0b;
}
.l-namespace {
  color: #bf9903;
  font-style: italic;
}
.l-number {
  color: #efbf04;
}
.l-number-float {
  color: #efbf04;
}
.l-operator {
  color: #bebebe;
}
.l-property {
  color: #f59e0b;
}
.l-punctuation-bracket {
  color: #8a8a8d;
}
.l-punctuation-delimiter {
  color: #8a8a8d;
}
.l-punctuation-special {
  color: #3b82f6;
}
.l-string {
  color: #eaeaea;
}
.l-string-documentation {
  color: #eaeaea;
}
.l-string-escape {
  color: #efbf04;
}
.l-string-regex {
  color: #d97706;
}
.l-string-regexp {
  color: #efbf04;
}
.l-string-special {
  color: #efbf04;
}
.l-string-special-path {
  color: #efbf04;
}
.l-string-special-symbol {
  color: #efbf04;
}
.l-string-special-url {
  color: #f59e0b;
  font-style: italic;
}
.l-tag {
  color: #059669;
}
.l-tag-attribute {
  color: #d97706;
  font-style: italic;
}
.l-tag-builtin {
  color: #f59e0b;
}
.l-tag-delimiter {
  color: #bebebe;
}
.l-type {
  color: #fbbf24;
}
.l-type-builtin {
  color: #f59e0b;
  font-style: italic;
}
.l-type-definition {
  color: #fbbf24;
}
.l-variable {
  color: #d97706;
}
.l-variable-builtin {
  color: #3b82f6;
}
.l-variable-builtin-javascript {
  color: #3b82f6;
  font-style: italic;
}
.l-variable-builtin-lua {
  color: #3b82f6;
  font-style: italic;
}
.l-variable-builtin-python {
  color: #3b82f6;
  font-style: italic;
}
.l-variable-member {
  color: #eaeaea;
}
.l-variable-parameter {
  color: #bebebe;
}
.l-variable-parameter-builtin {
  color: #f59e0b;
}
