/* modus_operandi
 * revision: 56233f0986ef6c8d0eab97e924e87144e584d970
 */
.lumis {
  color: #000000;
  background-color: #ffffff;
}
.l-attribute {
  color: #a0132f;
}
.l-attribute-builtin {
  color: #a0132f;
}
.l-boolean {
  color: #0031a9;
  font-weight: bold;
}
.l-character {
  color: #3548cf;
}
.l-character-special {
  color: #005077;
}
.l-comment {
  color: #595959;
  font-style: italic;
}
.l-comment-documentation {
  font-style: italic;
}
.l-comment-error {
  color: #a0132f;
}
.l-comment-hint {
  color: #595959;
  font-style: italic;
}
.l-comment-note {
  color: #005077;
}
.l-comment-todo {
  color: #721045;
  font-weight: bold;
}
.l-comment-warning {
  color: #7a4f2f;
}
.l-constant {
  color: #000000;
}
.l-constant-builtin {
  color: #8f0075;
}
.l-constant-macro {
  color: #000000;
}
.l-constructor {
  color: #7a4f2f;
}
.l-constructor-tsx {
  color: #0031a9;
}
.l-diff-delta {
  color: #553d00;
  background-color: #ffdfa9;
}
.l-diff-minus {
  color: #8f1313;
  background-color: #ffd8d5;
}
.l-diff-plus {
  color: #005000;
  background-color: #c1f2d1;
}
.l-function {
  color: #721045;
}
.l-function-builtin {
  color: #8f0075;
}
.l-function-call {
  color: #721045;
}
.l-function-macro {
  color: #721045;
}
.l-function-method {
  color: #721045;
}
.l-function-method-call {
  color: #721045;
}
.l-highlighted {
  background-color: #dae5ec;
}
.l-keyword {
  color: #531ab6;
  font-style: italic;
}
.l-keyword-conditional {
  color: #531ab6;
}
.l-keyword-conditional-ternary {
  color: #531ab6;
}
.l-keyword-coroutine {
  color: #531ab6;
  font-style: italic;
}
.l-keyword-debug {
  color: #8f0075;
}
.l-keyword-directive {
  color: #a0132f;
}
.l-keyword-directive-define {
  color: #a0132f;
}
.l-keyword-exception {
  color: #531ab6;
}
.l-keyword-export {
  color: #531ab6;
  font-style: italic;
}
.l-keyword-function {
  color: #721045;
}
.l-keyword-import {
  color: #a0132f;
}
.l-keyword-modifier {
  color: #531ab6;
  font-style: italic;
}
.l-keyword-operator {
  color: #000000;
}
.l-keyword-repeat {
  color: #531ab6;
}
.l-keyword-return {
  color: #531ab6;
  font-style: italic;
}
.l-keyword-type {
  color: #531ab6;
  font-style: italic;
}
.l-label {
  color: #005e8b;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #000000;
  background-color: #f2f2f2;
}
.l-line-number-highlighted {
  color: #0a0a0a;
  background-color: #e0e0e0;
  font-weight: bold;
}
.l-markup {
  color: #8f0075;
}
.l-markup-environment {
  color: #8f0075;
}
.l-markup-environment-name {
  color: #8f0075;
}
.l-markup-heading {
  color: #193668;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #0031a9;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #6f5500;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #721045;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #006800;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #a60000;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #3f578f;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #005f5f;
}
.l-markup-link-label {
  color: #005077;
}
.l-markup-link-url {
  color: #193668;
  text-decoration: underline;
}
.l-markup-list {
  color: #000000;
}
.l-markup-list-checked {
  color: #006800;
}
.l-markup-list-unchecked {
  color: #6f5500;
}
.l-markup-math {
  color: #8f0075;
}
.l-markup-quote {
  font-style: italic;
}
.l-markup-raw {
  color: #3548cf;
}
.l-markup-raw-block {
  color: #3548cf;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #a0132f;
}
.l-module-builtin {
  color: #531ab6;
}
.l-namespace {
  color: #a0132f;
}
.l-number {
  color: #003497;
}
.l-number-float {
  color: #003497;
}
.l-operator {
  color: #000000;
}
.l-property {
  color: #005e8b;
}
.l-punctuation-bracket {
  color: #000000;
}
.l-punctuation-bracket-rainbow-1 {
  color: #a60000;
}
.l-punctuation-bracket-rainbow-2 {
  color: #6f5500;
}
.l-punctuation-bracket-rainbow-3 {
  color: #0031a9;
}
.l-punctuation-bracket-rainbow-4 {
  color: #884900;
}
.l-punctuation-bracket-rainbow-5 {
  color: #006800;
}
.l-punctuation-bracket-rainbow-6 {
  color: #531ab6;
}
.l-punctuation-delimiter {
  color: #000000;
}
.l-punctuation-special {
  color: #000000;
}
.l-string {
  color: #3548cf;
}
.l-string-documentation {
  font-style: italic;
}
.l-string-escape {
  color: #624416;
}
.l-string-regex {
  color: #00663f;
}
.l-string-regexp {
  color: #00663f;
}
.l-string-special {
  color: #7f0000;
}
.l-string-special-path {
  color: #0031a9;
}
.l-string-special-symbol {
  color: #005e8b;
}
.l-string-special-url {
  color: #005f5f;
}
.l-tag {
  color: #005e8b;
}
.l-tag-attribute {
  color: #005e8b;
}
.l-tag-builtin {
  color: #8f0075;
}
.l-tag-delimiter {
  color: #000000;
}
.l-tag-delimiter-tsx {
  color: #0000b0;
}
.l-tag-tsx {
  color: #a60000;
}
.l-type {
  color: #005f5f;
}
.l-type-builtin {
  color: #005f5f;
}
.l-type-definition {
  color: #3f578f;
}
.l-variable {
  color: #005e8b;
}
.l-variable-builtin {
  color: #531ab6;
}
.l-variable-member {
  color: #005e8b;
}
.l-variable-parameter {
  color: #005e8b;
}
.l-variable-parameter-builtin {
  color: #005077;
}
