/* monokai_nightasty_dark
 * revision: 5731bc3c01e6c94a709021e5ee31070840e47584
 */
.lumis {
  color: #ffffff;
  background-color: #2b2b2b;
}
.l-attribute {
  color: #fc1a70;
}
.l-attribute-builtin {
  color: #fc1a70;
  font-style: italic;
}
.l-boolean {
  color: #af87ff;
}
.l-character {
  color: #af87ff;
}
.l-character-special {
  color: #af87ff;
}
.l-comment {
  color: #8a8a8a;
  font-style: italic;
}
.l-comment-documentation {
  color: #8a8a8a;
  font-style: italic;
}
.l-comment-error {
  color: #ff005f;
}
.l-comment-hint {
  color: #8a8a8a;
  font-style: italic;
}
.l-comment-note {
  color: #0087ff;
}
.l-comment-todo {
  color: #ffff87;
  background-color: #585858;
}
.l-comment-warning {
  color: #ff9700;
}
.l-constant {
  color: #af87ff;
}
.l-constant-builtin {
  color: #af87ff;
}
.l-constant-macro {
  color: #fc1a70;
}
.l-constructor {
  color: #62d8f1;
  font-style: italic;
}
.l-constructor-lua {
  color: #fc1a70;
}
.l-diff-delta {
  background-color: #25394b;
}
.l-diff-minus {
  color: #fc1a70;
  background-color: #4b2533;
}
.l-diff-plus {
  color: #a4e400;
  background-color: #3d4725;
}
.l-function {
  color: #a4e400;
}
.l-function-builtin {
  color: #a4e400;
}
.l-function-builtin-bash {
  color: #62d8f1;
}
.l-function-call {
  color: #a4e400;
}
.l-function-macro {
  color: #fc1a70;
}
.l-function-method {
  color: #a4e400;
}
.l-function-method-call {
  color: #a4e400;
}
.l-highlighted {
  background-color: #404040;
}
.l-keyword {
  color: #fc1a70;
}
.l-keyword-conditional {
  color: #fc1a70;
}
.l-keyword-conditional-ternary {
  color: #fc1a70;
}
.l-keyword-coroutine {
  color: #fc1a70;
}
.l-keyword-debug {
  color: #ff9700;
}
.l-keyword-directive {
  color: #707070;
}
.l-keyword-directive-define {
  color: #fc1a70;
}
.l-keyword-exception {
  color: #fc1a70;
}
.l-keyword-export {
  color: #fc1a70;
}
.l-keyword-function {
  color: #62d8f1;
  font-style: italic;
}
.l-keyword-import {
  color: #fc1a70;
}
.l-keyword-modifier {
  color: #fc1a70;
}
.l-keyword-operator {
  color: #fc1a70;
}
.l-keyword-repeat {
  color: #fc1a70;
}
.l-keyword-return {
  color: #fc1a70;
}
.l-keyword-type {
  color: #fc1a70;
}
.l-label {
  color: #ffff87;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #4b4b4b;
}
.l-line-number-highlighted {
  color: #ffff87;
}
.l-markup-environment {
  color: #fc1a70;
}
.l-markup-heading {
  color: #ffffff;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #ffffff;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #ffffff;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #ffffff;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #ffffff;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #ffffff;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #ffffff;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #62d8f1;
}
.l-markup-link-label {
  color: #62d8f1;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #ff9700;
}
.l-markup-list {
  color: #fc1a70;
}
.l-markup-list-checked {
  color: #fc1a70;
}
.l-markup-list-unchecked {
  color: #fc1a70;
}
.l-markup-math {
  color: #af87ff;
}
.l-markup-quote {
  color: #ffffff;
  background-color: #262626;
  font-style: italic;
}
.l-markup-raw {
  color: #ffff87;
}
.l-markup-raw-block {
  color: #8a8a8a;
}
.l-markup-raw-markdown_inline {
  color: #af87ff;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #62d8f1;
}
.l-module-builtin {
  color: #af87ff;
}
.l-number {
  color: #af87ff;
}
.l-number-float {
  color: #af87ff;
}
.l-operator {
  color: #fc1a70;
}
.l-property {
  color: #e6e6e6;
}
.l-punctuation-bracket {
  color: #fc1a70;
}
.l-punctuation-bracket-rainbow-1 {
  color: #fc1a70;
}
.l-punctuation-bracket-rainbow-2 {
  color: #ffff87;
}
.l-punctuation-bracket-rainbow-3 {
  color: #0087ff;
}
.l-punctuation-bracket-rainbow-4 {
  color: #ff9700;
}
.l-punctuation-bracket-rainbow-5 {
  color: #a4e400;
}
.l-punctuation-bracket-rainbow-6 {
  color: #af87ff;
}
.l-punctuation-delimiter {
  color: #8a8a8a;
}
.l-punctuation-special {
  color: #fc1a70;
}
.l-string {
  color: #ffff87;
}
.l-string-escape {
  color: #af87ff;
}
.l-string-regexp {
  color: #ff9700;
}
.l-string-special {
  color: #af87ff;
}
.l-string-special-path {
  color: #af87ff;
}
.l-string-special-symbol {
  color: #af87ff;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #fc1a70;
}
.l-tag-attribute {
  color: #62d8f1;
  font-style: italic;
}
.l-tag-builtin {
  color: #af87ff;
}
.l-tag-delimiter {
  color: #bcbcbc;
}
.l-type {
  color: #62d8f1;
}
.l-type-builtin {
  color: #62d8f1;
  font-style: italic;
}
.l-type-definition {
  color: #62d8f1;
}
.l-variable {
  color: #ffffff;
}
.l-variable-builtin {
  color: #bcbcbc;
  font-style: italic;
}
.l-variable-member {
  color: #ffffff;
}
.l-variable-parameter {
  color: #ff9700;
  font-style: italic;
}
.l-variable-parameter-builtin {
  color: #af87ff;
}
