/* neon_light
 * revision: 7765aaa7d1cd3804176140644640766e4411c766
 */
.lumis {
  color: #4c566a;
  background-color: #d3d3d3;
}
.l-attribute {
  color: #2257a0;
}
.l-attribute-builtin {
  color: #2257a0;
  font-style: italic;
}
.l-character {
  color: #da8548;
}
.l-character-special {
  color: #da8548;
}
.l-comment {
  color: #7e8294;
  font-style: italic;
}
.l-comment-documentation {
  color: #7e8294;
  font-style: italic;
}
.l-comment-error {
  color: #ff6655;
}
.l-comment-hint {
  color: #7e8294;
  font-style: italic;
}
.l-comment-note {
  color: #007373;
}
.l-comment-todo {
  color: #0997b3;
  font-weight: bold;
  font-style: italic;
}
.l-comment-warning {
  color: #6b5300;
}
.l-constant {
  color: #9370db;
}
.l-constant-builtin {
  color: #2257a0;
  font-style: italic;
}
.l-constant-macro {
  color: #9370db;
}
.l-constructor {
  color: #2257a0;
  font-style: italic;
}
.l-diff-delta {
  color: #007373;
}
.l-diff-minus {
  color: #590008;
}
.l-diff-plus {
  color: #005523;
}
.l-function {
  color: #2257a0;
}
.l-function-builtin {
  color: #2257a0;
  font-style: italic;
}
.l-function-call {
  color: #2257a0;
}
.l-function-macro {
  color: #2257a0;
}
.l-function-method {
  color: #2257a0;
}
.l-function-method-call {
  color: #2257a0;
}
.l-highlighted {
  background-color: #d0d0d0;
}
.l-keyword {
  color: #2257a0;
}
.l-keyword-conditional {
  color: #2257a0;
}
.l-keyword-conditional-ternary {
  color: #2257a0;
}
.l-keyword-coroutine {
  color: #2257a0;
}
.l-keyword-debug {
  color: #2257a0;
}
.l-keyword-directive {
  color: #2257a0;
}
.l-keyword-directive-define {
  color: #2257a0;
}
.l-keyword-exception {
  color: #2257a0;
}
.l-keyword-export {
  color: #2257a0;
}
.l-keyword-function {
  color: #2257a0;
}
.l-keyword-import {
  color: #2257a0;
}
.l-keyword-modifier {
  color: #2257a0;
}
.l-keyword-operator {
  color: #2257a0;
}
.l-keyword-repeat {
  color: #2257a0;
}
.l-keyword-return {
  color: #2257a0;
}
.l-keyword-type {
  color: #2257a0;
}
.l-label {
  color: #0997b3;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #676e95;
}
.l-line-number-highlighted {
  color: #0997b3;
}
.l-markup {
  color: #2257a0;
  font-style: italic;
}
.l-markup-environment {
  color: #2257a0;
  font-style: italic;
}
.l-markup-environment-name {
  color: #2257a0;
  font-style: italic;
}
.l-markup-heading {
  color: #0997b3;
}
.l-markup-heading-1 {
  color: #0997b3;
}
.l-markup-heading-2 {
  color: #0997b3;
}
.l-markup-heading-3 {
  color: #0997b3;
}
.l-markup-heading-4 {
  color: #0997b3;
}
.l-markup-heading-5 {
  color: #0997b3;
}
.l-markup-heading-6 {
  color: #0997b3;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #0997b3;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #0997b3;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #0997b3;
  text-decoration: underline;
}
.l-markup-list {
  color: #2257a0;
  font-style: italic;
}
.l-markup-list-checked {
  color: #2257a0;
  font-style: italic;
}
.l-markup-list-unchecked {
  color: #2257a0;
  font-style: italic;
}
.l-markup-math {
  color: #2257a0;
  font-style: italic;
}
.l-markup-quote {
  color: #2257a0;
  font-style: italic;
}
.l-markup-raw {
  color: #2257a0;
  font-style: italic;
}
.l-markup-raw-block {
  color: #2257a0;
  font-style: italic;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #da8548;
}
.l-module-builtin {
  color: #2257a0;
  font-style: italic;
}
.l-number {
  color: #ff6655;
}
.l-number-float {
  color: #ff6655;
}
.l-operator {
  color: #2257a0;
}
.l-property {
  color: #2257a0;
}
.l-punctuation-bracket {
  color: #c18401;
}
.l-punctuation-delimiter {
  color: #c18401;
}
.l-punctuation-special {
  color: #2257a0;
  font-style: italic;
}
.l-string {
  color: #50a14f;
}
.l-string-documentation {
  color: #50a14f;
}
.l-string-escape {
  color: #da8548;
}
.l-string-regexp {
  color: #da8548;
}
.l-string-special {
  color: #da8548;
}
.l-string-special-path {
  color: #da8548;
}
.l-string-special-symbol {
  color: #da8548;
}
.l-string-special-url {
  color: #0997b3;
  text-decoration: underline;
}
.l-tag {
  color: #ff6655;
}
.l-tag-attribute {
  color: #ff6655;
}
.l-tag-builtin {
  color: #2257a0;
  font-style: italic;
}
.l-tag-delimiter {
  color: #ff6655;
}
.l-type {
  color: #0997b3;
}
.l-type-builtin {
  color: #2257a0;
  font-style: italic;
}
.l-type-definition {
  color: #0997b3;
}
.l-variable {
  color: #14161b;
}
.l-variable-builtin {
  color: #2257a0;
  font-style: italic;
}
.l-variable-member {
  color: #14161b;
}
.l-variable-parameter {
  color: #14161b;
}
.l-variable-parameter-builtin {
  color: #2257a0;
  font-style: italic;
}
