/* nordfox
 * revision: 4dacd3f0185a2227bdf3b6c0975a8f0bf87cac9a
 */
.lumis {
  color: #cdcecf;
  background-color: #2e3440;
}
.l-attribute {
  color: #d89079;
}
.l-attribute-builtin {
  color: #8cafd2;
}
.l-boolean {
  color: #c9826b;
}
.l-character {
  color: #a3be8c;
}
.l-character-special {
  color: #8cafd2;
}
.l-comment {
  color: #60728a;
}
.l-comment-documentation {
  color: #60728a;
}
.l-comment-error {
  color: #2e3440;
  background-color: #bf616a;
}
.l-comment-hint {
  color: #60728a;
}
.l-comment-note {
  color: #2e3440;
  background-color: #81a1c1;
}
.l-comment-todo {
  color: #2e3440;
  background-color: #a3be8c;
}
.l-comment-warning {
  color: #2e3440;
  background-color: #ebcb8b;
}
.l-constant {
  color: #d89079;
}
.l-constant-builtin {
  color: #d89079;
}
.l-constant-macro {
  color: #d092ce;
}
.l-constructor {
  color: #88c0d0;
}
.l-constructor-lua {
  color: #abb1bb;
}
.l-diff-delta {
  color: #ebcb8b;
}
.l-diff-minus {
  color: #bf616a;
}
.l-diff-plus {
  color: #a3be8c;
}
.l-function {
  color: #8cafd2;
}
.l-function-builtin {
  color: #bf616a;
}
.l-function-call {
  color: #8cafd2;
}
.l-function-macro {
  color: #bf616a;
}
.l-function-method {
  color: #8cafd2;
}
.l-function-method-call {
  color: #8cafd2;
}
.l-highlighted {
  background-color: #444c5e;
}
.l-keyword {
  color: #b48ead;
}
.l-keyword-conditional {
  color: #c895bf;
}
.l-keyword-conditional-ternary {
  color: #c895bf;
}
.l-keyword-coroutine {
  color: #b48ead;
}
.l-keyword-debug {
  color: #b48ead;
}
.l-keyword-directive {
  color: #b48ead;
}
.l-keyword-directive-define {
  color: #b48ead;
}
.l-keyword-exception {
  color: #b48ead;
}
.l-keyword-export {
  color: #b48ead;
}
.l-keyword-function {
  color: #b48ead;
}
.l-keyword-import {
  color: #d092ce;
}
.l-keyword-modifier {
  color: #b48ead;
}
.l-keyword-operator {
  color: #abb1bb;
}
.l-keyword-repeat {
  color: #c895bf;
}
.l-keyword-return {
  color: #bf616a;
}
.l-keyword-type {
  color: #b48ead;
}
.l-label {
  color: #c895bf;
}
.l-label-json {
  color: #8cafd2;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #7e8188;
}
.l-line-number-highlighted {
  color: #ebcb8b;
  font-weight: bold;
}
.l-markup {
  color: #cdcecf;
}
.l-markup-environment {
  color: #cdcecf;
}
.l-markup-environment-name {
  color: #cdcecf;
}
.l-markup-heading {
  color: #8cafd2;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #8cafd2;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #8cafd2;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #8cafd2;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #8cafd2;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #8cafd2;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #8cafd2;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #b48ead;
  font-weight: bold;
}
.l-markup-link-label {
  color: #8cafd2;
}
.l-markup-link-url {
  color: #d89079;
  font-style: italic;
  text-decoration: underline;
}
.l-markup-list {
  color: #93ccdc;
}
.l-markup-list-checked {
  color: #a3be8c;
}
.l-markup-list-unchecked {
  color: #ebcb8b;
}
.l-markup-math {
  color: #8cafd2;
}
.l-markup-quote {
  color: #abb1bb;
}
.l-markup-raw {
  color: #88c0d0;
  font-style: italic;
}
.l-markup-raw-block {
  color: #bf88bc;
}
.l-markup-strikethrough {
  color: #cdcecf;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #a54e56;
  font-weight: bold;
}
.l-module {
  color: #93ccdc;
}
.l-module-builtin {
  color: #8cafd2;
}
.l-namespace {
  color: #93ccdc;
}
.l-number {
  color: #c9826b;
}
.l-number-float {
  color: #c9826b;
}
.l-operator {
  color: #abb1bb;
}
.l-property {
  color: #81a1c1;
}
.l-punctuation-bracket {
  color: #abb1bb;
}
.l-punctuation-bracket-rainbow-1 {
  color: #bf616a;
}
.l-punctuation-bracket-rainbow-2 {
  color: #ebcb8b;
}
.l-punctuation-bracket-rainbow-3 {
  color: #81a1c1;
}
.l-punctuation-bracket-rainbow-4 {
  color: #c9826b;
}
.l-punctuation-bracket-rainbow-5 {
  color: #a3be8c;
}
.l-punctuation-delimiter {
  color: #abb1bb;
}
.l-punctuation-special {
  color: #93ccdc;
}
.l-string {
  color: #a3be8c;
}
.l-string-documentation {
  color: #a3be8c;
}
.l-string-escape {
  color: #f0d399;
  font-weight: bold;
}
.l-string-regex {
  color: #f0d399;
}
.l-string-regexp {
  color: #f0d399;
}
.l-string-special {
  color: #8cafd2;
}
.l-string-special-path {
  color: #8cafd2;
}
.l-string-special-symbol {
  color: #8cafd2;
}
.l-string-special-url {
  color: #d89079;
  font-style: italic;
  text-decoration: underline;
}
.l-tag {
  color: #b48ead;
}
.l-tag-attribute {
  color: #8cafd2;
  font-style: italic;
}
.l-tag-builtin {
  color: #8cafd2;
}
.l-tag-delimiter {
  color: #93ccdc;
}
.l-type {
  color: #ebcb8b;
}
.l-type-builtin {
  color: #93ccdc;
}
.l-type-definition {
  color: #ebcb8b;
}
.l-variable {
  color: #e5e9f0;
}
.l-variable-builtin {
  color: #bf616a;
}
.l-variable-member {
  color: #81a1c1;
}
.l-variable-parameter {
  color: #93ccdc;
}
.l-variable-parameter-builtin {
  color: #8cafd2;
}
