/* rosepine_dawn
 * revision: ff483051a47e27d84bdef47703538df1ed9f4a47
 */
.lumis {
  color: #464261;
  background-color: #faf4ed;
}
.l-attribute {
  color: #907aa9;
}
.l-attribute-builtin {
  color: #907aa9;
  font-weight: bold;
}
.l-attribute-diff {
  color: #ea9d34;
}
.l-boolean {
  color: #d7827e;
}
.l-character {
  color: #ea9d34;
}
.l-character-special {
  color: #ea9d34;
}
.l-comment {
  color: #797593;
  font-style: italic;
}
.l-comment-documentation {
  color: #797593;
  font-style: italic;
}
.l-comment-error {
  color: #b4637a;
}
.l-comment-hint {
  color: #907aa9;
  background-color: #eae2e3;
}
.l-comment-note {
  color: #286983;
  background-color: #dbdfdd;
}
.l-comment-todo {
  color: #d7827e;
  background-color: #f5e3dc;
}
.l-comment-warning {
  color: #ea9d34;
}
.l-constant {
  color: #ea9d34;
}
.l-constant-builtin {
  color: #ea9d34;
  font-weight: bold;
}
.l-constant-macro {
  color: #ea9d34;
}
.l-constructor {
  color: #56949f;
}
.l-diff-delta {
  background-color: #f3ddd7;
}
.l-diff-minus {
  color: #b4637a;
  background-color: #ecd7d6;
}
.l-diff-plus {
  color: #56949f;
  background-color: #d9e1dd;
}
.l-function {
  color: #d7827e;
}
.l-function-builtin {
  color: #d7827e;
  font-weight: bold;
}
.l-function-call {
  color: #d7827e;
}
.l-function-macro {
  color: #d7827e;
}
.l-function-method {
  color: #d7827e;
}
.l-function-method-call {
  color: #907aa9;
}
.l-highlighted {
  background-color: #f2e9e1;
}
.l-keyword {
  color: #286983;
}
.l-keyword-conditional {
  color: #286983;
}
.l-keyword-conditional-ternary {
  color: #286983;
}
.l-keyword-coroutine {
  color: #286983;
}
.l-keyword-debug {
  color: #d7827e;
}
.l-keyword-directive {
  color: #907aa9;
}
.l-keyword-directive-define {
  color: #907aa9;
}
.l-keyword-exception {
  color: #286983;
}
.l-keyword-export {
  color: #286983;
}
.l-keyword-function {
  color: #286983;
}
.l-keyword-import {
  color: #286983;
}
.l-keyword-modifier {
  color: #286983;
}
.l-keyword-operator {
  color: #797593;
}
.l-keyword-repeat {
  color: #286983;
}
.l-keyword-return {
  color: #286983;
}
.l-keyword-type {
  color: #286983;
}
.l-label {
  color: #56949f;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #9893a5;
}
.l-line-number-highlighted {
  color: #464261;
  font-weight: bold;
}
.l-markup {
  color: #56949f;
}
.l-markup-environment {
  color: #907aa9;
}
.l-markup-environment-name {
  color: #56949f;
}
.l-markup-heading {
  color: #56949f;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #56949f;
  font-weight: bold;
}
.l-markup-heading-1-markdown {
  color: #907aa9;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #56949f;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #56949f;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #d7827e;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #56949f;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #ea9d34;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #56949f;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #286983;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #56949f;
  font-weight: bold;
}
.l-markup-heading-6-markdown {
  color: #6d8f89;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #907aa9;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #907aa9;
  text-decoration: underline;
}
.l-markup-link-label-markdown_inline {
  color: #56949f;
}
.l-markup-link-markdown_inline {
  color: #797593;
}
.l-markup-link-url {
  color: #907aa9;
}
.l-markup-list {
  color: #286983;
}
.l-markup-list-checked {
  color: #56949f;
  background-color: #eaeae5;
}
.l-markup-list-unchecked {
  color: #464261;
}
.l-markup-math {
  color: #56949f;
}
.l-markup-quote {
  color: #464261;
}
.l-markup-raw {
  color: #56949f;
}
.l-markup-raw-block {
  color: #56949f;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #464261;
}
.l-module-builtin {
  color: #464261;
  font-weight: bold;
}
.l-namespace {
  color: #286983;
}
.l-number {
  color: #ea9d34;
}
.l-number-float {
  color: #ea9d34;
}
.l-operator {
  color: #797593;
}
.l-property {
  color: #56949f;
  font-style: italic;
}
.l-punctuation-bracket {
  color: #797593;
}
.l-punctuation-bracket-rainbow-1 {
  color: #b4637a;
}
.l-punctuation-bracket-rainbow-2 {
  color: #ea9d34;
}
.l-punctuation-bracket-rainbow-3 {
  color: #286983;
}
.l-punctuation-bracket-rainbow-4 {
  color: #d7827e;
}
.l-punctuation-bracket-rainbow-5 {
  color: #6d8f89;
}
.l-punctuation-bracket-rainbow-6 {
  color: #907aa9;
}
.l-punctuation-delimiter {
  color: #797593;
}
.l-punctuation-special {
  color: #797593;
}
.l-string {
  color: #ea9d34;
}
.l-string-documentation {
  color: #ea9d34;
}
.l-string-escape {
  color: #286983;
}
.l-string-regexp {
  color: #907aa9;
}
.l-string-special {
  color: #ea9d34;
}
.l-string-special-path {
  color: #ea9d34;
}
.l-string-special-symbol {
  color: #464261;
}
.l-string-special-url {
  color: #907aa9;
}
.l-tag {
  color: #56949f;
}
.l-tag-attribute {
  color: #907aa9;
}
.l-tag-builtin {
  color: #56949f;
}
.l-tag-delimiter {
  color: #797593;
}
.l-type {
  color: #56949f;
}
.l-type-builtin {
  color: #56949f;
  font-weight: bold;
}
.l-type-definition {
  color: #56949f;
}
.l-variable {
  color: #464261;
  font-style: italic;
}
.l-variable-builtin {
  color: #b4637a;
  font-weight: bold;
  font-style: italic;
}
.l-variable-member {
  color: #56949f;
}
.l-variable-parameter {
  color: #907aa9;
  font-style: italic;
}
.l-variable-parameter-builtin {
  color: #907aa9;
  font-weight: bold;
  font-style: italic;
}
