/* rosebones_dark
 * revision: 8304d8df9b823ff11e103afa62f38c39f534abe6
 */
.lumis {
  color: #e1d4d4;
  background-color: #1a1825;
}
.l-attribute {
  color: #317490;
}
.l-attribute-builtin {
  color: #9ccfd8;
}
.l-boolean {
  color: #e1d4d4;
  font-style: italic;
}
.l-character {
  color: #bc9493;
  font-style: italic;
}
.l-character-special {
  color: #9ccfd8;
}
.l-comment {
  color: #69657e;
  font-style: italic;
}
.l-comment-documentation {
  color: #69657e;
  font-style: italic;
}
.l-comment-error {
  color: #eb7193;
}
.l-comment-hint {
  color: #69657e;
  font-style: italic;
}
.l-comment-note {
  color: #9ccfd8;
}
.l-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.l-comment-warning {
  color: #f6c074;
}
.l-constant {
  color: #cab0af;
  font-weight: bold;
}
.l-constant-builtin {
  color: #bc9493;
  font-style: italic;
}
.l-constant-macro {
  color: #bc9493;
  font-style: italic;
}
.l-constructor {
  color: #9ccfd8;
}
.l-constructor-lua {
  color: #7d7997;
}
.l-diff-delta {
  background-color: #1c2d2f;
}
.l-diff-minus {
  background-color: #3d2229;
}
.l-diff-plus {
  background-color: #1d2c34;
}
.l-function {
  color: #e1d4d4;
}
.l-function-builtin {
  color: #9ccfd8;
}
.l-function-call {
  color: #e1d4d4;
}
.l-function-macro {
  color: #317490;
}
.l-function-method {
  color: #e1d4d4;
}
.l-function-method-call {
  color: #e1d4d4;
}
.l-highlighted {
  background-color: #222030;
}
.l-keyword {
  color: #317490;
}
.l-keyword-conditional {
  color: #317490;
}
.l-keyword-conditional-ternary {
  color: #317490;
}
.l-keyword-coroutine {
  color: #317490;
}
.l-keyword-debug {
  color: #9ccfd8;
}
.l-keyword-directive {
  color: #317490;
}
.l-keyword-directive-define {
  color: #317490;
}
.l-keyword-exception {
  color: #317490;
}
.l-keyword-export {
  color: #317490;
}
.l-keyword-function {
  color: #317490;
}
.l-keyword-import {
  color: #317490;
}
.l-keyword-modifier {
  color: #317490;
}
.l-keyword-operator {
  color: #317490;
}
.l-keyword-repeat {
  color: #317490;
}
.l-keyword-return {
  color: #317490;
}
.l-keyword-type {
  color: #317490;
}
.l-label {
  color: #317490;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #625d7f;
}
.l-line-number-highlighted {
  color: #e1d4d4;
  font-weight: bold;
}
.l-markup {
  color: #9ccfd8;
}
.l-markup-environment {
  color: #317490;
}
.l-markup-environment-name {
  color: #317490;
}
.l-markup-heading {
  color: #e1d4d4;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #e1d4d4;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #e1d4d4;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #e1d4d4;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #e1d4d4;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #e1d4d4;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #e1d4d4;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #bc9493;
  font-style: italic;
}
.l-markup-link-label {
  color: #9ccfd8;
}
.l-markup-link-markdown {
  color: #cab0af;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #bc9493;
  font-style: italic;
}
.l-markup-link-url-markdown {
  color: #69657e;
}
.l-markup-list {
  color: #9ccfd8;
}
.l-markup-list-checked {
  color: #9ccfd8;
}
.l-markup-list-unchecked {
  color: #9ccfd8;
}
.l-markup-math {
  color: #9ccfd8;
}
.l-markup-quote {
  color: #bc9493;
}
.l-markup-raw {
  color: #bc9493;
  font-style: italic;
}
.l-markup-raw-block {
  color: #bc9493;
  font-style: italic;
}
.l-markup-raw-markdown {
  color: #dfdef1;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #bc9493;
  font-style: italic;
}
.l-module-builtin {
  color: #bc9493;
  font-style: italic;
}
.l-number {
  color: #bc9493;
}
.l-number-float {
  color: #bc9493;
}
.l-operator {
  color: #317490;
}
.l-property {
  color: #cab0af;
}
.l-punctuation-bracket {
  color: #7d7997;
}
.l-punctuation-delimiter {
  color: #7d7997;
}
.l-punctuation-special {
  color: #7d7997;
}
.l-punctuation-special-markdown {
  color: #9ccfd8;
}
.l-string {
  color: #bc9493;
  font-style: italic;
}
.l-string-documentation {
  color: #bc9493;
  font-style: italic;
}
.l-string-escape {
  color: #9ccfd8;
}
.l-string-escape-markdown {
  color: #565172;
  font-style: italic;
}
.l-string-regexp {
  color: #bc9493;
  font-style: italic;
}
.l-string-special {
  color: #9ccfd8;
}
.l-string-special-path {
  color: #9ccfd8;
}
.l-string-special-symbol {
  color: #cab0af;
}
.l-string-special-url {
  color: #9ccfd8;
}
.l-tag {
  color: #9ccfd8;
}
.l-tag-attribute {
  color: #cab0af;
}
.l-tag-builtin {
  color: #9ccfd8;
}
.l-tag-delimiter {
  color: #7d7997;
}
.l-type {
  color: #dfdef1;
}
.l-type-builtin {
  color: #dfdef1;
}
.l-type-definition {
  color: #dfdef1;
}
.l-variable {
  color: #cab0af;
}
.l-variable-builtin {
  color: #bc9493;
  font-style: italic;
}
.l-variable-member {
  color: #cab0af;
}
.l-variable-parameter {
  color: #cab0af;
}
.l-variable-parameter-builtin {
  color: #9ccfd8;
}
