/* rosepine_moon
 * revision: ff483051a47e27d84bdef47703538df1ed9f4a47
 */
.lumis {
  color: #e0def4;
  background-color: #232136;
}
.l-attribute {
  color: #c4a7e7;
}
.l-attribute-builtin {
  color: #c4a7e7;
  font-weight: bold;
}
.l-attribute-diff {
  color: #f6c177;
}
.l-boolean {
  color: #ea9a97;
}
.l-character {
  color: #f6c177;
}
.l-character-special {
  color: #f6c177;
}
.l-comment {
  color: #908caa;
  font-style: italic;
}
.l-comment-documentation {
  color: #908caa;
  font-style: italic;
}
.l-comment-error {
  color: #eb6f92;
}
.l-comment-hint {
  color: #c4a7e7;
  background-color: #3b3551;
}
.l-comment-note {
  color: #3e8fb0;
  background-color: #273248;
}
.l-comment-todo {
  color: #ea9a97;
  background-color: #413345;
}
.l-comment-warning {
  color: #f6c177;
}
.l-constant {
  color: #f6c177;
}
.l-constant-builtin {
  color: #f6c177;
  font-weight: bold;
}
.l-constant-macro {
  color: #f6c177;
}
.l-constructor {
  color: #9ccfd8;
}
.l-diff-delta {
  background-color: #4b3949;
}
.l-diff-minus {
  color: #eb6f92;
  background-color: #4b3148;
}
.l-diff-plus {
  color: #9ccfd8;
  background-color: #3b4456;
}
.l-function {
  color: #ea9a97;
}
.l-function-builtin {
  color: #ea9a97;
  font-weight: bold;
}
.l-function-call {
  color: #ea9a97;
}
.l-function-macro {
  color: #ea9a97;
}
.l-function-method {
  color: #ea9a97;
}
.l-function-method-call {
  color: #c4a7e7;
}
.l-highlighted {
  background-color: #393552;
}
.l-keyword {
  color: #3e8fb0;
}
.l-keyword-conditional {
  color: #3e8fb0;
}
.l-keyword-conditional-ternary {
  color: #3e8fb0;
}
.l-keyword-coroutine {
  color: #3e8fb0;
}
.l-keyword-debug {
  color: #ea9a97;
}
.l-keyword-directive {
  color: #c4a7e7;
}
.l-keyword-directive-define {
  color: #c4a7e7;
}
.l-keyword-exception {
  color: #3e8fb0;
}
.l-keyword-export {
  color: #3e8fb0;
}
.l-keyword-function {
  color: #3e8fb0;
}
.l-keyword-import {
  color: #3e8fb0;
}
.l-keyword-modifier {
  color: #3e8fb0;
}
.l-keyword-operator {
  color: #908caa;
}
.l-keyword-repeat {
  color: #3e8fb0;
}
.l-keyword-return {
  color: #3e8fb0;
}
.l-keyword-type {
  color: #3e8fb0;
}
.l-label {
  color: #9ccfd8;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #6e6a86;
}
.l-line-number-highlighted {
  color: #e0def4;
  font-weight: bold;
}
.l-markup {
  color: #9ccfd8;
}
.l-markup-environment {
  color: #c4a7e7;
}
.l-markup-environment-name {
  color: #9ccfd8;
}
.l-markup-heading {
  color: #9ccfd8;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #9ccfd8;
  font-weight: bold;
}
.l-markup-heading-1-markdown {
  color: #c4a7e7;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #9ccfd8;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #9ccfd8;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #ea9a97;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #9ccfd8;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #f6c177;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #9ccfd8;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #3e8fb0;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #9ccfd8;
  font-weight: bold;
}
.l-markup-heading-6-markdown {
  color: #95b1ac;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #c4a7e7;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #c4a7e7;
  text-decoration: underline;
}
.l-markup-link-label-markdown_inline {
  color: #9ccfd8;
}
.l-markup-link-markdown_inline {
  color: #908caa;
}
.l-markup-link-url {
  color: #c4a7e7;
}
.l-markup-list {
  color: #3e8fb0;
}
.l-markup-list-checked {
  color: #9ccfd8;
  background-color: #2f3246;
}
.l-markup-list-unchecked {
  color: #e0def4;
}
.l-markup-math {
  color: #9ccfd8;
}
.l-markup-quote {
  color: #e0def4;
}
.l-markup-raw {
  color: #9ccfd8;
}
.l-markup-raw-block {
  color: #9ccfd8;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #e0def4;
}
.l-module-builtin {
  color: #e0def4;
  font-weight: bold;
}
.l-namespace {
  color: #3e8fb0;
}
.l-number {
  color: #f6c177;
}
.l-number-float {
  color: #f6c177;
}
.l-operator {
  color: #908caa;
}
.l-property {
  color: #9ccfd8;
  font-style: italic;
}
.l-punctuation-bracket {
  color: #908caa;
}
.l-punctuation-bracket-rainbow-1 {
  color: #eb6f92;
}
.l-punctuation-bracket-rainbow-2 {
  color: #f6c177;
}
.l-punctuation-bracket-rainbow-3 {
  color: #3e8fb0;
}
.l-punctuation-bracket-rainbow-4 {
  color: #ea9a97;
}
.l-punctuation-bracket-rainbow-5 {
  color: #95b1ac;
}
.l-punctuation-bracket-rainbow-6 {
  color: #c4a7e7;
}
.l-punctuation-delimiter {
  color: #908caa;
}
.l-punctuation-special {
  color: #908caa;
}
.l-string {
  color: #f6c177;
}
.l-string-documentation {
  color: #f6c177;
}
.l-string-escape {
  color: #3e8fb0;
}
.l-string-regexp {
  color: #c4a7e7;
}
.l-string-special {
  color: #f6c177;
}
.l-string-special-path {
  color: #f6c177;
}
.l-string-special-symbol {
  color: #e0def4;
}
.l-string-special-url {
  color: #c4a7e7;
}
.l-tag {
  color: #9ccfd8;
}
.l-tag-attribute {
  color: #c4a7e7;
}
.l-tag-builtin {
  color: #9ccfd8;
}
.l-tag-delimiter {
  color: #908caa;
}
.l-type {
  color: #9ccfd8;
}
.l-type-builtin {
  color: #9ccfd8;
  font-weight: bold;
}
.l-type-definition {
  color: #9ccfd8;
}
.l-variable {
  color: #e0def4;
  font-style: italic;
}
.l-variable-builtin {
  color: #eb6f92;
  font-weight: bold;
  font-style: italic;
}
.l-variable-member {
  color: #9ccfd8;
}
.l-variable-parameter {
  color: #c4a7e7;
  font-style: italic;
}
.l-variable-parameter-builtin {
  color: #c4a7e7;
  font-weight: bold;
  font-style: italic;
}
