/* rosebones_light
 * revision: 8304d8df9b823ff11e103afa62f38c39f534abe6
 */
.lumis {
  color: #724341;
  background-color: #fbf6f0;
}
.l-attribute {
  color: #286a84;
}
.l-attribute-builtin {
  color: #5795a0;
}
.l-boolean {
  color: #724341;
  font-style: italic;
}
.l-character {
  color: #ab6763;
  font-style: italic;
}
.l-character-special {
  color: #5795a0;
}
.l-comment {
  color: #a18e72;
  font-style: italic;
}
.l-comment-documentation {
  color: #a18e72;
  font-style: italic;
}
.l-comment-error {
  color: #b5637a;
}
.l-comment-hint {
  color: #a18e72;
  font-style: italic;
}
.l-comment-note {
  color: #5795a0;
}
.l-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.l-comment-warning {
  color: #ec9d33;
}
.l-constant {
  color: #935855;
  font-weight: bold;
}
.l-constant-builtin {
  color: #ab6763;
  font-style: italic;
}
.l-constant-macro {
  color: #ab6763;
  font-style: italic;
}
.l-constructor {
  color: #5795a0;
}
.l-constructor-lua {
  color: #9b835d;
}
.l-diff-delta {
  background-color: #d6e9ed;
}
.l-diff-minus {
  background-color: #f0e2e5;
}
.l-diff-plus {
  background-color: #dde7ed;
}
.l-function {
  color: #724341;
}
.l-function-builtin {
  color: #5795a0;
}
.l-function-call {
  color: #724341;
}
.l-function-macro {
  color: #286a84;
}
.l-function-method {
  color: #724341;
}
.l-function-method-call {
  color: #724341;
}
.l-highlighted {
  background-color: #f7ece0;
}
.l-keyword {
  color: #286a84;
}
.l-keyword-conditional {
  color: #286a84;
}
.l-keyword-conditional-ternary {
  color: #286a84;
}
.l-keyword-coroutine {
  color: #286a84;
}
.l-keyword-debug {
  color: #5795a0;
}
.l-keyword-directive {
  color: #286a84;
}
.l-keyword-directive-define {
  color: #286a84;
}
.l-keyword-exception {
  color: #286a84;
}
.l-keyword-export {
  color: #286a84;
}
.l-keyword-function {
  color: #286a84;
}
.l-keyword-import {
  color: #286a84;
}
.l-keyword-modifier {
  color: #286a84;
}
.l-keyword-operator {
  color: #286a84;
}
.l-keyword-repeat {
  color: #286a84;
}
.l-keyword-return {
  color: #286a84;
}
.l-keyword-type {
  color: #286a84;
}
.l-label {
  color: #286a84;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #b69a6e;
}
.l-line-number-highlighted {
  color: #724341;
  font-weight: bold;
}
.l-markup {
  color: #5795a0;
}
.l-markup-environment {
  color: #286a84;
}
.l-markup-environment-name {
  color: #286a84;
}
.l-markup-heading {
  color: #724341;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #724341;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #724341;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #724341;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #724341;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #724341;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #724341;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #ab6763;
  font-style: italic;
}
.l-markup-link-label {
  color: #5795a0;
}
.l-markup-link-markdown {
  color: #935855;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #ab6763;
  font-style: italic;
}
.l-markup-link-url-markdown {
  color: #a18e72;
}
.l-markup-list {
  color: #5795a0;
}
.l-markup-list-checked {
  color: #5795a0;
}
.l-markup-list-unchecked {
  color: #5795a0;
}
.l-markup-math {
  color: #5795a0;
}
.l-markup-quote {
  color: #ab6763;
}
.l-markup-raw {
  color: #ab6763;
  font-style: italic;
}
.l-markup-raw-block {
  color: #ab6763;
  font-style: italic;
}
.l-markup-raw-markdown {
  color: #57527a;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #ab6763;
  font-style: italic;
}
.l-module-builtin {
  color: #ab6763;
  font-style: italic;
}
.l-number {
  color: #ab6763;
}
.l-number-float {
  color: #ab6763;
}
.l-operator {
  color: #286a84;
}
.l-property {
  color: #935855;
}
.l-punctuation-bracket {
  color: #9b835d;
}
.l-punctuation-delimiter {
  color: #9b835d;
}
.l-punctuation-special {
  color: #9b835d;
}
.l-punctuation-special-markdown {
  color: #5795a0;
}
.l-string {
  color: #ab6763;
  font-style: italic;
}
.l-string-documentation {
  color: #ab6763;
  font-style: italic;
}
.l-string-escape {
  color: #5795a0;
}
.l-string-escape-markdown {
  color: #ceaf7e;
  font-style: italic;
}
.l-string-regexp {
  color: #ab6763;
  font-style: italic;
}
.l-string-special {
  color: #5795a0;
}
.l-string-special-path {
  color: #5795a0;
}
.l-string-special-symbol {
  color: #935855;
}
.l-string-special-url {
  color: #5795a0;
}
.l-tag {
  color: #5795a0;
}
.l-tag-attribute {
  color: #935855;
}
.l-tag-builtin {
  color: #5795a0;
}
.l-tag-delimiter {
  color: #9b835d;
}
.l-type {
  color: #57527a;
}
.l-type-builtin {
  color: #57527a;
}
.l-type-definition {
  color: #57527a;
}
.l-variable {
  color: #935855;
}
.l-variable-builtin {
  color: #ab6763;
  font-style: italic;
}
.l-variable-member {
  color: #935855;
}
.l-variable-parameter {
  color: #935855;
}
.l-variable-parameter-builtin {
  color: #5795a0;
}
