/* seoulbones_light
 * revision: 8304d8df9b823ff11e103afa62f38c39f534abe6
 */
.lumis {
  color: #555555;
  background-color: #e2e2e2;
}
.l-attribute {
  color: #be6a84;
}
.l-attribute-builtin {
  color: #755f74;
}
.l-boolean {
  color: #555555;
  font-style: italic;
}
.l-character {
  color: #7c7c7c;
  font-style: italic;
}
.l-character-special {
  color: #755f74;
}
.l-comment {
  color: #628562;
  font-style: italic;
}
.l-comment-documentation {
  color: #628562;
  font-style: italic;
}
.l-comment-error {
  color: #dc5284;
}
.l-comment-hint {
  color: #628562;
  font-style: italic;
}
.l-comment-note {
  color: #0084a3;
}
.l-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.l-comment-warning {
  color: #c48562;
}
.l-constant {
  color: #6d6d6d;
  font-weight: bold;
}
.l-constant-builtin {
  color: #7c7c7c;
  font-style: italic;
}
.l-constant-macro {
  color: #7c7c7c;
  font-style: italic;
}
.l-constructor {
  color: #755f74;
}
.l-constructor-lua {
  color: #7c7c7c;
}
.l-diff-delta {
  background-color: #c0d5e0;
}
.l-diff-minus {
  background-color: #e5cbd1;
}
.l-diff-plus {
  background-color: #aedeae;
}
.l-function {
  color: #6c6b20;
}
.l-function-builtin {
  color: #755f74;
}
.l-function-call {
  color: #6c6b20;
}
.l-function-macro {
  color: #be6a84;
}
.l-function-method {
  color: #6c6b20;
}
.l-function-method-call {
  color: #6c6b20;
}
.l-highlighted {
  background-color: #dadada;
}
.l-keyword {
  color: #ca6284;
  font-weight: bold;
}
.l-keyword-conditional {
  color: #0084a3;
  font-weight: bold;
}
.l-keyword-conditional-ternary {
  color: #0084a3;
  font-weight: bold;
}
.l-keyword-coroutine {
  color: #0084a3;
  font-weight: bold;
}
.l-keyword-debug {
  color: #755f74;
}
.l-keyword-directive {
  color: #be6a84;
}
.l-keyword-directive-define {
  color: #be6a84;
}
.l-keyword-exception {
  color: #0084a3;
  font-weight: bold;
}
.l-keyword-export {
  color: #ca6284;
  font-weight: bold;
}
.l-keyword-function {
  color: #0084a3;
  font-weight: bold;
}
.l-keyword-import {
  color: #be6a84;
}
.l-keyword-modifier {
  color: #ca6284;
  font-weight: bold;
}
.l-keyword-operator {
  color: #0084a3;
  font-weight: bold;
}
.l-keyword-repeat {
  color: #0084a3;
  font-weight: bold;
}
.l-keyword-return {
  color: #0084a3;
  font-weight: bold;
}
.l-keyword-type {
  color: #ca6284;
  font-weight: bold;
}
.l-label {
  color: #0084a3;
  font-weight: bold;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #919191;
}
.l-line-number-highlighted {
  color: #555555;
  font-weight: bold;
}
.l-markup {
  color: #755f74;
}
.l-markup-environment {
  color: #be6a84;
}
.l-markup-environment-name {
  color: #be6a84;
}
.l-markup-heading {
  color: #555555;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #555555;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #555555;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #555555;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #555555;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #555555;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #555555;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #7c7c7c;
  font-style: italic;
}
.l-markup-link-label {
  color: #755f74;
}
.l-markup-link-markdown {
  color: #6d6d6d;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #7c7c7c;
  font-style: italic;
}
.l-markup-link-url-markdown {
  color: #868686;
}
.l-markup-list {
  color: #755f74;
}
.l-markup-list-checked {
  color: #755f74;
}
.l-markup-list-unchecked {
  color: #755f74;
}
.l-markup-math {
  color: #755f74;
}
.l-markup-quote {
  color: #7c7c7c;
}
.l-markup-raw {
  color: #7c7c7c;
  font-style: italic;
}
.l-markup-raw-block {
  color: #7c7c7c;
  font-style: italic;
}
.l-markup-raw-markdown {
  color: #6d4c52;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #7c7c7c;
  font-style: italic;
}
.l-module-builtin {
  color: #7c7c7c;
  font-style: italic;
}
.l-number {
  color: #896500;
}
.l-number-float {
  color: #896500;
}
.l-operator {
  color: #0084a3;
  font-weight: bold;
}
.l-property {
  color: #555555;
}
.l-punctuation-bracket {
  color: #7c7c7c;
}
.l-punctuation-delimiter {
  color: #7c7c7c;
}
.l-punctuation-special {
  color: #7c7c7c;
}
.l-punctuation-special-markdown {
  color: #755f74;
}
.l-string {
  color: #4a7587;
  font-style: italic;
}
.l-string-documentation {
  color: #4a7587;
  font-style: italic;
}
.l-string-escape {
  color: #755f74;
}
.l-string-escape-markdown {
  color: #a6a6a6;
  font-style: italic;
}
.l-string-regexp {
  color: #7c7c7c;
  font-style: italic;
}
.l-string-special {
  color: #755f74;
}
.l-string-special-path {
  color: #755f74;
}
.l-string-special-symbol {
  color: #555555;
}
.l-string-special-url {
  color: #755f74;
}
.l-tag {
  color: #755f74;
}
.l-tag-attribute {
  color: #555555;
}
.l-tag-builtin {
  color: #755f74;
}
.l-tag-delimiter {
  color: #7c7c7c;
}
.l-type {
  color: #6d4c52;
}
.l-type-builtin {
  color: #6d4c52;
}
.l-type-definition {
  color: #6d4c52;
}
.l-variable {
  color: #555555;
}
.l-variable-builtin {
  color: #7c7c7c;
  font-style: italic;
}
.l-variable-member {
  color: #555555;
}
.l-variable-parameter {
  color: #555555;
}
.l-variable-parameter-builtin {
  color: #755f74;
}
