/* token_temper_dark
 * revision: 11be57ef691359f7a5853281ba43a86b3a0b80c2
 */
.lumis {
  color: #c3c8cc;
  background-color: #272c33;
}
.l-attribute {
  color: #a2a9af;
}
.l-attribute-builtin {
  color: #a2a9af;
}
.l-boolean {
  color: #5cc1b3;
}
.l-character {
  color: #5cc1b3;
}
.l-character-special {
  color: #5cc1b3;
}
.l-comment {
  color: #9aa4ae;
  font-style: italic;
}
.l-comment-documentation {
  color: #9aa4ae;
  font-style: italic;
}
.l-comment-error {
  color: #e3888c;
  font-style: italic;
}
.l-comment-hint {
  color: #9aa4ae;
  font-style: italic;
}
.l-comment-note {
  color: #a2a9af;
  font-style: italic;
}
.l-comment-todo {
  color: #c5a15a;
  font-style: italic;
}
.l-comment-warning {
  color: #c5a15a;
  font-style: italic;
}
.l-constant {
  color: #5cc1b3;
}
.l-constant-builtin {
  color: #5cc1b3;
}
.l-constant-macro {
  color: #e7cdff;
  font-weight: bold;
}
.l-constructor {
  color: #a2a9af;
}
.l-diff-delta {
  background-color: #363229;
}
.l-diff-minus {
  background-color: #39282c;
}
.l-diff-plus {
  background-color: #2b332b;
}
.l-error {
  color: #e3888c;
}
.l-function {
  color: #5cc1b3;
}
.l-function-builtin {
  color: #a2a9af;
}
.l-function-call {
  color: #5cc1b3;
}
.l-function-macro {
  color: #e7cdff;
  font-weight: bold;
}
.l-function-method {
  color: #5cc1b3;
}
.l-function-method-call {
  color: #5cc1b3;
}
.l-highlighted {
  background-color: #30363e;
}
.l-keyword {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-conditional {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-conditional-ternary {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-coroutine {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-debug {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-directive {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-directive-define {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-exception {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-export {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-function {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-import {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-modifier {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-operator {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-repeat {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-return {
  color: #e7cdff;
  font-weight: bold;
}
.l-keyword-type {
  color: #e7cdff;
  font-weight: bold;
}
.l-label {
  color: #e7cdff;
  font-weight: bold;
}
.l-markup {
  color: #c3c8cc;
}
.l-markup-environment {
  color: #a2a9af;
}
.l-markup-environment-name {
  color: #a2a9af;
}
.l-markup-heading {
  color: #5cc1b3;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #5cc1b3;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #e7cdff;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #a2a9af;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #5cc1b3;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #e7cdff;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #a2a9af;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #5cc1b3;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #5cc1b3;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #5cc1b3;
  text-decoration: underline;
}
.l-markup-list {
  color: #e7cdff;
  font-weight: bold;
}
.l-markup-list-checked {
  color: #5ec4b5;
}
.l-markup-list-unchecked {
  color: #858f9b;
}
.l-markup-math {
  color: #a2a9af;
}
.l-markup-quote {
  color: #9aa4ae;
  font-style: italic;
}
.l-markup-raw {
  color: #5cc1b3;
}
.l-markup-raw-block {
  color: #5cc1b3;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #a2a9af;
}
.l-module-builtin {
  color: #a2a9af;
}
.l-number {
  color: #5cc1b3;
}
.l-number-float {
  color: #5cc1b3;
}
.l-operator {
  color: #a2a9af;
}
.l-property {
  color: #c3c8cc;
}
.l-punctuation-bracket {
  color: #a2a9af;
}
.l-punctuation-delimiter {
  color: #a2a9af;
}
.l-punctuation-special {
  color: #a2a9af;
}
.l-string {
  color: #5cc1b3;
}
.l-string-documentation {
  color: #5cc1b3;
  font-style: italic;
}
.l-string-escape {
  color: #5cc1b3;
}
.l-string-regexp {
  color: #5cc1b3;
}
.l-string-special {
  color: #5cc1b3;
}
.l-string-special-path {
  color: #5cc1b3;
}
.l-string-special-symbol {
  color: #5cc1b3;
}
.l-string-special-url {
  color: #5cc1b3;
  text-decoration: underline;
}
.l-tag {
  color: #a2a9af;
}
.l-tag-attribute {
  color: #c3c8cc;
}
.l-tag-builtin {
  color: #a2a9af;
}
.l-tag-delimiter {
  color: #9aa4ae;
}
.l-type {
  color: #a2a9af;
}
.l-type-builtin {
  color: #a2a9af;
}
.l-type-definition {
  color: #5cc1b3;
}
.l-variable {
  color: #c3c8cc;
}
.l-variable-builtin {
  color: #a2a9af;
}
.l-variable-member {
  color: #c3c8cc;
}
.l-variable-parameter {
  color: #a2a9af;
}
.l-variable-parameter-builtin {
  color: #a2a9af;
}
