/* tokyobones_light
 * revision: 8304d8df9b823ff11e103afa62f38c39f534abe6
 */
.lumis {
  color: #333a57;
  background-color: #d6d7dc;
}
.l-attribute {
  color: #5a4a79;
}
.l-attribute-builtin {
  color: #34548c;
}
.l-boolean {
  color: #333a57;
  font-style: italic;
}
.l-character {
  color: #5b6694;
  font-style: italic;
}
.l-character-special {
  color: #34548c;
}
.l-comment {
  color: #7c7e89;
  font-style: italic;
}
.l-comment-documentation {
  color: #7c7e89;
  font-style: italic;
}
.l-comment-error {
  color: #8b4351;
}
.l-comment-hint {
  color: #7c7e89;
  font-style: italic;
}
.l-comment-note {
  color: #34548c;
}
.l-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.l-comment-warning {
  color: #8f5e14;
}
.l-constant {
  color: #4a537a;
  font-weight: bold;
}
.l-constant-builtin {
  color: #5b6694;
  font-style: italic;
}
.l-constant-macro {
  color: #5b6694;
  font-style: italic;
}
.l-constructor {
  color: #34548c;
}
.l-constructor-lua {
  color: #737686;
}
.l-diff-delta {
  background-color: #c0c6d8;
}
.l-diff-minus {
  background-color: #dfbec3;
}
.l-diff-plus {
  background-color: #a9cec7;
}
.l-function {
  color: #333a57;
}
.l-function-builtin {
  color: #34548c;
}
.l-function-call {
  color: #333a57;
}
.l-function-macro {
  color: #5a4a79;
}
.l-function-method {
  color: #333a57;
}
.l-function-method-call {
  color: #333a57;
}
.l-highlighted {
  background-color: #cdced4;
}
.l-keyword {
  color: #5a4a79;
  font-weight: bold;
}
.l-keyword-conditional {
  color: #5a4a79;
  font-weight: bold;
}
.l-keyword-conditional-ternary {
  color: #5a4a79;
  font-weight: bold;
}
.l-keyword-coroutine {
  color: #5a4a79;
  font-weight: bold;
}
.l-keyword-debug {
  color: #34548c;
}
.l-keyword-directive {
  color: #5a4a79;
}
.l-keyword-directive-define {
  color: #5a4a79;
}
.l-keyword-exception {
  color: #5a4a79;
  font-weight: bold;
}
.l-keyword-export {
  color: #5a4a79;
  font-weight: bold;
}
.l-keyword-function {
  color: #5a4a79;
  font-weight: bold;
}
.l-keyword-import {
  color: #5a4a79;
}
.l-keyword-modifier {
  color: #5a4a79;
  font-weight: bold;
}
.l-keyword-operator {
  color: #5a4a79;
  font-weight: bold;
}
.l-keyword-repeat {
  color: #5a4a79;
  font-weight: bold;
}
.l-keyword-return {
  color: #5a4a79;
  font-weight: bold;
}
.l-keyword-type {
  color: #5a4a79;
  font-weight: bold;
}
.l-label {
  color: #5a4a79;
  font-weight: bold;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #888b99;
}
.l-line-number-highlighted {
  color: #333a57;
  font-weight: bold;
}
.l-markup {
  color: #34548c;
}
.l-markup-environment {
  color: #5a4a79;
}
.l-markup-environment-name {
  color: #5a4a79;
}
.l-markup-heading {
  color: #333a57;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #333a57;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #333a57;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #333a57;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #333a57;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #333a57;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #333a57;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #5b6694;
  font-style: italic;
}
.l-markup-link-label {
  color: #34548c;
}
.l-markup-link-markdown {
  color: #4a537a;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #5b6694;
  font-style: italic;
}
.l-markup-link-url-markdown {
  color: #7c7e89;
}
.l-markup-list {
  color: #34548c;
}
.l-markup-list-checked {
  color: #34548c;
}
.l-markup-list-unchecked {
  color: #34548c;
}
.l-markup-math {
  color: #34548c;
}
.l-markup-quote {
  color: #5b6694;
}
.l-markup-raw {
  color: #5b6694;
  font-style: italic;
}
.l-markup-raw-block {
  color: #5b6694;
  font-style: italic;
}
.l-markup-raw-markdown {
  color: #484f6b;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #5b6694;
  font-style: italic;
}
.l-module-builtin {
  color: #5b6694;
  font-style: italic;
}
.l-number {
  color: #176775;
}
.l-number-float {
  color: #176775;
}
.l-operator {
  color: #5a4a79;
  font-weight: bold;
}
.l-property {
  color: #4a537a;
}
.l-punctuation-bracket {
  color: #737686;
}
.l-punctuation-delimiter {
  color: #737686;
}
.l-punctuation-special {
  color: #737686;
}
.l-punctuation-special-markdown {
  color: #34548c;
}
.l-string {
  color: #5b6694;
  font-style: italic;
}
.l-string-documentation {
  color: #5b6694;
  font-style: italic;
}
.l-string-escape {
  color: #34548c;
}
.l-string-escape-markdown {
  color: #9b9da9;
  font-style: italic;
}
.l-string-regexp {
  color: #5b6694;
  font-style: italic;
}
.l-string-special {
  color: #34548c;
}
.l-string-special-path {
  color: #34548c;
}
.l-string-special-symbol {
  color: #4a537a;
}
.l-string-special-url {
  color: #34548c;
}
.l-tag {
  color: #34548c;
}
.l-tag-attribute {
  color: #4a537a;
}
.l-tag-builtin {
  color: #34548c;
}
.l-tag-delimiter {
  color: #737686;
}
.l-type {
  color: #484f6b;
}
.l-type-builtin {
  color: #484f6b;
}
.l-type-definition {
  color: #484f6b;
}
.l-variable {
  color: #4a537a;
}
.l-variable-builtin {
  color: #5b6694;
  font-style: italic;
}
.l-variable-member {
  color: #4a537a;
}
.l-variable-parameter {
  color: #4a537a;
}
.l-variable-parameter-builtin {
  color: #34548c;
}
