/* vague
 * revision: f9060fdaf7b20f68575d6f8214da6f1cf0c72825
 */
.lumis {
  color: #cdcdcd;
  background-color: #141415;
}
.l-attribute {
  color: #6e94b2;
}
.l-attribute-builtin {
  color: #b4d4cf;
}
.l-boolean {
  color: #e0a363;
  font-weight: bold;
}
.l-character {
  color: #e8b589;
}
.l-character-special {
  color: #6e94b2;
}
.l-comment {
  color: #606079;
  font-style: italic;
}
.l-comment-documentation {
  color: #606079;
  font-style: italic;
}
.l-comment-error {
  color: #d8647e;
  font-weight: bold;
}
.l-comment-hint {
  color: #606079;
  font-style: italic;
}
.l-comment-note {
  color: #aeaed1;
  font-style: italic;
}
.l-comment-todo {
  color: #c48282;
  font-style: italic;
}
.l-comment-warning {
  color: #f3be7c;
  font-weight: bold;
}
.l-constant {
  color: #aeaed1;
}
.l-constant-builtin {
  color: #e0a363;
  font-weight: bold;
}
.l-constant-macro {
  color: #aeaed1;
}
.l-constructor {
  color: #aeaed1;
}
.l-constructor-lua {
  color: #9bb4bc;
}
.l-diff-delta {
  background-color: #41362a;
}
.l-diff-minus {
  background-color: #3b242a;
}
.l-diff-plus {
  background-color: #293125;
}
.l-function {
  color: #c48282;
}
.l-function-builtin {
  color: #c48282;
}
.l-function-call {
  color: #bb9dbd;
}
.l-function-macro {
  color: #6e94b2;
}
.l-function-method {
  color: #c48282;
}
.l-function-method-call {
  color: #9bb4bc;
}
.l-highlighted {
  background-color: #252530;
}
.l-keyword {
  color: #6e94b2;
}
.l-keyword-conditional {
  color: #6e94b2;
}
.l-keyword-conditional-ternary {
  color: #6e94b2;
}
.l-keyword-coroutine {
  color: #6e94b2;
}
.l-keyword-debug {
  color: #6e94b2;
}
.l-keyword-directive {
  color: #6e94b2;
}
.l-keyword-directive-define {
  color: #6e94b2;
}
.l-keyword-exception {
  color: #6e94b2;
}
.l-keyword-export {
  color: #6e94b2;
}
.l-keyword-function {
  color: #6e94b2;
}
.l-keyword-import {
  color: #6e94b2;
}
.l-keyword-modifier {
  color: #6e94b2;
}
.l-keyword-operator {
  color: #6e94b2;
}
.l-keyword-repeat {
  color: #6e94b2;
}
.l-keyword-return {
  color: #6e94b2;
  font-style: italic;
}
.l-keyword-type {
  color: #6e94b2;
}
.l-label {
  color: #6e94b2;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #606079;
}
.l-line-number-highlighted {
  color: #cdcdcd;
}
.l-markup {
  color: #cdcdcd;
}
.l-markup-environment {
  color: #cdcdcd;
}
.l-markup-environment-name {
  color: #cdcdcd;
}
.l-markup-heading {
  color: #6e94b2;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #6e94b2;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #6e94b2;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #6e94b2;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #6e94b2;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #6e94b2;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #6e94b2;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link-label {
  color: #e8b589;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #c48282;
}
.l-markup-list {
  color: #c48282;
}
.l-markup-list-checked {
  color: #c48282;
}
.l-markup-list-unchecked {
  color: #c48282;
}
.l-markup-math {
  color: #e8b589;
}
.l-markup-quote {
  color: #606079;
}
.l-markup-raw {
  color: #aeaed1;
}
.l-markup-raw-block {
  color: #aeaed1;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #aeaed1;
}
.l-module-builtin {
  color: #b4d4cf;
}
.l-number {
  color: #e0a363;
}
.l-number-float {
  color: #e0a363;
}
.l-operator {
  color: #90a0b5;
}
.l-property {
  color: #c3c3d5;
}
.l-punctuation-bracket {
  color: #cdcdcd;
}
.l-punctuation-bracket-rainbow-1 {
  color: #d8647e;
}
.l-punctuation-bracket-rainbow-2 {
  color: #f3be7c;
}
.l-punctuation-bracket-rainbow-3 {
  color: #7e98e8;
}
.l-punctuation-bracket-rainbow-4 {
  color: #c48282;
}
.l-punctuation-bracket-rainbow-5 {
  color: #7fa563;
}
.l-punctuation-bracket-rainbow-6 {
  color: #bb9dbd;
}
.l-punctuation-delimiter {
  color: #cdcdcd;
}
.l-punctuation-special {
  color: #6e94b2;
}
.l-string {
  color: #e8b589;
  font-style: italic;
}
.l-string-documentation {
  color: #e8b589;
  font-style: italic;
}
.l-string-escape {
  color: #6e94b2;
}
.l-string-regexp {
  color: #6e94b2;
}
.l-string-special {
  color: #6e94b2;
}
.l-string-special-path {
  color: #6e94b2;
}
.l-string-special-symbol {
  color: #aeaed1;
}
.l-string-special-url {
  color: #c48282;
}
.l-tag {
  color: #b4d4cf;
}
.l-tag-attribute {
  color: #aeaed1;
}
.l-tag-builtin {
  color: #b4d4cf;
}
.l-tag-delimiter {
  color: #cdcdcd;
}
.l-type {
  color: #9bb4bc;
}
.l-type-builtin {
  color: #b4d4cf;
  font-weight: bold;
}
.l-type-definition {
  color: #aeaed1;
}
.l-variable {
  color: #cdcdcd;
}
.l-variable-builtin {
  color: #b4d4cf;
}
.l-variable-member {
  color: #b4d4cf;
}
.l-variable-parameter {
  color: #bb9dbd;
}
.l-variable-parameter-builtin {
  color: #b4d4cf;
}
