/* astrojupiter
 * revision: f6883da9b88ac810e6e5568db9a74ba6d6672d4b
 */
.lumis {
  color: #815654;
  background-color: #feeeee;
}
.l-attribute {
  color: #805c00;
}
.l-attribute-builtin {
  color: #805c00;
}
.l-boolean {
  color: #954d00;
}
.l-character {
  color: #467118;
}
.l-character-special {
  color: #006e89;
}
.l-comment {
  color: #937c7a;
  font-style: italic;
}
.l-comment-documentation {
  color: #937c7a;
  font-style: italic;
}
.l-comment-error {
  color: #d04f4e;
}
.l-comment-hint {
  color: #00976c;
}
.l-comment-note {
  color: #0090a2;
}
.l-comment-todo {
  color: #ac7300;
}
.l-comment-warning {
  color: #ac7300;
}
.l-constant {
  color: #805c00;
}
.l-constant-builtin {
  color: #805c00;
}
.l-constant-macro {
  color: #805c00;
}
.l-constant-rust {
  color: #007652;
}
.l-constructor {
  color: #006e89;
}
.l-constructor-lua {
  color: #954d00;
}
.l-constructor-tsx {
  color: #90437a;
}
.l-constructor-typescript {
  color: #90437a;
}
.l-diff-delta {
  background-color: #dfcab3;
}
.l-diff-minus {
  background-color: #e7c2c0;
}
.l-diff-plus {
  color: #467118;
}
.l-error {
  color: #d04f4e;
}
.l-function {
  color: #006e89;
}
.l-function-builtin {
  color: #007652;
}
.l-function-call {
  color: #006e89;
}
.l-function-macro {
  color: #805c00;
}
.l-function-macro-rust {
  color: #a13f37;
}
.l-function-method {
  color: #006e89;
}
.l-function-method-call {
  color: #006e89;
}
.l-highlighted {
  background-color: #f6ddd8;
}
.l-keyword {
  color: #90437a;
}
.l-keyword-conditional {
  color: #90437a;
}
.l-keyword-conditional-ternary {
  color: #90437a;
}
.l-keyword-coroutine {
  color: #90437a;
}
.l-keyword-debug {
  color: #0090a2;
}
.l-keyword-directive {
  color: #90437a;
}
.l-keyword-directive-define {
  color: #90437a;
}
.l-keyword-exception {
  color: #90437a;
}
.l-keyword-export {
  color: #90437a;
}
.l-keyword-function {
  color: #90437a;
}
.l-keyword-import {
  color: #90437a;
}
.l-keyword-modifier {
  color: #805c00;
}
.l-keyword-operator {
  color: #90437a;
}
.l-keyword-repeat {
  color: #90437a;
}
.l-keyword-return {
  color: #90437a;
}
.l-keyword-type {
  color: #805c00;
}
.l-label {
  color: #006e89;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #d0b6b6;
}
.l-line-number-highlighted {
  color: #815654;
}
.l-markup {
  color: #006e89;
}
.l-markup-environment {
  color: #954d00;
}
.l-markup-environment-name {
  color: #954d00;
}
.l-markup-heading {
  color: #815654;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #815654;
  font-weight: bold;
}
.l-markup-heading-1-markdown {
  color: #90437a;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #815654;
  font-weight: bold;
}
.l-markup-heading-2-markdown {
  color: #006e89;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #815654;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #007652;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #815654;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #467118;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #815654;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #805c00;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #815654;
  font-weight: bold;
}
.l-markup-heading-6-markdown {
  color: #805c00;
  font-weight: bold;
}
.l-markup-italic {
  color: #815654;
  font-style: italic;
}
.l-markup-link {
  color: #805c00;
  font-weight: bold;
}
.l-markup-link-label {
  color: #467118;
}
.l-markup-link-url {
  color: #006e89;
  font-style: italic;
  text-decoration: underline;
}
.l-markup-list {
  color: #006e89;
}
.l-markup-list-checked {
  color: #00976c;
  font-weight: bold;
}
.l-markup-list-markdown {
  color: #954d00;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #0090a2;
  font-weight: bold;
}
.l-markup-math {
  color: #006e89;
}
.l-markup-quote {
  color: #815654;
  font-style: italic;
}
.l-markup-raw {
  color: #a13f37;
}
.l-markup-raw-block {
  color: #815654;
}
.l-markup-strikethrough {
  color: #815654;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #815654;
  font-weight: bold;
}
.l-module {
  color: #90437a;
}
.l-module-builtin {
  color: #805c00;
}
.l-namespace {
  color: #90437a;
}
.l-number {
  color: #954d00;
}
.l-number-css {
  color: #007652;
}
.l-number-float {
  color: #805c00;
}
.l-operator {
  color: #815654;
}
.l-property {
  color: #a13f37;
}
.l-property-cpp {
  color: #954d00;
}
.l-property-css {
  color: #954d00;
}
.l-punctuation-bracket {
  color: #815654;
}
.l-punctuation-bracket-php {
  color: #90437a;
  font-weight: bold;
}
.l-punctuation-bracket-rainbow-1 {
  color: #a13f37;
}
.l-punctuation-bracket-rainbow-2 {
  color: #805c00;
}
.l-punctuation-bracket-rainbow-3 {
  color: #006e89;
}
.l-punctuation-bracket-rainbow-4 {
  color: #954d00;
}
.l-punctuation-bracket-rainbow-5 {
  color: #467118;
}
.l-punctuation-bracket-rainbow-6 {
  color: #90437a;
}
.l-punctuation-delimiter {
  color: #815654;
}
.l-punctuation-special {
  color: #815654;
}
.l-punctuation-special-rust {
  color: #90437a;
}
.l-string {
  color: #467118;
}
.l-string-documentation {
  color: #467118;
}
.l-string-escape {
  color: #a13f37;
}
.l-string-regexp {
  color: #467118;
}
.l-string-special {
  color: #467118;
}
.l-string-special-path {
  color: #467118;
}
.l-string-special-symbol {
  color: #467118;
}
.l-string-special-symbol-ruby {
  color: #954d00;
}
.l-string-special-url {
  color: #006e89;
  font-style: italic;
  text-decoration: underline;
}
.l-tag {
  color: #a13f37;
}
.l-tag-attribute {
  color: #007652;
}
.l-tag-attribute-tsx {
  color: #90437a;
  font-style: italic;
}
.l-tag-builtin {
  color: #006e89;
}
.l-tag-delimiter {
  color: #815654;
}
.l-type {
  color: #006e89;
}
.l-type-builtin {
  color: #805c00;
}
.l-type-css {
  color: #954d00;
}
.l-type-definition {
  color: #006e89;
}
.l-type-rust {
  color: #007652;
}
.l-variable {
  color: #815654;
}
.l-variable-builtin {
  color: #007652;
}
.l-variable-member {
  color: #a13f37;
}
.l-variable-parameter {
  color: #954d00;
}
.l-variable-parameter-builtin {
  color: #954d00;
}
