/* ayu_light
 * revision: e5a9f0fa2918d6b5f57c21b3ac014314ee5e41c8
 */
.lumis {
  color: #5c6166;
  background-color: #f8f9fa;
}
.l-attribute {
  color: #ffaa33;
}
.l-attribute-builtin {
  color: #ffaa33;
}
.l-boolean {
  color: #a37acc;
}
.l-character {
  color: #a37acc;
}
.l-character-special {
  color: #ffaa33;
}
.l-comment {
  color: #abadb1;
  font-style: italic;
}
.l-comment-documentation {
  color: #abadb1;
  font-style: italic;
}
.l-comment-error {
  color: #e65050;
}
.l-comment-hint {
  color: #abadb1;
  font-style: italic;
}
.l-comment-note {
  color: #55b4d4;
}
.l-comment-todo {
  color: #f07171;
}
.l-comment-warning {
  color: #fa8d3e;
}
.l-constant {
  color: #a37acc;
}
.l-constant-builtin {
  color: #ffaa33;
}
.l-constant-macro {
  color: #a37acc;
}
.l-constructor {
  color: #ffaa33;
}
.l-diff-delta {
  color: #478acc;
}
.l-diff-minus {
  color: #ff7383;
}
.l-diff-plus {
  color: #6cbf43;
}
.l-function {
  color: #f2ae49;
}
.l-function-builtin {
  color: #ffaa33;
}
.l-function-call {
  color: #f2ae49;
}
.l-function-macro {
  color: #f2ae49;
}
.l-function-method {
  color: #f2ae49;
}
.l-function-method-call {
  color: #f2ae49;
}
.l-highlighted {
  background-color: #e7eaed;
}
.l-keyword {
  color: #fa8d3e;
}
.l-keyword-conditional {
  color: #fa8d3e;
}
.l-keyword-conditional-ternary {
  color: #fa8d3e;
}
.l-keyword-coroutine {
  color: #fa8d3e;
}
.l-keyword-debug {
  color: #fa8d3e;
}
.l-keyword-directive {
  color: #fa8d3e;
}
.l-keyword-directive-define {
  color: #fa8d3e;
}
.l-keyword-exception {
  color: #fa8d3e;
}
.l-keyword-export {
  color: #fa8d3e;
}
.l-keyword-function {
  color: #fa8d3e;
}
.l-keyword-import {
  color: #fa8d3e;
}
.l-keyword-modifier {
  color: #fa8d3e;
}
.l-keyword-operator {
  color: #fa8d3e;
}
.l-keyword-repeat {
  color: #fa8d3e;
}
.l-keyword-return {
  color: #fa8d3e;
}
.l-keyword-type {
  color: #fa8d3e;
}
.l-label {
  color: #fa8d3e;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #e4e6e9;
}
.l-line-number-highlighted {
  color: #ffaa33;
  background-color: #e7eaed;
}
.l-markup {
  color: #ffaa33;
}
.l-markup-environment {
  color: #ffaa33;
}
.l-markup-environment-name {
  color: #ffaa33;
}
.l-markup-heading {
  color: #fa8d3e;
}
.l-markup-heading-1 {
  color: #fa8d3e;
}
.l-markup-heading-2 {
  color: #fa8d3e;
}
.l-markup-heading-3 {
  color: #fa8d3e;
}
.l-markup-heading-4 {
  color: #fa8d3e;
}
.l-markup-heading-5 {
  color: #fa8d3e;
}
.l-markup-heading-6 {
  color: #fa8d3e;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #ffaa33;
}
.l-markup-list-checked {
  color: #ffaa33;
}
.l-markup-list-unchecked {
  color: #ffaa33;
}
.l-markup-math {
  color: #ffaa33;
}
.l-markup-quote {
  color: #ffaa33;
}
.l-markup-raw {
  color: #ffaa33;
}
.l-markup-raw-block {
  color: #ffaa33;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #f2ae49;
}
.l-module-builtin {
  color: #ffaa33;
}
.l-number {
  color: #a37acc;
}
.l-number-float {
  color: #a37acc;
}
.l-operator {
  color: #ed9366;
}
.l-property {
  color: #55b4d4;
}
.l-punctuation-bracket {
  color: #e6ba7e;
}
.l-punctuation-delimiter {
  color: #e6ba7e;
}
.l-punctuation-special {
  color: #ffaa33;
}
.l-string {
  color: #86b300;
}
.l-string-documentation {
  color: #86b300;
}
.l-string-escape {
  color: #ffaa33;
}
.l-string-regexp {
  color: #ffaa33;
}
.l-string-special {
  color: #ffaa33;
}
.l-string-special-path {
  color: #ffaa33;
}
.l-string-special-symbol {
  color: #ffaa33;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #fa8d3e;
}
.l-tag-attribute {
  color: #399ee6;
}
.l-tag-builtin {
  color: #ffaa33;
}
.l-tag-delimiter {
  color: #e6ba7e;
}
.l-type {
  color: #399ee6;
}
.l-type-builtin {
  color: #ffaa33;
}
.l-type-definition {
  color: #399ee6;
}
.l-variable {
  color: #5c6166;
}
.l-variable-builtin {
  color: #f2ae49;
}
.l-variable-member {
  color: #55b4d4;
}
.l-variable-parameter {
  color: #5c6166;
}
.l-variable-parameter-builtin {
  color: #ffaa33;
}
