/* bamboo_multiplex
 * revision: 1309bc88bffcf1bedc3e84e7fa9004de93da774a
 */
.lumis {
  color: #ece1c0;
  background-color: #232923;
}
.l-attribute {
  color: #68baae;
}
.l-attribute-builtin {
  color: #dc4f62;
}
.l-attribute-typescript {
  color: #409cdc;
}
.l-boolean {
  color: #ef9946;
}
.l-character {
  color: #ef9946;
}
.l-character-special {
  color: #dc4f62;
}
.l-comment {
  color: #dcbf84;
  font-style: italic;
}
.l-comment-documentation {
  color: #dcbf84;
  font-style: italic;
}
.l-comment-error {
  color: #101210;
  background-color: #dc4f62;
  font-weight: bold;
}
.l-comment-hint {
  color: #dcbf84;
  font-style: italic;
}
.l-comment-note {
  color: #101210;
  background-color: #409cdc;
  font-weight: bold;
}
.l-comment-todo {
  color: #101210;
  background-color: #a09af8;
  font-weight: bold;
}
.l-comment-warning {
  color: #101210;
  background-color: #ef9946;
  font-weight: bold;
}
.l-comment-warning-gitcommit {
  background-color: #56452c;
}
.l-constant {
  color: #ef9946;
}
.l-constant-builtin {
  color: #ef9946;
}
.l-constant-macro {
  color: #de6bdb;
}
.l-constructor {
  color: #ceba49;
  font-weight: bold;
}
.l-constructor-lua {
  color: #ceba49;
}
.l-diff-delta {
  background-color: #2a3a57;
}
.l-diff-minus {
  background-color: #893f45;
}
.l-diff-plus {
  background-color: #40531b;
}
.l-error {
  color: #dc4f62;
}
.l-function {
  color: #409cdc;
}
.l-function-builtin {
  color: #ef9946;
}
.l-function-call {
  color: #409cdc;
}
.l-function-macro {
  color: #de6bdb;
}
.l-function-method {
  color: #409cdc;
}
.l-function-method-call {
  color: #409cdc;
}
.l-highlighted {
  background-color: #2d312c;
}
.l-keyword {
  color: #a09af8;
}
.l-keyword-conditional {
  color: #a09af8;
  font-style: italic;
}
.l-keyword-conditional-ternary {
  color: #bdb5e3;
}
.l-keyword-coroutine {
  color: #a09af8;
}
.l-keyword-debug {
  color: #a09af8;
}
.l-keyword-directive {
  color: #a09af8;
}
.l-keyword-directive-define {
  color: #a09af8;
  font-weight: bold;
}
.l-keyword-exception {
  color: #a09af8;
}
.l-keyword-export {
  color: #a09af8;
}
.l-keyword-function {
  color: #a09af8;
}
.l-keyword-import {
  color: #a09af8;
}
.l-keyword-modifier {
  color: #a09af8;
  font-style: italic;
}
.l-keyword-operator {
  color: #a09af8;
}
.l-keyword-repeat {
  color: #a09af8;
}
.l-keyword-return {
  color: #a09af8;
}
.l-keyword-type {
  color: #a09af8;
}
.l-label {
  color: #dc4f62;
  font-weight: bold;
}
.l-label-diff {
  color: #ceba49;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #5a5e5a;
}
.l-line-number-highlighted {
  color: #ece1c0;
}
.l-markup {
  color: #dc4f62;
}
.l-markup-environment {
  color: #dc4f62;
}
.l-markup-environment-name {
  color: #dc4f62;
}
.l-markup-heading {
  color: #ef9946;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #e57b89;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #f3b374;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #dacb77;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #a1c382;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #8ecbc2;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #70b5e5;
  font-weight: bold;
}
.l-markup-italic {
  color: #ef9946;
  font-style: italic;
}
.l-markup-link {
  color: #409cdc;
}
.l-markup-link-label {
  color: #409cdc;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #68baae;
  font-style: italic;
  text-decoration: underline;
}
.l-markup-list {
  color: #dc4f62;
}
.l-markup-list-checked {
  color: #ceba49;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #818781;
  font-weight: bold;
}
.l-markup-math {
  color: #88c1e9;
}
.l-markup-quote {
  color: #818781;
}
.l-markup-raw {
  color: #81af58;
}
.l-markup-raw-block {
  color: #81af58;
}
.l-markup-strikethrough {
  color: #ef9946;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #ef9946;
  font-weight: bold;
}
.l-markup-underline {
  color: #ef9946;
  text-decoration: underline;
}
.l-module {
  color: #88c1e9;
  font-style: italic;
}
.l-module-builtin {
  color: #dc4f62;
}
.l-module-latex {
  color: #68baae;
  font-style: italic;
}
.l-number {
  color: #ef9946;
}
.l-number-float {
  color: #ef9946;
}
.l-operator {
  color: #bdb5e3;
}
.l-property {
  color: #68baae;
}
.l-punctuation-bracket {
  color: #818781;
}
.l-punctuation-bracket-rainbow-1 {
  color: #e57b89;
}
.l-punctuation-bracket-rainbow-2 {
  color: #dacb77;
}
.l-punctuation-bracket-rainbow-3 {
  color: #70b5e5;
}
.l-punctuation-bracket-rainbow-4 {
  color: #f3b374;
}
.l-punctuation-bracket-rainbow-5 {
  color: #a1c382;
}
.l-punctuation-bracket-rainbow-6 {
  color: #b8b3fa;
}
.l-punctuation-delimiter {
  color: #818781;
}
.l-punctuation-special {
  color: #dc4f62;
}
.l-punctuation-special-diff {
  color: #818781;
}
.l-string {
  color: #81af58;
}
.l-string-documentation {
  color: #a1c382;
}
.l-string-escape {
  color: #e07870;
}
.l-string-regexp {
  color: #ef9946;
}
.l-string-special {
  color: #dc4f62;
}
.l-string-special-path {
  color: #88c1e9;
  text-decoration: underline;
}
.l-string-special-path-diff {
  color: #88c1e9;
}
.l-string-special-symbol {
  color: #68baae;
}
.l-string-special-url {
  color: #68baae;
  font-style: italic;
  text-decoration: underline;
}
.l-tag {
  color: #a09af8;
}
.l-tag-attribute {
  color: #68baae;
}
.l-tag-builtin {
  color: #a09af8;
}
.l-tag-delimiter {
  color: #818781;
}
.l-type {
  color: #ceba49;
}
.l-type-builtin {
  color: #ceba49;
}
.l-type-definition {
  color: #ceba49;
}
.l-variable {
  color: #ece1c0;
}
.l-variable-builtin {
  color: #dc4f62;
}
.l-variable-member {
  color: #68baae;
}
.l-variable-parameter {
  color: #e07870;
  font-style: italic;
}
.l-variable-parameter-builtin {
  color: #dc4f62;
  font-style: italic;
}
