/* bluloco_light
 * revision: caa4233dab772dad1db272c78025dd9682dca9e8
 */
.lumis {
  color: #383a42;
  background-color: #fafafa;
}
.l-attribute {
  color: #047486;
}
.l-attribute-builtin {
  color: #de631b;
}
.l-boolean {
  color: #0096db;
}
.l-character {
  color: #de631b;
}
.l-character-special {
  color: #de631b;
}
.l-comment {
  color: #a0a1a7;
}
.l-comment-documentation {
  color: #a0a1a7;
}
.l-comment-error {
  color: #ff0000;
}
.l-comment-hint {
  color: #a0a1a7;
}
.l-comment-note {
  color: #0099e0;
}
.l-comment-todo {
  color: #ffffff;
  background-color: #0099e0;
}
.l-comment-warning {
  color: #ff8e38;
}
.l-constant {
  color: #8541f1;
}
.l-constant-builtin {
  color: #0096db;
}
.l-constant-macro {
  color: #8541f1;
}
.l-constructor {
  color: #d32752;
}
.l-diff-delta {
  color: #255ee4;
}
.l-diff-minus {
  color: #d32752;
}
.l-diff-plus {
  color: #239549;
}
.l-error {
  color: #ff0000;
}
.l-function {
  color: #239549;
}
.l-function-builtin {
  color: #239549;
}
.l-function-call {
  color: #239549;
}
.l-function-macro {
  color: #239549;
}
.l-function-method {
  color: #239549;
}
.l-function-method-call {
  color: #239549;
}
.l-highlighted {
  background-color: #dee1e3;
}
.l-keyword {
  color: #0096db;
}
.l-keyword-conditional {
  color: #0096db;
}
.l-keyword-conditional-ternary {
  color: #0096db;
}
.l-keyword-coroutine {
  color: #0096db;
}
.l-keyword-debug {
  color: #0096db;
}
.l-keyword-directive {
  color: #0096db;
}
.l-keyword-directive-define {
  color: #0096db;
}
.l-keyword-exception {
  color: #0096db;
}
.l-keyword-export {
  color: #0096db;
}
.l-keyword-function {
  color: #0096db;
}
.l-keyword-import {
  color: #0096db;
}
.l-keyword-modifier {
  color: #0096db;
}
.l-keyword-operator {
  color: #0096db;
}
.l-keyword-repeat {
  color: #0096db;
}
.l-keyword-return {
  color: #0096db;
}
.l-keyword-type {
  color: #0096db;
}
.l-label {
  color: #047486;
}
.l-label-json {
  color: #9e5947;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #a0a1a7;
}
.l-line-number-highlighted {
  color: #a0a1a7;
}
.l-markup {
  color: #de631b;
}
.l-markup-environment {
  color: #de631b;
}
.l-markup-environment-name {
  color: #de631b;
}
.l-markup-heading {
  color: #0096db;
}
.l-markup-heading-1 {
  color: #0096db;
}
.l-markup-heading-2 {
  color: #255ee4;
}
.l-markup-heading-3 {
  color: #8541f1;
}
.l-markup-heading-4 {
  color: #cd32c0;
}
.l-markup-heading-5 {
  color: #de631b;
}
.l-markup-heading-6 {
  color: #9e5947;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  color: #255ee4;
  text-decoration: underline;
}
.l-markup-list {
  color: #7c84da;
}
.l-markup-list-checked {
  color: #7c84da;
}
.l-markup-list-unchecked {
  color: #7c84da;
}
.l-markup-math {
  color: #de631b;
}
.l-markup-math-markdown {
  color: #cd32c0;
}
.l-markup-quote {
  color: #de631b;
}
.l-markup-quote-markdown {
  color: #8541f1;
}
.l-markup-raw {
  color: #9e5947;
}
.l-markup-raw-block {
  color: #9e5947;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #ee5874;
}
.l-module-builtin {
  color: #de631b;
}
.l-namespace {
  color: #ee5874;
}
.l-number {
  color: #cd32c0;
}
.l-number-float {
  color: #cd32c0;
}
.l-operator {
  color: #7c84da;
}
.l-property {
  color: #9e5947;
}
.l-punctuation-bracket {
  color: #7c84da;
}
.l-punctuation-bracket-rainbow-1 {
  color: #f066f0;
}
.l-punctuation-bracket-rainbow-2 {
  color: #b1b800;
}
.l-punctuation-bracket-rainbow-3 {
  color: #0ab6ff;
}
.l-punctuation-bracket-rainbow-4 {
  color: #ffa024;
}
.l-punctuation-bracket-rainbow-5 {
  color: #1fc155;
}
.l-punctuation-bracket-rainbow-6 {
  color: #a557ff;
}
.l-punctuation-delimiter {
  color: #7c84da;
}
.l-punctuation-special {
  color: #7c84da;
}
.l-string {
  color: #c4a231;
}
.l-string-documentation {
  color: #c4a231;
}
.l-string-escape {
  color: #de631b;
}
.l-string-regexp {
  color: #de631b;
}
.l-string-special {
  color: #de631b;
}
.l-string-special-path {
  color: #de631b;
}
.l-string-special-symbol {
  color: #8541f1;
}
.l-string-special-url {
  color: #255ee4;
  text-decoration: underline;
}
.l-tag {
  color: #255ee4;
}
.l-tag-attribute {
  color: #de631b;
}
.l-tag-builtin {
  color: #255ee4;
}
.l-tag-delimiter {
  color: #255ee4;
}
.l-type {
  color: #d32752;
}
.l-type-builtin {
  color: #0096db;
}
.l-type-definition {
  color: #d32752;
}
.l-variable {
  color: #383a42;
}
.l-variable-builtin {
  color: #0096db;
}
.l-variable-member {
  color: #9e5947;
}
.l-variable-parameter {
  color: #40b7c4;
}
.l-variable-parameter-builtin {
  color: #de631b;
}
