/* cobalt2
 * revision: 0cc17f3491feba19ed62b2d9622577f7822a0113
 */
.lumis {
  color: #e0e0e0;
  background-color: #111111;
}
.l-attribute {
  color: #ffff00;
}
.l-attribute-builtin {
  color: #b300b3;
  font-weight: bold;
}
.l-boolean {
  color: #ffa500;
}
.l-character {
  color: #ff0000;
}
.l-character-special {
  color: #ff0000;
  font-weight: bold;
}
.l-comment {
  color: #b0b1b0;
  font-style: italic;
}
.l-comment-documentation {
  color: #b0b1b0;
  font-style: italic;
}
.l-comment-error {
  color: #ff0000;
  font-weight: bold;
}
.l-comment-hint {
  color: #b0b1b0;
  font-style: italic;
}
.l-comment-note {
  color: #8cf8f7;
}
.l-comment-todo {
  color: #ffff00;
}
.l-comment-warning {
  color: #fce094;
}
.l-constant {
  color: #ffa500;
  font-weight: bold;
}
.l-constant-builtin {
  color: #b300b3;
  font-weight: bold;
}
.l-constant-macro {
  color: #ffa500;
  font-weight: bold;
}
.l-constructor {
  color: #b300b3;
  font-weight: bold;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-function {
  color: #ffff00;
}
.l-function-builtin {
  color: #b300b3;
  font-weight: bold;
}
.l-function-call {
  color: #ffff00;
}
.l-function-macro {
  color: #ffff00;
}
.l-function-method {
  color: #ffff00;
}
.l-function-method-call {
  color: #ffff00;
}
.l-highlighted {
  background-color: #2b2b2b;
}
.l-keyword {
  color: #ee82ee;
}
.l-keyword-conditional {
  color: #ee82ee;
}
.l-keyword-conditional-ternary {
  color: #ee82ee;
}
.l-keyword-coroutine {
  color: #ee82ee;
}
.l-keyword-debug {
  color: #ee82ee;
}
.l-keyword-directive {
  color: #ee82ee;
}
.l-keyword-directive-define {
  color: #ee82ee;
}
.l-keyword-exception {
  color: #ee82ee;
}
.l-keyword-export {
  color: #ee82ee;
}
.l-keyword-function {
  color: #ee82ee;
}
.l-keyword-import {
  color: #ee82ee;
}
.l-keyword-modifier {
  color: #ee82ee;
}
.l-keyword-operator {
  color: #ee82ee;
}
.l-keyword-repeat {
  color: #ee82ee;
}
.l-keyword-return {
  color: #ee82ee;
}
.l-keyword-type {
  color: #ee82ee;
}
.l-label {
  color: #ffff00;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #282a2e;
  background-color: #111111;
}
.l-line-number-highlighted {
  font-weight: bold;
}
.l-markup {
  color: #b300b3;
  font-weight: bold;
}
.l-markup-environment {
  color: #b300b3;
  font-weight: bold;
}
.l-markup-environment-name {
  color: #b300b3;
  font-weight: bold;
}
.l-markup-heading {
  color: #e0e2ea;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #e0e2ea;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #e0e2ea;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #e0e2ea;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #e0e2ea;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #e0e2ea;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #e0e2ea;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #b300b3;
  font-weight: bold;
}
.l-markup-list-checked {
  color: #b300b3;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #b300b3;
  font-weight: bold;
}
.l-markup-math {
  color: #b300b3;
  font-weight: bold;
}
.l-markup-quote {
  color: #b300b3;
  font-weight: bold;
}
.l-markup-raw {
  color: #b300b3;
  font-weight: bold;
}
.l-markup-raw-block {
  color: #b300b3;
  font-weight: bold;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #ee82ee;
}
.l-module-builtin {
  color: #b300b3;
  font-weight: bold;
}
.l-number {
  color: #ff0000;
}
.l-number-float {
  color: #ff0000;
}
.l-operator {
  color: #ff6666;
}
.l-property {
  color: #e0e0e0;
}
.l-punctuation-bracket {
  color: #e0e2ea;
}
.l-punctuation-delimiter {
  color: #e0e2ea;
}
.l-punctuation-special {
  color: #b300b3;
  font-weight: bold;
}
.l-string {
  color: #008000;
}
.l-string-documentation {
  color: #008000;
}
.l-string-escape {
  color: #a52a2a;
}
.l-string-regexp {
  color: #a52a2a;
}
.l-string-special {
  color: #a52a2a;
}
.l-string-special-path {
  color: #a52a2a;
}
.l-string-special-symbol {
  color: #a52a2a;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #ffff00;
}
.l-tag-attribute {
  color: #ffff00;
}
.l-tag-attribute-html {
  color: #ee82ee;
}
.l-tag-builtin {
  color: #b300b3;
  font-weight: bold;
}
.l-tag-delimiter {
  color: #ffff00;
}
.l-tag-delimiter-html {
  color: #3333ff;
}
.l-type {
  color: #ee82ee;
  font-style: italic;
}
.l-type-builtin {
  color: #ee82ee;
  font-weight: bold;
}
.l-type-definition {
  color: #ee82ee;
  font-style: italic;
}
.l-variable {
  color: #e0e0e0;
}
.l-variable-builtin {
  color: #ffff00;
}
.l-variable-member {
  color: #e0e0e0;
}
.l-variable-parameter {
  color: #e0e0e0;
}
.l-variable-parameter-builtin {
  color: #b300b3;
  font-weight: bold;
}
