/* eldritch
 * revision: c9131a5a11f00a2f428f563a4eb2c4aeb680d963
 */
.lumis {
  color: #ebfafa;
  background-color: #212337;
}
.l-attribute {
  color: #10a1bd;
}
.l-attribute-builtin {
  color: #04d1f9;
}
.l-boolean {
  color: #04d1f9;
}
.l-character {
  color: #f7c67f;
}
.l-character-special {
  color: #04d1f9;
}
.l-comment {
  color: #7081d0;
  font-style: italic;
}
.l-comment-documentation {
  color: #7081d0;
  font-style: italic;
}
.l-comment-error {
  color: #f16c75;
}
.l-comment-hint {
  color: #f265b5;
}
.l-comment-note {
  color: #f265b5;
}
.l-comment-todo {
  color: #37f499;
}
.l-comment-warning {
  color: #f7c67f;
}
.l-constant {
  color: #f16c75;
}
.l-constant-builtin {
  color: #04d1f9;
}
.l-constant-macro {
  color: #10a1bd;
}
.l-constructor {
  color: #a48cf2;
}
.l-constructor-tsx {
  color: #04d1f9;
}
.l-diff-delta {
  background-color: #404441;
}
.l-diff-minus {
  background-color: #402e40;
}
.l-diff-plus {
  background-color: #244246;
}
.l-function {
  color: #f265b5;
}
.l-function-builtin {
  color: #04d1f9;
}
.l-function-builtin-python {
  color: #f265b5;
}
.l-function-call {
  color: #f265b5;
}
.l-function-macro {
  color: #37f499;
}
.l-function-method {
  color: #f265b5;
}
.l-function-method-call {
  color: #f265b5;
}
.l-highlighted {
  background-color: #292e42;
}
.l-keyword {
  color: #37f499;
  font-style: italic;
}
.l-keyword-conditional {
  color: #a48cf2;
}
.l-keyword-conditional-ternary {
  color: #a48cf2;
}
.l-keyword-coroutine {
  color: #37f499;
  font-style: italic;
}
.l-keyword-debug {
  color: #f7c67f;
}
.l-keyword-directive {
  color: #10a1bd;
}
.l-keyword-directive-define {
  color: #10a1bd;
}
.l-keyword-exception {
  color: #37f499;
}
.l-keyword-export {
  color: #37f499;
  font-style: italic;
}
.l-keyword-function {
  color: #a48cf2;
}
.l-keyword-import {
  color: #37f499;
}
.l-keyword-modifier {
  color: #37f499;
  font-style: italic;
}
.l-keyword-operator {
  color: #04d1f9;
}
.l-keyword-repeat {
  color: #a48cf2;
}
.l-keyword-return {
  color: #37f499;
  font-style: italic;
}
.l-keyword-type {
  color: #37f499;
  font-style: italic;
}
.l-label {
  color: #04d1f9;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #7081d0;
}
.l-line-number-highlighted {
  color: #37f499;
}
.l-markup-environment {
  color: #37f499;
}
.l-markup-environment-name {
  color: #04d1f9;
}
.l-markup-heading {
  color: #04d1f9;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #04d1f9;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #04d1f9;
  font-weight: bold;
}
.l-markup-heading-2-markdown {
  color: #f1fc79;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #04d1f9;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #a48cf2;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #04d1f9;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #04d1f9;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #a48cf2;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #04d1f9;
  font-weight: bold;
}
.l-markup-heading-6-markdown {
  color: #37f499;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #04d1f9;
}
.l-markup-link-label {
  color: #04d1f9;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #04d1f9;
}
.l-markup-list-checked {
  color: #a48cf2;
}
.l-markup-list-markdown {
  color: #f7c67f;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #04d1f9;
}
.l-markup-math {
  color: #04d1f9;
}
.l-markup-raw {
  color: #f1fc79;
}
.l-markup-raw-block {
  color: #f1fc79;
}
.l-markup-raw-markdown_inline {
  color: #04d1f9;
  background-color: #414868;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #37f499;
}
.l-module-builtin {
  color: #f16c75;
}
.l-number {
  color: #f16c75;
}
.l-number-float {
  color: #f7c67f;
}
.l-operator {
  color: #04d1f9;
}
.l-property {
  color: #a48cf2;
}
.l-punctuation-bracket {
  color: #abb4da;
}
.l-punctuation-bracket-rainbow-1 {
  color: #f16c75;
}
.l-punctuation-bracket-rainbow-2 {
  color: #f1fc79;
}
.l-punctuation-bracket-rainbow-3 {
  color: #04d1f9;
}
.l-punctuation-bracket-rainbow-4 {
  color: #f7c67f;
}
.l-punctuation-bracket-rainbow-5 {
  color: #a48cf2;
}
.l-punctuation-bracket-rainbow-6 {
  color: #37f499;
}
.l-punctuation-delimiter {
  color: #04d1f9;
}
.l-punctuation-special {
  color: #04d1f9;
}
.l-string {
  color: #f1fc79;
}
.l-string-documentation {
  color: #f1fc79;
}
.l-string-escape {
  color: #a48cf2;
}
.l-string-html {
  color: #c0c95f;
}
.l-string-regexp {
  color: #04d1f9;
}
.l-string-special {
  color: #04d1f9;
}
.l-string-special-path {
  color: #04d1f9;
}
.l-string-special-symbol {
  color: #04d1f9;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #a48cf2;
}
.l-tag-attribute {
  color: #a48cf2;
}
.l-tag-builtin {
  color: #04d1f9;
}
.l-tag-delimiter {
  color: #04d1f9;
}
.l-tag-delimiter-tsx {
  color: #0d9dbf;
}
.l-tag-tsx {
  color: #f16c75;
}
.l-type {
  color: #04d1f9;
}
.l-type-builtin {
  color: #0aaed2;
}
.l-type-definition {
  color: #f1fc79;
}
.l-variable {
  color: #04d1f9;
}
.l-variable-builtin {
  color: #f16c75;
}
.l-variable-member {
  color: #a48cf2;
}
.l-variable-parameter {
  color: #a48cf2;
}
.l-variable-parameter-builtin {
  color: #b6a3f5;
}
