/* flow_light
 * revision: 4863b14263a77f8efb79068f7078b6261c9cbda2
 */
.lumis {
  color: #728fa1;
  background-color: #d7dfe4;
}
.l-attribute {
  color: #5ebaa3;
}
.l-attribute-builtin {
  color: #8c5eba;
}
.l-boolean {
  color: #86862d;
}
.l-character {
  color: #5e7b8d;
}
.l-character-special {
  color: #5eabba;
}
.l-comment {
  color: #a3b6c2;
}
.l-comment-documentation {
  color: #a3b6c2;
}
.l-comment-error {
  color: #ba5e66;
}
.l-comment-hint {
  color: #5e94ba;
}
.l-comment-note {
  color: #5e94ba;
}
.l-comment-todo {
  color: #2d7786;
}
.l-comment-warning {
  color: #baba5e;
}
.l-constant {
  color: #86862d;
}
.l-constant-builtin {
  color: #8c5eba;
}
.l-constant-macro {
  color: #728fa1;
}
.l-constructor {
  color: #8c5eba;
}
.l-diff-delta {
  color: #5e94ba;
  background-color: #c6dcec;
}
.l-diff-minus {
  color: #ba5e66;
  background-color: #ecc6c9;
}
.l-diff-plus {
  background-color: #c9ecc6;
}
.l-function {
  color: #5e94ba;
}
.l-function-builtin {
  color: #8c5eba;
}
.l-function-call {
  color: #5e94ba;
}
.l-function-macro {
  color: #728fa1;
}
.l-function-method {
  color: #5e94ba;
}
.l-function-method-call {
  color: #5e94ba;
}
.l-highlighted {
  background-color: #ffcce5;
}
.l-keyword {
  color: #ba5e66;
}
.l-keyword-conditional {
  color: #ba5e66;
}
.l-keyword-conditional-ternary {
  color: #ba5e66;
}
.l-keyword-coroutine {
  color: #ba5e66;
}
.l-keyword-debug {
  color: #8c5eba;
}
.l-keyword-directive {
  color: #5ebaa3;
}
.l-keyword-directive-define {
  color: #728fa1;
}
.l-keyword-directive-markdown {
  color: #5e94ba;
}
.l-keyword-exception {
  color: #ba5e66;
}
.l-keyword-export {
  color: #ba5e66;
}
.l-keyword-function {
  color: #5e94ba;
}
.l-keyword-function-go {
  color: #8c5eba;
}
.l-keyword-import {
  color: #ba5e66;
}
.l-keyword-modifier {
  color: #ba5e66;
}
.l-keyword-operator {
  color: #ba5e66;
}
.l-keyword-repeat {
  color: #ba5e66;
}
.l-keyword-return {
  color: #ba5e66;
}
.l-keyword-type {
  color: #ba5e66;
}
.l-label {
  color: #ba5e66;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #b9c7d0;
  background-color: #d7dfe4;
}
.l-line-number-highlighted {
  color: #ff007b;
}
.l-markup-environment {
  color: #728fa1;
}
.l-markup-environment-name {
  color: #5e94ba;
}
.l-markup-heading {
  color: #8c5eba;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #8c5eba;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #8c5eba;
  font-weight: bold;
}
.l-markup-heading-2-markdown {
  color: #5e6eba;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #8c5eba;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #5e94ba;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #8c5eba;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #5ebaa3;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #8c5eba;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #5eabba;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #8c5eba;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #5eabba;
}
.l-markup-link-label {
  color: #5e94ba;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #86862d;
  font-weight: bold;
}
.l-markup-list-checked {
  color: #66ba5e;
}
.l-markup-list-unchecked {
  color: #5eabba;
}
.l-markup-math {
  color: #8c5eba;
}
.l-markup-quote {
  color: #8c5eba;
}
.l-markup-raw {
  color: #5e7b8d;
}
.l-markup-raw-block {
  background-color: #dde4e9;
}
.l-markup-raw-markdown {
  color: #5ebaa3;
}
.l-markup-raw-markdown_inline {
  color: #5ebaa3;
  background-color: #dde4e9;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #ba5e66;
}
.l-module-builtin {
  color: #ba5e66;
}
.l-module-go {
  color: #5e6eba;
}
.l-number {
  color: #86862d;
}
.l-number-float {
  color: #86862d;
}
.l-operator {
  color: #ba5e66;
}
.l-property {
  color: #5ebaa3;
}
.l-property-yaml {
  color: #86862d;
}
.l-punctuation-bracket {
  color: #8c5eba;
}
.l-punctuation-delimiter {
  color: #8c5eba;
}
.l-punctuation-special {
  color: #8c5eba;
}
.l-punctuation-special-markdown {
  color: #5e94ba;
}
.l-string {
  color: #5e7b8d;
}
.l-string-documentation {
  color: #86862d;
}
.l-string-escape {
  color: #5ebaa3;
}
.l-string-regexp {
  color: #5ebaa3;
}
.l-string-special {
  color: #5eabba;
}
.l-string-special-path {
  color: #5eabba;
}
.l-string-special-symbol {
  color: #5eabba;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #ba5e66;
}
.l-tag-attribute {
  color: #5ebaa3;
}
.l-tag-builtin {
  color: #8c5eba;
}
.l-tag-delimiter {
  color: #8c5eba;
}
.l-type {
  color: #5e94ba;
}
.l-type-builtin {
  color: #5ebaa3;
}
.l-type-definition {
  color: #5e94ba;
}
.l-variable {
  color: #728fa1;
}
.l-variable-builtin {
  color: #ba5e66;
}
.l-variable-member {
  color: #5e94ba;
}
.l-variable-parameter {
  color: #728fa1;
}
.l-variable-parameter-builtin {
  color: #86862d;
}
