/* horizon_dark
 * revision: b4d7b1e7c3aa77aea31b9ced8960e49fd8682c47
 */
.lumis {
  color: #bbbbbb;
  background-color: #1c1e26;
}
.l-attribute {
  color: #e95678;
}
.l-attribute-builtin {
  color: #f09483;
}
.l-boolean {
  color: #f09483;
}
.l-character {
  color: #e4a88a;
}
.l-character-special {
  color: #fab795;
}
.l-comment {
  color: #4c4d53;
  font-style: italic;
}
.l-comment-documentation {
  color: #4c4d53;
  font-style: italic;
}
.l-comment-error {
  color: #f43e5c;
}
.l-comment-hint {
  color: #4c4d53;
  font-style: italic;
}
.l-comment-note {
  color: #25b0bc;
}
.l-comment-todo {
  color: #27d797;
  font-weight: bold;
}
.l-comment-warning {
  color: #f09483;
}
.l-constant {
  color: #db887a;
}
.l-constant-builtin {
  color: #db887a;
}
.l-constant-macro {
  color: #db887a;
}
.l-constructor {
  color: #fac29a;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-error {
  color: #f43e5c;
}
.l-function {
  color: #24a1ad;
}
.l-function-builtin {
  color: #24a1ad;
}
.l-function-call {
  color: #24a1ad;
}
.l-function-macro {
  color: #24a1ad;
}
.l-function-method {
  color: #24a1ad;
}
.l-function-method-call {
  color: #24a1ad;
}
.l-highlighted {
  background-color: #21232d;
}
.l-keyword {
  color: #a86ec9;
}
.l-keyword-conditional {
  color: #a86ec9;
}
.l-keyword-conditional-ternary {
  color: #a86ec9;
}
.l-keyword-coroutine {
  color: #a86ec9;
}
.l-keyword-debug {
  color: #a86ec9;
}
.l-keyword-directive {
  color: #a86ec9;
}
.l-keyword-directive-define {
  color: #a86ec9;
}
.l-keyword-exception {
  color: #a86ec9;
}
.l-keyword-export {
  color: #a86ec9;
}
.l-keyword-function {
  color: #a86ec9;
}
.l-keyword-import {
  color: #a86ec9;
}
.l-keyword-modifier {
  color: #a86ec9;
}
.l-keyword-operator {
  color: #a86ec9;
}
.l-keyword-repeat {
  color: #a86ec9;
}
.l-keyword-return {
  color: #a86ec9;
}
.l-keyword-type {
  color: #a86ec9;
}
.l-label {
  color: #e95678;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #2f3138;
}
.l-line-number-highlighted {
  color: #797b80;
  background-color: #21232d;
  font-weight: bold;
}
.l-markup {
  color: #f09483;
}
.l-markup-environment {
  color: #f09483;
}
.l-markup-environment-name {
  color: #f09483;
}
.l-markup-heading {
  color: #fac29a;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #fac29a;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #fac29a;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #fac29a;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #fac29a;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #fac29a;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #fac29a;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #f09483;
}
.l-markup-list-checked {
  color: #f09483;
}
.l-markup-list-unchecked {
  color: #f09483;
}
.l-markup-math {
  color: #f09483;
}
.l-markup-quote {
  color: #f09483;
}
.l-markup-raw {
  color: #f09483;
}
.l-markup-raw-block {
  color: #f09483;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #fac29a;
}
.l-module-builtin {
  color: #f09483;
}
.l-namespace {
  color: #25b0bc;
}
.l-number {
  color: #f09483;
}
.l-number-float {
  color: #f09483;
}
.l-operator {
  color: #6c6d71;
}
.l-property {
  color: #e95678;
}
.l-punctuation-bracket {
  color: #6c6d71;
}
.l-punctuation-bracket-rainbow-1 {
  color: #d55070;
}
.l-punctuation-bracket-rainbow-2 {
  color: #e4b28e;
}
.l-punctuation-bracket-rainbow-3 {
  color: #169fff;
}
.l-punctuation-bracket-rainbow-4 {
  color: #db887a;
}
.l-punctuation-bracket-rainbow-5 {
  color: #29d398;
}
.l-punctuation-bracket-rainbow-6 {
  color: #a86ec9;
}
.l-punctuation-delimiter {
  color: #6c6d71;
}
.l-punctuation-special {
  color: #6c6d71;
}
.l-string {
  color: #e4a88a;
}
.l-string-documentation {
  color: #e4a88a;
}
.l-string-escape {
  color: #e4a88a;
}
.l-string-regexp {
  color: #bbbbbb;
}
.l-string-special {
  color: #bbbbbb;
}
.l-string-special-path {
  color: #bbbbbb;
}
.l-string-special-symbol {
  color: #bbbbbb;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #e95678;
}
.l-tag-attribute {
  color: #f09483;
  font-style: italic;
}
.l-tag-builtin {
  color: #f09483;
}
.l-tag-delimiter {
  color: #e95678;
}
.l-type {
  color: #fac29a;
}
.l-type-builtin {
  color: #f09483;
}
.l-type-definition {
  color: #fac29a;
}
.l-variable {
  color: #e95678;
}
.l-variable-builtin {
  color: #fac29a;
}
.l-variable-member {
  color: #e95678;
}
.l-variable-parameter {
  color: #e95678;
}
.l-variable-parameter-builtin {
  color: #f09483;
}
