/* iceberg
 * revision: 23835d5ed696436f716cbfdb56a93a7850fe3b18
 */
.lumis {
  color: #c6c8d1;
  background-color: #161821;
}
.l-attribute {
  color: #b4be82;
}
.l-attribute-builtin {
  color: #b4be82;
}
.l-boolean {
  color: #a093c7;
}
.l-character {
  color: #a093c7;
}
.l-character-special {
  color: #b4be82;
}
.l-comment {
  color: #6b7089;
}
.l-comment-documentation {
  color: #6b7089;
}
.l-comment-error {
  color: #e27878;
}
.l-comment-hint {
  color: #6b7089;
}
.l-comment-note {
  color: #89b8c2;
}
.l-comment-todo {
  color: #b4be82;
  background-color: #45493e;
  font-weight: bold;
}
.l-comment-warning {
  color: #e2a478;
}
.l-constant {
  color: #a093c7;
}
.l-constant-builtin {
  color: #a093c7;
}
.l-constant-macro {
  color: #a093c7;
}
.l-constructor {
  color: #c6c8d1;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-error {
  color: #e27878;
  background-color: #161821;
}
.l-function {
  color: #a3adcb;
}
.l-function-builtin {
  color: #a3adcb;
}
.l-function-call {
  color: #a3adcb;
}
.l-function-macro {
  color: #a3adcb;
}
.l-function-method {
  color: #a3adcb;
}
.l-function-method-call {
  color: #a3adcb;
}
.l-highlighted {
  background-color: #1e2132;
}
.l-keyword {
  color: #84a0c6;
}
.l-keyword-conditional {
  color: #84a0c6;
}
.l-keyword-conditional-ternary {
  color: #84a0c6;
}
.l-keyword-coroutine {
  color: #84a0c6;
}
.l-keyword-debug {
  color: #84a0c6;
}
.l-keyword-directive {
  color: #84a0c6;
}
.l-keyword-directive-define {
  color: #84a0c6;
}
.l-keyword-exception {
  color: #84a0c6;
}
.l-keyword-export {
  color: #84a0c6;
}
.l-keyword-function {
  color: #84a0c6;
}
.l-keyword-import {
  color: #84a0c6;
}
.l-keyword-modifier {
  color: #84a0c6;
}
.l-keyword-operator {
  color: #84a0c6;
}
.l-keyword-repeat {
  color: #84a0c6;
}
.l-keyword-return {
  color: #84a0c6;
}
.l-keyword-type {
  color: #84a0c6;
}
.l-label {
  color: #b4be82;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #444b71;
  background-color: #1e2132;
}
.l-line-number-highlighted {
  color: #cdd1e6;
  background-color: #2a3158;
  font-weight: bold;
}
.l-markup {
  color: #b4be82;
}
.l-markup-environment {
  color: #b4be82;
}
.l-markup-environment-name {
  color: #b4be82;
}
.l-markup-heading {
  color: #e2a478;
}
.l-markup-heading-1 {
  color: #e2a478;
}
.l-markup-heading-2 {
  color: #e2a478;
}
.l-markup-heading-3 {
  color: #e2a478;
}
.l-markup-heading-4 {
  color: #e2a478;
}
.l-markup-heading-5 {
  color: #e2a478;
}
.l-markup-heading-6 {
  color: #e2a478;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #84a0c6;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #84a0c6;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #84a0c6;
  text-decoration: underline;
}
.l-markup-list {
  color: #b4be82;
}
.l-markup-list-checked {
  color: #b4be82;
}
.l-markup-list-unchecked {
  color: #b4be82;
}
.l-markup-math {
  color: #b4be82;
}
.l-markup-quote {
  color: #b4be82;
}
.l-markup-raw {
  color: #b4be82;
}
.l-markup-raw-block {
  color: #b4be82;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #84a0c6;
}
.l-module-builtin {
  color: #b4be82;
}
.l-namespace {
  color: #84a0c6;
}
.l-number {
  color: #a093c7;
}
.l-number-float {
  color: #a093c7;
}
.l-operator {
  color: #c6c8d1;
}
.l-property {
  color: #c6c8d1;
}
.l-punctuation-bracket {
  color: #c6c8d1;
}
.l-punctuation-delimiter {
  color: #c6c8d1;
}
.l-punctuation-special {
  color: #b4be82;
}
.l-string {
  color: #89b8c2;
}
.l-string-documentation {
  color: #89b8c2;
}
.l-string-escape {
  color: #b4be82;
}
.l-string-regexp {
  color: #b4be82;
}
.l-string-special {
  color: #b4be82;
}
.l-string-special-path {
  color: #b4be82;
}
.l-string-special-symbol {
  color: #b4be82;
}
.l-string-special-url {
  color: #84a0c6;
  text-decoration: underline;
}
.l-tag-attribute {
  color: #a093c7;
}
.l-tag-builtin {
  color: #b4be82;
}
.l-type {
  color: #84a0c6;
}
.l-type-builtin {
  color: #84a0c6;
}
.l-type-definition {
  color: #84a0c6;
}
.l-variable {
  color: #c6c8d1;
}
.l-variable-builtin {
  color: #84a0c6;
}
.l-variable-member {
  color: #c6c8d1;
}
.l-variable-parameter {
  color: #c6c8d1;
}
.l-variable-parameter-builtin {
  color: #b4be82;
}
