/* kanagawa_lotus
 * revision: bb85e4bfc8d89b0e62c8fa53ccdd13d12e2f77b3
 */
.lumis {
  color: #545464;
  background-color: #f2ecbc;
}
.l-attribute {
  color: #cc6d00;
}
.l-attribute-builtin {
  color: #6693bf;
}
.l-boolean {
  color: #cc6d00;
  font-weight: bold;
}
.l-character {
  color: #6f894e;
}
.l-character-special {
  color: #6693bf;
}
.l-comment {
  color: #8a8980;
  font-style: italic;
}
.l-comment-documentation {
  color: #8a8980;
  font-style: italic;
}
.l-comment-error {
  color: #545464;
  background-color: #e82424;
  font-weight: bold;
}
.l-comment-hint {
  color: #8a8980;
  font-style: italic;
}
.l-comment-note {
  color: #dcd7ba;
  background-color: #5e857a;
  font-weight: bold;
}
.l-comment-todo {
  color: #dcd7ba;
  background-color: #5a7785;
  font-weight: bold;
}
.l-comment-warning {
  color: #dcd7ba;
  background-color: #e98a00;
  font-weight: bold;
}
.l-constant {
  color: #cc6d00;
}
.l-constant-builtin {
  color: #6693bf;
}
.l-constant-macro {
  color: #cc6d00;
}
.l-constructor {
  color: #6693bf;
}
.l-constructor-lua {
  color: #624c83;
}
.l-diff-delta {
  color: #de9800;
}
.l-diff-minus {
  color: #d7474b;
}
.l-diff-plus {
  color: #6e915f;
}
.l-function {
  color: #4d699b;
}
.l-function-builtin {
  color: #6693bf;
}
.l-function-call {
  color: #4d699b;
}
.l-function-macro {
  color: #c84053;
}
.l-function-method {
  color: #4d699b;
}
.l-function-method-call {
  color: #4d699b;
}
.l-highlighted {
  background-color: #e4d794;
}
.l-keyword {
  color: #624c83;
  font-style: italic;
}
.l-keyword-conditional {
  color: #624c83;
  font-style: italic;
}
.l-keyword-conditional-ternary {
  color: #624c83;
  font-style: italic;
}
.l-keyword-coroutine {
  color: #624c83;
  font-style: italic;
}
.l-keyword-debug {
  color: #624c83;
  font-style: italic;
}
.l-keyword-directive {
  color: #624c83;
  font-style: italic;
}
.l-keyword-directive-define {
  color: #624c83;
  font-style: italic;
}
.l-keyword-exception {
  color: #c84053;
  font-weight: bold;
}
.l-keyword-export {
  color: #624c83;
  font-style: italic;
}
.l-keyword-function {
  color: #624c83;
  font-style: italic;
}
.l-keyword-import {
  color: #c84053;
}
.l-keyword-modifier {
  color: #624c83;
  font-style: italic;
}
.l-keyword-operator {
  color: #836f4a;
  font-weight: bold;
}
.l-keyword-repeat {
  color: #624c83;
  font-style: italic;
}
.l-keyword-return {
  color: #c84053;
  font-style: italic;
}
.l-keyword-type {
  color: #624c83;
  font-style: italic;
}
.l-label {
  color: #624c83;
  font-weight: bold;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #a09cac;
  background-color: #e7dba0;
}
.l-line-number-highlighted {
  color: #e98a00;
  background-color: #e7dba0;
  font-weight: bold;
}
.l-markup {
  color: #6693bf;
}
.l-markup-environment {
  color: #624c83;
  font-style: italic;
}
.l-markup-environment-name {
  color: #624c83;
  font-style: italic;
}
.l-markup-heading {
  color: #4d699b;
}
.l-markup-heading-1 {
  color: #4d699b;
}
.l-markup-heading-2 {
  color: #4d699b;
}
.l-markup-heading-3 {
  color: #4d699b;
}
.l-markup-heading-4 {
  color: #4d699b;
}
.l-markup-heading-5 {
  color: #4d699b;
}
.l-markup-heading-6 {
  color: #4d699b;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #6693bf;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #6693bf;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #6693bf;
  text-decoration: underline wavy;
}
.l-markup-list {
  color: #6693bf;
}
.l-markup-list-checked {
  color: #6693bf;
}
.l-markup-list-unchecked {
  color: #6693bf;
}
.l-markup-math {
  color: #cc6d00;
}
.l-markup-quote {
  color: #5d57a3;
}
.l-markup-raw {
  color: #6f894e;
}
.l-markup-raw-block {
  color: #6f894e;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #597b75;
}
.l-module-builtin {
  color: #6693bf;
}
.l-number {
  color: #b35b79;
}
.l-number-float {
  color: #b35b79;
}
.l-operator {
  color: #836f4a;
}
.l-property {
  color: #77713f;
}
.l-punctuation-bracket {
  color: #4e8ca2;
}
.l-punctuation-delimiter {
  color: #4e8ca2;
}
.l-punctuation-special {
  color: #6693bf;
}
.l-string {
  color: #6f894e;
}
.l-string-documentation {
  color: #6f894e;
}
.l-string-escape {
  color: #836f4a;
  font-weight: bold;
}
.l-string-regexp {
  color: #836f4a;
}
.l-string-special {
  color: #6693bf;
}
.l-string-special-path {
  color: #6693bf;
}
.l-string-special-symbol {
  color: #77713f;
}
.l-string-special-url {
  color: #6693bf;
  text-decoration: underline wavy;
}
.l-tag {
  color: #6693bf;
}
.l-tag-attribute {
  color: #77713f;
}
.l-tag-builtin {
  color: #6693bf;
}
.l-tag-delimiter {
  color: #4e8ca2;
}
.l-type {
  color: #597b75;
}
.l-type-builtin {
  color: #6693bf;
}
.l-type-definition {
  color: #597b75;
}
.l-variable {
  color: #545464;
}
.l-variable-builtin {
  color: #c84053;
  font-style: italic;
}
.l-variable-member {
  color: #77713f;
}
.l-variable-parameter {
  color: #5d57a3;
}
.l-variable-parameter-builtin {
  color: #6693bf;
}
