/* mellifluous_dark
 * revision: ec0575bdb63594c5e7fba6eb9607b009aa1fb74e
 */
.lumis {
  color: #dadada;
  background-color: #1a1a1a;
}
.l-attribute {
  color: #cbaa88;
}
.l-attribute-builtin {
  color: #cbaa88;
}
.l-boolean {
  color: #b99bb5;
}
.l-character {
  color: #bfaf8e;
}
.l-character-special {
  color: #bfaf8e;
}
.l-comment {
  color: #737246;
  font-style: italic;
}
.l-comment-documentation {
  color: #b3b393;
  font-style: italic;
}
.l-comment-error {
  color: #be7c7d;
  background-color: #3b2e2e;
}
.l-comment-hint {
  color: #737246;
  font-style: italic;
}
.l-comment-note {
  color: #a3869f;
  background-color: #353035;
}
.l-comment-todo {
  color: #939374;
  background-color: #32322c;
}
.l-comment-warning {
  color: #aa8a69;
  background-color: #37302a;
}
.l-constant {
  color: #b99bb5;
}
.l-constant-builtin {
  color: #b99bb5;
}
.l-constant-macro {
  color: #b99bb5;
}
.l-constructor {
  color: #a8a1be;
}
.l-diff-delta {
  background-color: #342a1f;
}
.l-diff-minus {
  background-color: #3d2425;
}
.l-diff-plus {
  background-color: #2d2d21;
}
.l-function {
  color: #a8a1be;
}
.l-function-builtin {
  color: #a8a1be;
}
.l-function-call {
  color: #a8a1be;
}
.l-function-macro {
  color: #a8a1be;
}
.l-function-method {
  color: #a8a1be;
}
.l-function-method-call {
  color: #a8a1be;
}
.l-highlighted {
  background-color: #242424;
}
.l-keyword {
  color: #cbaa88;
}
.l-keyword-conditional {
  color: #d59192;
}
.l-keyword-conditional-ternary {
  color: #d59192;
}
.l-keyword-coroutine {
  color: #d59192;
}
.l-keyword-debug {
  color: #cbaa88;
}
.l-keyword-directive {
  color: #a8a1be;
}
.l-keyword-directive-define {
  color: #a8a1be;
}
.l-keyword-exception {
  color: #d59192;
}
.l-keyword-export {
  color: #cbaa88;
}
.l-keyword-function {
  color: #d59192;
}
.l-keyword-import {
  color: #a8a1be;
}
.l-keyword-modifier {
  color: #cbaa88;
}
.l-keyword-operator {
  color: #cbaa88;
}
.l-keyword-repeat {
  color: #d59192;
}
.l-keyword-return {
  color: #d59192;
}
.l-keyword-type {
  color: #cbaa88;
}
.l-label {
  color: #cbaa88;
}
.l-label-markdown {
  color: #737246;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #5b5b5b;
  background-color: #141414;
}
.l-line-number-highlighted {
  color: #5b5b5b;
  background-color: #1e1e1e;
}
.l-markup-environment {
  color: #cbaa88;
}
.l-markup-environment-name {
  color: #cbaa88;
}
.l-markup-heading {
  color: #db9697;
  background-color: #342a2a;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #db9697;
  background-color: #342a2a;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #c6a583;
  background-color: #312c27;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #baaa89;
  background-color: #2f2d28;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #aeae8e;
  background-color: #2d2d28;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #aea6c3;
  background-color: #2d2c31;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #bea0ba;
  background-color: #302b2f;
  font-weight: bold;
}
.l-markup-heading-gitcommit {
  color: #bfaf8e;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #b99bb5;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #b99bb5;
  text-decoration: underline;
}
.l-markup-link-markdown_inline {
  color: #b99bb5;
}
.l-markup-link-url {
  color: #817a95;
  text-decoration: underline;
}
.l-markup-list {
  color: #bfad9d;
}
.l-markup-list-checked {
  color: #939374;
}
.l-markup-list-unchecked {
  color: #939374;
  background-color: #32322c;
}
.l-markup-math {
  color: #cbaa88;
}
.l-markup-quote {
  color: #cbaa88;
}
.l-markup-raw {
  color: #aeaeae;
}
.l-markup-raw-block {
  color: #aeaeae;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #bfad9d;
}
.l-module-builtin {
  color: #cbaa88;
}
.l-namespace {
  color: #bfad9d;
}
.l-number {
  color: #b99bb5;
}
.l-number-float {
  color: #b99bb5;
}
.l-operator {
  color: #bfad9d;
}
.l-property {
  color: #dadada;
}
.l-punctuation-bracket {
  color: #bfad9d;
}
.l-punctuation-delimiter {
  color: #bfad9d;
}
.l-punctuation-special {
  color: #bfad9d;
}
.l-string {
  color: #bfaf8e;
}
.l-string-documentation {
  color: #b3b393;
}
.l-string-escape {
  color: #bfaf8e;
}
.l-string-regexp {
  color: #bfaf8e;
}
.l-string-special {
  color: #bfaf8e;
}
.l-string-special-path {
  color: #817a95;
  text-decoration: underline;
}
.l-string-special-symbol {
  color: #bfaf8e;
}
.l-string-special-url {
  color: #817a95;
  text-decoration: underline;
}
.l-tag {
  color: #cbaa88;
}
.l-tag-attribute {
  color: #a8a1be;
}
.l-tag-builtin {
  color: #cbaa88;
}
.l-tag-delimiter {
  color: #bfad9d;
}
.l-type {
  color: #bfad9d;
}
.l-type-builtin {
  color: #bfad9d;
}
.l-type-definition {
  color: #bfad9d;
}
.l-variable {
  color: #dadada;
}
.l-variable-builtin {
  color: #cbaa88;
}
.l-variable-member {
  color: #dadada;
}
.l-variable-parameter {
  color: #dadada;
}
.l-variable-parameter-builtin {
  color: #cbaa88;
}
