/* mellifluous_alduin
 * revision: ec0575bdb63594c5e7fba6eb9607b009aa1fb74e
 */
.lumis {
  color: #dfdfaf;
  background-color: #1c1c1c;
}
.l-attribute {
  color: #878787;
}
.l-attribute-builtin {
  color: #878787;
}
.l-boolean {
  color: #af5f00;
}
.l-character {
  color: #ffdf87;
}
.l-character-special {
  color: #ffdf87;
}
.l-comment {
  color: #87875f;
  font-style: italic;
}
.l-comment-documentation {
  color: #87875f;
  font-style: italic;
}
.l-comment-error {
  color: #ac5c5c;
  background-color: #392929;
}
.l-comment-hint {
  color: #87875f;
  font-style: italic;
}
.l-comment-note {
  color: #597f7f;
  background-color: #283030;
}
.l-comment-todo {
  color: #7a7a52;
  background-color: #2f2f27;
}
.l-comment-warning {
  color: #986c46;
  background-color: #352c24;
}
.l-constant {
  color: #af5f00;
}
.l-constant-builtin {
  color: #af5f00;
}
.l-constant-macro {
  color: #af5f00;
}
.l-constructor {
  color: #875f5f;
}
.l-diff-delta {
  background-color: #34271b;
}
.l-diff-minus {
  background-color: #3b2122;
}
.l-diff-plus {
  background-color: #2b2a1d;
}
.l-function {
  color: #875f5f;
}
.l-function-builtin {
  color: #875f5f;
}
.l-function-call {
  color: #875f5f;
}
.l-function-macro {
  color: #875f5f;
}
.l-function-method {
  color: #875f5f;
}
.l-function-method-call {
  color: #875f5f;
}
.l-highlighted {
  background-color: #262626;
}
.l-keyword {
  color: #878787;
}
.l-keyword-conditional {
  color: #af5f5f;
}
.l-keyword-conditional-ternary {
  color: #af5f5f;
}
.l-keyword-coroutine {
  color: #af5f5f;
}
.l-keyword-debug {
  color: #878787;
}
.l-keyword-directive {
  color: #875f5f;
}
.l-keyword-directive-define {
  color: #875f5f;
}
.l-keyword-exception {
  color: #af5f5f;
}
.l-keyword-export {
  color: #878787;
}
.l-keyword-function {
  color: #af5f5f;
}
.l-keyword-import {
  color: #875f5f;
}
.l-keyword-modifier {
  color: #878787;
}
.l-keyword-operator {
  color: #878787;
}
.l-keyword-repeat {
  color: #af5f5f;
}
.l-keyword-return {
  color: #af5f5f;
}
.l-keyword-type {
  color: #878787;
}
.l-label {
  color: #878787;
}
.l-label-markdown {
  color: #87875f;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #696969;
  background-color: #161616;
}
.l-line-number-highlighted {
  color: #696969;
  background-color: #202020;
}
.l-markup-environment {
  color: #878787;
}
.l-markup-environment-name {
  color: #878787;
}
.l-markup-heading {
  color: #c97675;
  background-color: #332626;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #c97675;
  background-color: #332626;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #b3865f;
  background-color: #302923;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #ac8d33;
  background-color: #2f2a19;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #94946b;
  background-color: #2b2b25;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #919191;
  background-color: #2b2b2b;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #729999;
  background-color: #262c2c;
  font-weight: bold;
}
.l-markup-heading-gitcommit {
  color: #ffdf87;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #af5f00;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #af5f00;
  text-decoration: underline;
}
.l-markup-link-markdown_inline {
  color: #af5f00;
}
.l-markup-link-url {
  color: #616161;
  text-decoration: underline;
}
.l-markup-list {
  color: #878787;
}
.l-markup-list-checked {
  color: #7a7a52;
}
.l-markup-list-unchecked {
  color: #7a7a52;
  background-color: #2f2f27;
}
.l-markup-math {
  color: #878787;
}
.l-markup-quote {
  color: #878787;
}
.l-markup-raw {
  color: #bcbcbc;
}
.l-markup-raw-block {
  color: #bcbcbc;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #af875f;
}
.l-module-builtin {
  color: #878787;
}
.l-namespace {
  color: #af875f;
}
.l-number {
  color: #af5f00;
}
.l-number-float {
  color: #af5f00;
}
.l-operator {
  color: #878787;
}
.l-property {
  color: #dfdfaf;
}
.l-punctuation-bracket {
  color: #878787;
}
.l-punctuation-delimiter {
  color: #878787;
}
.l-punctuation-special {
  color: #878787;
}
.l-string {
  color: #ffdf87;
}
.l-string-documentation {
  color: #87875f;
}
.l-string-escape {
  color: #ffdf87;
}
.l-string-regexp {
  color: #ffdf87;
}
.l-string-special {
  color: #ffdf87;
}
.l-string-special-path {
  color: #616161;
  text-decoration: underline;
}
.l-string-special-symbol {
  color: #ffdf87;
}
.l-string-special-url {
  color: #616161;
  text-decoration: underline;
}
.l-tag {
  color: #878787;
}
.l-tag-attribute {
  color: #875f5f;
}
.l-tag-builtin {
  color: #878787;
}
.l-tag-delimiter {
  color: #878787;
}
.l-type {
  color: #af875f;
}
.l-type-builtin {
  color: #af875f;
}
.l-type-definition {
  color: #af875f;
}
.l-variable {
  color: #dfdfaf;
}
.l-variable-builtin {
  color: #878787;
}
.l-variable-member {
  color: #dfdfaf;
}
.l-variable-parameter {
  color: #dfdfaf;
}
.l-variable-parameter-builtin {
  color: #878787;
}
