/* mellifluous_light
 * revision: ec0575bdb63594c5e7fba6eb9607b009aa1fb74e
 */
.lumis {
  color: #1b1b1b;
  background-color: #e7e7e7;
}
.l-attribute {
  color: #a16927;
}
.l-attribute-builtin {
  color: #a16927;
}
.l-boolean {
  color: #863e7f;
}
.l-character {
  color: #9c792a;
}
.l-character-special {
  color: #9c792a;
}
.l-comment {
  color: #969555;
  font-style: italic;
}
.l-comment-documentation {
  color: #63611e;
  font-style: italic;
}
.l-comment-error {
  color: #c7414e;
  background-color: #e1c6c8;
}
.l-comment-hint {
  color: #969555;
  font-style: italic;
}
.l-comment-note {
  color: #a2589a;
  background-color: #d9cad8;
}
.l-comment-todo {
  color: #7c7b3a;
  background-color: #d2d1c4;
}
.l-comment-warning {
  color: #a16927;
  background-color: #d9cec1;
}
.l-constant {
  color: #863e7f;
}
.l-constant-builtin {
  color: #863e7f;
}
.l-constant-macro {
  color: #863e7f;
}
.l-constructor {
  color: #5a418a;
}
.l-diff-delta {
  background-color: #e6d2bc;
}
.l-diff-minus {
  background-color: #edc9cd;
}
.l-diff-plus {
  background-color: #dad9b3;
}
.l-function {
  color: #5a418a;
}
.l-function-builtin {
  color: #5a418a;
}
.l-function-call {
  color: #5a418a;
}
.l-function-macro {
  color: #5a418a;
}
.l-function-method {
  color: #5a418a;
}
.l-function-method-call {
  color: #5a418a;
}
.l-highlighted {
  background-color: #f2f2f2;
}
.l-keyword {
  color: #a16927;
}
.l-keyword-conditional {
  color: #b73242;
}
.l-keyword-conditional-ternary {
  color: #b73242;
}
.l-keyword-coroutine {
  color: #b73242;
}
.l-keyword-debug {
  color: #a16927;
}
.l-keyword-directive {
  color: #5a418a;
}
.l-keyword-directive-define {
  color: #5a418a;
}
.l-keyword-exception {
  color: #b73242;
}
.l-keyword-export {
  color: #a16927;
}
.l-keyword-function {
  color: #b73242;
}
.l-keyword-import {
  color: #5a418a;
}
.l-keyword-modifier {
  color: #a16927;
}
.l-keyword-operator {
  color: #a16927;
}
.l-keyword-repeat {
  color: #b73242;
}
.l-keyword-return {
  color: #b73242;
}
.l-keyword-type {
  color: #a16927;
}
.l-label {
  color: #a16927;
}
.l-label-markdown {
  color: #969555;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #919191;
  background-color: #e0e0e0;
}
.l-line-number-highlighted {
  color: #919191;
  background-color: #ebebeb;
}
.l-markup-environment {
  color: #a16927;
}
.l-markup-environment-name {
  color: #a16927;
}
.l-markup-heading {
  color: #a92136;
  background-color: #e2cccf;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #a92136;
  background-color: #e2cccf;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #865000;
  background-color: #dcd3c8;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #7a5800;
  background-color: #dad4c7;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #63621f;
  background-color: #d6d6cb;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #664e97;
  background-color: #d6d3df;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #863f7f;
  background-color: #dcd0db;
  font-weight: bold;
}
.l-markup-heading-gitcommit {
  color: #9c792a;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #863e7f;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #863e7f;
  text-decoration: underline;
}
.l-markup-link-markdown_inline {
  color: #863e7f;
}
.l-markup-link-url {
  color: #7f67b4;
  text-decoration: underline;
}
.l-markup-list {
  color: #686868;
}
.l-markup-list-checked {
  color: #7c7b3a;
}
.l-markup-list-unchecked {
  color: #7c7b3a;
  background-color: #d2d1c4;
}
.l-markup-math {
  color: #a16927;
}
.l-markup-quote {
  color: #a16927;
}
.l-markup-raw {
  color: #414141;
}
.l-markup-raw-block {
  color: #414141;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #926f4e;
}
.l-module-builtin {
  color: #a16927;
}
.l-namespace {
  color: #926f4e;
}
.l-number {
  color: #863e7f;
}
.l-number-float {
  color: #863e7f;
}
.l-operator {
  color: #686868;
}
.l-property {
  color: #1b1b1b;
}
.l-punctuation-bracket {
  color: #686868;
}
.l-punctuation-delimiter {
  color: #686868;
}
.l-punctuation-special {
  color: #686868;
}
.l-string {
  color: #9c792a;
}
.l-string-documentation {
  color: #63611e;
}
.l-string-escape {
  color: #9c792a;
}
.l-string-regexp {
  color: #9c792a;
}
.l-string-special {
  color: #9c792a;
}
.l-string-special-path {
  color: #7f67b4;
  text-decoration: underline;
}
.l-string-special-symbol {
  color: #9c792a;
}
.l-string-special-url {
  color: #7f67b4;
  text-decoration: underline;
}
.l-tag {
  color: #a16927;
}
.l-tag-attribute {
  color: #5a418a;
}
.l-tag-builtin {
  color: #a16927;
}
.l-tag-delimiter {
  color: #686868;
}
.l-type {
  color: #926f4e;
}
.l-type-builtin {
  color: #926f4e;
}
.l-type-definition {
  color: #926f4e;
}
.l-variable {
  color: #1b1b1b;
}
.l-variable-builtin {
  color: #a16927;
}
.l-variable-member {
  color: #1b1b1b;
}
.l-variable-parameter {
  color: #1b1b1b;
}
.l-variable-parameter-builtin {
  color: #a16927;
}
