/* mfd_gbl_dark
 * revision: 72ae627792960a7e490cb5242a78c570d02ba775
 */
.lumis {
  color: #02b582;
  background-color: #004f3a;
}
.l-attribute {
  color: #02b582;
}
.l-attribute-builtin {
  color: #02b582;
}
.l-boolean {
  color: #02b582;
  font-weight: bold;
}
.l-character {
  color: #02b582;
}
.l-character-special {
  color: #02b582;
  font-weight: bold;
}
.l-comment {
  color: #01694a;
  font-style: italic;
}
.l-comment-documentation {
  color: #01694a;
  font-style: italic;
}
.l-comment-error {
  color: #02b582;
  font-weight: bold;
}
.l-comment-hint {
  color: #01694a;
  font-style: italic;
}
.l-comment-note {
  color: #01694a;
}
.l-comment-todo {
  color: #004f3a;
  background-color: #02b582;
  font-weight: bold;
}
.l-comment-warning {
  color: #02b582;
}
.l-constant {
  color: #02b582;
}
.l-constant-builtin {
  color: #02b582;
  font-weight: bold;
}
.l-constant-macro {
  color: #02b582;
  font-weight: bold;
}
.l-constructor {
  color: #02b582;
  font-weight: bold;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-function {
  color: #02b582;
  font-weight: bold;
}
.l-function-builtin {
  color: #02b582;
  font-weight: bold;
  font-style: italic;
}
.l-function-call {
  color: #02b582;
}
.l-function-macro {
  color: #02b582;
  font-weight: bold;
}
.l-function-method {
  color: #02b582;
  font-weight: bold;
}
.l-function-method-call {
  color: #02b582;
  font-weight: bold;
}
.l-highlighted {
  background-color: #005a44;
}
.l-keyword {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-conditional {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-conditional-ternary {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-coroutine {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-debug {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-directive {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-directive-define {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-exception {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-export {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-function {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-import {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-modifier {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-operator {
  color: #02b582;
}
.l-keyword-repeat {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-return {
  color: #009a70;
  font-weight: bold;
}
.l-keyword-type {
  color: #009a70;
  font-weight: bold;
}
.l-label {
  color: #02b582;
  font-weight: bold;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #01694a;
}
.l-line-number-highlighted {
  color: #02b582;
  font-weight: bold;
}
.l-markup {
  color: #02b582;
}
.l-markup-environment {
  color: #02b582;
}
.l-markup-environment-name {
  color: #02b582;
}
.l-markup-heading {
  color: #02b582;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #02b582;
  font-weight: bold;
}
.l-markup-heading-1-markdown {
  color: #009a70;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #02b582;
  font-weight: bold;
}
.l-markup-heading-2-markdown {
  color: #009a70;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #02b582;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #02b582;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #02b582;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #02b582;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #02b582;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #02b582;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #02b582;
  text-decoration: underline;
}
.l-markup-list {
  color: #02b582;
}
.l-markup-list-checked {
  color: #02b582;
}
.l-markup-list-unchecked {
  color: #02b582;
}
.l-markup-math {
  color: #02b582;
}
.l-markup-quote {
  color: #02b582;
}
.l-markup-raw {
  color: #02b582;
}
.l-markup-raw-block {
  color: #02b582;
}
.l-markup-raw-markdown_inline {
  background-color: #008560;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #02b582;
}
.l-module-builtin {
  color: #02b582;
}
.l-number {
  color: #02b582;
}
.l-number-float {
  color: #02b582;
}
.l-operator {
  color: #02b582;
}
.l-property {
  color: #02b582;
}
.l-punctuation-bracket {
  color: #02b582;
}
.l-punctuation-delimiter {
  color: #02b582;
}
.l-punctuation-special {
  color: #02b582;
  font-weight: bold;
}
.l-string {
  color: #02b582;
  font-style: italic;
}
.l-string-documentation {
  color: #02b582;
  font-style: italic;
}
.l-string-escape {
  color: #02b582;
  font-weight: bold;
}
.l-string-regexp {
  color: #02b582;
  font-weight: bold;
}
.l-string-special {
  color: #02b582;
  font-weight: bold;
}
.l-string-special-path {
  color: #02b582;
  font-weight: bold;
}
.l-string-special-symbol {
  color: #02b582;
  font-weight: bold;
}
.l-string-special-url {
  color: #02b582;
  text-decoration: underline;
}
.l-tag {
  color: #02b582;
  font-weight: bold;
}
.l-tag-attribute {
  color: #02b582;
  font-style: italic;
}
.l-tag-builtin {
  color: #02b582;
}
.l-tag-delimiter {
  color: #02b582;
}
.l-type {
  color: #02b582;
  text-decoration: underline;
}
.l-type-builtin {
  color: #02b582;
  text-decoration: underline;
}
.l-type-definition {
  color: #02b582;
  text-decoration: underline;
}
.l-variable {
  color: #02b582;
}
.l-variable-builtin {
  color: #02b582;
  font-style: italic;
}
.l-variable-member {
  color: #02b582;
}
.l-variable-parameter {
  color: #02b582;
  font-style: italic;
}
.l-variable-parameter-builtin {
  color: #02b582;
}
