/* moonfly
 * revision: 2c883835f5b7b380a0a9e80695c420f7efebdfe4
 */
.lumis {
  color: #c6c6c6;
  background-color: #080808;
}
.l-attribute {
  color: #74b2ff;
}
.l-attribute-builtin {
  color: #e65e72;
}
.l-attribute-zig {
  color: #cf87e8;
}
.l-boolean {
  color: #e65e72;
}
.l-character {
  color: #ae81ff;
}
.l-character-special {
  color: #e65e72;
}
.l-character-special-vim {
  color: #74b2ff;
}
.l-comment {
  color: #949494;
  font-style: italic;
}
.l-comment-documentation {
  color: #949494;
  font-style: italic;
}
.l-comment-error {
  color: #ff5d5d;
}
.l-comment-hint {
  color: #949494;
  font-style: italic;
}
.l-comment-note {
  color: #949494;
}
.l-comment-todo {
  color: #e3c78a;
  background-color: #262626;
}
.l-comment-warning {
  color: #e3c78a;
}
.l-constant {
  color: #79dac8;
}
.l-constant-builtin {
  color: #8cc85f;
}
.l-constant-macro {
  color: #cf87e8;
}
.l-constructor {
  color: #36c692;
}
.l-diff-delta {
  color: #74b2ff;
}
.l-diff-minus {
  color: #ff5d5d;
}
.l-diff-plus {
  color: #8cc85f;
}
.l-function {
  color: #74b2ff;
}
.l-function-builtin {
  color: #74b2ff;
}
.l-function-call {
  color: #74b2ff;
}
.l-function-macro {
  color: #79dac8;
}
.l-function-macro-vim {
  color: #74b2ff;
}
.l-function-method {
  color: #74b2ff;
}
.l-function-method-call {
  color: #74b2ff;
}
.l-highlighted {
  background-color: #1c1c1c;
}
.l-keyword {
  color: #cf87e8;
}
.l-keyword-conditional {
  color: #cf87e8;
}
.l-keyword-conditional-ternary {
  color: #cf87e8;
}
.l-keyword-coroutine {
  color: #cf87e8;
}
.l-keyword-debug {
  color: #cf87e8;
}
.l-keyword-directive {
  color: #e65e72;
}
.l-keyword-directive-define {
  color: #e65e72;
}
.l-keyword-exception {
  color: #cf87e8;
}
.l-keyword-export {
  color: #cf87e8;
}
.l-keyword-function {
  color: #cf87e8;
}
.l-keyword-gitcommit {
  color: #74b2ff;
}
.l-keyword-import {
  color: #e65e72;
}
.l-keyword-import-bash {
  color: #cf87e8;
}
.l-keyword-import-rust {
  color: #cf87e8;
}
.l-keyword-modifier {
  color: #cf87e8;
}
.l-keyword-operator {
  color: #cf87e8;
}
.l-keyword-repeat {
  color: #cf87e8;
}
.l-keyword-return {
  color: #cf87e8;
}
.l-keyword-type {
  color: #cf87e8;
}
.l-label {
  color: #79dac8;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #626262;
  background-color: #080808;
}
.l-line-number-highlighted {
  color: #80a0ff;
  background-color: #1c1c1c;
}
.l-markup {
  color: #e65e72;
}
.l-markup-environment {
  color: #cf87e8;
}
.l-markup-environment-name {
  color: #36c692;
}
.l-markup-heading {
  color: #cf87e8;
}
.l-markup-heading-1 {
  color: #cf87e8;
}
.l-markup-heading-1-markdown {
  color: #adadf3;
}
.l-markup-heading-2 {
  color: #cf87e8;
}
.l-markup-heading-2-markdown {
  color: #adadf3;
}
.l-markup-heading-3 {
  color: #cf87e8;
}
.l-markup-heading-3-markdown {
  color: #79dac8;
}
.l-markup-heading-4 {
  color: #cf87e8;
}
.l-markup-heading-4-markdown {
  color: #de935f;
}
.l-markup-heading-5 {
  color: #cf87e8;
}
.l-markup-heading-5-markdown {
  color: #74b2ff;
}
.l-markup-heading-6 {
  color: #cf87e8;
}
.l-markup-heading-markdown {
  color: #74b2ff;
}
.l-markup-italic {
  color: #e196a2;
  font-style: italic;
}
.l-markup-link {
  color: #8cc85f;
}
.l-markup-link-gitcommit {
  color: #36c692;
}
.l-markup-link-label {
  color: #8cc85f;
}
.l-markup-link-url {
  color: #ae81ff;
  text-decoration: underline;
}
.l-markup-link-url-astro {
  color: #cf87e8;
  font-style: italic;
}
.l-markup-link-url-gitcommit {
  color: #36c692;
}
.l-markup-link-url-html {
  color: #cf87e8;
  font-style: italic;
}
.l-markup-link-url-svelte {
  color: #cf87e8;
  font-style: italic;
}
.l-markup-link-url-vue {
  color: #cf87e8;
  font-style: italic;
}
.l-markup-list {
  color: #e65e72;
}
.l-markup-list-checked {
  color: #79dac8;
}
.l-markup-list-latex {
  color: #ae81ff;
}
.l-markup-list-unchecked {
  color: #80a0ff;
}
.l-markup-math {
  color: #74b2ff;
}
.l-markup-quote {
  color: #949494;
}
.l-markup-raw {
  color: #c6c684;
}
.l-markup-raw-block {
  color: #c6c684;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  color: #e196a2;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #79dac8;
}
.l-module-builtin {
  color: #8cc85f;
}
.l-namespace-latex {
  color: #adadf3;
}
.l-number {
  color: #de935f;
}
.l-number-float {
  color: #de935f;
}
.l-operator {
  color: #e65e72;
}
.l-property {
  color: #adadf3;
}
.l-punctuation-bracket {
  color: #c6c6c6;
}
.l-punctuation-bracket-rainbow-1 {
  color: #ff5d5d;
}
.l-punctuation-bracket-rainbow-2 {
  color: #e3c78a;
}
.l-punctuation-bracket-rainbow-3 {
  color: #80a0ff;
}
.l-punctuation-bracket-rainbow-4 {
  color: #de935f;
}
.l-punctuation-bracket-rainbow-5 {
  color: #8cc85f;
}
.l-punctuation-bracket-rainbow-6 {
  color: #cf87e8;
}
.l-punctuation-delimiter {
  color: #c6c6c6;
}
.l-punctuation-delimiter-astro {
  color: #e65e72;
}
.l-punctuation-delimiter-css {
  color: #e65e72;
}
.l-punctuation-delimiter-rust {
  color: #e65e72;
}
.l-punctuation-delimiter-scss {
  color: #e65e72;
}
.l-punctuation-delimiter-yaml {
  color: #e65e72;
}
.l-punctuation-special {
  color: #e65e72;
}
.l-string {
  color: #c6c684;
}
.l-string-documentation {
  color: #88a2b7;
}
.l-string-escape {
  color: #e65e72;
}
.l-string-json {
  color: #85dc85;
}
.l-string-regexp {
  color: #79dac8;
}
.l-string-special {
  color: #e65e72;
}
.l-string-special-path {
  color: #e196a2;
}
.l-string-special-symbol {
  color: #ae81ff;
}
.l-string-special-url {
  color: #ae81ff;
}
.l-tag {
  color: #80a0ff;
}
.l-tag-attribute {
  color: #79dac8;
}
.l-tag-builtin {
  color: #80a0ff;
}
.l-tag-delimiter {
  color: #8cc85f;
}
.l-tag-javascript {
  color: #36c692;
}
.l-tag-jsx {
  color: #36c692;
}
.l-tag-tsx {
  color: #36c692;
}
.l-tag-typescript {
  color: #36c692;
}
.l-type {
  color: #36c692;
}
.l-type-builtin {
  color: #36c692;
}
.l-type-definition {
  color: #36c692;
}
.l-variable {
  color: #c6c6c6;
}
.l-variable-builtin {
  color: #8cc85f;
}
.l-variable-builtin-vim {
  color: #36c692;
}
.l-variable-member {
  color: #adadf3;
}
.l-variable-member-ruby {
  color: #79dac8;
}
.l-variable-member-yaml {
  color: #80a0ff;
}
.l-variable-parameter {
  color: #e196a2;
}
.l-variable-parameter-bash {
  color: #79dac8;
}
.l-variable-parameter-builtin {
  color: #e65e72;
}
.l-variable-scss {
  color: #79dac8;
}
.l-variable-vim {
  color: #79dac8;
}
