/* neomodern_moon_light
 * revision: d41469578922a23d75a0d9e8deef1e34837230a6
 */
.lumis {
  color: #48487e;
  background-color: #e6e6e6;
}
.l-attribute {
  color: #6781ad;
}
.l-attribute-builtin {
  color: #6778aa;
}
.l-boolean {
  color: #6f5532;
}
.l-character {
  color: #5e795e;
}
.l-character-special {
  color: #506689;
}
.l-comment {
  color: #a1a1c0;
}
.l-comment-documentation {
  color: #a1a1c0;
}
.l-comment-error {
  color: #bc8790;
  font-weight: bold;
  font-style: italic;
}
.l-comment-hint {
  color: #a1a1c0;
}
.l-comment-note {
  color: #8a9bd0;
  font-weight: bold;
  font-style: italic;
}
.l-comment-todo {
  color: #7d7da6;
  font-weight: bold;
  font-style: italic;
}
.l-comment-warning {
  color: #9c8f85;
  font-weight: bold;
  font-style: italic;
}
.l-constant {
  color: #434132;
}
.l-constant-builtin {
  color: #6778aa;
}
.l-constant-macro {
  color: #434132;
}
.l-constructor {
  color: #6778aa;
}
.l-constructor-lua {
  color: #2d2d5c;
}
.l-diff-delta {
  color: #7b97db;
}
.l-diff-minus {
  color: #ce7670;
}
.l-diff-plus {
  color: #64886a;
}
.l-function {
  color: #6781ad;
}
.l-function-builtin {
  color: #6781ad;
}
.l-function-call {
  color: #6781ad;
}
.l-function-macro {
  color: #6781ad;
}
.l-function-method {
  color: #6781ad;
}
.l-function-method-call {
  color: #6781ad;
}
.l-highlighted {
  background-color: #e8dedf;
}
.l-keyword {
  color: #506689;
}
.l-keyword-conditional {
  color: #506689;
}
.l-keyword-conditional-ternary {
  color: #506689;
}
.l-keyword-coroutine {
  color: #506689;
}
.l-keyword-debug {
  color: #506689;
}
.l-keyword-directive {
  color: #506689;
}
.l-keyword-directive-define {
  color: #506689;
}
.l-keyword-exception {
  color: #ce7670;
}
.l-keyword-export {
  color: #506689;
}
.l-keyword-function {
  color: #506689;
}
.l-keyword-import {
  color: #506689;
}
.l-keyword-modifier {
  color: #506689;
}
.l-keyword-operator {
  color: #506689;
}
.l-keyword-repeat {
  color: #506689;
}
.l-keyword-return {
  color: #506689;
}
.l-keyword-type {
  color: #506689;
}
.l-label {
  color: #506689;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #a1a1c0;
  background-color: #e6e6e6;
}
.l-line-number-highlighted {
  color: #48487e;
  background-color: #e6e6e6;
  font-weight: bold;
}
.l-markup {
  color: #48487e;
}
.l-markup-environment {
  color: #48487e;
}
.l-markup-environment-name {
  color: #48487e;
}
.l-markup-heading {
  color: #506689;
}
.l-markup-heading-1 {
  color: #506689;
}
.l-markup-heading-2 {
  color: #506689;
}
.l-markup-heading-3 {
  color: #506689;
}
.l-markup-heading-4 {
  color: #506689;
}
.l-markup-heading-5 {
  color: #506689;
}
.l-markup-heading-6 {
  color: #506689;
}
.l-markup-italic {
  color: #48487e;
  font-style: italic;
}
.l-markup-link {
  color: #6778aa;
}
.l-markup-link-label {
  color: #6778aa;
}
.l-markup-link-url {
  color: #6778aa;
}
.l-markup-list {
  color: #6781ad;
}
.l-markup-list-checked {
  color: #6781ad;
}
.l-markup-list-unchecked {
  color: #6781ad;
}
.l-markup-math {
  color: #6778aa;
}
.l-markup-quote {
  color: #48487e;
}
.l-markup-quote-markdown {
  color: #a1a1c0;
}
.l-markup-raw {
  color: #6781ad;
}
.l-markup-raw-block {
  color: #6781ad;
}
.l-markup-strikethrough {
  color: #a1a1c0;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #48487e;
  font-weight: bold;
}
.l-markup-underline {
  color: #48487e;
  text-decoration: underline;
}
.l-module {
  color: #6778aa;
}
.l-module-builtin {
  color: #6778aa;
}
.l-number {
  color: #6f5532;
}
.l-number-float {
  color: #6f5532;
}
.l-operator {
  color: #8191be;
}
.l-property {
  color: #8d6691;
}
.l-punctuation-bracket {
  color: #8191be;
}
.l-punctuation-delimiter {
  color: #48487e;
}
.l-punctuation-special {
  color: #506689;
}
.l-string {
  color: #5e795e;
}
.l-string-documentation {
  color: #5e795e;
}
.l-string-escape {
  color: #506689;
}
.l-string-regexp {
  color: #506689;
}
.l-string-special {
  color: #506689;
}
.l-string-special-path {
  color: #506689;
}
.l-string-special-symbol {
  color: #8d6691;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #6778aa;
}
.l-tag-attribute {
  color: #8d6691;
}
.l-tag-builtin {
  color: #6778aa;
}
.l-tag-delimiter {
  color: #48487e;
}
.l-type {
  color: #6778aa;
}
.l-type-builtin {
  color: #6778aa;
}
.l-type-definition {
  color: #6778aa;
}
.l-variable {
  color: #48487e;
}
.l-variable-builtin {
  color: #6778aa;
}
.l-variable-member {
  color: #8d6691;
}
.l-variable-parameter {
  color: #2d2d5c;
}
.l-variable-parameter-builtin {
  color: #6778aa;
}
