/* neomodern_gyokuro_dark
 * revision: d41469578922a23d75a0d9e8deef1e34837230a6
 */
.lumis {
  color: #afb0a6;
  background-color: #1b1c1d;
}
.l-attribute {
  color: #61765e;
}
.l-attribute-builtin {
  color: #afbfac;
}
.l-boolean {
  color: #d6a9b3;
}
.l-character {
  color: #a69e6f;
}
.l-character-special {
  color: #799475;
}
.l-comment {
  color: #6b6b67;
}
.l-comment-documentation {
  color: #6b6b67;
}
.l-comment-error {
  color: #b37c7c;
  font-weight: bold;
  font-style: italic;
}
.l-comment-hint {
  color: #6b6b67;
}
.l-comment-note {
  color: #798ab0;
  font-weight: bold;
  font-style: italic;
}
.l-comment-todo {
  color: #868780;
  font-weight: bold;
  font-style: italic;
}
.l-comment-warning {
  color: #928468;
  font-weight: bold;
  font-style: italic;
}
.l-constant {
  color: #868db5;
}
.l-constant-builtin {
  color: #afbfac;
}
.l-constant-macro {
  color: #868db5;
}
.l-constructor {
  color: #afbfac;
}
.l-constructor-lua {
  color: #94a991;
}
.l-diff-delta {
  color: #829fe1;
}
.l-diff-minus {
  color: #e3878a;
}
.l-diff-plus {
  color: #698e6f;
}
.l-function {
  color: #61765e;
}
.l-function-builtin {
  color: #61765e;
}
.l-function-call {
  color: #61765e;
}
.l-function-macro {
  color: #61765e;
}
.l-function-method {
  color: #61765e;
}
.l-function-method-call {
  color: #61765e;
}
.l-highlighted {
  background-color: #232425;
}
.l-keyword {
  color: #799475;
}
.l-keyword-conditional {
  color: #799475;
}
.l-keyword-conditional-ternary {
  color: #799475;
}
.l-keyword-coroutine {
  color: #799475;
}
.l-keyword-debug {
  color: #799475;
}
.l-keyword-directive {
  color: #799475;
}
.l-keyword-directive-define {
  color: #799475;
}
.l-keyword-exception {
  color: #e3878a;
}
.l-keyword-export {
  color: #799475;
}
.l-keyword-function {
  color: #799475;
}
.l-keyword-import {
  color: #799475;
}
.l-keyword-modifier {
  color: #799475;
}
.l-keyword-operator {
  color: #799475;
}
.l-keyword-repeat {
  color: #799475;
}
.l-keyword-return {
  color: #799475;
}
.l-keyword-type {
  color: #799475;
}
.l-label {
  color: #799475;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #6b6b67;
  background-color: #1b1c1d;
}
.l-line-number-highlighted {
  color: #afb0a6;
  background-color: #1b1c1d;
  font-weight: bold;
}
.l-markup {
  color: #afb0a6;
}
.l-markup-environment {
  color: #afb0a6;
}
.l-markup-environment-name {
  color: #afb0a6;
}
.l-markup-heading {
  color: #799475;
}
.l-markup-heading-1 {
  color: #799475;
}
.l-markup-heading-2 {
  color: #799475;
}
.l-markup-heading-3 {
  color: #799475;
}
.l-markup-heading-4 {
  color: #799475;
}
.l-markup-heading-5 {
  color: #799475;
}
.l-markup-heading-6 {
  color: #799475;
}
.l-markup-italic {
  color: #afb0a6;
  font-style: italic;
}
.l-markup-link {
  color: #afbfac;
}
.l-markup-link-label {
  color: #afbfac;
}
.l-markup-link-url {
  color: #afbfac;
}
.l-markup-list {
  color: #61765e;
}
.l-markup-list-checked {
  color: #61765e;
}
.l-markup-list-unchecked {
  color: #61765e;
}
.l-markup-math {
  color: #afbfac;
}
.l-markup-quote {
  color: #afb0a6;
}
.l-markup-quote-markdown {
  color: #6b6b67;
}
.l-markup-raw {
  color: #61765e;
}
.l-markup-raw-block {
  color: #61765e;
}
.l-markup-strikethrough {
  color: #6b6b67;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #afb0a6;
  font-weight: bold;
}
.l-markup-underline {
  color: #afb0a6;
  text-decoration: underline;
}
.l-module {
  color: #afbfac;
}
.l-module-builtin {
  color: #afbfac;
}
.l-number {
  color: #d6a9b3;
}
.l-number-float {
  color: #d6a9b3;
}
.l-operator {
  color: #b08c7d;
}
.l-property {
  color: #748fa6;
}
.l-punctuation-bracket {
  color: #b08c7d;
}
.l-punctuation-delimiter {
  color: #afb0a6;
}
.l-punctuation-special {
  color: #799475;
}
.l-string {
  color: #a69e6f;
}
.l-string-documentation {
  color: #a69e6f;
}
.l-string-escape {
  color: #799475;
}
.l-string-regexp {
  color: #799475;
}
.l-string-special {
  color: #799475;
}
.l-string-special-path {
  color: #799475;
}
.l-string-special-symbol {
  color: #748fa6;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #afbfac;
}
.l-tag-attribute {
  color: #748fa6;
}
.l-tag-builtin {
  color: #afbfac;
}
.l-tag-delimiter {
  color: #afb0a6;
}
.l-type {
  color: #afbfac;
}
.l-type-builtin {
  color: #afbfac;
}
.l-type-definition {
  color: #afbfac;
}
.l-variable {
  color: #afb0a6;
}
.l-variable-builtin {
  color: #afbfac;
}
.l-variable-member {
  color: #748fa6;
}
.l-variable-parameter {
  color: #94a991;
}
.l-variable-parameter-builtin {
  color: #afbfac;
}
