/* nightfox
 * revision: 4dacd3f0185a2227bdf3b6c0975a8f0bf87cac9a
 */
.lumis {
  color: #cdcecf;
  background-color: #192330;
}
.l-attribute {
  color: #f6b079;
}
.l-attribute-builtin {
  color: #86abdc;
}
.l-boolean {
  color: #f4a261;
}
.l-character {
  color: #81b29a;
}
.l-character-special {
  color: #86abdc;
}
.l-comment {
  color: #738091;
}
.l-comment-documentation {
  color: #738091;
}
.l-comment-error {
  color: #192330;
  background-color: #c94f6d;
}
.l-comment-hint {
  color: #738091;
}
.l-comment-note {
  color: #192330;
  background-color: #719cd6;
}
.l-comment-todo {
  color: #192330;
  background-color: #81b29a;
}
.l-comment-warning {
  color: #192330;
  background-color: #dbc074;
}
.l-constant {
  color: #f6b079;
}
.l-constant-builtin {
  color: #f6b079;
}
.l-constant-macro {
  color: #dc8ed9;
}
.l-constructor {
  color: #63cdcf;
}
.l-constructor-lua {
  color: #aeafb0;
}
.l-diff-delta {
  color: #dbc074;
}
.l-diff-minus {
  color: #c94f6d;
}
.l-diff-plus {
  color: #81b29a;
}
.l-function {
  color: #86abdc;
}
.l-function-builtin {
  color: #c94f6d;
}
.l-function-call {
  color: #86abdc;
}
.l-function-macro {
  color: #c94f6d;
}
.l-function-method {
  color: #86abdc;
}
.l-function-method-call {
  color: #86abdc;
}
.l-highlighted {
  background-color: #29394f;
}
.l-keyword {
  color: #9d79d6;
}
.l-keyword-conditional {
  color: #baa1e2;
}
.l-keyword-conditional-ternary {
  color: #baa1e2;
}
.l-keyword-coroutine {
  color: #9d79d6;
}
.l-keyword-debug {
  color: #9d79d6;
}
.l-keyword-directive {
  color: #9d79d6;
}
.l-keyword-directive-define {
  color: #9d79d6;
}
.l-keyword-exception {
  color: #9d79d6;
}
.l-keyword-export {
  color: #9d79d6;
}
.l-keyword-function {
  color: #9d79d6;
}
.l-keyword-import {
  color: #dc8ed9;
}
.l-keyword-modifier {
  color: #9d79d6;
}
.l-keyword-operator {
  color: #aeafb0;
}
.l-keyword-repeat {
  color: #baa1e2;
}
.l-keyword-return {
  color: #c94f6d;
}
.l-keyword-type {
  color: #9d79d6;
}
.l-label {
  color: #baa1e2;
}
.l-label-json {
  color: #86abdc;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #71839b;
}
.l-line-number-highlighted {
  color: #dbc074;
  font-weight: bold;
}
.l-markup {
  color: #cdcecf;
}
.l-markup-environment {
  color: #cdcecf;
}
.l-markup-environment-name {
  color: #cdcecf;
}
.l-markup-heading {
  color: #86abdc;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #86abdc;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #86abdc;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #86abdc;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #86abdc;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #86abdc;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #86abdc;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #9d79d6;
  font-weight: bold;
}
.l-markup-link-label {
  color: #86abdc;
}
.l-markup-link-url {
  color: #f6b079;
  font-style: italic;
  text-decoration: underline;
}
.l-markup-list {
  color: #7ad5d6;
}
.l-markup-list-checked {
  color: #81b29a;
}
.l-markup-list-unchecked {
  color: #dbc074;
}
.l-markup-math {
  color: #86abdc;
}
.l-markup-quote {
  color: #aeafb0;
}
.l-markup-raw {
  color: #63cdcf;
  font-style: italic;
}
.l-markup-raw-block {
  color: #d67ad2;
}
.l-markup-strikethrough {
  color: #cdcecf;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #ab435d;
  font-weight: bold;
}
.l-module {
  color: #7ad5d6;
}
.l-module-builtin {
  color: #86abdc;
}
.l-namespace {
  color: #7ad5d6;
}
.l-number {
  color: #f4a261;
}
.l-number-float {
  color: #f4a261;
}
.l-operator {
  color: #aeafb0;
}
.l-property {
  color: #719cd6;
}
.l-punctuation-bracket {
  color: #aeafb0;
}
.l-punctuation-bracket-rainbow-1 {
  color: #c94f6d;
}
.l-punctuation-bracket-rainbow-2 {
  color: #dbc074;
}
.l-punctuation-bracket-rainbow-3 {
  color: #719cd6;
}
.l-punctuation-bracket-rainbow-4 {
  color: #f4a261;
}
.l-punctuation-bracket-rainbow-5 {
  color: #81b29a;
}
.l-punctuation-delimiter {
  color: #aeafb0;
}
.l-punctuation-special {
  color: #7ad5d6;
}
.l-string {
  color: #81b29a;
}
.l-string-documentation {
  color: #81b29a;
}
.l-string-escape {
  color: #e0c989;
  font-weight: bold;
}
.l-string-regex {
  color: #e0c989;
}
.l-string-regexp {
  color: #e0c989;
}
.l-string-special {
  color: #86abdc;
}
.l-string-special-path {
  color: #86abdc;
}
.l-string-special-symbol {
  color: #86abdc;
}
.l-string-special-url {
  color: #f6b079;
  font-style: italic;
  text-decoration: underline;
}
.l-tag {
  color: #9d79d6;
}
.l-tag-attribute {
  color: #86abdc;
  font-style: italic;
}
.l-tag-builtin {
  color: #86abdc;
}
.l-tag-delimiter {
  color: #7ad5d6;
}
.l-type {
  color: #dbc074;
}
.l-type-builtin {
  color: #7ad5d6;
}
.l-type-definition {
  color: #dbc074;
}
.l-variable {
  color: #dfdfe0;
}
.l-variable-builtin {
  color: #c94f6d;
}
.l-variable-member {
  color: #719cd6;
}
.l-variable-parameter {
  color: #7ad5d6;
}
.l-variable-parameter-builtin {
  color: #86abdc;
}
