/* nightfly
 * revision: 2c31d07ce05efa92bcb7f893f9c74a846226c898
 */
.lumis {
  color: #c3ccdc;
  background-color: #011627;
}
.l-attribute {
  color: #82aaff;
}
.l-attribute-builtin {
  color: #ff5874;
}
.l-attribute-zig {
  color: #c792ea;
}
.l-boolean {
  color: #ff5874;
}
.l-character {
  color: #ae81ff;
}
.l-character-special {
  color: #ff5874;
}
.l-character-special-vim {
  color: #82aaff;
}
.l-comment {
  color: #7c8f8f;
  font-style: italic;
}
.l-comment-documentation {
  color: #7c8f8f;
  font-style: italic;
}
.l-comment-error {
  color: #fc514e;
}
.l-comment-hint {
  color: #7c8f8f;
  font-style: italic;
}
.l-comment-note {
  color: #7c8f8f;
}
.l-comment-todo {
  color: #e3d18a;
  background-color: #0e293f;
}
.l-comment-warning {
  color: #e3d18a;
}
.l-constant {
  color: #7fdbca;
}
.l-constant-builtin {
  color: #a1cd5e;
}
.l-constant-macro {
  color: #c792ea;
}
.l-constructor {
  color: #21c7a8;
}
.l-diff-delta {
  color: #87bcff;
}
.l-diff-minus {
  color: #fc514e;
}
.l-diff-plus {
  color: #a1cd5e;
}
.l-function {
  color: #82aaff;
}
.l-function-builtin {
  color: #82aaff;
}
.l-function-call {
  color: #82aaff;
}
.l-function-macro {
  color: #7fdbca;
}
.l-function-macro-vim {
  color: #82aaff;
}
.l-function-method {
  color: #82aaff;
}
.l-function-method-call {
  color: #82aaff;
}
.l-highlighted {
  background-color: #092236;
}
.l-keyword {
  color: #c792ea;
}
.l-keyword-conditional {
  color: #c792ea;
}
.l-keyword-conditional-ternary {
  color: #c792ea;
}
.l-keyword-coroutine {
  color: #c792ea;
}
.l-keyword-debug {
  color: #c792ea;
}
.l-keyword-directive {
  color: #ff5874;
}
.l-keyword-directive-define {
  color: #ff5874;
}
.l-keyword-exception {
  color: #c792ea;
}
.l-keyword-export {
  color: #c792ea;
}
.l-keyword-function {
  color: #c792ea;
}
.l-keyword-gitcommit {
  color: #82aaff;
}
.l-keyword-import {
  color: #ff5874;
}
.l-keyword-import-bash {
  color: #c792ea;
}
.l-keyword-import-rust {
  color: #c792ea;
}
.l-keyword-modifier {
  color: #c792ea;
}
.l-keyword-operator {
  color: #c792ea;
}
.l-keyword-repeat {
  color: #c792ea;
}
.l-keyword-return {
  color: #c792ea;
}
.l-keyword-type {
  color: #c792ea;
}
.l-label {
  color: #7fdbca;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #4b6479;
  background-color: #011627;
}
.l-line-number-highlighted {
  color: #82aaff;
  background-color: #092236;
}
.l-markup {
  color: #ff5874;
}
.l-markup-environment {
  color: #c792ea;
}
.l-markup-environment-name {
  color: #21c7a8;
}
.l-markup-heading {
  color: #c792ea;
}
.l-markup-heading-1 {
  color: #c792ea;
}
.l-markup-heading-1-markdown {
  color: #b0b2f4;
}
.l-markup-heading-2 {
  color: #c792ea;
}
.l-markup-heading-2-markdown {
  color: #b0b2f4;
}
.l-markup-heading-3 {
  color: #c792ea;
}
.l-markup-heading-3-markdown {
  color: #7fdbca;
}
.l-markup-heading-4 {
  color: #c792ea;
}
.l-markup-heading-4-markdown {
  color: #f78c6c;
}
.l-markup-heading-5 {
  color: #c792ea;
}
.l-markup-heading-5-markdown {
  color: #87bcff;
}
.l-markup-heading-6 {
  color: #c792ea;
}
.l-markup-heading-markdown {
  color: #87bcff;
}
.l-markup-italic {
  color: #e39aa6;
  font-style: italic;
}
.l-markup-link {
  color: #a1cd5e;
}
.l-markup-link-gitcommit {
  color: #21c7a8;
}
.l-markup-link-label {
  color: #a1cd5e;
}
.l-markup-link-url {
  color: #ae81ff;
  text-decoration: underline;
}
.l-markup-link-url-astro {
  color: #c792ea;
  font-style: italic;
}
.l-markup-link-url-gitcommit {
  color: #21c7a8;
}
.l-markup-link-url-html {
  color: #c792ea;
  font-style: italic;
}
.l-markup-link-url-svelte {
  color: #c792ea;
  font-style: italic;
}
.l-markup-link-url-vue {
  color: #c792ea;
  font-style: italic;
}
.l-markup-list {
  color: #ff5874;
}
.l-markup-list-checked {
  color: #7fdbca;
}
.l-markup-list-latex {
  color: #ae81ff;
}
.l-markup-list-unchecked {
  color: #82aaff;
}
.l-markup-math {
  color: #87bcff;
}
.l-markup-quote {
  color: #7c8f8f;
}
.l-markup-raw {
  color: #ecc48d;
}
.l-markup-raw-block {
  color: #ecc48d;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  color: #e39aa6;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #7fdbca;
}
.l-module-builtin {
  color: #a1cd5e;
}
.l-namespace-latex {
  color: #b0b2f4;
}
.l-number {
  color: #f78c6c;
}
.l-number-float {
  color: #f78c6c;
}
.l-operator {
  color: #ff5874;
}
.l-property {
  color: #b0b2f4;
}
.l-punctuation-bracket {
  color: #c3ccdc;
}
.l-punctuation-bracket-rainbow-1 {
  color: #fc514e;
}
.l-punctuation-bracket-rainbow-2 {
  color: #e3d18a;
}
.l-punctuation-bracket-rainbow-3 {
  color: #82aaff;
}
.l-punctuation-bracket-rainbow-4 {
  color: #f78c6c;
}
.l-punctuation-bracket-rainbow-5 {
  color: #a1cd5e;
}
.l-punctuation-bracket-rainbow-6 {
  color: #c792ea;
}
.l-punctuation-delimiter {
  color: #c3ccdc;
}
.l-punctuation-delimiter-astro {
  color: #ff5874;
}
.l-punctuation-delimiter-css {
  color: #ff5874;
}
.l-punctuation-delimiter-rust {
  color: #ff5874;
}
.l-punctuation-delimiter-scss {
  color: #ff5874;
}
.l-punctuation-delimiter-yaml {
  color: #ff5874;
}
.l-punctuation-special {
  color: #ff5874;
}
.l-string {
  color: #ecc48d;
}
.l-string-documentation {
  color: #87a3ba;
}
.l-string-escape {
  color: #ff5874;
}
.l-string-json {
  color: #85dc85;
}
.l-string-regexp {
  color: #7fdbca;
}
.l-string-special {
  color: #ff5874;
}
.l-string-special-path {
  color: #e39aa6;
}
.l-string-special-symbol {
  color: #ae81ff;
}
.l-string-special-url {
  color: #ae81ff;
}
.l-tag {
  color: #82aaff;
}
.l-tag-attribute {
  color: #7fdbca;
}
.l-tag-builtin {
  color: #82aaff;
}
.l-tag-delimiter {
  color: #a1cd5e;
}
.l-tag-javascript {
  color: #21c7a8;
}
.l-tag-jsx {
  color: #21c7a8;
}
.l-tag-tsx {
  color: #21c7a8;
}
.l-tag-typescript {
  color: #21c7a8;
}
.l-type {
  color: #21c7a8;
}
.l-type-builtin {
  color: #21c7a8;
}
.l-type-definition {
  color: #21c7a8;
}
.l-variable {
  color: #c3ccdc;
}
.l-variable-builtin {
  color: #a1cd5e;
}
.l-variable-builtin-vim {
  color: #21c7a8;
}
.l-variable-member {
  color: #b0b2f4;
}
.l-variable-member-ruby {
  color: #7fdbca;
}
.l-variable-member-yaml {
  color: #82aaff;
}
.l-variable-parameter {
  color: #e39aa6;
}
.l-variable-parameter-bash {
  color: #7fdbca;
}
.l-variable-parameter-builtin {
  color: #ff5874;
}
.l-variable-scss {
  color: #7fdbca;
}
.l-variable-vim {
  color: #7fdbca;
}
