/* onedark
 * revision: 24c806cb85c1f84d9faaff457cf7aa87c685a070
 */
.lumis {
  color: #abb2bf;
  background-color: #282c34;
}
.l-attribute {
  color: #c678dd;
}
.l-attribute-builtin {
  color: #61afef;
}
.l-boolean {
  color: #d19a66;
}
.l-character {
  color: #98c379;
}
.l-character-special {
  color: #c678dd;
}
.l-comment {
  color: #7f848e;
}
.l-comment-documentation {
  color: #7f848e;
}
.l-comment-error {
  color: #282c34;
  background-color: #e06c75;
}
.l-comment-hint {
  color: #7f848e;
}
.l-comment-note {
  color: #282c34;
  background-color: #56b6c2;
}
.l-comment-todo {
  color: #282c34;
  background-color: #61afef;
}
.l-comment-warning {
  color: #282c34;
  background-color: #e5c07b;
}
.l-constant {
  color: #d19a66;
}
.l-constant-builtin {
  color: #c678dd;
}
.l-constant-builtin-c {
  color: #e5c07b;
}
.l-constant-builtin-php {
  color: #d19a66;
}
.l-constant-builtin-python {
  color: #d19a66;
}
.l-constant-builtin-ruby {
  color: #d19a66;
}
.l-constant-builtin-rust {
  color: #e5c07b;
}
.l-constant-c {
  color: #e5c07b;
}
.l-constant-go {
  color: #e06c75;
}
.l-constant-macro {
  color: #d19a66;
}
.l-constructor {
  color: #e5c07b;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #98c379;
}
.l-function {
  color: #61afef;
}
.l-function-builtin {
  color: #e5c07b;
}
.l-function-builtin-c {
  color: #56b6c2;
}
.l-function-builtin-go {
  color: #56b6c2;
}
.l-function-builtin-lua {
  color: #56b6c2;
}
.l-function-builtin-php {
  color: #56b6c2;
}
.l-function-call {
  color: #61afef;
}
.l-function-call-yaml {
  color: #98c379;
}
.l-function-macro {
  color: #61afef;
}
.l-function-method {
  color: #61afef;
}
.l-function-method-call {
  color: #61afef;
}
.l-highlighted {
  background-color: #282c34;
}
.l-keyword {
  color: #c678dd;
}
.l-keyword-conditional {
  color: #c678dd;
}
.l-keyword-conditional-ternary {
  color: #c678dd;
}
.l-keyword-coroutine {
  color: #c678dd;
}
.l-keyword-debug {
  color: #c678dd;
}
.l-keyword-directive {
  color: #c678dd;
}
.l-keyword-directive-define {
  color: #c678dd;
}
.l-keyword-exception {
  color: #c678dd;
}
.l-keyword-export {
  color: #c678dd;
}
.l-keyword-function {
  color: #c678dd;
}
.l-keyword-import {
  color: #c678dd;
}
.l-keyword-modifier {
  color: #c678dd;
}
.l-keyword-operator {
  color: #c678dd;
}
.l-keyword-operator-lua {
  color: #abb2bf;
}
.l-keyword-repeat {
  color: #c678dd;
}
.l-keyword-return {
  color: #c678dd;
}
.l-keyword-type {
  color: #c678dd;
}
.l-label {
  color: #c678dd;
}
.l-label-c {
  color: #e06c75;
}
.l-label-json {
  color: #e06c75;
}
.l-label-markdown {
  color: #abb2bf;
}
.l-label-ruby {
  color: #e06c75;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #495162;
  background-color: #282c34;
}
.l-line-number-highlighted {
  color: #c678dd;
  background-color: #282c34;
}
.l-markup {
  color: #61afef;
}
.l-markup-environment {
  color: #61afef;
}
.l-markup-environment-name {
  color: #61afef;
}
.l-markup-heading {
  color: #e06c75;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #e06c75;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #e06c75;
  font-weight: bold;
}
.l-markup-heading-2-markdown {
  color: #d19a66;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #e06c75;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #e5c07b;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #e06c75;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #98c379;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #e06c75;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #61afef;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #e06c75;
  font-weight: bold;
}
.l-markup-heading-6-markdown {
  color: #56b6c2;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-italic-markdown_inline {
  color: #c678dd;
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  color: #61afef;
}
.l-markup-link-url {
  color: #c678dd;
}
.l-markup-list {
  color: #e06c75;
}
.l-markup-list-checked {
  color: #c678dd;
}
.l-markup-list-markdown {
  color: #e5c07b;
}
.l-markup-list-unchecked {
  color: #abb2bf;
}
.l-markup-math {
  color: #61afef;
}
.l-markup-math-latex {
  color: #d19a66;
}
.l-markup-quote {
  color: #61afef;
}
.l-markup-quote-markdown {
  color: #7f848e;
}
.l-markup-raw {
  color: #98c379;
}
.l-markup-raw-block {
  color: #98c379;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  color: #e5c07b;
  font-weight: bold;
}
.l-markup-strong-markdown_inline {
  color: #d19a66;
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #e5c07b;
}
.l-module-builtin {
  color: #61afef;
}
.l-module-latex {
  color: #56b6c2;
}
.l-namespace-php {
  color: #e5c07b;
}
.l-number {
  color: #d19a66;
}
.l-number-float {
  color: #d19a66;
}
.l-operator {
  color: #56b6c2;
}
.l-operator-html {
  color: #abb2bf;
}
.l-operator-lua {
  color: #abb2bf;
}
.l-operator-rust {
  color: #abb2bf;
}
.l-operator-toml {
  color: #abb2bf;
}
.l-operator-vue {
  color: #abb2bf;
}
.l-property {
  color: #e06c75;
}
.l-property-scss {
  color: #abb2bf;
}
.l-property-toml {
  color: #c678dd;
}
.l-punctuation-bracket {
  color: #c678dd;
}
.l-punctuation-bracket-lua {
  color: #d19a66;
}
.l-punctuation-bracket-python {
  color: #d19a66;
}
.l-punctuation-bracket-rainbow-1 {
  color: #e06c75;
}
.l-punctuation-bracket-rainbow-2 {
  color: #e5c07b;
}
.l-punctuation-bracket-rainbow-3 {
  color: #61afef;
}
.l-punctuation-bracket-rainbow-4 {
  color: #d19a66;
}
.l-punctuation-bracket-rainbow-5 {
  color: #98c379;
}
.l-punctuation-bracket-rainbow-6 {
  color: #c678dd;
}
.l-punctuation-bracket-ruby {
  color: #d19a66;
}
.l-punctuation-bracket-rust {
  color: #d19a66;
}
.l-punctuation-bracket-scss {
  color: #d19a66;
}
.l-punctuation-bracket-tsx {
  color: #d19a66;
}
.l-punctuation-bracket-typescript {
  color: #d19a66;
}
.l-punctuation-bracket-yaml {
  color: #d19a66;
}
.l-punctuation-delimiter {
  color: #abb2bf;
}
.l-punctuation-delimiter-markdown_inline {
  color: #d19a66;
}
.l-punctuation-special {
  color: #abb2bf;
}
.l-punctuation-special-markdown {
  color: #7f848e;
}
.l-string {
  color: #98c379;
}
.l-string-documentation {
  color: #98c379;
}
.l-string-escape {
  color: #56b6c2;
}
.l-string-regexp {
  color: #61afef;
}
.l-string-scss {
  color: #d19a66;
}
.l-string-special {
  color: #61afef;
}
.l-string-special-path {
  color: #61afef;
}
.l-string-special-symbol {
  color: #e06c75;
}
.l-string-special-url {
  color: #61afef;
  font-style: italic;
  text-decoration: underline;
}
.l-string-special-url-html {
  text-decoration: underline;
}
.l-tag {
  color: #e06c75;
}
.l-tag-attribute {
  color: #e06c75;
}
.l-tag-attribute-html {
  color: #d19a66;
}
.l-tag-attribute-tsx {
  color: #d19a66;
}
.l-tag-attribute-vue {
  color: #d19a66;
}
.l-tag-builtin {
  color: #61afef;
}
.l-tag-delimiter {
  color: #abb2bf;
}
.l-type {
  color: #e5c07b;
}
.l-type-builtin {
  color: #e5c07b;
}
.l-type-builtin-c {
  color: #c678dd;
}
.l-type-builtin-go {
  color: #c678dd;
}
.l-type-builtin-java {
  color: #c678dd;
}
.l-type-builtin-tsx {
  color: #c678dd;
}
.l-type-definition {
  color: #e5c07b;
}
.l-type-scss {
  color: #e06c75;
}
.l-variable {
  color: #e06c75;
}
.l-variable-builtin {
  color: #e5c07b;
}
.l-variable-member {
  color: #e06c75;
}
.l-variable-parameter {
  color: #e06c75;
}
.l-variable-parameter-builtin {
  color: #61afef;
}
