/* onedark_deep
 * revision: df4792accde9db0043121f32628bcf8e645d9aea
 */
.lumis {
  color: #93a4c3;
  background-color: #1a212e;
}
.l-attribute {
  color: #34bfd0;
}
.l-attribute-builtin {
  color: #41a7fc;
}
.l-boolean {
  color: #dd9046;
}
.l-character {
  color: #dd9046;
}
.l-character-special {
  color: #f65866;
}
.l-comment {
  color: #455574;
  font-style: italic;
}
.l-comment-documentation {
  color: #455574;
  font-style: italic;
}
.l-comment-error {
  color: #f65866;
  font-style: italic;
}
.l-comment-hint {
  color: #455574;
  font-style: italic;
}
.l-comment-note {
  color: #41a7fc;
  font-style: italic;
}
.l-comment-todo {
  color: #c75ae8;
  font-style: italic;
}
.l-comment-warning {
  color: #efbd5d;
  font-style: italic;
}
.l-constant {
  color: #dd9046;
}
.l-constant-builtin {
  color: #dd9046;
}
.l-constant-macro {
  color: #dd9046;
}
.l-constructor {
  color: #efbd5d;
  font-weight: bold;
}
.l-diff-delta {
  color: #41a7fc;
}
.l-diff-minus {
  color: #f65866;
}
.l-diff-plus {
  color: #8bcd5b;
}
.l-function {
  color: #41a7fc;
}
.l-function-builtin {
  color: #34bfd0;
}
.l-function-call {
  color: #41a7fc;
}
.l-function-macro {
  color: #34bfd0;
}
.l-function-method {
  color: #41a7fc;
}
.l-function-method-call {
  color: #41a7fc;
}
.l-highlighted {
  background-color: #21283b;
}
.l-keyword {
  color: #c75ae8;
}
.l-keyword-conditional {
  color: #c75ae8;
}
.l-keyword-conditional-ternary {
  color: #c75ae8;
}
.l-keyword-coroutine {
  color: #c75ae8;
}
.l-keyword-debug {
  color: #f65866;
}
.l-keyword-directive {
  color: #c75ae8;
}
.l-keyword-directive-define {
  color: #c75ae8;
}
.l-keyword-exception {
  color: #c75ae8;
}
.l-keyword-export {
  color: #c75ae8;
}
.l-keyword-function {
  color: #c75ae8;
}
.l-keyword-import {
  color: #c75ae8;
}
.l-keyword-modifier {
  color: #c75ae8;
}
.l-keyword-operator {
  color: #c75ae8;
}
.l-keyword-repeat {
  color: #c75ae8;
}
.l-keyword-return {
  color: #c75ae8;
}
.l-keyword-type {
  color: #c75ae8;
}
.l-label {
  color: #f65866;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #455574;
}
.l-line-number-highlighted {
  color: #93a4c3;
}
.l-markup {
  color: #f65866;
}
.l-markup-environment {
  color: #f65866;
}
.l-markup-environment-name {
  color: #f65866;
}
.l-markup-heading {
  color: #dd9046;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #f65866;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #c75ae8;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #dd9046;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #f65866;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #c75ae8;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #dd9046;
  font-weight: bold;
}
.l-markup-italic {
  color: #93a4c3;
  font-style: italic;
}
.l-markup-link {
  color: #41a7fc;
}
.l-markup-link-label {
  color: #34bfd0;
}
.l-markup-link-url {
  color: #34bfd0;
  text-decoration: underline;
}
.l-markup-list {
  color: #f65866;
}
.l-markup-list-checked {
  color: #8bcd5b;
  font-style: italic;
}
.l-markup-list-unchecked {
  color: #f65866;
  font-style: italic;
}
.l-markup-math {
  color: #93a4c3;
}
.l-markup-quote {
  color: #455574;
  font-style: italic;
}
.l-markup-raw {
  color: #8bcd5b;
}
.l-markup-raw-block {
  color: #8bcd5b;
}
.l-markup-strikethrough {
  color: #93a4c3;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #93a4c3;
  font-weight: bold;
}
.l-markup-underline {
  color: #93a4c3;
  text-decoration: underline;
}
.l-module {
  color: #efbd5d;
}
.l-module-builtin {
  color: #dd9046;
}
.l-number {
  color: #dd9046;
}
.l-number-float {
  color: #dd9046;
}
.l-operator {
  color: #93a4c3;
}
.l-property {
  color: #34bfd0;
}
.l-punctuation-bracket {
  color: #6c7d9c;
}
.l-punctuation-bracket-rainbow-1 {
  color: #f65866;
}
.l-punctuation-bracket-rainbow-2 {
  color: #efbd5d;
}
.l-punctuation-bracket-rainbow-3 {
  color: #41a7fc;
}
.l-punctuation-bracket-rainbow-4 {
  color: #dd9046;
}
.l-punctuation-bracket-rainbow-5 {
  color: #8bcd5b;
}
.l-punctuation-bracket-rainbow-6 {
  color: #c75ae8;
}
.l-punctuation-delimiter {
  color: #6c7d9c;
}
.l-punctuation-special {
  color: #f65866;
}
.l-string {
  color: #8bcd5b;
}
.l-string-documentation {
  color: #8bcd5b;
}
.l-string-escape {
  color: #f65866;
}
.l-string-regexp {
  color: #dd9046;
}
.l-string-special {
  color: #1b6a73;
}
.l-string-special-path {
  color: #8bcd5b;
}
.l-string-special-symbol {
  color: #34bfd0;
}
.l-string-special-url {
  color: #34bfd0;
  text-decoration: underline;
}
.l-tag {
  color: #c75ae8;
}
.l-tag-attribute {
  color: #efbd5d;
}
.l-tag-builtin {
  color: #c75ae8;
}
.l-tag-delimiter {
  color: #c75ae8;
}
.l-type {
  color: #efbd5d;
}
.l-type-builtin {
  color: #dd9046;
}
.l-type-definition {
  color: #efbd5d;
}
.l-variable {
  color: #93a4c3;
}
.l-variable-builtin {
  color: #f65866;
}
.l-variable-member {
  color: #34bfd0;
}
.l-variable-parameter {
  color: #f65866;
}
.l-variable-parameter-builtin {
  color: #dd9046;
}
