/* onedark_light
 * revision: df4792accde9db0043121f32628bcf8e645d9aea
 */
.lumis {
  color: #383a42;
  background-color: #fafafa;
}
.l-attribute {
  color: #0184bc;
}
.l-attribute-builtin {
  color: #4078f2;
}
.l-boolean {
  color: #c18401;
}
.l-character {
  color: #c18401;
}
.l-character-special {
  color: #e45649;
}
.l-comment {
  color: #a0a1a7;
  font-style: italic;
}
.l-comment-documentation {
  color: #a0a1a7;
  font-style: italic;
}
.l-comment-error {
  color: #e45649;
  font-style: italic;
}
.l-comment-hint {
  color: #a0a1a7;
  font-style: italic;
}
.l-comment-note {
  color: #4078f2;
  font-style: italic;
}
.l-comment-todo {
  color: #a626a4;
  font-style: italic;
}
.l-comment-warning {
  color: #986801;
  font-style: italic;
}
.l-constant {
  color: #c18401;
}
.l-constant-builtin {
  color: #c18401;
}
.l-constant-macro {
  color: #c18401;
}
.l-constructor {
  color: #986801;
  font-weight: bold;
}
.l-diff-delta {
  color: #4078f2;
}
.l-diff-minus {
  color: #e45649;
}
.l-diff-plus {
  color: #50a14f;
}
.l-function {
  color: #4078f2;
}
.l-function-builtin {
  color: #0184bc;
}
.l-function-call {
  color: #4078f2;
}
.l-function-macro {
  color: #0184bc;
}
.l-function-method {
  color: #4078f2;
}
.l-function-method-call {
  color: #4078f2;
}
.l-highlighted {
  background-color: #f0f0f0;
}
.l-keyword {
  color: #a626a4;
}
.l-keyword-conditional {
  color: #a626a4;
}
.l-keyword-conditional-ternary {
  color: #a626a4;
}
.l-keyword-coroutine {
  color: #a626a4;
}
.l-keyword-debug {
  color: #e45649;
}
.l-keyword-directive {
  color: #a626a4;
}
.l-keyword-directive-define {
  color: #a626a4;
}
.l-keyword-exception {
  color: #a626a4;
}
.l-keyword-export {
  color: #a626a4;
}
.l-keyword-function {
  color: #a626a4;
}
.l-keyword-import {
  color: #a626a4;
}
.l-keyword-modifier {
  color: #a626a4;
}
.l-keyword-operator {
  color: #a626a4;
}
.l-keyword-repeat {
  color: #a626a4;
}
.l-keyword-return {
  color: #a626a4;
}
.l-keyword-type {
  color: #a626a4;
}
.l-label {
  color: #e45649;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #a0a1a7;
}
.l-line-number-highlighted {
  color: #383a42;
}
.l-markup {
  color: #e45649;
}
.l-markup-environment {
  color: #e45649;
}
.l-markup-environment-name {
  color: #e45649;
}
.l-markup-heading {
  color: #c18401;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #e45649;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #a626a4;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #c18401;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #e45649;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #a626a4;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #c18401;
  font-weight: bold;
}
.l-markup-italic {
  color: #383a42;
  font-style: italic;
}
.l-markup-link {
  color: #4078f2;
}
.l-markup-link-label {
  color: #0184bc;
}
.l-markup-link-url {
  color: #0184bc;
  text-decoration: underline;
}
.l-markup-list {
  color: #e45649;
}
.l-markup-list-checked {
  color: #50a14f;
  font-style: italic;
}
.l-markup-list-unchecked {
  color: #e45649;
  font-style: italic;
}
.l-markup-math {
  color: #383a42;
}
.l-markup-quote {
  color: #a0a1a7;
  font-style: italic;
}
.l-markup-raw {
  color: #50a14f;
}
.l-markup-raw-block {
  color: #50a14f;
}
.l-markup-strikethrough {
  color: #383a42;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #383a42;
  font-weight: bold;
}
.l-markup-underline {
  color: #383a42;
  text-decoration: underline;
}
.l-module {
  color: #986801;
}
.l-module-builtin {
  color: #c18401;
}
.l-number {
  color: #c18401;
}
.l-number-float {
  color: #c18401;
}
.l-operator {
  color: #383a42;
}
.l-property {
  color: #0184bc;
}
.l-punctuation-bracket {
  color: #818387;
}
.l-punctuation-bracket-rainbow-1 {
  color: #e45649;
}
.l-punctuation-bracket-rainbow-2 {
  color: #986801;
}
.l-punctuation-bracket-rainbow-3 {
  color: #4078f2;
}
.l-punctuation-bracket-rainbow-4 {
  color: #c18401;
}
.l-punctuation-bracket-rainbow-5 {
  color: #50a14f;
}
.l-punctuation-bracket-rainbow-6 {
  color: #a626a4;
}
.l-punctuation-delimiter {
  color: #818387;
}
.l-punctuation-special {
  color: #e45649;
}
.l-string {
  color: #50a14f;
}
.l-string-documentation {
  color: #50a14f;
}
.l-string-escape {
  color: #e45649;
}
.l-string-regexp {
  color: #c18401;
}
.l-string-special {
  color: #2b5d63;
}
.l-string-special-path {
  color: #50a14f;
}
.l-string-special-symbol {
  color: #0184bc;
}
.l-string-special-url {
  color: #0184bc;
  text-decoration: underline;
}
.l-tag {
  color: #a626a4;
}
.l-tag-attribute {
  color: #986801;
}
.l-tag-builtin {
  color: #a626a4;
}
.l-tag-delimiter {
  color: #a626a4;
}
.l-type {
  color: #986801;
}
.l-type-builtin {
  color: #c18401;
}
.l-type-definition {
  color: #986801;
}
.l-variable {
  color: #383a42;
}
.l-variable-builtin {
  color: #e45649;
}
.l-variable-member {
  color: #0184bc;
}
.l-variable-parameter {
  color: #e45649;
}
.l-variable-parameter-builtin {
  color: #c18401;
}
