/* papercolor_light
 * revision: 0cfe64ffb24c21a6101b5f994ca342a74c977aef
 */
.lumis {
  color: #444444;
  background-color: #eeeeee;
}
.l-attribute {
  color: #005faf;
}
.l-attribute-builtin {
  color: #444444;
}
.l-boolean {
  color: #008700;
  font-weight: bold;
}
.l-character {
  color: #5f8700;
}
.l-character-special {
  color: #444444;
}
.l-comment {
  color: #878787;
}
.l-comment-documentation {
  color: #878787;
}
.l-comment-error {
  color: #af0000;
  background-color: #ffd7ff;
}
.l-comment-hint {
  color: #878787;
}
.l-comment-note {
  color: #00af5f;
  background-color: #eeeeee;
  font-weight: bold;
}
.l-comment-todo {
  color: #00af5f;
  background-color: #eeeeee;
  font-weight: bold;
}
.l-comment-warning {
  color: #00af5f;
  background-color: #eeeeee;
  font-weight: bold;
}
.l-constant {
  color: #d75f00;
}
.l-constant-builtin {
  color: #444444;
}
.l-constant-macro {
  color: #d75f00;
}
.l-constructor {
  color: #444444;
}
.l-diff-delta {
  color: #007373;
}
.l-diff-minus {
  color: #590008;
}
.l-diff-plus {
  color: #005523;
}
.l-function {
  color: #444444;
}
.l-function-builtin {
  color: #444444;
}
.l-function-call {
  color: #444444;
}
.l-function-macro {
  color: #444444;
}
.l-function-method {
  color: #444444;
}
.l-function-method-call {
  color: #444444;
}
.l-highlighted {
  background-color: #e4e4e4;
}
.l-keyword {
  color: #005faf;
}
.l-keyword-conditional {
  color: #005faf;
}
.l-keyword-conditional-ternary {
  color: #005faf;
}
.l-keyword-coroutine {
  color: #005faf;
}
.l-keyword-debug {
  color: #005faf;
}
.l-keyword-directive {
  color: #005faf;
}
.l-keyword-directive-define {
  color: #005faf;
}
.l-keyword-exception {
  color: #005faf;
}
.l-keyword-export {
  color: #005faf;
}
.l-keyword-function {
  color: #005faf;
}
.l-keyword-import {
  color: #005faf;
}
.l-keyword-modifier {
  color: #005faf;
}
.l-keyword-operator {
  color: #005faf;
}
.l-keyword-repeat {
  color: #005faf;
}
.l-keyword-return {
  color: #005faf;
}
.l-keyword-type {
  color: #005faf;
}
.l-label {
  color: #005faf;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #b2b2b2;
  background-color: #eeeeee;
}
.l-line-number-highlighted {
  color: #af5f00;
  background-color: #eeeeee;
}
.l-markup {
  color: #444444;
}
.l-markup-environment {
  color: #444444;
}
.l-markup-environment-name {
  color: #444444;
}
.l-markup-heading {
  color: #878787;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #878787;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #878787;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #878787;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #878787;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #878787;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #878787;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #444444;
}
.l-markup-list-checked {
  color: #444444;
}
.l-markup-list-unchecked {
  color: #444444;
}
.l-markup-math {
  color: #444444;
}
.l-markup-quote {
  color: #444444;
}
.l-markup-raw {
  color: #444444;
}
.l-markup-raw-block {
  color: #444444;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #005faf;
  font-weight: bold;
}
.l-module-builtin {
  color: #444444;
}
.l-number {
  color: #d75f00;
}
.l-number-float {
  color: #d75f00;
}
.l-operator {
  color: #0087af;
}
.l-property {
  color: #005f87;
}
.l-punctuation-bracket {
  color: #0087af;
}
.l-punctuation-delimiter {
  color: #0087af;
}
.l-punctuation-special {
  color: #444444;
}
.l-string {
  color: #5f8700;
}
.l-string-documentation {
  color: #5f8700;
}
.l-string-escape {
  color: #444444;
}
.l-string-regexp {
  color: #444444;
}
.l-string-special {
  color: #444444;
}
.l-string-special-path {
  color: #444444;
}
.l-string-special-symbol {
  color: #444444;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #008700;
}
.l-tag-attribute {
  color: #008700;
}
.l-tag-builtin {
  color: #444444;
}
.l-tag-delimiter {
  color: #008700;
}
.l-type {
  color: #d70087;
  font-weight: bold;
}
.l-type-builtin {
  color: #444444;
}
.l-type-definition {
  color: #d70087;
  font-weight: bold;
}
.l-variable {
  color: #14161b;
}
.l-variable-builtin {
  color: #444444;
}
.l-variable-member {
  color: #14161b;
}
.l-variable-parameter {
  color: #14161b;
}
.l-variable-parameter-builtin {
  color: #444444;
}
