/* poimandres
 * revision: a488957d803943a4201ac3b774913fcafa9e6b3a
 */
.lumis {
  color: #e4f0fb;
  background-color: #1b1e28;
}
.l-attribute {
  color: #e4f0fb;
}
.l-attribute-builtin {
  color: #767c9d;
}
.l-boolean {
  color: #5de4c7;
}
.l-character {
  color: #d0679d;
}
.l-character-special {
  color: #767c9d;
}
.l-comment {
  color: #a6accd;
}
.l-comment-documentation {
  color: #a6accd;
}
.l-comment-error {
  color: #d0679d;
}
.l-comment-hint {
  color: #a6accd;
}
.l-comment-note {
  color: #91b4d5;
}
.l-comment-todo {
  color: #171922;
  background-color: #fffac2;
}
.l-comment-warning {
  color: #fffac2;
}
.l-constant {
  color: #e4f0fb;
}
.l-constant-builtin {
  color: #add7ff;
}
.l-constant-macro {
  color: #e4f0fb;
}
.l-constructor {
  color: #5de4c7;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-function {
  color: #add7ff;
}
.l-function-builtin {
  color: #add7ff;
}
.l-function-call {
  color: #a6accd;
}
.l-function-macro {
  color: #add7ff;
}
.l-function-method {
  color: #add7ff;
}
.l-function-method-call {
  color: #add7ff;
}
.l-highlighted {
  background-color: #303340;
}
.l-keyword {
  color: #91b4d5;
}
.l-keyword-conditional {
  color: #91b4d5;
}
.l-keyword-conditional-ternary {
  color: #91b4d5;
}
.l-keyword-coroutine {
  color: #91b4d5;
}
.l-keyword-debug {
  color: #91b4d5;
}
.l-keyword-directive {
  color: #91b4d5;
}
.l-keyword-directive-define {
  color: #91b4d5;
}
.l-keyword-exception {
  color: #91b4d5;
}
.l-keyword-export {
  color: #91b4d5;
}
.l-keyword-export-tsx {
  color: #5de4c7;
}
.l-keyword-export-typescript {
  color: #5de4c7;
}
.l-keyword-function {
  color: #add7ff;
}
.l-keyword-import {
  color: #91b4d5;
}
.l-keyword-import-tsx {
  color: #5de4c7;
}
.l-keyword-import-typescript {
  color: #5de4c7;
}
.l-keyword-modifier {
  color: #91b4d5;
}
.l-keyword-operator {
  color: #5de4c7;
}
.l-keyword-repeat {
  color: #91b4d5;
}
.l-keyword-return {
  color: #5fb3a1;
}
.l-keyword-type {
  color: #91b4d5;
}
.l-label {
  color: #91b4d5;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #506477;
}
.l-line-number-highlighted {
  color: #e4f0fb;
}
.l-markup {
  color: #767c9d;
}
.l-markup-environment {
  color: #767c9d;
}
.l-markup-environment-name {
  color: #767c9d;
}
.l-markup-heading {
  color: #e4f0fb;
}
.l-markup-heading-1 {
  color: #e4f0fb;
}
.l-markup-heading-2 {
  color: #e4f0fb;
}
.l-markup-heading-3 {
  color: #e4f0fb;
}
.l-markup-heading-4 {
  color: #e4f0fb;
}
.l-markup-heading-5 {
  color: #e4f0fb;
}
.l-markup-heading-6 {
  color: #e4f0fb;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #767c9d;
}
.l-markup-list-checked {
  color: #767c9d;
}
.l-markup-list-unchecked {
  color: #767c9d;
}
.l-markup-math {
  color: #767c9d;
}
.l-markup-quote {
  color: #767c9d;
}
.l-markup-raw {
  color: #767c9d;
}
.l-markup-raw-block {
  color: #767c9d;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #a6accd;
}
.l-module-builtin {
  color: #767c9d;
}
.l-number {
  color: #5de4c7;
}
.l-number-float {
  color: #5de4c7;
}
.l-operator {
  color: #add7ff;
}
.l-property {
  color: #add7ff;
}
.l-punctuation-bracket {
  color: #e4f0fb;
}
.l-punctuation-delimiter {
  color: #91b4d5;
}
.l-punctuation-special {
  color: #91b4d5;
}
.l-string {
  color: #5de4c7;
}
.l-string-documentation {
  color: #5de4c7;
}
.l-string-escape {
  color: #d0679d;
}
.l-string-regexp {
  color: #767c9d;
}
.l-string-special {
  color: #767c9d;
}
.l-string-special-path {
  color: #767c9d;
}
.l-string-special-symbol {
  color: #767c9d;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #5de4c7;
}
.l-tag-attribute {
  color: #91b4d5;
  font-style: italic;
}
.l-tag-builtin {
  color: #767c9d;
}
.l-tag-delimiter {
  color: #e4f0fb;
}
.l-type {
  color: #a6accd;
}
.l-type-builtin {
  color: #a6accd;
}
.l-type-definition {
  color: #a6accd;
}
.l-variable {
  color: #e4f0fb;
}
.l-variable-builtin {
  color: #add7ff;
}
.l-variable-member {
  color: #e4f0fb;
}
.l-variable-parameter {
  color: #e4f0fb;
}
.l-variable-parameter-builtin {
  color: #767c9d;
}
