/* solarized_osaka_light
 * revision: a21176efde15fab21fabda0bf2ba123ed6d7332d
 */
.lumis {
  color: #637981;
}
.l-attribute {
  color: #db302d;
}
.l-attribute-builtin {
  color: #c94c16;
}
.l-boolean {
  color: #29a298;
}
.l-character {
  color: #29a298;
}
.l-character-special {
  color: #c94c16;
}
.l-comment {
  color: #adb7b7;
  font-style: italic;
}
.l-comment-documentation {
  color: #adb7b7;
  font-style: italic;
}
.l-comment-error {
  color: #db302d;
}
.l-comment-hint {
  color: #29a298;
}
.l-comment-note {
  color: #29a298;
}
.l-comment-todo {
  color: #6d71c4;
}
.l-comment-warning {
  color: #b28500;
}
.l-constant {
  color: #29a298;
}
.l-constant-builtin {
  color: #c94c16;
}
.l-constant-macro {
  color: #db302d;
}
.l-constructor {
  color: #c94c16;
}
.l-constructor-tsx {
  color: #268bd3;
}
.l-diff-delta {
  background-color: #feccb7;
}
.l-diff-minus {
  background-color: #ffd2d1;
}
.l-diff-plus {
  background-color: #b7fefa;
}
.l-function {
  color: #268bd3;
}
.l-function-builtin {
  color: #c94c16;
}
.l-function-call {
  color: #268bd3;
}
.l-function-macro {
  color: #db302d;
}
.l-function-method {
  color: #268bd3;
}
.l-function-method-call {
  color: #268bd3;
}
.l-highlighted {
  background-color: #fdf5e2;
}
.l-keyword {
  color: #849900;
  font-style: italic;
}
.l-keyword-conditional {
  color: #849900;
}
.l-keyword-conditional-ternary {
  color: #849900;
}
.l-keyword-coroutine {
  color: #849900;
  font-style: italic;
}
.l-keyword-debug {
  color: #c94c16;
}
.l-keyword-directive {
  color: #db302d;
}
.l-keyword-directive-define {
  color: #db302d;
}
.l-keyword-exception {
  color: #849900;
}
.l-keyword-export {
  color: #849900;
  font-style: italic;
}
.l-keyword-function {
  color: #849900;
}
.l-keyword-import {
  color: #db302d;
}
.l-keyword-modifier {
  color: #849900;
  font-style: italic;
}
.l-keyword-operator {
  color: #849900;
}
.l-keyword-repeat {
  color: #849900;
}
.l-keyword-return {
  color: #849900;
  font-style: italic;
}
.l-keyword-type {
  color: #849900;
  font-style: italic;
}
.l-label {
  color: #849900;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #ffbf00;
}
.l-line-number-highlighted {
  color: #c94c16;
}
.l-markup-environment {
  color: #db302d;
}
.l-markup-environment-name {
  color: #b28500;
}
.l-markup-heading {
  color: #c94c16;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #c94c16;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #c94c16;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #c94c16;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #c94c16;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #c94c16;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #c94c16;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #268bd3;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #c94c16;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #268bd3;
}
.l-markup-list-checked {
  color: #849900;
}
.l-markup-list-markdown {
  color: #c94c16;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #b28500;
}
.l-markup-math {
  color: #c94c16;
}
.l-markup-raw {
  color: #29a298;
}
.l-markup-raw-block {
  color: #29a298;
}
.l-markup-raw-markdown {
  color: #268bd3;
}
.l-markup-raw-markdown_inline {
  color: #b28500;
  background-color: #d6fead;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #db302d;
}
.l-module-builtin {
  color: #c94c16;
}
.l-number {
  color: #29a298;
}
.l-number-float {
  color: #29a298;
}
.l-operator {
  color: #849900;
}
.l-property {
  color: #268bd3;
}
.l-punctuation-bracket {
  color: #c94c16;
}
.l-punctuation-bracket-rainbow-1 {
  color: #db302d;
}
.l-punctuation-bracket-rainbow-2 {
  color: #b28500;
}
.l-punctuation-bracket-rainbow-3 {
  color: #268bd3;
}
.l-punctuation-bracket-rainbow-4 {
  color: #c94c16;
}
.l-punctuation-bracket-rainbow-5 {
  color: #849900;
}
.l-punctuation-bracket-rainbow-6 {
  color: #6d71c4;
}
.l-punctuation-delimiter {
  color: #849900;
}
.l-punctuation-special {
  color: #c94c16;
}
.l-punctuation-special-markdown {
  color: #c94c16;
  font-weight: bold;
}
.l-string {
  color: #29a298;
}
.l-string-documentation {
  color: #29a298;
}
.l-string-escape {
  color: #f74f0c;
}
.l-string-regexp {
  color: #1a6265;
}
.l-string-special {
  color: #c94c16;
}
.l-string-special-path {
  color: #c94c16;
}
.l-string-special-symbol {
  color: #c94c16;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #849900;
}
.l-tag-attribute {
  color: #268bd3;
}
.l-tag-builtin {
  color: #c94c16;
}
.l-tag-delimiter {
  color: #14161b;
}
.l-tag-delimiter-html {
  color: #c94c16;
}
.l-tag-delimiter-javascript {
  color: #c94c16;
}
.l-tag-delimiter-tsx {
  color: #c94c16;
}
.l-tag-delimiter-vue {
  color: #c94c16;
}
.l-tag-javascript {
  color: #b28500;
}
.l-tag-tsx {
  color: #b28500;
}
.l-type {
  color: #b28500;
}
.l-type-builtin {
  color: #b28500;
}
.l-type-definition {
  color: #b28500;
}
.l-variable {
  color: #637981;
}
.l-variable-builtin {
  color: #c94c16;
}
.l-variable-javascript {
  color: #b28500;
}
.l-variable-member {
  color: #29a298;
}
.l-variable-parameter {
  color: #c94c16;
}
.l-variable-parameter-builtin {
  color: #664c00;
}
.l-variable-typescript {
  color: #b28500;
}
