/* synthweave_aqua
 * revision: 0520bc260674745cdd3b5465f322de5731217dc6
 */
.lumis {
  color: #a2c7e5;
  background-color: #262335;
}
.l-attribute {
  color: #ffe347;
}
.l-attribute-builtin {
  color: #8fffe0;
}
.l-boolean {
  color: #f39237;
}
.l-boolean-json {
  color: #f39237;
  font-style: italic;
}
.l-character {
  color: #7df9ff;
}
.l-character-special {
  color: #8fffe0;
}
.l-comment {
  color: #848bbd;
  font-style: italic;
}
.l-comment-documentation {
  color: #848bbd;
  font-style: italic;
}
.l-comment-error {
  color: #fe4450;
  font-style: italic;
}
.l-comment-hint {
  color: #848bbd;
  font-style: italic;
}
.l-comment-note {
  color: #f39237;
  font-style: italic;
}
.l-comment-todo {
  color: #fe4450;
}
.l-comment-warning {
  color: #ffe347;
  font-style: italic;
}
.l-constant {
  color: #ff7edb;
}
.l-constant-bash {
  color: #8fffe0;
}
.l-constant-builtin {
  color: #8fffe0;
}
.l-constant-go {
  color: #59f3ff;
}
.l-constant-macro {
  color: #ff7edb;
}
.l-constructor {
  color: #fe4450;
}
.l-constructor-lua {
  color: #ffe347;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-function {
  color: #7df9ff;
}
.l-function-builtin {
  color: #8fffe0;
}
.l-function-call {
  color: #7df9ff;
}
.l-function-macro {
  color: #7df9ff;
}
.l-function-method {
  color: #7df9ff;
}
.l-function-method-call {
  color: #7df9ff;
}
.l-highlighted {
  background-color: #2e2a4f;
}
.l-keyword {
  color: #ffe347;
}
.l-keyword-conditional {
  color: #ffe347;
}
.l-keyword-conditional-ternary {
  color: #ffe347;
}
.l-keyword-coroutine {
  color: #ffe347;
}
.l-keyword-debug {
  color: #ffe347;
}
.l-keyword-directive {
  color: #ffe347;
}
.l-keyword-directive-define {
  color: #ffe347;
}
.l-keyword-exception {
  color: #ffe347;
}
.l-keyword-export {
  color: #ffe347;
}
.l-keyword-function {
  color: #ffe347;
}
.l-keyword-import {
  color: #ffe347;
}
.l-keyword-modifier {
  color: #ffe347;
}
.l-keyword-operator {
  color: #ffe347;
}
.l-keyword-repeat {
  color: #ffe347;
}
.l-keyword-return {
  color: #ffe347;
}
.l-keyword-sql {
  color: #ff7edb;
}
.l-keyword-type {
  color: #ffe347;
}
.l-label {
  color: #8fffe0;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #423e77;
}
.l-line-number-highlighted {
  color: #a2c7e5;
}
.l-markup {
  color: #8fffe0;
}
.l-markup-environment {
  color: #8fffe0;
}
.l-markup-environment-name {
  color: #8fffe0;
}
.l-markup-heading {
  color: #f39237;
}
.l-markup-heading-1 {
  color: #f39237;
}
.l-markup-heading-2 {
  color: #f39237;
}
.l-markup-heading-3 {
  color: #f39237;
}
.l-markup-heading-4 {
  color: #f39237;
}
.l-markup-heading-5 {
  color: #f39237;
}
.l-markup-heading-6 {
  color: #f39237;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #8fffe0;
}
.l-markup-list-checked {
  color: #8fffe0;
}
.l-markup-list-unchecked {
  color: #8fffe0;
}
.l-markup-math {
  color: #8fffe0;
}
.l-markup-quote {
  color: #8fffe0;
}
.l-markup-raw {
  color: #8fffe0;
}
.l-markup-raw-block {
  color: #8fffe0;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #ff7edb;
  font-style: italic;
}
.l-module-builtin {
  color: #8fffe0;
}
.l-number {
  color: #f39237;
}
.l-number-float {
  color: #f39237;
}
.l-operator {
  color: #ffe347;
}
.l-property {
  color: #ff7edb;
}
.l-property-css {
  color: #8fffe0;
}
.l-property-javascript {
  color: #7df9ff;
}
.l-punctuation-bracket {
  color: #ffe347;
}
.l-punctuation-bracket-javascript {
  color: #ff7edb;
}
.l-punctuation-delimiter {
  color: #ff7edb;
}
.l-punctuation-special {
  color: #8fffe0;
}
.l-string {
  color: #f39237;
}
.l-string-documentation {
  color: #f39237;
}
.l-string-escape {
  color: #8fffe0;
}
.l-string-regexp {
  color: #8fffe0;
}
.l-string-special {
  color: #8fffe0;
}
.l-string-special-path {
  color: #8fffe0;
}
.l-string-special-symbol {
  color: #8fffe0;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #59f3ff;
}
.l-tag-attribute {
  color: #ffe347;
}
.l-tag-builtin {
  color: #8fffe0;
}
.l-tag-delimiter {
  color: #59f3ff;
}
.l-tag-javascript {
  color: #8fffe0;
}
.l-type {
  color: #fe4450;
}
.l-type-builtin {
  color: #8fffe0;
}
.l-type-builtin-python {
  color: #fe4450;
}
.l-type-definition {
  color: #fe4450;
}
.l-type-javascript {
  color: #ff7edb;
}
.l-variable {
  color: #ff7edb;
}
.l-variable-builtin {
  color: #fe4450;
}
.l-variable-member {
  color: #ff7edb;
}
.l-variable-parameter {
  color: #ff7edb;
}
.l-variable-parameter-builtin {
  color: #8fffe0;
}
