/* tokyonight_day
 * revision: cdc07ac78467a233fd62c493de29a17e0cf2b2b6
 */
.lumis {
  color: #3760bf;
  background-color: #e1e2e7;
}
.l-attribute {
  color: #007197;
}
.l-attribute-builtin {
  color: #188092;
}
.l-boolean {
  color: #b15c00;
}
.l-character {
  color: #587539;
}
.l-character-special {
  color: #188092;
}
.l-comment {
  color: #848cb5;
  font-style: italic;
}
.l-comment-documentation {
  color: #848cb5;
  font-style: italic;
}
.l-comment-error {
  color: #c64343;
}
.l-comment-hint {
  color: #118c74;
}
.l-comment-note {
  color: #118c74;
}
.l-comment-todo {
  color: #2e7de9;
}
.l-comment-warning {
  color: #8c6c3e;
}
.l-constant {
  color: #b15c00;
}
.l-constant-builtin {
  color: #188092;
}
.l-constant-macro {
  color: #007197;
}
.l-constructor {
  color: #9854f1;
}
.l-constructor-tsx {
  color: #188092;
}
.l-diff-delta {
  background-color: #d5d9e4;
}
.l-diff-minus {
  background-color: #dababe;
}
.l-diff-plus {
  background-color: #b7ced5;
}
.l-function {
  color: #2e7de9;
}
.l-function-builtin {
  color: #188092;
}
.l-function-call {
  color: #2e7de9;
}
.l-function-macro {
  color: #007197;
}
.l-function-method {
  color: #2e7de9;
}
.l-function-method-call {
  color: #2e7de9;
}
.l-highlighted {
  background-color: #c4c8da;
}
.l-keyword {
  color: #7847bd;
  font-style: italic;
}
.l-keyword-conditional {
  color: #9854f1;
}
.l-keyword-conditional-ternary {
  color: #9854f1;
}
.l-keyword-coroutine {
  color: #7847bd;
  font-style: italic;
}
.l-keyword-debug {
  color: #b15c00;
}
.l-keyword-directive {
  color: #007197;
}
.l-keyword-directive-define {
  color: #007197;
}
.l-keyword-exception {
  color: #9854f1;
}
.l-keyword-export {
  color: #7847bd;
  font-style: italic;
}
.l-keyword-function {
  color: #9854f1;
}
.l-keyword-import {
  color: #007197;
}
.l-keyword-modifier {
  color: #7847bd;
  font-style: italic;
}
.l-keyword-operator {
  color: #006a83;
}
.l-keyword-repeat {
  color: #9854f1;
}
.l-keyword-return {
  color: #7847bd;
  font-style: italic;
}
.l-keyword-type {
  color: #7847bd;
  font-style: italic;
}
.l-label {
  color: #2e7de9;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #a8aecb;
}
.l-line-number-highlighted {
  color: #b15c00;
  font-weight: bold;
}
.l-markup-environment {
  color: #007197;
}
.l-markup-environment-name {
  color: #188092;
}
.l-markup-heading {
  color: #2e7de9;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #2e7de9;
  font-weight: bold;
}
.l-markup-heading-1-markdown {
  color: #2e7de9;
  background-color: #cfd8e7;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #2e7de9;
  font-weight: bold;
}
.l-markup-heading-2-markdown {
  color: #8c6c3e;
  background-color: #d9d6d6;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #2e7de9;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #587539;
  background-color: #d3d7d6;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #2e7de9;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #118c74;
  background-color: #ccd9dc;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #2e7de9;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #9854f1;
  background-color: #dad4e8;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #2e7de9;
  font-weight: bold;
}
.l-markup-heading-6-markdown {
  color: #7847bd;
  background-color: #d7d3e3;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #118c74;
}
.l-markup-link-label {
  color: #188092;
}
.l-markup-link-url {
  text-decoration: underline;
}
.l-markup-list {
  color: #006a83;
}
.l-markup-list-checked {
  color: #387068;
}
.l-markup-list-markdown {
  color: #b15c00;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #2e7de9;
}
.l-markup-math {
  color: #188092;
}
.l-markup-raw {
  color: #587539;
}
.l-markup-raw-block {
  color: #587539;
}
.l-markup-raw-markdown_inline {
  color: #2e7de9;
  background-color: #a1a6c5;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #007197;
}
.l-module-builtin {
  color: #f52a65;
}
.l-number {
  color: #b15c00;
}
.l-number-float {
  color: #b15c00;
}
.l-operator {
  color: #006a83;
}
.l-property {
  color: #387068;
}
.l-punctuation-bracket {
  color: #6172b0;
}
.l-punctuation-bracket-rainbow-1 {
  color: #f52a65;
}
.l-punctuation-bracket-rainbow-2 {
  color: #8c6c3e;
}
.l-punctuation-bracket-rainbow-3 {
  color: #2e7de9;
}
.l-punctuation-bracket-rainbow-4 {
  color: #b15c00;
}
.l-punctuation-bracket-rainbow-5 {
  color: #587539;
}
.l-punctuation-bracket-rainbow-6 {
  color: #7847bd;
}
.l-punctuation-delimiter {
  color: #006a83;
}
.l-punctuation-special {
  color: #006a83;
}
.l-punctuation-special-markdown {
  color: #b15c00;
}
.l-string {
  color: #587539;
}
.l-string-documentation {
  color: #8c6c3e;
}
.l-string-escape {
  color: #9854f1;
}
.l-string-regexp {
  color: #2e5857;
}
.l-string-special {
  color: #188092;
}
.l-string-special-path {
  color: #188092;
}
.l-string-special-symbol {
  color: #188092;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #9854f1;
}
.l-tag-attribute {
  color: #387068;
}
.l-tag-builtin {
  color: #188092;
}
.l-tag-delimiter {
  color: #188092;
}
.l-tag-delimiter-tsx {
  color: #649be8;
}
.l-tag-javascript {
  color: #f52a65;
}
.l-tag-tsx {
  color: #f52a65;
}
.l-type {
  color: #188092;
}
.l-type-builtin {
  color: #4094a3;
}
.l-type-definition {
  color: #188092;
}
.l-variable {
  color: #3760bf;
}
.l-variable-builtin {
  color: #f52a65;
}
.l-variable-member {
  color: #387068;
}
.l-variable-parameter {
  color: #8c6c3e;
}
.l-variable-parameter-builtin {
  color: #7b6a58;
}
