/* vscode_dark
 * revision: 6439ed89d0e10193f07e92268a321d7c6f6e93ee
 */
.lumis {
  color: #d4d4d4;
  background-color: #1f1f1f;
}
.l-attribute {
  color: #dcdcaa;
}
.l-attribute-builtin {
  color: #4ec9b0;
}
.l-boolean {
  color: #569cd6;
}
.l-character {
  color: #ce9178;
}
.l-character-special {
  color: #d4d4d4;
}
.l-comment {
  color: #6a9955;
}
.l-comment-documentation {
  color: #6a9955;
}
.l-comment-error {
  color: #f44747;
  font-weight: bold;
}
.l-comment-hint {
  color: #6a9955;
}
.l-comment-note {
  color: #4ec9b0;
  font-weight: bold;
}
.l-comment-todo {
  color: #d7ba7d;
  background-color: #1f1f1f;
  font-weight: bold;
}
.l-comment-warning {
  color: #d7ba7d;
  font-weight: bold;
}
.l-constant {
  color: #4fc1ff;
}
.l-constant-builtin {
  color: #569cd6;
}
.l-constant-macro {
  color: #4ec9b0;
}
.l-constructor {
  color: #569cd6;
}
.l-constructor-python {
  color: #4ec9b0;
}
.l-diff-delta {
  background-color: #4b1818;
}
.l-diff-minus {
  background-color: #6f1313;
}
.l-diff-plus {
  background-color: #4b5632;
}
.l-error {
  color: #f44747;
}
.l-function {
  color: #dcdcaa;
}
.l-function-builtin {
  color: #dcdcaa;
}
.l-function-call {
  color: #dcdcaa;
}
.l-function-macro {
  color: #dcdcaa;
}
.l-function-method {
  color: #dcdcaa;
}
.l-function-method-call {
  color: #dcdcaa;
}
.l-highlighted {
  background-color: #222222;
}
.l-keyword {
  color: #569cd6;
}
.l-keyword-conditional {
  color: #c586c0;
}
.l-keyword-conditional-ternary {
  color: #c586c0;
}
.l-keyword-coroutine {
  color: #569cd6;
}
.l-keyword-debug {
  color: #569cd6;
}
.l-keyword-directive {
  color: #569cd6;
}
.l-keyword-directive-define {
  color: #569cd6;
}
.l-keyword-exception {
  color: #c586c0;
}
.l-keyword-export {
  color: #569cd6;
}
.l-keyword-function {
  color: #569cd6;
}
.l-keyword-import {
  color: #c586c0;
}
.l-keyword-modifier {
  color: #569cd6;
}
.l-keyword-operator {
  color: #569cd6;
}
.l-keyword-repeat {
  color: #c586c0;
}
.l-keyword-return {
  color: #c586c0;
}
.l-keyword-type {
  color: #569cd6;
}
.l-label {
  color: #9cdcfe;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #5a5a5a;
  background-color: #1f1f1f;
}
.l-line-number-highlighted {
  color: #bbbbbb;
  background-color: #1f1f1f;
}
.l-markup {
  color: #d7ba7d;
}
.l-markup-environment {
  color: #d7ba7d;
}
.l-markup-environment-name {
  color: #d7ba7d;
}
.l-markup-heading {
  color: #569cd6;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #569cd6;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #569cd6;
  font-weight: bold;
}
.l-markup-heading-2-markdown {
  color: #ce9178;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #569cd6;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #dcdcaa;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #569cd6;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #6a9955;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #569cd6;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #569cd6;
  font-weight: bold;
}
.l-markup-heading-6-markdown {
  color: #c586c0;
  font-weight: bold;
}
.l-markup-italic {
  color: #d4d4d4;
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  color: #9cdcfe;
}
.l-markup-link-url {
  color: #d4d4d4;
}
.l-markup-list {
  color: #d7ba7d;
}
.l-markup-list-checked {
  color: #d7ba7d;
  background-color: #1f1f1f;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #d7ba7d;
  background-color: #1f1f1f;
  font-weight: bold;
}
.l-markup-math {
  color: #d7ba7d;
}
.l-markup-quote {
  color: #d7ba7d;
}
.l-markup-raw {
  color: #d4d4d4;
}
.l-markup-raw-block {
  color: #d4d4d4;
}
.l-markup-raw-markdown {
  color: #ce9178;
}
.l-markup-raw-markdown_inline {
  color: #ce9178;
}
.l-markup-strikethrough {
  color: #d4d4d4;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #569cd6;
  font-weight: bold;
}
.l-markup-underline {
  color: #d7ba7d;
  text-decoration: underline;
}
.l-module {
  color: #4ec9b0;
}
.l-module-builtin {
  color: #d7ba7d;
}
.l-namespace {
  color: #4ec9b0;
}
.l-number {
  color: #b5cea8;
}
.l-number-float {
  color: #b5cea8;
}
.l-operator {
  color: #d4d4d4;
}
.l-property {
  color: #9cdcfe;
}
.l-punctuation-bracket {
  color: #d4d4d4;
}
.l-punctuation-bracket-rainbow-1 {
  color: #c586c0;
}
.l-punctuation-bracket-rainbow-2 {
  color: #d7ba7d;
}
.l-punctuation-bracket-rainbow-3 {
  color: #18a2fe;
}
.l-punctuation-bracket-rainbow-4 {
  color: #ce9178;
}
.l-punctuation-bracket-rainbow-5 {
  color: #6a9955;
}
.l-punctuation-bracket-rainbow-6 {
  color: #646695;
}
.l-punctuation-delimiter {
  color: #d4d4d4;
}
.l-punctuation-special {
  color: #d4d4d4;
}
.l-string {
  color: #ce9178;
}
.l-string-documentation {
  color: #ce9178;
}
.l-string-escape {
  color: #d4d4d4;
}
.l-string-regexp {
  color: #ce9178;
}
.l-string-special {
  color: #d4d4d4;
}
.l-string-special-path {
  color: #d4d4d4;
}
.l-string-special-symbol {
  color: #d4d4d4;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #569cd6;
}
.l-tag-attribute {
  color: #9cdcfe;
}
.l-tag-builtin {
  color: #569cd6;
}
.l-tag-delimiter {
  color: #808080;
}
.l-type {
  color: #4ec9b0;
}
.l-type-builtin {
  color: #569cd6;
}
.l-type-builtin-tsx {
  color: #4ec9b0;
}
.l-type-builtin-typescript {
  color: #4ec9b0;
}
.l-type-definition {
  color: #4ec9b0;
}
.l-variable {
  color: #9cdcfe;
}
.l-variable-builtin {
  color: #569cd6;
}
.l-variable-member {
  color: #9cdcfe;
}
.l-variable-parameter {
  color: #9cdcfe;
}
.l-variable-parameter-builtin {
  color: #d7ba7d;
}
