/* vscode_light
 * revision: 6439ed89d0e10193f07e92268a321d7c6f6e93ee
 */
.lumis {
  color: #343434;
  background-color: #ffffff;
}
.l-attribute {
  color: #795e26;
}
.l-attribute-builtin {
  color: #16825d;
}
.l-boolean {
  color: #0000ff;
}
.l-character {
  color: #a31515;
}
.l-character-special {
  color: #343434;
}
.l-comment {
  color: #008000;
}
.l-comment-documentation {
  color: #008000;
}
.l-comment-error {
  color: #ff0000;
  font-weight: bold;
}
.l-comment-hint {
  color: #008000;
}
.l-comment-note {
  color: #16825d;
  font-weight: bold;
}
.l-comment-todo {
  color: #800000;
  background-color: #ffffff;
  font-weight: bold;
}
.l-comment-warning {
  color: #800000;
  font-weight: bold;
}
.l-constant {
  color: #267f99;
}
.l-constant-builtin {
  color: #0000ff;
}
.l-constant-macro {
  color: #16825d;
}
.l-constructor {
  color: #0000ff;
}
.l-constructor-python {
  color: #16825d;
}
.l-diff-delta {
  background-color: #ffcccc;
}
.l-diff-minus {
  background-color: #ffa3a3;
}
.l-diff-plus {
  background-color: #ebf1dd;
}
.l-error {
  color: #ff0000;
}
.l-function {
  color: #795e26;
}
.l-function-builtin {
  color: #795e26;
}
.l-function-call {
  color: #795e26;
}
.l-function-macro {
  color: #795e26;
}
.l-function-method {
  color: #795e26;
}
.l-function-method-call {
  color: #795e26;
}
.l-highlighted {
  background-color: #e5e5e5;
}
.l-keyword {
  color: #0000ff;
}
.l-keyword-conditional {
  color: #af00db;
}
.l-keyword-conditional-ternary {
  color: #af00db;
}
.l-keyword-coroutine {
  color: #0000ff;
}
.l-keyword-debug {
  color: #0000ff;
}
.l-keyword-directive {
  color: #0000ff;
}
.l-keyword-directive-define {
  color: #0000ff;
}
.l-keyword-exception {
  color: #af00db;
}
.l-keyword-export {
  color: #0000ff;
}
.l-keyword-function {
  color: #0000ff;
}
.l-keyword-import {
  color: #af00db;
}
.l-keyword-modifier {
  color: #0000ff;
}
.l-keyword-operator {
  color: #0000ff;
}
.l-keyword-repeat {
  color: #af00db;
}
.l-keyword-return {
  color: #af00db;
}
.l-keyword-type {
  color: #0000ff;
}
.l-label {
  color: #001080;
}
.l-markup {
  color: #800000;
}
.l-markup-environment {
  color: #800000;
}
.l-markup-environment-name {
  color: #800000;
}
.l-markup-heading {
  color: #800000;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #800000;
  font-weight: bold;
}
.l-markup-heading-1-markdown {
  color: #0000ff;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #800000;
  font-weight: bold;
}
.l-markup-heading-2-markdown {
  color: #c72e0f;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #800000;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #795e26;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #800000;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #008000;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #800000;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #0000ff;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #800000;
  font-weight: bold;
}
.l-markup-heading-6-markdown {
  color: #af00db;
  font-weight: bold;
}
.l-markup-italic {
  color: #343434;
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  color: #001080;
}
.l-markup-link-url {
  color: #343434;
}
.l-markup-list {
  color: #800000;
}
.l-markup-list-checked {
  color: #800000;
  background-color: #ffffff;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #800000;
  background-color: #ffffff;
  font-weight: bold;
}
.l-markup-math {
  color: #800000;
}
.l-markup-quote {
  color: #800000;
}
.l-markup-raw {
  color: #343434;
}
.l-markup-raw-block {
  color: #343434;
}
.l-markup-raw-markdown {
  color: #c72e0f;
}
.l-markup-raw-markdown_inline {
  color: #c72e0f;
}
.l-markup-strikethrough {
  color: #343434;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #000080;
  font-weight: bold;
}
.l-markup-underline {
  color: #800000;
  text-decoration: underline;
}
.l-module {
  color: #16825d;
}
.l-module-builtin {
  color: #800000;
}
.l-namespace {
  color: #16825d;
}
.l-number {
  color: #098658;
}
.l-number-float {
  color: #098658;
}
.l-operator {
  color: #343434;
}
.l-property {
  color: #001080;
}
.l-punctuation-bracket {
  color: #343434;
}
.l-punctuation-bracket-rainbow-1 {
  color: #af00db;
}
.l-punctuation-bracket-rainbow-2 {
  color: #800000;
}
.l-punctuation-bracket-rainbow-3 {
  color: #18a2fe;
}
.l-punctuation-bracket-rainbow-4 {
  color: #c72e0f;
}
.l-punctuation-bracket-rainbow-5 {
  color: #008000;
}
.l-punctuation-bracket-rainbow-6 {
  color: #000080;
}
.l-punctuation-delimiter {
  color: #343434;
}
.l-punctuation-special {
  color: #343434;
}
.l-string {
  color: #a31515;
}
.l-string-documentation {
  color: #a31515;
}
.l-string-escape {
  color: #343434;
}
.l-string-regexp {
  color: #a31515;
}
.l-string-special {
  color: #343434;
}
.l-string-special-path {
  color: #343434;
}
.l-string-special-symbol {
  color: #343434;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #0000ff;
}
.l-tag-attribute {
  color: #001080;
}
.l-tag-builtin {
  color: #0000ff;
}
.l-tag-delimiter {
  color: #000000;
}
.l-type {
  color: #16825d;
}
.l-type-builtin {
  color: #0000ff;
}
.l-type-builtin-tsx {
  color: #16825d;
}
.l-type-builtin-typescript {
  color: #16825d;
}
.l-type-definition {
  color: #16825d;
}
.l-variable {
  color: #001080;
}
.l-variable-builtin {
  color: #0000ff;
}
.l-variable-member {
  color: #001080;
}
.l-variable-parameter {
  color: #001080;
}
.l-variable-parameter-builtin {
  color: #800000;
}
