/* xcode_light_hc
 * revision: c57b4df378952382eb0c8aa93614d1d70f35798a
 */
.lumis {
  color: #000000;
  background-color: #ffffff;
}
.l-attribute {
  color: #78492a;
}
.l-attribute-builtin {
  color: #174145;
}
.l-boolean {
  color: #9c2191;
  font-weight: bold;
}
.l-character {
  color: #272ad8;
}
.l-character-special {
  color: #174145;
}
.l-comment {
  color: #8a99a6;
}
.l-comment-documentation {
  color: #8a99a6;
}
.l-comment-error {
  color: #590008;
}
.l-comment-hint {
  color: #8a99a6;
}
.l-comment-note {
  color: #007373;
}
.l-comment-todo {
  color: #5c6873;
  font-weight: bold;
}
.l-comment-warning {
  color: #6b5300;
}
.l-constant {
  color: #703daa;
}
.l-constant-builtin {
  color: #174145;
}
.l-constant-macro {
  color: #703daa;
}
.l-constructor {
  color: #174145;
}
.l-diff-delta {
  color: #007373;
}
.l-diff-minus {
  color: #590008;
}
.l-diff-plus {
  color: #005523;
}
.l-function {
  color: #703daa;
}
.l-function-builtin {
  color: #174145;
}
.l-function-call {
  color: #703daa;
}
.l-function-macro {
  color: #703daa;
}
.l-function-method {
  color: #703daa;
}
.l-function-method-call {
  color: #703daa;
}
.l-highlighted {
  background-color: #ecf5ff;
}
.l-keyword {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-conditional {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-conditional-ternary {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-coroutine {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-debug {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-directive {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-directive-define {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-exception {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-export {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-function {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-import {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-modifier {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-operator {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-repeat {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-return {
  color: #9c2191;
  font-weight: bold;
}
.l-keyword-type {
  color: #9c2191;
  font-weight: bold;
}
.l-label {
  color: #9c2191;
  font-weight: bold;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #cdcdcd;
}
.l-line-number-highlighted {
  color: #000000;
  background-color: #ecf5ff;
}
.l-markup {
  color: #174145;
}
.l-markup-environment {
  color: #174145;
}
.l-markup-environment-name {
  color: #174145;
}
.l-markup-heading {
  color: #000000;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #000000;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #000000;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #000000;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #000000;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #000000;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #000000;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #0058a1;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #0058a1;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #0058a1;
  text-decoration: underline;
}
.l-markup-list {
  color: #174145;
}
.l-markup-list-checked {
  color: #174145;
}
.l-markup-list-unchecked {
  color: #174145;
}
.l-markup-math {
  color: #174145;
}
.l-markup-quote {
  color: #174145;
}
.l-markup-raw {
  color: #174145;
}
.l-markup-raw-block {
  color: #174145;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #9c2191;
  font-weight: bold;
}
.l-module-builtin {
  color: #174145;
}
.l-number {
  color: #272ad8;
}
.l-number-float {
  color: #272ad8;
}
.l-operator {
  color: #5c6873;
}
.l-property {
  color: #355d61;
}
.l-punctuation-bracket {
  color: #5c6873;
}
.l-punctuation-delimiter {
  color: #5c6873;
}
.l-punctuation-special {
  color: #174145;
}
.l-string {
  color: #ad1805;
}
.l-string-documentation {
  color: #ad1805;
}
.l-string-escape {
  color: #174145;
}
.l-string-regexp {
  color: #174145;
}
.l-string-special {
  color: #174145;
}
.l-string-special-path {
  color: #174145;
}
.l-string-special-symbol {
  color: #174145;
}
.l-string-special-url {
  color: #0058a1;
  text-decoration: underline;
}
.l-tag {
  color: #174145;
}
.l-tag-attribute {
  color: #174145;
}
.l-tag-builtin {
  color: #174145;
}
.l-tag-delimiter {
  color: #174145;
}
.l-type {
  color: #441ea1;
}
.l-type-builtin {
  color: #174145;
}
.l-type-definition {
  color: #441ea1;
}
.l-variable {
  color: #14161b;
}
.l-variable-builtin {
  color: #174145;
}
.l-variable-member {
  color: #14161b;
}
.l-variable-parameter {
  color: #14161b;
}
.l-variable-parameter-builtin {
  color: #174145;
}
