/* zenbones_dark
 * revision: 8304d8df9b823ff11e103afa62f38c39f534abe6
 */
.lumis {
  color: #b4bdc3;
  background-color: #1c1917;
}
.l-attribute {
  color: #b4bdc3;
  font-weight: bold;
}
.l-attribute-builtin {
  color: #8d9499;
  font-weight: bold;
}
.l-boolean {
  color: #b4bdc3;
  font-style: italic;
}
.l-character {
  color: #868c91;
  font-style: italic;
}
.l-character-special {
  color: #8d9499;
  font-weight: bold;
}
.l-comment {
  color: #6e6763;
  font-style: italic;
}
.l-comment-documentation {
  color: #6e6763;
  font-style: italic;
}
.l-comment-error {
  color: #de6e7c;
}
.l-comment-hint {
  color: #6e6763;
  font-style: italic;
}
.l-comment-note {
  color: #6099c0;
}
.l-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.l-comment-warning {
  color: #b77e64;
}
.l-constant {
  color: #979fa4;
  font-weight: bold;
}
.l-constant-builtin {
  color: #868c91;
  font-style: italic;
}
.l-constant-macro {
  color: #868c91;
  font-style: italic;
}
.l-constructor {
  color: #8d9499;
  font-weight: bold;
}
.l-constructor-lua {
  color: #867a74;
}
.l-diff-delta {
  background-color: #1d2c36;
}
.l-diff-minus {
  background-color: #3e2225;
}
.l-diff-plus {
  background-color: #232d1a;
}
.l-function {
  color: #b4bdc3;
}
.l-function-builtin {
  color: #8d9499;
  font-weight: bold;
}
.l-function-call {
  color: #b4bdc3;
}
.l-function-macro {
  color: #b4bdc3;
  font-weight: bold;
}
.l-function-method {
  color: #b4bdc3;
}
.l-function-method-call {
  color: #b4bdc3;
}
.l-highlighted {
  background-color: #25211f;
}
.l-keyword {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-conditional {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-conditional-ternary {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-coroutine {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-debug {
  color: #8d9499;
  font-weight: bold;
}
.l-keyword-directive {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-directive-define {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-exception {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-export {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-function {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-import {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-modifier {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-operator {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-repeat {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-return {
  color: #b4bdc3;
  font-weight: bold;
}
.l-keyword-type {
  color: #b4bdc3;
  font-weight: bold;
}
.l-label {
  color: #b4bdc3;
  font-weight: bold;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #685f5a;
}
.l-line-number-highlighted {
  color: #b4bdc3;
  font-weight: bold;
}
.l-markup {
  color: #8d9499;
  font-weight: bold;
}
.l-markup-environment {
  color: #b4bdc3;
  font-weight: bold;
}
.l-markup-environment-name {
  color: #b4bdc3;
  font-weight: bold;
}
.l-markup-heading {
  color: #b4bdc3;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #b4bdc3;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #b4bdc3;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #b4bdc3;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #b4bdc3;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #b4bdc3;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #b4bdc3;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #868c91;
  font-style: italic;
}
.l-markup-link-label {
  color: #8d9499;
  font-weight: bold;
}
.l-markup-link-markdown {
  color: #979fa4;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #868c91;
  font-style: italic;
}
.l-markup-link-url-markdown {
  color: #6e6763;
}
.l-markup-list {
  color: #8d9499;
  font-weight: bold;
}
.l-markup-list-checked {
  color: #8d9499;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #8d9499;
  font-weight: bold;
}
.l-markup-math {
  color: #8d9499;
  font-weight: bold;
}
.l-markup-quote {
  color: #868c91;
}
.l-markup-raw {
  color: #868c91;
  font-style: italic;
}
.l-markup-raw-block {
  color: #868c91;
  font-style: italic;
}
.l-markup-raw-markdown {
  color: #a1938c;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #868c91;
  font-style: italic;
}
.l-module-builtin {
  color: #868c91;
  font-style: italic;
}
.l-number {
  color: #868c91;
}
.l-number-float {
  color: #868c91;
}
.l-operator {
  color: #b4bdc3;
  font-weight: bold;
}
.l-property {
  color: #979fa4;
}
.l-punctuation-bracket {
  color: #867a74;
}
.l-punctuation-delimiter {
  color: #867a74;
}
.l-punctuation-special {
  color: #867a74;
}
.l-punctuation-special-markdown {
  color: #8d9499;
  font-weight: bold;
}
.l-string {
  color: #868c91;
  font-style: italic;
}
.l-string-documentation {
  color: #868c91;
  font-style: italic;
}
.l-string-escape {
  color: #8d9499;
  font-weight: bold;
}
.l-string-escape-markdown {
  color: #5c534f;
  font-style: italic;
}
.l-string-regexp {
  color: #868c91;
  font-style: italic;
}
.l-string-special {
  color: #8d9499;
  font-weight: bold;
}
.l-string-special-path {
  color: #8d9499;
  font-weight: bold;
}
.l-string-special-symbol {
  color: #979fa4;
}
.l-string-special-url {
  color: #8d9499;
  font-weight: bold;
}
.l-tag {
  color: #8d9499;
  font-weight: bold;
}
.l-tag-attribute {
  color: #979fa4;
}
.l-tag-builtin {
  color: #8d9499;
  font-weight: bold;
}
.l-tag-delimiter {
  color: #867a74;
}
.l-type {
  color: #a1938c;
}
.l-type-builtin {
  color: #a1938c;
}
.l-type-definition {
  color: #a1938c;
}
.l-variable {
  color: #979fa4;
}
.l-variable-builtin {
  color: #868c91;
  font-style: italic;
}
.l-variable-member {
  color: #979fa4;
}
.l-variable-parameter {
  color: #979fa4;
}
.l-variable-parameter-builtin {
  color: #8d9499;
  font-weight: bold;
}
