/* adwaita_dark
 * revision: c607954f7b2cf56b24e921db0dab4749f3430a22
 */
.lumis {
  color: #deddda;
  background-color: #1d1d20;
}
.l-attribute {
  color: #e66100;
}
.l-attribute-builtin {
  color: #62a0ea;
}
.l-boolean {
  color: #c061cb;
  font-weight: bold;
}
.l-character {
  color: #33b2a4;
}
.l-character-special {
  color: #62a0ea;
}
.l-comment {
  color: #5e5e5e;
}
.l-comment-documentation {
  color: #5e5e5e;
}
.l-comment-error {
  color: #ed333b;
}
.l-comment-hint {
  color: #5e5e5e;
}
.l-comment-note {
  color: #218787;
}
.l-comment-todo {
  color: #f8e45c;
  font-weight: bold;
}
.l-comment-warning {
  color: #d38b09;
}
.l-constant {
  color: #7d8ac7;
}
.l-constant-builtin {
  color: #7d8ac7;
  font-weight: bold;
}
.l-constant-macro {
  color: #ffa348;
  font-weight: bold;
}
.l-constructor {
  color: #deddda;
}
.l-diff-delta {
  color: #ff7800;
  background-color: #1d1d20;
}
.l-diff-minus {
  color: #f66151;
  background-color: #1d1d20;
}
.l-diff-plus {
  color: #33b2a4;
  background-color: #1d1d20;
}
.l-error {
  color: #e01b24;
}
.l-function {
  color: #4e9a06;
}
.l-function-builtin {
  color: #4e9a06;
}
.l-function-call {
  color: #4e9a06;
}
.l-function-macro {
  color: #4e9a06;
  font-weight: bold;
}
.l-function-method {
  color: #4e9a06;
}
.l-function-method-call {
  color: #4e9a06;
}
.l-highlighted {
  background-color: #242428;
}
.l-keyword {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-conditional {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-conditional-ternary {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-coroutine {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-debug {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-directive {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-directive-define {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-exception {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-export {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-function {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-import {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-modifier {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-operator {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-repeat {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-return {
  color: #ffa348;
  font-weight: bold;
}
.l-keyword-type {
  color: #ffa348;
  font-weight: bold;
}
.l-label {
  color: #c061cb;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #5e5e5e;
  background-color: #1d1d20;
}
.l-line-number-highlighted {
  color: #9a9996;
  background-color: #242428;
}
.l-markup {
  color: #62a0ea;
}
.l-markup-environment {
  color: #62a0ea;
}
.l-markup-environment-name {
  color: #62a0ea;
}
.l-markup-heading {
  color: #5bc8af;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #5bc8af;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #5bc8af;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #5bc8af;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #5bc8af;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #5bc8af;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #5bc8af;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  color: #ed333b;
}
.l-markup-link-url {
  color: #62a0ea;
}
.l-markup-list {
  color: #62a0ea;
}
.l-markup-list-checked {
  color: #f8e45c;
  font-weight: bold;
}
.l-markup-list-markdown {
  color: #e66100;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #f8e45c;
  font-weight: bold;
}
.l-markup-math {
  color: #62a0ea;
}
.l-markup-quote {
  color: #62a0ea;
}
.l-markup-raw {
  color: #7d8ac7;
}
.l-markup-raw-block {
  color: #7d8ac7;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #5bc8af;
  font-weight: bold;
}
.l-module-builtin {
  color: #62a0ea;
}
.l-namespace {
  color: #ffa348;
}
.l-number {
  color: #4e57ba;
}
.l-number-float {
  color: #33b2a4;
}
.l-operator {
  color: #c061cb;
}
.l-property {
  color: #deddda;
}
.l-punctuation-bracket {
  color: #deddda;
}
.l-punctuation-delimiter {
  color: #deddda;
}
.l-punctuation-special {
  color: #5bc8af;
}
.l-string {
  color: #5bc8af;
}
.l-string-documentation {
  color: #5bc8af;
}
.l-string-escape {
  color: #62a0ea;
}
.l-string-regex {
  color: #c061cb;
}
.l-string-regexp {
  color: #62a0ea;
}
.l-string-special {
  color: #62a0ea;
}
.l-string-special-path {
  color: #62a0ea;
}
.l-string-special-symbol {
  color: #62a0ea;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #5bc8af;
}
.l-tag-attribute {
  color: #ffa348;
}
.l-tag-builtin {
  color: #62a0ea;
}
.l-tag-delimiter {
  color: #deddda;
}
.l-type {
  color: #5bc8af;
}
.l-type-builtin {
  color: #5bc8af;
  font-weight: bold;
}
.l-type-definition {
  color: #5bc8af;
  font-weight: bold;
}
.l-variable {
  color: #deddda;
}
.l-variable-builtin {
  color: #ffa348;
  font-weight: bold;
}
.l-variable-member {
  color: #deddda;
}
.l-variable-parameter {
  color: #deddda;
}
.l-variable-parameter-builtin {
  color: #62a0ea;
}
