/* bluloco_dark
 * revision: caa4233dab772dad1db272c78025dd9682dca9e8
 */
.lumis {
  color: #abb2bf;
  background-color: #282c34;
}
.l-attribute {
  color: #50adaf;
}
.l-attribute-builtin {
  color: #ff956b;
}
.l-boolean {
  color: #10b3fe;
}
.l-character {
  color: #ff956b;
}
.l-character-special {
  color: #ff956b;
}
.l-comment {
  color: #636d83;
}
.l-comment-documentation {
  color: #636d83;
}
.l-comment-error {
  color: #ff2e3f;
}
.l-comment-hint {
  color: #636d83;
}
.l-comment-note {
  color: #3892ff;
}
.l-comment-todo {
  color: #ffffff;
  background-color: #3892ff;
}
.l-comment-warning {
  color: #da7b44;
}
.l-constant {
  color: #a081fe;
}
.l-constant-builtin {
  color: #10b3fe;
}
.l-constant-macro {
  color: #a081fe;
}
.l-constructor {
  color: #ff6682;
}
.l-diff-delta {
  color: #3892ff;
}
.l-diff-minus {
  color: #ff6682;
}
.l-diff-plus {
  color: #3fc66c;
}
.l-error {
  color: #ff2e3f;
}
.l-function {
  color: #3fc66c;
}
.l-function-builtin {
  color: #3fc66c;
}
.l-function-call {
  color: #3fc66c;
}
.l-function-macro {
  color: #3fc66c;
}
.l-function-method {
  color: #3fc66c;
}
.l-function-method-call {
  color: #3fc66c;
}
.l-highlighted {
  background-color: #384252;
}
.l-keyword {
  color: #10b3fe;
}
.l-keyword-conditional {
  color: #10b3fe;
}
.l-keyword-conditional-ternary {
  color: #10b3fe;
}
.l-keyword-coroutine {
  color: #10b3fe;
}
.l-keyword-debug {
  color: #10b3fe;
}
.l-keyword-directive {
  color: #10b3fe;
}
.l-keyword-directive-define {
  color: #10b3fe;
}
.l-keyword-exception {
  color: #10b3fe;
}
.l-keyword-export {
  color: #10b3fe;
}
.l-keyword-function {
  color: #10b3fe;
}
.l-keyword-import {
  color: #10b3fe;
}
.l-keyword-modifier {
  color: #10b3fe;
}
.l-keyword-operator {
  color: #10b3fe;
}
.l-keyword-repeat {
  color: #10b3fe;
}
.l-keyword-return {
  color: #10b3fe;
}
.l-keyword-type {
  color: #10b3fe;
}
.l-label {
  color: #50adaf;
}
.l-label-json {
  color: #ce9888;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #636d83;
}
.l-line-number-highlighted {
  color: #636d83;
}
.l-markup {
  color: #ff956b;
}
.l-markup-environment {
  color: #ff956b;
}
.l-markup-environment-name {
  color: #ff956b;
}
.l-markup-heading {
  color: #10b3fe;
}
.l-markup-heading-1 {
  color: #10b3fe;
}
.l-markup-heading-2 {
  color: #3892ff;
}
.l-markup-heading-3 {
  color: #a081fe;
}
.l-markup-heading-4 {
  color: #ff7af8;
}
.l-markup-heading-5 {
  color: #ff956b;
}
.l-markup-heading-6 {
  color: #ce9888;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  color: #3892ff;
  text-decoration: underline;
}
.l-markup-list {
  color: #7c84da;
}
.l-markup-list-checked {
  color: #7c84da;
}
.l-markup-list-unchecked {
  color: #7c84da;
}
.l-markup-math {
  color: #ff956b;
}
.l-markup-math-markdown {
  color: #ff7af8;
}
.l-markup-quote {
  color: #ff956b;
}
.l-markup-quote-markdown {
  color: #a081fe;
}
.l-markup-raw {
  color: #ce9888;
}
.l-markup-raw-block {
  color: #ce9888;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #ff859d;
}
.l-module-builtin {
  color: #ff956b;
}
.l-namespace {
  color: #ff859d;
}
.l-number {
  color: #ff7af8;
}
.l-number-float {
  color: #ff7af8;
}
.l-operator {
  color: #7c84da;
}
.l-property {
  color: #ce9888;
}
.l-punctuation-bracket {
  color: #7c84da;
}
.l-punctuation-bracket-rainbow-1 {
  color: #ff6666;
}
.l-punctuation-bracket-rainbow-2 {
  color: #f4ff7a;
}
.l-punctuation-bracket-rainbow-3 {
  color: #42a4ff;
}
.l-punctuation-bracket-rainbow-4 {
  color: #ffa024;
}
.l-punctuation-bracket-rainbow-5 {
  color: #91f532;
}
.l-punctuation-bracket-rainbow-6 {
  color: #ff7aff;
}
.l-punctuation-delimiter {
  color: #7c84da;
}
.l-punctuation-special {
  color: #7c84da;
}
.l-string {
  color: #f9c958;
}
.l-string-documentation {
  color: #f9c958;
}
.l-string-escape {
  color: #ff956b;
}
.l-string-regexp {
  color: #ff956b;
}
.l-string-special {
  color: #ff956b;
}
.l-string-special-path {
  color: #ff956b;
}
.l-string-special-symbol {
  color: #a081fe;
}
.l-string-special-url {
  color: #3892ff;
  text-decoration: underline;
}
.l-tag {
  color: #3892ff;
}
.l-tag-attribute {
  color: #ff956b;
}
.l-tag-builtin {
  color: #3892ff;
}
.l-tag-delimiter {
  color: #3892ff;
}
.l-type {
  color: #ff6682;
}
.l-type-builtin {
  color: #10b3fe;
}
.l-type-definition {
  color: #ff6682;
}
.l-variable {
  color: #abb2bf;
}
.l-variable-builtin {
  color: #10b3fe;
}
.l-variable-member {
  color: #ce9888;
}
.l-variable-parameter {
  color: #8acdef;
}
.l-variable-parameter-builtin {
  color: #ff956b;
}
