/* deepwhite
 * revision: ccad56bb5eb7d29258980cfc0a716eb87bcad69e
 */
.lumis {
  color: #1a1918;
  background-color: #faf2eb;
}
.l-attribute {
  color: #1a1918;
  font-weight: bold;
}
.l-attribute-builtin {
  color: #0000a6;
}
.l-boolean {
  color: #1a1918;
  background-color: #d4d4fa;
}
.l-character {
  color: #1a1918;
  background-color: #d4d4fa;
}
.l-character-special {
  color: #0000a6;
}
.l-comment {
  color: #999791;
}
.l-comment-documentation {
  color: #999791;
}
.l-comment-error {
  color: #faf2eb;
  background-color: #a60000;
}
.l-comment-hint {
  color: #999791;
}
.l-comment-note {
  color: #0000a6;
}
.l-comment-todo {
  color: #00a600;
}
.l-comment-warning {
  color: #faf2eb;
  background-color: #f27900;
}
.l-constant {
  color: #1a1918;
  background-color: #d4d4fa;
}
.l-constant-builtin {
  color: #a6006f;
}
.l-constant-macro {
  color: #1a1918;
  font-weight: bold;
}
.l-constructor {
  color: #1a1918;
}
.l-diff-delta {
  color: #f27900;
}
.l-diff-minus {
  color: #a60000;
}
.l-diff-plus {
  color: #00a600;
}
.l-function {
  color: #1a1918;
}
.l-function-builtin {
  color: #0000a6;
}
.l-function-call {
  color: #0000a6;
}
.l-function-macro {
  color: #1a1918;
  font-weight: bold;
}
.l-function-method {
  color: #1a1918;
}
.l-function-method-call {
  color: #0000a6;
}
.l-highlighted {
  background-color: #e6e4df;
}
.l-keyword {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-keyword-conditional {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-keyword-conditional-ternary {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-keyword-coroutine {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-keyword-debug {
  color: #0000a6;
}
.l-keyword-directive {
  color: #1a1918;
  font-weight: bold;
}
.l-keyword-directive-define {
  color: #1a1918;
  font-weight: bold;
}
.l-keyword-exception {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-keyword-export {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-keyword-function {
  background-color: #edd4fa;
}
.l-keyword-import {
  color: #1a1918;
  font-weight: bold;
}
.l-keyword-modifier {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-keyword-operator {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-keyword-repeat {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-keyword-return {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-keyword-type {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-label {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #999791;
}
.l-line-number-highlighted {
  color: #1a1918;
  background-color: #faf2eb;
}
.l-markup {
  color: #0000a6;
}
.l-markup-environment {
  color: #1a1918;
  font-weight: bold;
}
.l-markup-environment-name {
  color: #1a1918;
  font-weight: bold;
}
.l-markup-heading {
  color: #1a1918;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #1a1918;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #1a1918;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #1a1918;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #1a1918;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #1a1918;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #1a1918;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  color: #0000a6;
}
.l-markup-link-url {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-markup-list {
  color: #1a1918;
}
.l-markup-list-checked {
  color: #999791;
}
.l-markup-list-unchecked {
  color: #1a1918;
}
.l-markup-math {
  color: #0000a6;
}
.l-markup-quote {
  color: #999791;
}
.l-markup-raw {
  color: #0000a6;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #1a1918;
  font-weight: bold;
}
.l-module-builtin {
  color: #1a1918;
  font-weight: bold;
}
.l-number {
  color: #1a1918;
  background-color: #d4d4fa;
}
.l-number-float {
  color: #1a1918;
  background-color: #d4d4fa;
}
.l-operator {
  color: #1a1918;
}
.l-property {
  color: #1a1918;
}
.l-punctuation-bracket {
  color: #1a1918;
}
.l-punctuation-bracket-rainbow-1 {
  color: #a60000;
}
.l-punctuation-bracket-rainbow-2 {
  color: #f2f200;
}
.l-punctuation-bracket-rainbow-3 {
  color: #0000a6;
}
.l-punctuation-bracket-rainbow-4 {
  color: #f27900;
}
.l-punctuation-bracket-rainbow-5 {
  color: #00a600;
}
.l-punctuation-bracket-rainbow-6 {
  color: #6f00a6;
}
.l-punctuation-delimiter {
  color: #1a1918;
}
.l-punctuation-special {
  color: #0000a6;
}
.l-string {
  color: #1a1918;
  background-color: #d4fad4;
}
.l-string-documentation {
  color: #1a1918;
  background-color: #d4fad4;
}
.l-string-escape {
  color: #0000a6;
}
.l-string-regexp {
  color: #1a1918;
  background-color: #d4fad4;
}
.l-string-special {
  color: #0000a6;
}
.l-string-special-path {
  text-decoration: underline;
}
.l-string-special-symbol {
  color: #1a1918;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #1a1918;
  background-color: #fae1c8;
}
.l-tag-attribute {
  color: #1a1918;
}
.l-tag-builtin {
  color: #0000a6;
}
.l-tag-delimiter {
  color: #1a1918;
}
.l-type {
  color: #a6006f;
}
.l-type-builtin {
  color: #a6006f;
}
.l-type-definition {
  color: #a6006f;
}
.l-variable {
  color: #1a1918;
}
.l-variable-builtin {
  color: #a6006f;
}
.l-variable-member {
  color: #1a1918;
}
.l-variable-parameter {
  color: #1a1918;
}
.l-variable-parameter-builtin {
  color: #0000a6;
}
