/* duskfox
 * revision: 4dacd3f0185a2227bdf3b6c0975a8f0bf87cac9a
 */
.lumis {
  color: #e0def4;
  background-color: #232136;
}
.l-attribute {
  color: #f0a4a2;
}
.l-attribute-builtin {
  color: #65b1cd;
}
.l-boolean {
  color: #ea9a97;
}
.l-character {
  color: #a3be8c;
}
.l-character-special {
  color: #65b1cd;
}
.l-comment {
  color: #817c9c;
}
.l-comment-documentation {
  color: #817c9c;
}
.l-comment-error {
  color: #232136;
  background-color: #eb6f92;
}
.l-comment-hint {
  color: #817c9c;
}
.l-comment-note {
  color: #232136;
  background-color: #569fba;
}
.l-comment-todo {
  color: #232136;
  background-color: #a3be8c;
}
.l-comment-warning {
  color: #232136;
  background-color: #f6c177;
}
.l-constant {
  color: #f0a4a2;
}
.l-constant-builtin {
  color: #f0a4a2;
}
.l-constant-macro {
  color: #f0a6cc;
}
.l-constructor {
  color: #9ccfd8;
}
.l-constructor-lua {
  color: #cdcbe0;
}
.l-diff-delta {
  color: #f6c177;
}
.l-diff-minus {
  color: #eb6f92;
}
.l-diff-plus {
  color: #a3be8c;
}
.l-function {
  color: #65b1cd;
}
.l-function-builtin {
  color: #eb6f92;
}
.l-function-call {
  color: #65b1cd;
}
.l-function-macro {
  color: #eb6f92;
}
.l-function-method {
  color: #65b1cd;
}
.l-function-method-call {
  color: #65b1cd;
}
.l-highlighted {
  background-color: #373354;
}
.l-keyword {
  color: #c4a7e7;
}
.l-keyword-conditional {
  color: #ccb1ed;
}
.l-keyword-conditional-ternary {
  color: #ccb1ed;
}
.l-keyword-coroutine {
  color: #c4a7e7;
}
.l-keyword-debug {
  color: #c4a7e7;
}
.l-keyword-directive {
  color: #c4a7e7;
}
.l-keyword-directive-define {
  color: #c4a7e7;
}
.l-keyword-exception {
  color: #c4a7e7;
}
.l-keyword-export {
  color: #c4a7e7;
}
.l-keyword-function {
  color: #c4a7e7;
}
.l-keyword-import {
  color: #f0a6cc;
}
.l-keyword-modifier {
  color: #c4a7e7;
}
.l-keyword-operator {
  color: #cdcbe0;
}
.l-keyword-repeat {
  color: #ccb1ed;
}
.l-keyword-return {
  color: #eb6f92;
}
.l-keyword-type {
  color: #c4a7e7;
}
.l-label {
  color: #ccb1ed;
}
.l-label-json {
  color: #65b1cd;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #6e6a86;
}
.l-line-number-highlighted {
  color: #f6c177;
  font-weight: bold;
}
.l-markup {
  color: #e0def4;
}
.l-markup-environment {
  color: #e0def4;
}
.l-markup-environment-name {
  color: #e0def4;
}
.l-markup-heading {
  color: #65b1cd;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #65b1cd;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #65b1cd;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #65b1cd;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #65b1cd;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #65b1cd;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #65b1cd;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #c4a7e7;
  font-weight: bold;
}
.l-markup-link-label {
  color: #65b1cd;
}
.l-markup-link-url {
  color: #f0a4a2;
  font-style: italic;
  text-decoration: underline;
}
.l-markup-list {
  color: #a6dae3;
}
.l-markup-list-checked {
  color: #a3be8c;
}
.l-markup-list-unchecked {
  color: #f6c177;
}
.l-markup-math {
  color: #65b1cd;
}
.l-markup-quote {
  color: #cdcbe0;
}
.l-markup-raw {
  color: #9ccfd8;
  font-style: italic;
}
.l-markup-raw-block {
  color: #eb98c3;
}
.l-markup-strikethrough {
  color: #e0def4;
  text-decoration: line-through;
}
.l-markup-strong {
  color: #d84f76;
  font-weight: bold;
}
.l-module {
  color: #a6dae3;
}
.l-module-builtin {
  color: #65b1cd;
}
.l-namespace {
  color: #a6dae3;
}
.l-number {
  color: #ea9a97;
}
.l-number-float {
  color: #ea9a97;
}
.l-operator {
  color: #cdcbe0;
}
.l-property {
  color: #569fba;
}
.l-punctuation-bracket {
  color: #cdcbe0;
}
.l-punctuation-bracket-rainbow-1 {
  color: #eb6f92;
}
.l-punctuation-bracket-rainbow-2 {
  color: #f6c177;
}
.l-punctuation-bracket-rainbow-3 {
  color: #569fba;
}
.l-punctuation-bracket-rainbow-4 {
  color: #ea9a97;
}
.l-punctuation-bracket-rainbow-5 {
  color: #a3be8c;
}
.l-punctuation-delimiter {
  color: #cdcbe0;
}
.l-punctuation-special {
  color: #a6dae3;
}
.l-string {
  color: #a3be8c;
}
.l-string-documentation {
  color: #a3be8c;
}
.l-string-escape {
  color: #f9cb8c;
  font-weight: bold;
}
.l-string-regex {
  color: #f9cb8c;
}
.l-string-regexp {
  color: #f9cb8c;
}
.l-string-special {
  color: #65b1cd;
}
.l-string-special-path {
  color: #65b1cd;
}
.l-string-special-symbol {
  color: #65b1cd;
}
.l-string-special-url {
  color: #f0a4a2;
  font-style: italic;
  text-decoration: underline;
}
.l-tag {
  color: #c4a7e7;
}
.l-tag-attribute {
  color: #65b1cd;
  font-style: italic;
}
.l-tag-builtin {
  color: #65b1cd;
}
.l-tag-delimiter {
  color: #a6dae3;
}
.l-type {
  color: #f6c177;
}
.l-type-builtin {
  color: #a6dae3;
}
.l-type-definition {
  color: #f6c177;
}
.l-variable {
  color: #e0def4;
}
.l-variable-builtin {
  color: #eb6f92;
}
.l-variable-member {
  color: #569fba;
}
.l-variable-parameter {
  color: #a6dae3;
}
.l-variable-parameter-builtin {
  color: #65b1cd;
}
