/* fluoromachine_delta
 * revision: a279f667168e742df059caf1f1f4daf1de24f4f8
 */
.lumis {
  color: #efeffd;
  background-color: #2b2233;
}
.l-attribute {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-attribute-builtin {
  color: #edff98;
}
.l-boolean {
  color: #98fffb;
}
.l-character {
  color: #d598ff;
}
.l-character-special {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.l-comment {
  color: #925393;
}
.l-comment-documentation {
  color: #925393;
}
.l-comment-error {
  color: #ff98b3;
}
.l-comment-hint {
  color: #925393;
}
.l-comment-note {
  color: #98fffb;
}
.l-comment-todo {
  color: #ff98b3;
}
.l-comment-warning {
  color: #ffd298;
}
.l-constant {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.l-constant-builtin {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.l-constant-html {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-constant-macro {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.l-constructor {
  color: #c0ff98;
}
.l-diff-delta {
  color: #ffd298;
}
.l-diff-minus {
  color: #ff98b3;
}
.l-diff-plus {
  color: #c0ff98;
}
.l-function {
  color: #edff98;
  background-color: #352d38;
  font-weight: bold;
}
.l-function-builtin {
  color: #c0ff98;
}
.l-function-call {
  color: #edff98;
  background-color: #352d38;
  font-weight: bold;
}
.l-function-macro {
  color: #edff98;
  background-color: #352d38;
  font-weight: bold;
}
.l-function-method {
  color: #edff98;
  background-color: #352d38;
  font-weight: bold;
}
.l-function-method-call {
  color: #edff98;
  background-color: #352d38;
  font-weight: bold;
}
.l-highlighted {
  background-color: #492949;
}
.l-keyword {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-conditional {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-conditional-ternary {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-coroutine {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-debug {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-directive {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-directive-define {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-exception {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-export {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-function {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-import {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-modifier {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-operator {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-repeat {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-return {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-keyword-type {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-label {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #925393;
  background-color: #2b2233;
}
.l-line-number-highlighted {
  color: #c0ff98;
  background-color: #2b2233;
  font-weight: bold;
}
.l-markup {
  color: #edff98;
}
.l-markup-environment {
  color: #925393;
}
.l-markup-environment-name {
  color: #925393;
}
.l-markup-heading {
  color: #c0ff98;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #c0ff98;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #c0ff98;
  font-weight: bold;
}
.l-markup-heading-2-markdown {
  color: #edff98;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #c0ff98;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #98fffb;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #c0ff98;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #ff98b3;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #c0ff98;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #ff67d4;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #c0ff98;
  font-weight: bold;
}
.l-markup-heading-6-markdown {
  color: #d598ff;
  font-weight: bold;
}
.l-markup-italic {
  color: #ff98b3;
  font-style: italic;
}
.l-markup-link {
  color: #ffd298;
  font-weight: bold;
}
.l-markup-link-label {
  color: #98fffb;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #98fffb;
  text-decoration: underline;
}
.l-markup-list {
  color: #d598ff;
}
.l-markup-list-checked {
  color: #c0ff98;
}
.l-markup-list-unchecked {
  color: #ffd298;
}
.l-markup-math {
  color: #d598ff;
}
.l-markup-quote {
  color: #925393;
}
.l-markup-raw {
  color: #925393;
}
.l-markup-raw-block {
  color: #efeffd;
}
.l-markup-strikethrough {
  color: #925393;
}
.l-markup-strong {
  color: #ffd298;
  font-weight: bold;
}
.l-markup-underline {
  color: #98fffb;
  text-decoration: underline;
}
.l-module {
  color: #efeffd;
}
.l-module-builtin {
  color: #ff98b3;
}
.l-number {
  color: #98fffb;
}
.l-number-float {
  color: #98fffb;
}
.l-operator {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-property {
  color: #efeffd;
}
.l-punctuation-bracket {
  color: #efeffd;
}
.l-punctuation-delimiter {
  color: #efeffd;
}
.l-punctuation-special {
  color: #ff67d4;
}
.l-string {
  color: #d598ff;
}
.l-string-documentation {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-string-escape {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-string-regexp {
  color: #ff98b3;
}
.l-string-special {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.l-string-special-path {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.l-string-special-symbol {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.l-string-special-url {
  color: #98fffb;
  text-decoration: underline;
}
.l-tag {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-tag-attribute {
  color: #c0ff98;
  background-color: #322d38;
  font-weight: bold;
}
.l-tag-builtin {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-tag-delimiter {
  color: #efeffd;
  background-color: #352c3d;
}
.l-type {
  color: #c0ff98;
}
.l-type-builtin {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.l-type-definition {
  color: #c0ff98;
}
.l-variable {
  color: #efeffd;
}
.l-variable-builtin {
  color: #ff98b3;
}
.l-variable-member {
  color: #efeffd;
}
.l-variable-parameter {
  color: #ffd298;
}
.l-variable-parameter-builtin {
  color: #edff98;
}
