/* kanagawa_paper_light
 * revision: ecf19801a2673054c19421d82b766f7641688320
 */
.lumis {
  color: #73787d;
  background-color: #e1e1de;
}
.l-attribute {
  color: #a7956a;
}
.l-attribute-builtin {
  color: #7e8faf;
}
.l-boolean {
  color: #b28d77;
  font-weight: bold;
}
.l-character {
  color: #7e9579;
}
.l-character-special {
  color: #7e8faf;
}
.l-comment {
  color: #aeaea6;
}
.l-comment-documentation {
  color: #9ba98e;
  font-style: italic;
}
.l-comment-error {
  color: #e1e1de;
  background-color: #c27672;
  font-weight: bold;
}
.l-comment-hint {
  color: #aeaea6;
}
.l-comment-note {
  color: #e1e1de;
  background-color: #7b958e;
  font-weight: bold;
}
.l-comment-todo {
  color: #e1e1de;
  background-color: #809ba7;
  font-weight: bold;
}
.l-comment-warning {
  color: #e1e1de;
  background-color: #b28d77;
  font-weight: bold;
}
.l-constant {
  color: #b28d77;
}
.l-constant-builtin {
  color: #7e8faf;
}
.l-constant-macro {
  color: #b28d77;
}
.l-constructor {
  color: #7b958e;
}
.l-diff-delta {
  color: #a7956a;
}
.l-diff-minus {
  color: #c27672;
}
.l-diff-plus {
  color: #7a8c6a;
}
.l-function {
  color: #7b958e;
}
.l-function-builtin {
  color: #7e8faf;
}
.l-function-call {
  color: #7b958e;
}
.l-function-macro {
  color: #7b958e;
}
.l-function-method {
  color: #7b958e;
}
.l-function-method-call {
  color: #7b958e;
}
.l-highlighted {
  background-color: #d8d8d2;
}
.l-keyword {
  color: #9e7e98;
}
.l-keyword-conditional {
  color: #9e7e98;
}
.l-keyword-conditional-ternary {
  color: #9e7e98;
}
.l-keyword-coroutine {
  color: #9e7e98;
}
.l-keyword-debug {
  color: #9e7e98;
}
.l-keyword-directive {
  color: #9e7e98;
}
.l-keyword-directive-define {
  color: #9e7e98;
}
.l-keyword-exception {
  color: #9e7e98;
}
.l-keyword-export {
  color: #9e7e98;
}
.l-keyword-function {
  color: #9e7e98;
}
.l-keyword-import {
  color: #c27672;
}
.l-keyword-modifier {
  color: #9e7e98;
}
.l-keyword-operator {
  color: #c27672;
  font-weight: bold;
}
.l-keyword-repeat {
  color: #9e7e98;
}
.l-keyword-return {
  color: #9e7e98;
}
.l-keyword-type {
  color: #9e7e98;
}
.l-label {
  color: #7880a5;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #aeaea6;
}
.l-line-number-highlighted {
  color: #b28d77;
  font-weight: bold;
}
.l-markup {
  color: #7e8faf;
}
.l-markup-environment {
  color: #9e7e98;
}
.l-markup-environment-name {
  color: #9e7e98;
}
.l-markup-heading {
  color: #c27672;
}
.l-markup-heading-1 {
  color: #c27672;
}
.l-markup-heading-2 {
  color: #9e7e98;
}
.l-markup-heading-3 {
  color: #809ba7;
}
.l-markup-heading-4 {
  color: #a8826a;
}
.l-markup-heading-5 {
  color: #7e9579;
}
.l-markup-heading-6 {
  color: #637263;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #7880a5;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #7880a5;
}
.l-markup-link-url {
  color: #7880a5;
  text-decoration: underline;
}
.l-markup-list {
  color: #7e8faf;
}
.l-markup-list-checked {
  color: #7e8faf;
}
.l-markup-list-unchecked {
  color: #7e8faf;
}
.l-markup-math {
  color: #b28d77;
}
.l-markup-quote {
  color: #aeaea6;
}
.l-markup-raw {
  color: #7e9579;
}
.l-markup-raw-block {
  color: #7e9579;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #7b958e;
}
.l-module-builtin {
  color: #7e8faf;
}
.l-number {
  color: #9e7e98;
}
.l-number-float {
  color: #9e7e98;
}
.l-operator {
  color: #c27672;
}
.l-property {
  color: #7e8faf;
}
.l-punctuation-bracket {
  color: #aeaea6;
}
.l-punctuation-bracket-rainbow-1 {
  color: #c27672;
}
.l-punctuation-bracket-rainbow-2 {
  color: #9e7e98;
}
.l-punctuation-bracket-rainbow-3 {
  color: #809ba7;
}
.l-punctuation-bracket-rainbow-4 {
  color: #a8826a;
}
.l-punctuation-bracket-rainbow-5 {
  color: #7e9579;
}
.l-punctuation-bracket-rainbow-6 {
  color: #637263;
}
.l-punctuation-delimiter {
  color: #aeaea6;
}
.l-punctuation-special {
  color: #c27672;
}
.l-string {
  color: #7e9579;
}
.l-string-documentation {
  color: #7e9579;
}
.l-string-escape {
  color: #c27672;
  font-weight: bold;
}
.l-string-regexp {
  color: #c27672;
}
.l-string-special {
  color: #7e8faf;
}
.l-string-special-path {
  color: #7e8faf;
}
.l-string-special-symbol {
  color: #c27672;
}
.l-string-special-url {
  color: #7880a5;
  text-decoration: underline;
}
.l-tag {
  color: #7e8faf;
}
.l-tag-attribute {
  color: #a7956a;
}
.l-tag-builtin {
  color: #7e8faf;
}
.l-tag-delimiter {
  color: #aeaea6;
}
.l-type {
  color: #7b958e;
}
.l-type-builtin {
  color: #7e8faf;
}
.l-type-definition {
  color: #7b958e;
}
.l-variable-builtin {
  color: #b28d77;
  font-style: italic;
}
.l-variable-member {
  color: #c27672;
}
.l-variable-parameter {
  color: #73787d;
}
.l-variable-parameter-builtin {
  color: #7e8faf;
}
