/* material_lighter
 * revision: 92f7366a9315cd386bc4fa4d716fde375dda210f
 */
.lumis {
  color: #546e7a;
  background-color: #fafafa;
}
.l-attribute {
  background-color: #dbe2ed;
}
.l-attribute-builtin {
  color: #39adb5;
}
.l-boolean {
  color: #f76d47;
}
.l-character {
  color: #f76d47;
}
.l-character-special {
  color: #e53935;
}
.l-comment {
  color: #aabfc9;
}
.l-comment-documentation {
  color: #aabfc9;
}
.l-comment-error {
  color: #aabfc9;
  background-color: #ff5370;
}
.l-comment-hint {
  color: #aabfc9;
  background-color: #7c4dff;
}
.l-comment-note {
  color: #aabfc9;
  background-color: #8796b0;
}
.l-comment-todo {
  color: #aabfc9;
}
.l-comment-warning {
  color: #aabfc9;
  background-color: #f6a434;
}
.l-constant {
  color: #f6a434;
}
.l-constant-builtin {
  color: #f6a434;
}
.l-constant-macro {
  color: #39adb5;
}
.l-constructor {
  color: #6182b8;
}
.l-diff-delta {
  background-color: #dbe2ed;
}
.l-diff-minus {
  background-color: #f6d3d3;
}
.l-diff-plus {
  background-color: #e5edda;
}
.l-error {
  color: #ff5370;
  font-weight: bold;
}
.l-function {
  color: #6182b8;
}
.l-function-builtin {
  color: #6182b8;
}
.l-function-call {
  color: #6182b8;
}
.l-function-macro {
  color: #6182b8;
}
.l-function-method {
  color: #6182b8;
}
.l-function-method-call {
  color: #6182b8;
}
.l-highlighted {
  background-color: #e7e7e8;
}
.l-keyword {
  color: #7c4dff;
}
.l-keyword-conditional {
  color: #7c4dff;
}
.l-keyword-conditional-ternary {
  color: #7c4dff;
}
.l-keyword-coroutine {
  color: #7c4dff;
}
.l-keyword-debug {
  color: #7c4dff;
}
.l-keyword-directive {
  color: #39adb5;
}
.l-keyword-directive-define {
  color: #39adb5;
}
.l-keyword-exception {
  color: #e53935;
}
.l-keyword-export {
  color: #7c4dff;
}
.l-keyword-function {
  color: #7c4dff;
}
.l-keyword-import {
  color: #39adb5;
}
.l-keyword-modifier {
  color: #7c4dff;
}
.l-keyword-operator {
  color: #7c4dff;
}
.l-keyword-repeat {
  color: #7c4dff;
}
.l-keyword-return {
  color: #7c4dff;
}
.l-keyword-type {
  color: #7c4dff;
}
.l-label {
  color: #f6a434;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #cfd8dc;
}
.l-line-number-highlighted {
  color: #00bcd4;
}
.l-markup {
  color: #39adb5;
}
.l-markup-environment {
  color: #e53935;
}
.l-markup-environment-name {
  color: #e53935;
}
.l-markup-heading {
  color: #39adb5;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #39adb5;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #39adb5;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #39adb5;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #39adb5;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #39adb5;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #39adb5;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #e53935;
}
.l-markup-link-label {
  color: #e53935;
}
.l-markup-link-url {
  color: #80cbc4;
}
.l-markup-list {
  color: #39adb5;
}
.l-markup-list-checked {
  color: #91b859;
}
.l-markup-math {
  color: #6182b8;
}
.l-markup-quote {
  color: #39adb5;
}
.l-markup-raw {
  color: #7c4dff;
}
.l-markup-raw-block {
  color: #7c4dff;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #f6a434;
}
.l-module-builtin {
  color: #39adb5;
}
.l-namespace {
  color: #f6a434;
}
.l-number {
  color: #f76d47;
}
.l-number-float {
  color: #f76d47;
}
.l-operator {
  color: #39adb5;
}
.l-property {
  color: #94a7b0;
}
.l-punctuation-bracket {
  color: #39adb5;
}
.l-punctuation-delimiter {
  color: #39adb5;
}
.l-punctuation-special {
  color: #39adb5;
}
.l-string {
  color: #91b859;
}
.l-string-documentation {
  color: #91b859;
}
.l-string-escape {
  color: #94a7b0;
}
.l-string-regex {
  color: #f6a434;
}
.l-string-regexp {
  color: #f6a434;
}
.l-string-special {
  color: #94a7b0;
}
.l-string-special-path {
  color: #94a7b0;
}
.l-string-special-symbol {
  color: #f6a434;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #e53935;
}
.l-tag-attribute {
  color: #7c4dff;
}
.l-tag-builtin {
  color: #39adb5;
}
.l-tag-delimiter {
  color: #39adb5;
}
.l-type {
  color: #7c4dff;
}
.l-type-builtin {
  color: #7c4dff;
}
.l-variable {
  color: #546e7a;
}
.l-variable-builtin {
  color: #7c4dff;
}
.l-variable-member {
  color: #94a7b0;
}
.l-variable-parameter {
  color: #546e7a;
}
.l-variable-parameter-builtin {
  color: #39adb5;
}
