/* material_deep_ocean
 * revision: 92f7366a9315cd386bc4fa4d716fde375dda210f
 */
.lumis {
  color: #a6accd;
  background-color: #0f111a;
}
.l-attribute {
  background-color: #263048;
}
.l-attribute-builtin {
  color: #89ddff;
}
.l-boolean {
  color: #f78c6c;
}
.l-character {
  color: #f78c6c;
}
.l-character-special {
  color: #f07178;
}
.l-comment {
  color: #464b5d;
}
.l-comment-documentation {
  color: #464b5d;
}
.l-comment-error {
  color: #464b5d;
  background-color: #ff5370;
}
.l-comment-hint {
  color: #464b5d;
  background-color: #c792ea;
}
.l-comment-note {
  color: #464b5d;
  background-color: #b0c9ff;
}
.l-comment-todo {
  color: #464b5d;
}
.l-comment-warning {
  color: #464b5d;
  background-color: #ffcb6b;
}
.l-constant {
  color: #ffcb6b;
}
.l-constant-builtin {
  color: #ffcb6b;
}
.l-constant-macro {
  color: #89ddff;
}
.l-constructor {
  color: #82aaff;
}
.l-diff-delta {
  background-color: #263048;
}
.l-diff-minus {
  background-color: #3c242d;
}
.l-diff-plus {
  background-color: #333c31;
}
.l-error {
  color: #ff5370;
  font-weight: bold;
}
.l-function {
  color: #82aaff;
}
.l-function-builtin {
  color: #82aaff;
}
.l-function-call {
  color: #82aaff;
}
.l-function-macro {
  color: #82aaff;
}
.l-function-method {
  color: #82aaff;
}
.l-function-method-call {
  color: #82aaff;
}
.l-highlighted {
  background-color: #1a1c25;
}
.l-keyword {
  color: #c792ea;
}
.l-keyword-conditional {
  color: #c792ea;
}
.l-keyword-conditional-ternary {
  color: #c792ea;
}
.l-keyword-coroutine {
  color: #c792ea;
}
.l-keyword-debug {
  color: #c792ea;
}
.l-keyword-directive {
  color: #89ddff;
}
.l-keyword-directive-define {
  color: #89ddff;
}
.l-keyword-exception {
  color: #f07178;
}
.l-keyword-export {
  color: #c792ea;
}
.l-keyword-function {
  color: #c792ea;
}
.l-keyword-import {
  color: #89ddff;
}
.l-keyword-modifier {
  color: #c792ea;
}
.l-keyword-operator {
  color: #c792ea;
}
.l-keyword-repeat {
  color: #c792ea;
}
.l-keyword-return {
  color: #c792ea;
}
.l-keyword-type {
  color: #c792ea;
}
.l-label {
  color: #ffcb6b;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #3b3f51;
}
.l-line-number-highlighted {
  color: #84ffff;
}
.l-markup {
  color: #89ddff;
}
.l-markup-environment {
  color: #f07178;
}
.l-markup-environment-name {
  color: #f07178;
}
.l-markup-heading {
  color: #89ddff;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #89ddff;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #89ddff;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #89ddff;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #89ddff;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #89ddff;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #89ddff;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #f07178;
}
.l-markup-link-label {
  color: #f07178;
}
.l-markup-link-url {
  color: #80cbc4;
}
.l-markup-list {
  color: #89ddff;
}
.l-markup-list-checked {
  color: #c3e88d;
}
.l-markup-math {
  color: #82aaff;
}
.l-markup-quote {
  color: #89ddff;
}
.l-markup-raw {
  color: #c792ea;
}
.l-markup-raw-block {
  color: #c792ea;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #ffcb6b;
}
.l-module-builtin {
  color: #89ddff;
}
.l-namespace {
  color: #ffcb6b;
}
.l-number {
  color: #f78c6c;
}
.l-number-float {
  color: #f78c6c;
}
.l-operator {
  color: #89ddff;
}
.l-property {
  color: #717cb4;
}
.l-punctuation-bracket {
  color: #89ddff;
}
.l-punctuation-delimiter {
  color: #89ddff;
}
.l-punctuation-special {
  color: #89ddff;
}
.l-string {
  color: #c3e88d;
}
.l-string-documentation {
  color: #c3e88d;
}
.l-string-escape {
  color: #717cb4;
}
.l-string-regex {
  color: #ffcb6b;
}
.l-string-regexp {
  color: #ffcb6b;
}
.l-string-special {
  color: #717cb4;
}
.l-string-special-path {
  color: #717cb4;
}
.l-string-special-symbol {
  color: #ffcb6b;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #f07178;
}
.l-tag-attribute {
  color: #c792ea;
}
.l-tag-builtin {
  color: #89ddff;
}
.l-tag-delimiter {
  color: #89ddff;
}
.l-type {
  color: #c792ea;
}
.l-type-builtin {
  color: #c792ea;
}
.l-variable {
  color: #a6accd;
}
.l-variable-builtin {
  color: #c792ea;
}
.l-variable-member {
  color: #717cb4;
}
.l-variable-parameter {
  color: #a6accd;
}
.l-variable-parameter-builtin {
  color: #89ddff;
}
