/* melange_light
 * revision: ce42f6b629beeaa00591ba73a77d3eeac4cf28ce
 */
.lumis {
  color: #54433a;
  background-color: #f1f1f1;
}
.l-attribute {
  color: #3a684a;
}
.l-attribute-builtin {
  color: #a06d00;
}
.l-boolean {
  color: #904180;
}
.l-character {
  color: #7892bd;
}
.l-character-special {
  color: #a06d00;
}
.l-comment {
  color: #7d6658;
  font-style: italic;
}
.l-comment-documentation {
  color: #7d6658;
}
.l-comment-error {
  color: #7d6658;
  font-weight: bold;
}
.l-comment-hint {
  color: #7d6658;
  font-style: italic;
}
.l-comment-note {
  color: #7d6658;
  font-weight: bold;
}
.l-comment-todo {
  color: #7d6658;
  font-weight: bold;
}
.l-comment-warning {
  color: #7d6658;
  font-weight: bold;
}
.l-constant {
  color: #54433a;
}
.l-constant-builtin {
  color: #be79bb;
}
.l-constant-macro {
  color: #be79bb;
}
.l-constructor {
  color: #a06d00;
}
.l-diff-delta {
  background-color: #e8e0e8;
}
.l-diff-minus {
  color: #7d6658;
  background-color: #f1dedf;
}
.l-diff-plus {
  background-color: #d0e9d1;
}
.l-function {
  color: #a06d00;
}
.l-function-builtin {
  color: #a06d00;
}
.l-function-call {
  color: #a06d00;
}
.l-function-macro {
  color: #a06d00;
}
.l-function-method {
  color: #a06d00;
}
.l-function-method-call {
  color: #a06d00;
}
.l-highlighted {
  background-color: #e9e1db;
}
.l-keyword {
  color: #bc5c00;
}
.l-keyword-conditional {
  color: #bc5c00;
}
.l-keyword-conditional-ternary {
  color: #bc5c00;
}
.l-keyword-coroutine {
  color: #bc5c00;
}
.l-keyword-debug {
  color: #bc5c00;
}
.l-keyword-directive {
  color: #3a684a;
}
.l-keyword-directive-define {
  color: #3a684a;
}
.l-keyword-exception {
  color: #bc5c00;
}
.l-keyword-export {
  color: #bc5c00;
}
.l-keyword-function {
  color: #3a684a;
}
.l-keyword-import {
  color: #3a684a;
}
.l-keyword-modifier {
  color: #bc5c00;
}
.l-keyword-operator {
  color: #bc5c00;
}
.l-keyword-repeat {
  color: #bc5c00;
}
.l-keyword-return {
  color: #bc5c00;
}
.l-keyword-type {
  color: #bc5c00;
}
.l-label {
  color: #3d6568;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #a98a78;
}
.l-line-number-highlighted {
  color: #bc5c00;
}
.l-markup {
  color: #a06d00;
}
.l-markup-environment {
  color: #a06d00;
}
.l-markup-environment-name {
  color: #a06d00;
}
.l-markup-heading {
  color: #bc5c00;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #bc5c00;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #a06d00;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #3a684a;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #bc5c00;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #a06d00;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #3a684a;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-url {
  color: #7892bd;
}
.l-markup-list {
  color: #cca478;
}
.l-markup-list-checked {
  color: #cca478;
}
.l-markup-list-unchecked {
  color: #cca478;
}
.l-markup-math {
  color: #3d6568;
}
.l-markup-quote {
  color: #7d6658;
  font-style: italic;
}
.l-markup-raw {
  color: #3d6568;
}
.l-markup-raw-block {
  color: #7d6658;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #54433a;
}
.l-module-builtin {
  color: #54433a;
}
.l-number {
  color: #904180;
}
.l-number-float {
  color: #904180;
}
.l-operator {
  color: #bf0021;
}
.l-property {
  color: #54433a;
}
.l-punctuation-bracket {
  color: #cca478;
}
.l-punctuation-bracket-rainbow-1 {
  color: #bf0021;
}
.l-punctuation-bracket-rainbow-2 {
  color: #a06d00;
}
.l-punctuation-bracket-rainbow-3 {
  color: #465aa4;
}
.l-punctuation-bracket-rainbow-4 {
  color: #bc5c00;
}
.l-punctuation-bracket-rainbow-5 {
  color: #3a684a;
}
.l-punctuation-bracket-rainbow-6 {
  color: #be79bb;
}
.l-punctuation-delimiter {
  color: #c77b8b;
}
.l-punctuation-special {
  color: #a06d00;
}
.l-string {
  color: #465aa4;
  font-style: italic;
}
.l-string-documentation {
  color: #465aa4;
}
.l-string-escape {
  color: #7892bd;
}
.l-string-regexp {
  color: #465aa4;
}
.l-string-special {
  color: #3d6568;
}
.l-string-special-path {
  color: #6e9b72;
}
.l-string-special-symbol {
  color: #54433a;
  font-style: italic;
}
.l-string-special-url {
  color: #7892bd;
}
.l-tag {
  color: #a06d00;
}
.l-tag-attribute {
  color: #3d6568;
}
.l-tag-builtin {
  color: #a06d00;
}
.l-tag-delimiter {
  color: #cca478;
}
.l-type {
  color: #739797;
}
.l-type-builtin {
  color: #739797;
}
.l-type-definition {
  color: #739797;
}
.l-variable {
  color: #54433a;
}
.l-variable-builtin {
  color: #54433a;
  font-style: italic;
}
.l-variable-member {
  color: #54433a;
}
.l-variable-parameter {
  color: #54433a;
}
.l-variable-parameter-builtin {
  color: #a06d00;
}
