/* mellifluous_kanagawa_dragon
 * revision: ec0575bdb63594c5e7fba6eb9607b009aa1fb74e
 */
.lumis {
  color: #d7d4d4;
  background-color: #181616;
}
.l-attribute {
  color: #8992a7;
}
.l-attribute-builtin {
  color: #8992a7;
}
.l-boolean {
  color: #b6927b;
}
.l-character {
  color: #c4b28a;
}
.l-character-special {
  color: #c4b28a;
}
.l-comment {
  color: #737c73;
  font-style: italic;
}
.l-comment-documentation {
  color: #8a9a7b;
  font-style: italic;
}
.l-comment-error {
  color: #b96a65;
  background-color: #382726;
}
.l-comment-hint {
  color: #737c73;
  font-style: italic;
}
.l-comment-note {
  color: #8d7e8e;
  background-color: #2f2b2e;
}
.l-comment-todo {
  color: #7a8a6c;
  background-color: #2c2d27;
}
.l-comment-warning {
  color: #a37967;
  background-color: #342a26;
}
.l-constant {
  color: #b6927b;
}
.l-constant-builtin {
  color: #b6927b;
}
.l-constant-macro {
  color: #b6927b;
}
.l-constructor {
  color: #8ba4b0;
}
.l-diff-delta {
  background-color: #34221b;
}
.l-diff-minus {
  background-color: #391e1d;
}
.l-diff-plus {
  background-color: #28271d;
}
.l-function {
  color: #8ba4b0;
}
.l-function-builtin {
  color: #8ba4b0;
}
.l-function-call {
  color: #8ba4b0;
}
.l-function-macro {
  color: #8ba4b0;
}
.l-function-method {
  color: #8ba4b0;
}
.l-function-method-call {
  color: #8ba4b0;
}
.l-highlighted {
  background-color: #222020;
}
.l-keyword {
  color: #8992a7;
}
.l-keyword-conditional {
  color: #c4746e;
}
.l-keyword-conditional-ternary {
  color: #c4746e;
}
.l-keyword-coroutine {
  color: #c4746e;
}
.l-keyword-debug {
  color: #8992a7;
}
.l-keyword-directive {
  color: #8ba4b0;
}
.l-keyword-directive-define {
  color: #8ba4b0;
}
.l-keyword-exception {
  color: #c4746e;
}
.l-keyword-export {
  color: #8992a7;
}
.l-keyword-function {
  color: #c4746e;
}
.l-keyword-import {
  color: #8ba4b0;
}
.l-keyword-modifier {
  color: #8992a7;
}
.l-keyword-operator {
  color: #8992a7;
}
.l-keyword-repeat {
  color: #c4746e;
}
.l-keyword-return {
  color: #c4746e;
}
.l-keyword-type {
  color: #8992a7;
}
.l-label {
  color: #8992a7;
}
.l-label-markdown {
  color: #737c73;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #595656;
  background-color: #111010;
}
.l-line-number-highlighted {
  color: #595656;
  background-color: #1b1a1a;
}
.l-markup-environment {
  color: #8992a7;
}
.l-markup-environment-name {
  color: #8992a7;
}
.l-markup-heading {
  color: #d6847e;
  background-color: #322323;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #d6847e;
  background-color: #322323;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #bf9380;
  background-color: #2e2623;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #ae9c74;
  background-color: #2c2721;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #94a486;
  background-color: #282924;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #8aa2af;
  background-color: #26282a;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #a898a9;
  background-color: #2b2729;
  font-weight: bold;
}
.l-markup-heading-gitcommit {
  color: #c4b28a;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #b6927b;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #b6927b;
  text-decoration: underline;
}
.l-markup-link-markdown_inline {
  color: #b6927b;
}
.l-markup-link-url {
  color: #657d88;
  text-decoration: underline;
}
.l-markup-list {
  color: #9e9b93;
}
.l-markup-list-checked {
  color: #7a8a6c;
}
.l-markup-list-unchecked {
  color: #7a8a6c;
  background-color: #2c2d27;
}
.l-markup-math {
  color: #8992a7;
}
.l-markup-quote {
  color: #8992a7;
}
.l-markup-raw {
  color: #aba8a8;
}
.l-markup-raw-block {
  color: #aba8a8;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #8ea4a2;
}
.l-module-builtin {
  color: #8992a7;
}
.l-namespace {
  color: #8ea4a2;
}
.l-number {
  color: #b6927b;
}
.l-number-float {
  color: #b6927b;
}
.l-operator {
  color: #9e9b93;
}
.l-property {
  color: #d7d4d4;
}
.l-punctuation-bracket {
  color: #9e9b93;
}
.l-punctuation-delimiter {
  color: #9e9b93;
}
.l-punctuation-special {
  color: #9e9b93;
}
.l-string {
  color: #c4b28a;
}
.l-string-documentation {
  color: #8a9a7b;
}
.l-string-escape {
  color: #c4b28a;
}
.l-string-regexp {
  color: #c4b28a;
}
.l-string-special {
  color: #c4b28a;
}
.l-string-special-path {
  color: #657d88;
  text-decoration: underline;
}
.l-string-special-symbol {
  color: #c4b28a;
}
.l-string-special-url {
  color: #657d88;
  text-decoration: underline;
}
.l-tag {
  color: #8992a7;
}
.l-tag-attribute {
  color: #8ba4b0;
}
.l-tag-builtin {
  color: #8992a7;
}
.l-tag-delimiter {
  color: #9e9b93;
}
.l-type {
  color: #8ea4a2;
}
.l-type-builtin {
  color: #8ea4a2;
}
.l-type-definition {
  color: #8ea4a2;
}
.l-variable {
  color: #d7d4d4;
}
.l-variable-builtin {
  color: #8992a7;
}
.l-variable-member {
  color: #d7d4d4;
}
.l-variable-parameter {
  color: #d7d4d4;
}
.l-variable-parameter-builtin {
  color: #8992a7;
}
