/* midnight
 * revision: fe062a6f2e5bd77cd8a260f61e6e12789eaf4f13
 */
.lumis {
  color: #b5bdc5;
  background-color: #080c10;
}
.l-attribute {
  color: #ff7279;
}
.l-attribute-builtin {
  color: #ca7050;
}
.l-boolean {
  color: #5080ff;
}
.l-character {
  color: #e0a076;
}
.l-character-special {
  color: #ca7050;
}
.l-comment {
  color: #878d96;
  font-style: italic;
}
.l-comment-documentation {
  color: #878d96;
  font-style: italic;
}
.l-comment-error {
  color: #fa4d56;
}
.l-comment-hint {
  color: #878d96;
  font-style: italic;
}
.l-comment-note {
  color: #adb5bd;
}
.l-comment-todo {
  color: #a6c8ff;
}
.l-comment-warning {
  color: #ff9d57;
}
.l-constant {
  color: #5080ff;
}
.l-constant-builtin {
  color: #5080ff;
}
.l-constant-builtin-vim {
  color: #ff7279;
}
.l-constant-cmake {
  color: #0ab6ba;
}
.l-constant-macro {
  color: #ca7050;
}
.l-constant-python {
  color: #ca7050;
}
.l-constructor {
  color: #ca7050;
}
.l-constructor-lua {
  color: #b5bdc5;
}
.l-constructor-python {
  color: #0ab6ba;
}
.l-diff-delta {
  background-color: #261d00;
}
.l-diff-minus {
  background-color: #2d0709;
}
.l-diff-plus {
  background-color: #04230a;
}
.l-function {
  color: #c8b670;
}
.l-function-builtin {
  color: #c8b670;
}
.l-function-builtin-cpp {
  color: #ff7279;
}
.l-function-call {
  color: #c8b670;
}
.l-function-macro {
  color: #ca7050;
}
.l-function-macro-vim {
  color: #ff7279;
}
.l-function-method {
  color: #c8b670;
}
.l-function-method-call {
  color: #c8b670;
}
.l-highlighted {
  background-color: #212121;
}
.l-keyword {
  color: #a665d0;
}
.l-keyword-conditional {
  color: #a665d0;
}
.l-keyword-conditional-ternary {
  color: #ff7279;
}
.l-keyword-coroutine {
  color: #a665d0;
}
.l-keyword-debug {
  color: #a665d0;
}
.l-keyword-directive {
  color: #ca7050;
}
.l-keyword-directive-cpp {
  color: #ff7279;
}
.l-keyword-directive-define {
  color: #ff7279;
}
.l-keyword-exception {
  color: #a665d0;
}
.l-keyword-export {
  color: #a665d0;
}
.l-keyword-function {
  color: #a665d0;
}
.l-keyword-import {
  color: #ff7279;
}
.l-keyword-modifier {
  color: #a665d0;
}
.l-keyword-operator {
  color: #ff7279;
}
.l-keyword-repeat {
  color: #a665d0;
}
.l-keyword-return {
  color: #a665d0;
}
.l-keyword-type {
  color: #a665d0;
}
.l-label {
  color: #ff7279;
}
.l-label-vim {
  color: #a665d0;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #525252;
}
.l-line-number-highlighted {
  color: #e0e0e0;
}
.l-markup {
  color: #ca7050;
}
.l-markup-environment {
  color: #0ab6ba;
}
.l-markup-environment-name {
  color: #0ab6ba;
}
.l-markup-heading {
  color: #5579f0;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #5579f0;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #5579f0;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #5579f0;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #5579f0;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #5579f0;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #5579f0;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #be95ff;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #be95ff;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #be95ff;
  text-decoration: underline;
}
.l-markup-list {
  color: #50b0e0;
}
.l-markup-list-checked {
  color: #6fdc8c;
}
.l-markup-list-unchecked {
  color: #fa4d56;
}
.l-markup-math {
  color: #7ac098;
}
.l-markup-quote {
  color: #878d96;
}
.l-markup-raw {
  color: #ff7279;
  background-color: #181818;
}
.l-markup-raw-block {
  color: #878d96;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #a3a0d8;
}
.l-module-builtin {
  color: #a3a0d8;
}
.l-namespace-cpp {
  color: #a3a0d8;
}
.l-namespace-rust {
  color: #a3a0d8;
}
.l-namespace-vim {
  color: #7ac098;
}
.l-number {
  color: #5080ff;
}
.l-number-float {
  color: #5080ff;
}
.l-operator {
  color: #ff7279;
}
.l-property {
  color: #7ac098;
}
.l-property-lua {
  color: #50b0e0;
}
.l-punctuation-bracket {
  color: #b5bdc5;
}
.l-punctuation-delimiter {
  color: #b5bdc5;
}
.l-punctuation-special {
  color: #ff7279;
}
.l-punctuation-special-cmake {
  color: #ca7050;
}
.l-punctuation-special-markdown {
  color: #878d96;
}
.l-string {
  color: #e0a076;
}
.l-string-documentation {
  color: #878d96;
  font-style: italic;
}
.l-string-escape {
  color: #ff7279;
}
.l-string-regexp {
  color: #ca7050;
}
.l-string-special {
  color: #e0a076;
}
.l-string-special-path {
  color: #e0a076;
}
.l-string-special-symbol {
  color: #e0a076;
}
.l-string-special-url {
  color: #a3a0d8;
  text-decoration: underline;
}
.l-tag {
  color: #50b0e0;
}
.l-tag-attribute {
  color: #7ac098;
}
.l-tag-builtin {
  color: #ca7050;
}
.l-tag-delimiter {
  color: #ff7279;
}
.l-type {
  color: #0ab6ba;
}
.l-type-builtin {
  color: #0ab6ba;
}
.l-type-builtin-cpp {
  color: #a665d0;
}
.l-type-definition {
  color: #0ab6ba;
}
.l-variable {
  color: #9ac6e0;
}
.l-variable-builtin {
  color: #a665d0;
}
.l-variable-builtin-vim {
  color: #50b0e0;
}
.l-variable-member {
  color: #7ac098;
}
.l-variable-member-lua {
  color: #50b0e0;
}
.l-variable-parameter {
  color: #50b0e0;
}
.l-variable-parameter-builtin {
  color: #ca7050;
}
.l-variable-parameter-lua {
  color: #7ac098;
}
