/* modus_vivendi
 * revision: 56233f0986ef6c8d0eab97e924e87144e584d970
 */
.lumis {
  color: #ffffff;
  background-color: #000000;
}
.l-attribute {
  color: #ff7f9f;
}
.l-attribute-builtin {
  color: #ff7f9f;
}
.l-boolean {
  color: #2fafff;
  font-weight: bold;
}
.l-character {
  color: #79a8ff;
}
.l-character-special {
  color: #9ac8e0;
}
.l-comment {
  color: #989898;
  font-style: italic;
}
.l-comment-documentation {
  font-style: italic;
}
.l-comment-error {
  color: #ff7f9f;
}
.l-comment-hint {
  color: #989898;
  font-style: italic;
}
.l-comment-note {
  color: #9ac8e0;
}
.l-comment-todo {
  color: #feacd0;
  font-weight: bold;
}
.l-comment-warning {
  color: #dfaf7a;
}
.l-constant {
  color: #ffffff;
}
.l-constant-builtin {
  color: #f78fe7;
}
.l-constant-macro {
  color: #ffffff;
}
.l-constructor {
  color: #dfaf7a;
}
.l-constructor-tsx {
  color: #2fafff;
}
.l-diff-delta {
  color: #efef80;
  background-color: #363300;
}
.l-diff-minus {
  color: #ffbfbf;
  background-color: #4f1119;
}
.l-diff-plus {
  color: #a0e0a0;
  background-color: #00381f;
}
.l-function {
  color: #feacd0;
}
.l-function-builtin {
  color: #f78fe7;
}
.l-function-call {
  color: #feacd0;
}
.l-function-macro {
  color: #feacd0;
}
.l-function-method {
  color: #feacd0;
}
.l-function-method-call {
  color: #feacd0;
}
.l-highlighted {
  background-color: #2f3849;
}
.l-keyword {
  color: #b6a0ff;
  font-style: italic;
}
.l-keyword-conditional {
  color: #b6a0ff;
}
.l-keyword-conditional-ternary {
  color: #b6a0ff;
}
.l-keyword-coroutine {
  color: #b6a0ff;
  font-style: italic;
}
.l-keyword-debug {
  color: #f78fe7;
}
.l-keyword-directive {
  color: #ff7f9f;
}
.l-keyword-directive-define {
  color: #ff7f9f;
}
.l-keyword-exception {
  color: #b6a0ff;
}
.l-keyword-export {
  color: #b6a0ff;
  font-style: italic;
}
.l-keyword-function {
  color: #feacd0;
}
.l-keyword-import {
  color: #ff7f9f;
}
.l-keyword-modifier {
  color: #b6a0ff;
  font-style: italic;
}
.l-keyword-operator {
  color: #ffffff;
}
.l-keyword-repeat {
  color: #b6a0ff;
}
.l-keyword-return {
  color: #b6a0ff;
  font-style: italic;
}
.l-keyword-type {
  color: #b6a0ff;
  font-style: italic;
}
.l-label {
  color: #00d3d0;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #ffffff;
  background-color: #1e1e1e;
}
.l-line-number-highlighted {
  color: #f4f4f4;
  background-color: #303030;
  font-weight: bold;
}
.l-markup {
  color: #f78fe7;
}
.l-markup-environment {
  color: #f78fe7;
}
.l-markup-environment-name {
  color: #f78fe7;
}
.l-markup-heading {
  color: #c6daff;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #2fafff;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #d0bc00;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #feacd0;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #44bc44;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #ff5f59;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #4ae2f0;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #6ae4b9;
}
.l-markup-link-label {
  color: #9ac8e0;
}
.l-markup-link-url {
  color: #c6daff;
  text-decoration: underline;
}
.l-markup-list {
  color: #ffffff;
}
.l-markup-list-checked {
  color: #44bc44;
}
.l-markup-list-unchecked {
  color: #d0bc00;
}
.l-markup-math {
  color: #f78fe7;
}
.l-markup-quote {
  font-style: italic;
}
.l-markup-raw {
  color: #79a8ff;
}
.l-markup-raw-block {
  color: #79a8ff;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #ff7f9f;
}
.l-module-builtin {
  color: #b6a0ff;
}
.l-namespace {
  color: #ff7f9f;
}
.l-number {
  color: #82b0ec;
}
.l-number-float {
  color: #82b0ec;
}
.l-operator {
  color: #ffffff;
}
.l-property {
  color: #00d3d0;
}
.l-punctuation-bracket {
  color: #ffffff;
}
.l-punctuation-bracket-rainbow-1 {
  color: #ff5f59;
}
.l-punctuation-bracket-rainbow-2 {
  color: #d0bc00;
}
.l-punctuation-bracket-rainbow-3 {
  color: #2fafff;
}
.l-punctuation-bracket-rainbow-4 {
  color: #fec43f;
}
.l-punctuation-bracket-rainbow-5 {
  color: #44bc44;
}
.l-punctuation-bracket-rainbow-6 {
  color: #b6a0ff;
}
.l-punctuation-delimiter {
  color: #ffffff;
}
.l-punctuation-special {
  color: #ffffff;
}
.l-string {
  color: #79a8ff;
}
.l-string-documentation {
  font-style: italic;
}
.l-string-escape {
  color: #d2b580;
}
.l-string-regex {
  color: #00c06f;
}
.l-string-regexp {
  color: #00c06f;
}
.l-string-special {
  color: #ff9580;
}
.l-string-special-path {
  color: #2fafff;
}
.l-string-special-symbol {
  color: #00d3d0;
}
.l-string-special-url {
  color: #6ae4b9;
}
.l-tag {
  color: #00d3d0;
}
.l-tag-attribute {
  color: #00d3d0;
}
.l-tag-builtin {
  color: #f78fe7;
}
.l-tag-delimiter {
  color: #ffffff;
}
.l-tag-delimiter-tsx {
  color: #00bcff;
}
.l-tag-tsx {
  color: #ff5f59;
}
.l-type {
  color: #6ae4b9;
}
.l-type-builtin {
  color: #6ae4b9;
}
.l-type-definition {
  color: #4ae2f0;
}
.l-variable {
  color: #00d3d0;
}
.l-variable-builtin {
  color: #b6a0ff;
}
.l-variable-member {
  color: #00d3d0;
}
.l-variable-parameter {
  color: #00d3d0;
}
.l-variable-parameter-builtin {
  color: #9ac8e0;
}
