/* neobones_dark
 * revision: 8304d8df9b823ff11e103afa62f38c39f534abe6
 */
.lumis {
  color: #c6d5cf;
  background-color: #0f191f;
}
.l-attribute {
  color: #c6d5cf;
  font-weight: bold;
}
.l-attribute-builtin {
  color: #9aa6a1;
  font-weight: bold;
}
.l-boolean {
  color: #c6d5cf;
  font-style: italic;
}
.l-character {
  color: #939e99;
  font-style: italic;
}
.l-character-special {
  color: #9aa6a1;
  font-weight: bold;
}
.l-comment {
  color: #536977;
  font-style: italic;
}
.l-comment-documentation {
  color: #536977;
  font-style: italic;
}
.l-comment-error {
  color: #de6e7c;
}
.l-comment-hint {
  color: #536977;
  font-style: italic;
}
.l-comment-note {
  color: #8190d4;
}
.l-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.l-comment-warning {
  color: #b77e64;
}
.l-constant {
  color: #a7b3ae;
  font-weight: bold;
}
.l-constant-builtin {
  color: #939e99;
  font-style: italic;
}
.l-constant-macro {
  color: #939e99;
  font-style: italic;
}
.l-constructor {
  color: #9aa6a1;
  font-weight: bold;
}
.l-constructor-lua {
  color: #5b7e94;
}
.l-diff-delta {
  background-color: #1f2645;
}
.l-diff-minus {
  background-color: #3b2023;
}
.l-diff-plus {
  background-color: #1c2c19;
}
.l-function {
  color: #c6d5cf;
}
.l-function-builtin {
  color: #9aa6a1;
  font-weight: bold;
}
.l-function-call {
  color: #c6d5cf;
}
.l-function-macro {
  color: #c6d5cf;
  font-weight: bold;
}
.l-function-method {
  color: #c6d5cf;
}
.l-function-method-call {
  color: #c6d5cf;
}
.l-highlighted {
  background-color: #152128;
}
.l-keyword {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-conditional {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-conditional-ternary {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-coroutine {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-debug {
  color: #9aa6a1;
  font-weight: bold;
}
.l-keyword-directive {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-directive-define {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-exception {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-export {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-function {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-import {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-modifier {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-operator {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-repeat {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-return {
  color: #c6d5cf;
  font-weight: bold;
}
.l-keyword-type {
  color: #c6d5cf;
  font-weight: bold;
}
.l-label {
  color: #c6d5cf;
  font-weight: bold;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #466273;
}
.l-line-number-highlighted {
  color: #c6d5cf;
  font-weight: bold;
}
.l-markup {
  color: #9aa6a1;
  font-weight: bold;
}
.l-markup-environment {
  color: #c6d5cf;
  font-weight: bold;
}
.l-markup-environment-name {
  color: #c6d5cf;
  font-weight: bold;
}
.l-markup-heading {
  color: #c6d5cf;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #c6d5cf;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #c6d5cf;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #c6d5cf;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #c6d5cf;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #c6d5cf;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #c6d5cf;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #939e99;
  font-style: italic;
}
.l-markup-link-label {
  color: #9aa6a1;
  font-weight: bold;
}
.l-markup-link-markdown {
  color: #a7b3ae;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #939e99;
  font-style: italic;
}
.l-markup-link-url-markdown {
  color: #536977;
}
.l-markup-list {
  color: #9aa6a1;
  font-weight: bold;
}
.l-markup-list-checked {
  color: #9aa6a1;
  font-weight: bold;
}
.l-markup-list-unchecked {
  color: #9aa6a1;
  font-weight: bold;
}
.l-markup-math {
  color: #9aa6a1;
  font-weight: bold;
}
.l-markup-quote {
  color: #939e99;
}
.l-markup-raw {
  color: #939e99;
  font-style: italic;
}
.l-markup-raw-block {
  color: #939e99;
  font-style: italic;
}
.l-markup-raw-markdown {
  color: #6e99b2;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #939e99;
  font-style: italic;
}
.l-module-builtin {
  color: #939e99;
  font-style: italic;
}
.l-number {
  color: #939e99;
}
.l-number-float {
  color: #939e99;
}
.l-operator {
  color: #c6d5cf;
  font-weight: bold;
}
.l-property {
  color: #a7b3ae;
}
.l-punctuation-bracket {
  color: #5b7e94;
}
.l-punctuation-delimiter {
  color: #5b7e94;
}
.l-punctuation-special {
  color: #5b7e94;
}
.l-punctuation-special-markdown {
  color: #9aa6a1;
  font-weight: bold;
}
.l-string {
  color: #939e99;
  font-style: italic;
}
.l-string-documentation {
  color: #939e99;
  font-style: italic;
}
.l-string-escape {
  color: #9aa6a1;
  font-weight: bold;
}
.l-string-escape-markdown {
  color: #3e5868;
  font-style: italic;
}
.l-string-regexp {
  color: #939e99;
  font-style: italic;
}
.l-string-special {
  color: #9aa6a1;
  font-weight: bold;
}
.l-string-special-path {
  color: #9aa6a1;
  font-weight: bold;
}
.l-string-special-symbol {
  color: #a7b3ae;
}
.l-string-special-url {
  color: #9aa6a1;
  font-weight: bold;
}
.l-tag {
  color: #9aa6a1;
  font-weight: bold;
}
.l-tag-attribute {
  color: #a7b3ae;
}
.l-tag-builtin {
  color: #9aa6a1;
  font-weight: bold;
}
.l-tag-delimiter {
  color: #5b7e94;
}
.l-type {
  color: #6e99b2;
}
.l-type-builtin {
  color: #6e99b2;
}
.l-type-definition {
  color: #6e99b2;
}
.l-variable {
  color: #a7b3ae;
}
.l-variable-builtin {
  color: #939e99;
  font-style: italic;
}
.l-variable-member {
  color: #a7b3ae;
}
.l-variable-parameter {
  color: #a7b3ae;
}
.l-variable-parameter-builtin {
  color: #9aa6a1;
  font-weight: bold;
}
