/* no_clown_fiesta
 * revision: 04b808e9769ded988089772ffcaf08d92d75d927
 */
.lumis {
  color: #e1e1e1;
  background-color: #151515;
}
.l-attribute {
  color: #e1e1e1;
}
.l-attribute-builtin {
  color: #e1e1e1;
}
.l-boolean {
  color: #b46958;
}
.l-character {
  color: #90a959;
}
.l-character-special {
  color: #a2b5c1;
}
.l-comment {
  color: #727272;
}
.l-comment-documentation {
  color: #727272;
}
.l-comment-error {
  color: #984936;
}
.l-comment-hint {
  color: #727272;
}
.l-comment-note {
  color: #afafaf;
}
.l-comment-todo {
  color: #578266;
}
.l-comment-warning {
  color: #ab8550;
}
.l-constant {
  color: #e1e1e1;
}
.l-constant-builtin {
  color: #e1e1e1;
}
.l-constant-macro {
  color: #e1e1e1;
}
.l-constructor {
  color: #88afa2;
}
.l-diff-delta {
  color: #7e97ab;
  background-color: #18191b;
  font-weight: bold;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-error {
  color: #984936;
}
.l-function {
  color: #88afa2;
}
.l-function-builtin {
  color: #88afa2;
}
.l-function-call {
  color: #88afa2;
}
.l-function-macro {
  color: #88afa2;
}
.l-function-method {
  color: #88afa2;
}
.l-function-method-call {
  color: #88afa2;
}
.l-highlighted {
  background-color: #171717;
}
.l-keyword {
  color: #7e97ab;
}
.l-keyword-conditional {
  color: #7e97ab;
}
.l-keyword-conditional-ternary {
  color: #7e97ab;
}
.l-keyword-coroutine {
  color: #7e97ab;
}
.l-keyword-debug {
  color: #7e97ab;
}
.l-keyword-directive {
  color: #7e97ab;
}
.l-keyword-directive-define {
  color: #7e97ab;
}
.l-keyword-exception {
  color: #b46958;
}
.l-keyword-export {
  color: #7e97ab;
}
.l-keyword-function {
  color: #7e97ab;
}
.l-keyword-import {
  color: #b46958;
}
.l-keyword-modifier {
  color: #7e97ab;
}
.l-keyword-operator {
  color: #7e97ab;
}
.l-keyword-repeat {
  color: #7e97ab;
}
.l-keyword-return {
  color: #7e97ab;
}
.l-keyword-type {
  color: #7e97ab;
}
.l-label {
  color: #e1e1e1;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #727272;
}
.l-line-number-highlighted {
  color: #afafaf;
  font-weight: bold;
}
.l-markup {
  color: #e1e1e1;
}
.l-markup-environment {
  color: #e1e1e1;
}
.l-markup-environment-name {
  color: #e1e1e1;
}
.l-markup-heading {
  color: #bad7ff;
}
.l-markup-heading-1 {
  color: #bad7ff;
}
.l-markup-heading-2 {
  color: #bad7ff;
}
.l-markup-heading-3 {
  color: #bad7ff;
}
.l-markup-heading-4 {
  color: #bad7ff;
}
.l-markup-heading-5 {
  color: #bad7ff;
}
.l-markup-heading-6 {
  color: #bad7ff;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #a2b5c1;
}
.l-markup-link-label {
  color: #a2b5c1;
}
.l-markup-link-url {
  color: #a2b5c1;
}
.l-markup-list {
  color: #e1e1e1;
}
.l-markup-list-checked {
  color: #e1e1e1;
}
.l-markup-list-unchecked {
  color: #e1e1e1;
}
.l-markup-math {
  color: #e1e1e1;
}
.l-markup-quote {
  color: #e1e1e1;
}
.l-markup-raw {
  color: #e1e1e1;
}
.l-markup-raw-block {
  color: #e1e1e1;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  color: #727272;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #e1e1e1;
}
.l-module-builtin {
  color: #e1e1e1;
}
.l-number {
  color: #b46958;
}
.l-number-float {
  color: #b46958;
}
.l-operator {
  color: #e1e1e1;
}
.l-property {
  color: #e1e1e1;
}
.l-punctuation-bracket {
  color: #e1e1e1;
}
.l-punctuation-delimiter {
  color: #e1e1e1;
}
.l-punctuation-special {
  color: #e1e1e1;
}
.l-string {
  color: #a2b5c1;
}
.l-string-documentation {
  color: #a2b5c1;
}
.l-string-escape {
  color: #a2b5c1;
}
.l-string-regexp {
  color: #a2b5c1;
}
.l-string-special {
  color: #a2b5c1;
}
.l-string-special-path {
  color: #afafaf;
}
.l-string-special-symbol {
  color: #727272;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #bad7ff;
}
.l-tag-attribute {
  color: #e1e1e1;
}
.l-tag-builtin {
  color: #e1e1e1;
}
.l-tag-delimiter {
  color: #e1e1e1;
}
.l-type {
  color: #e1e1e1;
}
.l-type-builtin {
  color: #e1e1e1;
}
.l-type-definition {
  color: #e1e1e1;
}
.l-variable {
  color: #e1e1e1;
}
.l-variable-builtin {
  color: #e1e1e1;
}
.l-variable-member {
  color: #e1e1e1;
}
.l-variable-parameter {
  color: #e1e1e1;
}
.l-variable-parameter-builtin {
  color: #e1e1e1;
}
