/* nord
 * revision: 80c1e5321505aeb22b7a9f23eb82f1e193c12470
 */
.lumis {
  color: #d8dee9;
  background-color: #2e3440;
}
.l-attribute {
  color: #b48ead;
}
.l-attribute-builtin {
  color: #d8dee9;
}
.l-boolean {
  color: #81a1c1;
  font-weight: bold;
}
.l-character {
  color: #a3be8c;
  font-style: italic;
}
.l-character-special {
  color: #ebcb8b;
}
.l-comment {
  color: #616e88;
  font-style: italic;
}
.l-comment-documentation {
  color: #616e88;
  font-style: italic;
}
.l-comment-error {
  color: #bf616a;
}
.l-comment-hint {
  color: #616e88;
  font-style: italic;
}
.l-comment-note {
  color: #5e81ac;
}
.l-comment-todo {
  color: #ebcb8b;
  font-weight: bold;
  font-style: italic;
}
.l-comment-warning {
  color: #b48ead;
}
.l-constant {
  color: #ebcb8b;
}
.l-constant-builtin {
  color: #8fbcbb;
  font-weight: bold;
}
.l-constant-macro {
  color: #8fbcbb;
  font-weight: bold;
}
.l-constructor {
  color: #81a1c1;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-error {
  color: #bf616a;
}
.l-function {
  color: #88c0d0;
  font-style: italic;
}
.l-function-builtin {
  color: #88c0d0;
  font-style: italic;
}
.l-function-call {
  color: #88c0d0;
  font-style: italic;
}
.l-function-macro {
  color: #88c0d0;
  font-style: italic;
}
.l-function-method {
  color: #88c0d0;
  font-style: italic;
}
.l-function-method-call {
  color: #88c0d0;
  font-style: italic;
}
.l-highlighted {
  background-color: #3b4252;
}
.l-keyword {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-conditional {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-conditional-ternary {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-coroutine {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-debug {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-directive {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-directive-define {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-exception {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-export {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-function {
  color: #88c0d0;
  font-style: italic;
}
.l-keyword-import {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-modifier {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-operator {
  color: #88c0d0;
  font-style: italic;
}
.l-keyword-repeat {
  color: #81a1c1;
  font-style: italic;
}
.l-keyword-return {
  color: #88c0d0;
  font-style: italic;
}
.l-keyword-type {
  color: #81a1c1;
  font-style: italic;
}
.l-label {
  color: #b48ead;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #616e88;
}
.l-line-number-highlighted {
  color: #d8dee9;
}
.l-markup {
  color: #d8dee9;
}
.l-markup-environment {
  color: #d8dee9;
}
.l-markup-environment-name {
  color: #d8dee9;
}
.l-markup-heading {
  color: #a3be8c;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #a3be8c;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #a3be8c;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #a3be8c;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #a3be8c;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #a3be8c;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #a3be8c;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #a3be8c;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #a3be8c;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #a3be8c;
  text-decoration: underline;
}
.l-markup-list {
  color: #d8dee9;
}
.l-markup-list-checked {
  color: #d8dee9;
}
.l-markup-list-unchecked {
  color: #d8dee9;
}
.l-markup-math {
  color: #d8dee9;
}
.l-markup-quote {
  color: #d8dee9;
}
.l-markup-raw {
  color: #d8dee9;
}
.l-markup-raw-block {
  color: #d8dee9;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #81a1c1;
}
.l-module-builtin {
  color: #d8dee9;
}
.l-namespace {
  color: #d8dee9;
  font-style: italic;
}
.l-number {
  color: #b48ead;
}
.l-number-float {
  color: #b48ead;
}
.l-operator {
  color: #81a1c1;
}
.l-property {
  color: #5e81ac;
  font-style: italic;
}
.l-punctuation-bracket {
  color: #88c0d0;
}
.l-punctuation-bracket-rainbow-1 {
  color: #bf616a;
}
.l-punctuation-bracket-rainbow-2 {
  color: #ebcb8b;
}
.l-punctuation-bracket-rainbow-3 {
  color: #81a1c1;
}
.l-punctuation-bracket-rainbow-4 {
  color: #d08770;
}
.l-punctuation-bracket-rainbow-5 {
  color: #a3be8c;
}
.l-punctuation-bracket-rainbow-6 {
  color: #b48ead;
}
.l-punctuation-delimiter {
  color: #88c0d0;
}
.l-punctuation-special {
  color: #88c0d0;
}
.l-string {
  color: #a3be8c;
  font-style: italic;
}
.l-string-documentation {
  color: #a3be8c;
  font-style: italic;
}
.l-string-escape {
  color: #b48ead;
  font-style: italic;
}
.l-string-regex {
  color: #8fbcbb;
  font-style: italic;
}
.l-string-regexp {
  color: #ebcb8b;
}
.l-string-special {
  color: #ebcb8b;
}
.l-string-special-path {
  color: #ebcb8b;
}
.l-string-special-symbol {
  color: #ebcb8b;
}
.l-string-special-url {
  color: #a3be8c;
  text-decoration: underline;
}
.l-tag {
  color: #d8dee9;
}
.l-tag-attribute {
  color: #d8dee9;
}
.l-tag-builtin {
  color: #d8dee9;
}
.l-tag-delimiter {
  color: #b48ead;
}
.l-type {
  color: #81a1c1;
}
.l-type-builtin {
  color: #81a1c1;
}
.l-type-definition {
  color: #81a1c1;
}
.l-variable {
  color: #d8dee9;
  font-weight: bold;
}
.l-variable-builtin {
  color: #d8dee9;
  font-weight: bold;
}
.l-variable-member {
  color: #d8dee9;
  font-weight: bold;
}
.l-variable-parameter {
  color: #d8dee9;
  font-weight: bold;
}
.l-variable-parameter-builtin {
  color: #d8dee9;
}
