/* oceanic_next
 * revision: 09833f72d5ba23de2e8bcae18f479f326f5f677a
 */
.lumis {
  color: #d8dee9;
  background-color: #1b2b34;
}
.l-attribute {
  color: #ec5f67;
}
.l-attribute-builtin {
  color: #62b3b2;
}
.l-boolean {
  color: #f99157;
}
.l-character {
  color: #ec5f67;
}
.l-character-special {
  color: #ab7967;
}
.l-comment {
  color: #65737e;
}
.l-comment-documentation {
  color: #65737e;
}
.l-comment-error {
  color: #ffc0b9;
}
.l-comment-hint {
  color: #65737e;
}
.l-comment-note {
  color: #8cf8f7;
}
.l-comment-todo {
  color: #fac863;
  background-color: #343d46;
  font-weight: bold;
}
.l-comment-warning {
  color: #fce094;
}
.l-constant {
  color: #f99157;
}
.l-constant-builtin {
  color: #62b3b2;
}
.l-constant-macro {
  color: #f99157;
}
.l-constructor {
  color: #d8dee9;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-function {
  color: #6699cc;
}
.l-function-builtin {
  color: #62b3b2;
}
.l-function-call {
  color: #6699cc;
}
.l-function-macro {
  color: #6699cc;
}
.l-function-method {
  color: #6699cc;
}
.l-function-method-call {
  color: #6699cc;
}
.l-highlighted {
  background-color: #343d46;
}
.l-keyword {
  color: #c594c5;
}
.l-keyword-conditional {
  color: #c594c5;
}
.l-keyword-conditional-ternary {
  color: #c594c5;
}
.l-keyword-coroutine {
  color: #c594c5;
}
.l-keyword-debug {
  color: #c594c5;
}
.l-keyword-directive {
  color: #c594c5;
}
.l-keyword-directive-define {
  color: #c594c5;
}
.l-keyword-exception {
  color: #c594c5;
}
.l-keyword-export {
  color: #c594c5;
}
.l-keyword-function {
  color: #c594c5;
}
.l-keyword-import {
  color: #c594c5;
}
.l-keyword-modifier {
  color: #c594c5;
}
.l-keyword-operator {
  color: #c594c5;
}
.l-keyword-repeat {
  color: #c594c5;
}
.l-keyword-return {
  color: #c594c5;
}
.l-keyword-type {
  color: #c594c5;
}
.l-label {
  color: #62b3b2;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #65737e;
  background-color: #1b2b34;
}
.l-line-number-highlighted {
  color: #65737e;
  background-color: #343d46;
  font-weight: bold;
}
.l-markup {
  color: #62b3b2;
}
.l-markup-environment {
  color: #62b3b2;
}
.l-markup-environment-name {
  color: #62b3b2;
}
.l-markup-heading {
  color: #6699cc;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #6699cc;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #6699cc;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #6699cc;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #6699cc;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #6699cc;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #6699cc;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #ec5f67;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #ec5f67;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #ec5f67;
  text-decoration: underline;
}
.l-markup-list {
  color: #62b3b2;
}
.l-markup-list-checked {
  color: #62b3b2;
}
.l-markup-list-unchecked {
  color: #62b3b2;
}
.l-markup-math {
  color: #62b3b2;
}
.l-markup-quote {
  color: #62b3b2;
}
.l-markup-raw {
  color: #62b3b2;
}
.l-markup-raw-block {
  color: #62b3b2;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #c594c5;
}
.l-module-builtin {
  color: #62b3b2;
}
.l-namespace {
  color: #d8dee9;
}
.l-number {
  color: #f99157;
}
.l-number-float {
  color: #f99157;
}
.l-operator {
  color: #f99157;
}
.l-property {
  color: #d8dee9;
}
.l-punctuation-bracket {
  color: #62b3b2;
}
.l-punctuation-delimiter {
  color: #62b3b2;
}
.l-punctuation-special {
  color: #62b3b2;
}
.l-string {
  color: #99c794;
}
.l-string-documentation {
  color: #99c794;
}
.l-string-escape {
  color: #ab7967;
}
.l-string-regexp {
  color: #ab7967;
}
.l-string-special {
  color: #ab7967;
}
.l-string-special-path {
  color: #ab7967;
}
.l-string-special-symbol {
  color: #ab7967;
}
.l-string-special-url {
  color: #ec5f67;
  text-decoration: underline;
}
.l-tag {
  color: #d8dee9;
}
.l-tag-attribute {
  color: #d8dee9;
}
.l-tag-builtin {
  color: #62b3b2;
}
.l-tag-delimiter {
  color: #62b3b2;
}
.l-type {
  color: #fac863;
}
.l-type-builtin {
  color: #62b3b2;
}
.l-type-definition {
  color: #fac863;
}
.l-variable {
  color: #cdd3de;
}
.l-variable-builtin {
  color: #ec5f67;
}
.l-variable-member {
  color: #cdd3de;
}
.l-variable-parameter {
  color: #cdd3de;
}
.l-variable-parameter-builtin {
  color: #62b3b2;
}
