/* oldworld
 * revision: db072a0bd2c90035fc3a57a73014cb54d3902f1f
 */
.lumis {
  color: #c9c7cd;
  background-color: #161617;
}
.l-attribute {
  color: #ea83a5;
}
.l-attribute-builtin {
  color: #92a2d5;
}
.l-boolean {
  color: #f5a191;
}
.l-character {
  color: #90b99f;
}
.l-character-special {
  color: #e6b99d;
}
.l-comment {
  color: #8b8693;
}
.l-comment-documentation {
  color: #8b8693;
}
.l-comment-error {
  color: #ea83a5;
}
.l-comment-hint {
  color: #8b8693;
}
.l-comment-note {
  color: #aca1cf;
}
.l-comment-todo {
  color: #e6b99d;
}
.l-comment-warning {
  color: #e6b99d;
}
.l-constant {
  color: #ea83a5;
}
.l-constant-builtin {
  color: #e6b99d;
}
.l-constant-macro {
  color: #ea83a5;
}
.l-constructor {
  color: #8b8693;
}
.l-constructor-javascript {
  color: #ea83a5;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-function {
  color: #92a2d5;
}
.l-function-builtin {
  color: #92a2d5;
}
.l-function-call {
  color: #92a2d5;
}
.l-function-macro {
  color: #92a2d5;
}
.l-function-method {
  color: #92a2d5;
}
.l-function-method-call {
  color: #92a2d5;
}
.l-highlighted {
  background-color: #1b1b1c;
}
.l-keyword {
  color: #aca1cf;
}
.l-keyword-clojure {
  color: #daa5b9;
}
.l-keyword-conditional {
  color: #aca1cf;
}
.l-keyword-conditional-ternary {
  color: #aca1cf;
}
.l-keyword-coroutine {
  color: #aca1cf;
}
.l-keyword-debug {
  color: #aca1cf;
}
.l-keyword-directive {
  color: #aca1cf;
}
.l-keyword-directive-define {
  color: #aca1cf;
}
.l-keyword-exception {
  color: #aca1cf;
}
.l-keyword-export {
  color: #aca1cf;
}
.l-keyword-function {
  color: #aca1cf;
}
.l-keyword-import {
  color: #ea83a5;
}
.l-keyword-modifier {
  color: #aca1cf;
}
.l-keyword-operator {
  color: #aca1cf;
}
.l-keyword-repeat {
  color: #aca1cf;
}
.l-keyword-return {
  color: #aca1cf;
}
.l-keyword-type {
  color: #aca1cf;
}
.l-label {
  color: #aca1cf;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #444448;
}
.l-line-number-highlighted {
  color: #b4b1ba;
}
.l-markup {
  color: #92a2d5;
}
.l-markup-environment {
  color: #92a2d5;
}
.l-markup-environment-name {
  color: #92a2d5;
}
.l-markup-heading {
  color: #c9c7cd;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #92a2d5;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #92a2d5;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #92a2d5;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #92a2d5;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #92a2d5;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #92a2d5;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #b4b1ba;
}
.l-markup-link-label {
  color: #ea83a5;
}
.l-markup-link-url {
  color: #aca1cf;
}
.l-markup-list {
  color: #6c6874;
  font-weight: bold;
}
.l-markup-list-checked {
  color: #6c6874;
}
.l-markup-list-checked-markdown {
  color: #90b99f;
}
.l-markup-list-unchecked {
  color: #6c6874;
}
.l-markup-math {
  color: #92a2d5;
}
.l-markup-quote {
  color: #b4b1ba;
}
.l-markup-raw {
  color: #92a2d5;
}
.l-markup-raw-block {
  color: #6c6874;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #ea83a5;
}
.l-module-builtin {
  color: #92a2d5;
}
.l-namespace {
  color: #ea83a5;
  font-style: italic;
}
.l-number {
  color: #e29eca;
}
.l-number-float {
  color: #e29eca;
}
.l-operator {
  color: #e6b99d;
}
.l-property {
  color: #c9c7cd;
}
.l-punctuation-bracket {
  color: #8b8693;
}
.l-punctuation-bracket-rainbow-1 {
  color: #ea83a5;
  background-color: #161617;
}
.l-punctuation-bracket-rainbow-2 {
  color: #e6b99d;
  background-color: #161617;
}
.l-punctuation-bracket-rainbow-3 {
  color: #92a2d5;
  background-color: #161617;
}
.l-punctuation-bracket-rainbow-4 {
  color: #f5a191;
  background-color: #161617;
}
.l-punctuation-bracket-rainbow-5 {
  color: #90b99f;
  background-color: #161617;
}
.l-punctuation-bracket-rainbow-6 {
  color: #aca1cf;
  background-color: #161617;
}
.l-punctuation-delimiter {
  color: #b4b1ba;
}
.l-punctuation-special {
  color: #b4b1ba;
}
.l-string {
  color: #90b99f;
}
.l-string-documentation {
  color: #90b99f;
}
.l-string-escape {
  color: #e29eca;
}
.l-string-regex {
  color: #aca1cf;
}
.l-string-regexp {
  color: #e6b99d;
}
.l-string-special {
  color: #e6b99d;
}
.l-string-special-path {
  color: #e6b99d;
}
.l-string-special-symbol {
  color: #e6b99d;
}
.l-string-special-url {
  color: #adc0b6;
  text-decoration: underline;
}
.l-tag {
  color: #ea83a5;
}
.l-tag-attribute {
  color: #85b5ba;
  font-style: italic;
}
.l-tag-builtin {
  color: #92a2d5;
}
.l-tag-delimiter {
  color: #b4b1ba;
}
.l-type {
  color: #e6b99d;
}
.l-type-builtin {
  color: #e29eca;
}
.l-type-definition {
  color: #e6b99d;
}
.l-variable {
  color: #c9c7cd;
}
.l-variable-builtin {
  color: #aca1cf;
}
.l-variable-member {
  color: #c9c7cd;
}
.l-variable-parameter-builtin {
  color: #92a2d5;
}
