/* onenord_light
 * revision: 5240bfb79bcab7e03508626c5283cfc417b79169
 */
.lumis {
  color: #2e3440;
  background-color: #f7f8fa;
}
.l-attribute {
  color: #9f4aca;
}
.l-attribute-builtin {
  color: #d16366;
}
.l-boolean {
  color: #ee5e25;
}
.l-character {
  color: #48a53d;
}
.l-character-special {
  color: #d16366;
}
.l-comment {
  color: #646a76;
}
.l-comment-documentation {
  color: #646a76;
}
.l-comment-error {
  color: #c53b40;
  font-weight: bold;
}
.l-comment-hint {
  color: #646a76;
}
.l-comment-note {
  color: #48a53d;
  font-weight: bold;
}
.l-comment-todo {
  color: #ba793e;
}
.l-comment-warning {
  color: #ee5e25;
  font-weight: bold;
}
.l-constant {
  color: #3ea1ad;
}
.l-constant-builtin {
  color: #ee5e25;
}
.l-constant-macro {
  color: #cb4f53;
}
.l-constructor {
  color: #ba793e;
}
.l-diff-delta {
  color: #007373;
}
.l-diff-minus {
  color: #cb4f53;
}
.l-diff-plus {
  color: #48a53d;
}
.l-error {
  color: #c53b40;
}
.l-function {
  color: #3879c5;
}
.l-function-builtin {
  color: #3ea1ad;
}
.l-function-call {
  color: #3879c5;
}
.l-function-macro {
  color: #3879c5;
}
.l-function-method {
  color: #3879c5;
}
.l-function-method-call {
  color: #3879c5;
}
.l-highlighted {
  background-color: #eff0f2;
}
.l-keyword {
  color: #9f4aca;
}
.l-keyword-conditional {
  color: #9f4aca;
}
.l-keyword-conditional-ternary {
  color: #9f4aca;
}
.l-keyword-coroutine {
  color: #9f4aca;
}
.l-keyword-debug {
  color: #9f4aca;
}
.l-keyword-directive {
  color: #9f4aca;
}
.l-keyword-directive-define {
  color: #9f4aca;
}
.l-keyword-exception {
  color: #9f4aca;
}
.l-keyword-export {
  color: #9f4aca;
}
.l-keyword-function {
  color: #9f4aca;
}
.l-keyword-import {
  color: #3879c5;
}
.l-keyword-modifier {
  color: #9f4aca;
}
.l-keyword-operator {
  color: #9f4aca;
}
.l-keyword-repeat {
  color: #9f4aca;
}
.l-keyword-return {
  color: #9f4aca;
}
.l-keyword-type {
  color: #9f4aca;
}
.l-label {
  color: #9f4aca;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #646a76;
}
.l-line-number-highlighted {
  color: #2e3440;
}
.l-markup {
  color: #2e3440;
}
.l-markup-environment {
  color: #2e3440;
}
.l-markup-environment-name {
  color: #2e3440;
}
.l-markup-heading {
  color: #3879c5;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #3879c5;
  font-weight: bold;
}
.l-markup-heading-1-markdown {
  color: #1b40a6;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #3879c5;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #3879c5;
  font-weight: bold;
}
.l-markup-heading-3-markdown {
  color: #3ea1ad;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #3879c5;
  font-weight: bold;
}
.l-markup-heading-4-markdown {
  color: #5f9e9d;
}
.l-markup-heading-5 {
  color: #3879c5;
  font-weight: bold;
}
.l-markup-heading-5-markdown {
  color: #5f9e9d;
}
.l-markup-heading-6 {
  color: #3879c5;
  font-weight: bold;
}
.l-markup-heading-6-markdown {
  color: #5f9e9d;
}
.l-markup-italic {
  color: #ba793e;
  font-style: italic;
}
.l-markup-link {
  color: #9f4aca;
}
.l-markup-link-label {
  color: #9f4aca;
}
.l-markup-link-url {
  color: #3ea1ad;
  text-decoration: underline;
}
.l-markup-list {
  color: #2e3440;
}
.l-markup-list-checked {
  color: #48a53d;
}
.l-markup-list-unchecked {
  color: #1b40a6;
}
.l-markup-math {
  color: #2e3440;
}
.l-markup-quote {
  color: #2e3440;
}
.l-markup-raw {
  color: #48a53d;
}
.l-markup-raw-block {
  color: #48a53d;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  color: #9f4aca;
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #ba793e;
}
.l-module-builtin {
  color: #d16366;
}
.l-namespace {
  color: #ba793e;
}
.l-number {
  color: #ee5e25;
}
.l-number-float {
  color: #ee5e25;
}
.l-operator {
  color: #9f4aca;
}
.l-property {
  color: #3879c5;
}
.l-punctuation-bracket {
  color: #1b40a6;
}
.l-punctuation-delimiter {
  color: #1b40a6;
}
.l-punctuation-special {
  color: #1b40a6;
}
.l-string {
  color: #48a53d;
}
.l-string-documentation {
  color: #48a53d;
}
.l-string-escape {
  color: #ee5e25;
}
.l-string-regex {
  color: #ee5e25;
}
.l-string-regexp {
  color: #ee5e25;
}
.l-string-special {
  color: #d16366;
}
.l-string-special-path {
  color: #d16366;
}
.l-string-special-symbol {
  color: #3ea1ad;
}
.l-string-special-url {
  color: #48a53d;
  text-decoration: underline;
}
.l-tag {
  color: #ba793e;
}
.l-tag-attribute {
  color: #3879c5;
}
.l-tag-builtin {
  color: #d16366;
}
.l-tag-delimiter {
  color: #1b40a6;
}
.l-type {
  color: #ba793e;
}
.l-type-builtin {
  color: #ee5e25;
}
.l-type-definition {
  color: #ba793e;
}
.l-variable {
  color: #2e3440;
}
.l-variable-builtin {
  color: #cb4f53;
}
.l-variable-member {
  color: #3879c5;
}
.l-variable-parameter {
  color: #cb4f53;
}
.l-variable-parameter-builtin {
  color: #d16366;
}
