/* oxocarbon_dark
 * revision: cd6523a0836d6e8ee823d343149fd06c7b71fdde
 */
.lumis {
  color: #d0d0d0;
  background-color: #161616;
}
.l-attribute {
  color: #82cfff;
}
.l-attribute-builtin {
  color: #d0d0d0;
}
.l-boolean {
  color: #78a9ff;
}
.l-character {
  color: #be95ff;
}
.l-character-special {
  color: #d0d0d0;
}
.l-comment {
  color: #525252;
  font-style: italic;
}
.l-comment-documentation {
  color: #525252;
  font-style: italic;
}
.l-comment-error {
  color: #ee5396;
}
.l-comment-hint {
  color: #525252;
  font-style: italic;
}
.l-comment-note {
  color: #78a9ff;
}
.l-comment-todo {
  color: #42be65;
}
.l-comment-warning {
  color: #be95ff;
}
.l-constant {
  color: #be95ff;
}
.l-constant-builtin {
  color: #08bdba;
}
.l-constant-macro {
  color: #08bdba;
}
.l-constructor {
  color: #78a9ff;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-error {
  color: #33b1ff;
}
.l-function {
  color: #ff7eb6;
  font-weight: bold;
}
.l-function-builtin {
  color: #ff7eb6;
}
.l-function-call {
  color: #ff7eb6;
  font-weight: bold;
}
.l-function-macro {
  color: #08bdba;
}
.l-function-method {
  color: #ff7eb6;
  font-weight: bold;
}
.l-function-method-call {
  color: #ff7eb6;
  font-weight: bold;
}
.l-highlighted {
  background-color: #262626;
}
.l-keyword {
  color: #78a9ff;
}
.l-keyword-conditional {
  color: #78a9ff;
}
.l-keyword-conditional-ternary {
  color: #78a9ff;
}
.l-keyword-coroutine {
  color: #78a9ff;
}
.l-keyword-debug {
  color: #78a9ff;
}
.l-keyword-directive {
  color: #78a9ff;
}
.l-keyword-directive-define {
  color: #78a9ff;
}
.l-keyword-exception {
  color: #78a9ff;
}
.l-keyword-export {
  color: #78a9ff;
}
.l-keyword-function {
  color: #3ddbd9;
}
.l-keyword-import {
  color: #78a9ff;
}
.l-keyword-modifier {
  color: #78a9ff;
}
.l-keyword-operator {
  color: #3ddbd9;
}
.l-keyword-repeat {
  color: #78a9ff;
}
.l-keyword-return {
  color: #78a9ff;
}
.l-keyword-type {
  color: #78a9ff;
}
.l-label {
  color: #82cfff;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #525252;
  background-color: #161616;
}
.l-line-number-highlighted {
  color: #d0d0d0;
}
.l-markup-environment {
  color: #08bdba;
}
.l-markup-environment-name {
  color: #78a9ff;
}
.l-markup-heading {
  color: #d0d0d0;
}
.l-markup-heading-1 {
  color: #d0d0d0;
}
.l-markup-heading-1-markdown {
  color: #ee5396;
}
.l-markup-heading-2 {
  color: #d0d0d0;
}
.l-markup-heading-2-markdown {
  color: #ee5396;
}
.l-markup-heading-3 {
  color: #d0d0d0;
}
.l-markup-heading-3-markdown {
  color: #ee5396;
}
.l-markup-heading-4 {
  color: #d0d0d0;
}
.l-markup-heading-4-markdown {
  color: #ee5396;
}
.l-markup-heading-5 {
  color: #d0d0d0;
}
.l-markup-heading-5-markdown {
  color: #ee5396;
}
.l-markup-heading-6 {
  color: #d0d0d0;
}
.l-markup-heading-6-markdown {
  color: #ee5396;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #be95ff;
}
.l-markup-link-label {
  text-decoration: underline;
}
.l-markup-link-label-markdown_inline {
  font-style: italic;
}
.l-markup-link-url {
  color: #be95ff;
}
.l-markup-list {
  color: #3ddbd9;
}
.l-markup-list-checked {
  color: #3ddbd9;
}
.l-markup-list-unchecked {
  color: #3ddbd9;
}
.l-markup-math {
  color: #d0d0d0;
}
.l-markup-quote {
  color: #3ddbd9;
}
.l-markup-raw {
  color: #be95ff;
}
.l-markup-raw-block {
  color: #be95ff;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #78a9ff;
}
.l-module-builtin {
  color: #d0d0d0;
}
.l-namespace {
  color: #08bdba;
}
.l-number {
  color: #82cfff;
}
.l-number-float {
  color: #82cfff;
}
.l-operator {
  color: #78a9ff;
}
.l-property {
  color: #ee5396;
}
.l-punctuation-bracket {
  color: #3ddbd9;
}
.l-punctuation-delimiter {
  color: #3ddbd9;
}
.l-punctuation-special {
  color: #3ddbd9;
}
.l-string {
  color: #be95ff;
}
.l-string-documentation {
  color: #be95ff;
}
.l-string-escape {
  color: #82cfff;
}
.l-string-regex {
  color: #08bdba;
}
.l-string-regexp {
  color: #d0d0d0;
}
.l-string-special {
  color: #d0d0d0;
}
.l-string-special-path {
  color: #d0d0d0;
}
.l-string-special-symbol {
  color: #d0d0d0;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #78a9ff;
}
.l-tag-attribute {
  color: #82cfff;
}
.l-tag-builtin {
  color: #d0d0d0;
}
.l-tag-builtin-tsx {
  color: #78a9ff;
}
.l-tag-delimiter {
  color: #82cfff;
}
.l-type {
  color: #78a9ff;
}
.l-type-builtin {
  color: #78a9ff;
}
.l-type-definition {
  color: #78a9ff;
}
.l-variable {
  color: #d0d0d0;
}
.l-variable-builtin {
  color: #d0d0d0;
}
.l-variable-member {
  color: #d0d0d0;
}
.l-variable-parameter {
  color: #d0d0d0;
}
.l-variable-parameter-builtin {
  color: #d0d0d0;
}
