/* tokyodark
 * revision: 659aff3c73dc2e0159314050a81671f0b2eaad01
 */
.lumis {
  color: #a0a8cd;
  background-color: #11121d;
}
.l-attribute {
  color: #ee6d85;
}
.l-attribute-builtin {
  color: #a485dd;
}
.l-boolean {
  color: #a485dd;
}
.l-character {
  color: #d7a65f;
}
.l-character-special {
  color: #a485dd;
}
.l-comment {
  color: #4a5057;
  font-style: italic;
}
.l-comment-documentation {
  color: #4a5057;
  font-style: italic;
}
.l-comment-error {
  color: #ffc0b9;
}
.l-comment-hint {
  color: #4a5057;
  font-style: italic;
}
.l-comment-note {
  color: #8cf8f7;
}
.l-comment-todo {
  color: #7199ee;
  font-style: italic;
}
.l-comment-warning {
  color: #fce094;
}
.l-constant {
  color: #f6955b;
}
.l-constant-builtin {
  color: #a485dd;
}
.l-constant-macro {
  color: #ee6d85;
}
.l-constructor {
  color: #a485dd;
}
.l-diff-delta {
  color: #8cf8f7;
}
.l-diff-minus {
  color: #ffc0b9;
}
.l-diff-plus {
  color: #b3f6c0;
}
.l-error {
  color: #ee6d85;
}
.l-function {
  color: #95c561;
}
.l-function-builtin {
  color: #a485dd;
}
.l-function-call {
  color: #95c561;
}
.l-function-macro {
  color: #a485dd;
}
.l-function-method {
  color: #95c561;
}
.l-function-method-call {
  color: #95c561;
}
.l-highlighted {
  background-color: #1a1b2a;
}
.l-keyword {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-conditional {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-conditional-ternary {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-coroutine {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-debug {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-directive {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-directive-define {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-exception {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-export {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-function {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-import {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-modifier {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-operator {
  color: #ee6d85;
}
.l-keyword-repeat {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-return {
  color: #ee6d85;
  font-style: italic;
}
.l-keyword-type {
  color: #ee6d85;
  font-style: italic;
}
.l-label {
  color: #a485dd;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #4a5057;
}
.l-line-number-highlighted {
  color: #a0a8cd;
}
.l-markup-heading {
  color: #d7a65f;
  font-weight: bold;
}
.l-markup-heading-1 {
  color: #d7a65f;
  font-weight: bold;
}
.l-markup-heading-2 {
  color: #d7a65f;
  font-weight: bold;
}
.l-markup-heading-3 {
  color: #d7a65f;
  font-weight: bold;
}
.l-markup-heading-4 {
  color: #d7a65f;
  font-weight: bold;
}
.l-markup-heading-5 {
  color: #d7a65f;
  font-weight: bold;
}
.l-markup-heading-6 {
  color: #d7a65f;
  font-weight: bold;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  text-decoration: underline;
}
.l-markup-link-label {
  color: #a485dd;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #7199ee;
  text-decoration: underline;
}
.l-markup-list {
  color: #a485dd;
}
.l-markup-list-checked {
  color: #7199ee;
}
.l-markup-list-unchecked {
  color: #7199ee;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #7199ee;
  font-style: italic;
}
.l-module-builtin {
  color: #a485dd;
}
.l-namespace {
  color: #ee6d85;
}
.l-number {
  color: #a485dd;
}
.l-number-float {
  color: #a485dd;
}
.l-operator {
  color: #ee6d85;
}
.l-property {
  color: #f6955b;
  font-style: italic;
}
.l-punctuation-bracket {
  color: #a0a8cd;
}
.l-punctuation-delimiter {
  color: #a0a8cd;
}
.l-punctuation-special {
  color: #a0a8cd;
}
.l-string {
  color: #d7a65f;
}
.l-string-documentation {
  color: #d7a65f;
}
.l-string-escape {
  color: #a485dd;
}
.l-string-regexp {
  color: #a485dd;
}
.l-string-special {
  color: #a485dd;
}
.l-string-special-path {
  color: #a485dd;
}
.l-string-special-symbol {
  color: #a485dd;
}
.l-string-special-url {
  text-decoration: underline;
}
.l-tag {
  color: #a485dd;
}
.l-tag-attribute {
  color: #f6955b;
  font-style: italic;
}
.l-tag-builtin {
  color: #a485dd;
}
.l-tag-delimiter {
  color: #a0a8cd;
}
.l-type {
  color: #7199ee;
  font-style: italic;
}
.l-type-builtin {
  color: #7199ee;
  font-style: italic;
}
.l-type-definition {
  color: #ee6d85;
}
.l-variable {
  color: #e0e2ea;
}
.l-variable-builtin {
  color: #a485dd;
}
.l-variable-member {
  color: #e0e2ea;
}
.l-variable-parameter {
  color: #e0e2ea;
}
.l-variable-parameter-builtin {
  color: #a485dd;
}
