/* yorumi
 * revision: e5b93e2c0adb3d95ca9f3c5c20e824d15afcfe48
 */
.lumis {
  color: #bdbfcb;
  background-color: #060914;
}
.l-attribute {
  color: #d29146;
}
.l-attribute-builtin {
  color: #597bc0;
}
.l-boolean {
  color: #d29146;
  font-weight: bold;
}
.l-character {
  color: #80aa6e;
}
.l-character-special {
  color: #597bc0;
}
.l-comment {
  color: #656771;
}
.l-comment-documentation {
  color: #656771;
}
.l-comment-error {
  color: #bdbfcb;
  background-color: #4e0e0e;
  font-weight: bold;
}
.l-comment-hint {
  color: #656771;
}
.l-comment-note {
  color: #d6b476;
  background-color: #060914;
  font-weight: bold;
}
.l-comment-todo {
  color: #d6b476;
  background-color: #6b5905;
  font-weight: bold;
}
.l-comment-warning {
  color: #bdbfcb;
  background-color: #6b5905;
  font-weight: bold;
}
.l-constant {
  color: #d29146;
}
.l-constant-builtin {
  color: #597bc0;
}
.l-constant-macro {
  color: #d29146;
}
.l-constructor {
  color: #597bc0;
}
.l-constructor-lua {
  color: #da72a2;
}
.l-diff-delta {
  color: #ba9a5e;
}
.l-diff-minus {
  color: #f05c60;
}
.l-diff-plus {
  color: #80aa6e;
}
.l-function {
  color: #597bc0;
}
.l-function-builtin {
  color: #597bc0;
}
.l-function-call {
  color: #597bc0;
}
.l-function-macro {
  color: #597bc0;
}
.l-function-method {
  color: #597bc0;
}
.l-function-method-call {
  color: #597bc0;
}
.l-highlighted {
  background-color: #121520;
}
.l-keyword {
  color: #a188c3;
}
.l-keyword-conditional {
  color: #a188c3;
}
.l-keyword-conditional-ternary {
  color: #a188c3;
}
.l-keyword-coroutine {
  color: #a188c3;
}
.l-keyword-debug {
  color: #a188c3;
}
.l-keyword-directive {
  color: #a188c3;
}
.l-keyword-directive-define {
  color: #a188c3;
}
.l-keyword-exception {
  color: #f47171;
}
.l-keyword-export {
  color: #a188c3;
}
.l-keyword-function {
  color: #a188c3;
}
.l-keyword-import {
  color: #a188c3;
}
.l-keyword-modifier {
  color: #a188c3;
}
.l-keyword-operator {
  color: #ba9a5e;
  font-weight: bold;
}
.l-keyword-repeat {
  color: #a188c3;
}
.l-keyword-return {
  color: #f05c60;
}
.l-keyword-type {
  color: #a188c3;
}
.l-label {
  color: #da72a2;
}
.l-line-number:not(.l-line-number-highlighted) {
  color: #343742;
}
.l-line-number-highlighted {
  color: #c6dfec;
  background-color: #121520;
}
.l-markup {
  color: #597bc0;
}
.l-markup-environment {
  color: #a188c3;
}
.l-markup-environment-name {
  color: #a188c3;
}
.l-markup-heading {
  color: #597bc0;
}
.l-markup-heading-1 {
  color: #597bc0;
}
.l-markup-heading-2 {
  color: #597bc0;
}
.l-markup-heading-3 {
  color: #597bc0;
}
.l-markup-heading-4 {
  color: #597bc0;
}
.l-markup-heading-5 {
  color: #597bc0;
}
.l-markup-heading-6 {
  color: #597bc0;
}
.l-markup-italic {
  font-style: italic;
}
.l-markup-link {
  color: #788ad3;
  text-decoration: underline;
}
.l-markup-link-label {
  color: #788ad3;
  text-decoration: underline;
}
.l-markup-link-url {
  color: #7aa8a7;
  text-decoration: underline;
}
.l-markup-list {
  color: #597bc0;
}
.l-markup-list-checked {
  color: #597bc0;
}
.l-markup-list-unchecked {
  color: #597bc0;
}
.l-markup-math {
  color: #d29146;
}
.l-markup-quote {
  color: #a7a9b5;
}
.l-markup-raw {
  color: #9cb67d;
}
.l-markup-raw-block {
  color: #9cb67d;
}
.l-markup-strikethrough {
  text-decoration: line-through;
}
.l-markup-strong {
  font-weight: bold;
}
.l-markup-underline {
  text-decoration: underline;
}
.l-module {
  color: #7aa8a7;
}
.l-module-builtin {
  color: #597bc0;
}
.l-number {
  color: #b4647f;
}
.l-number-float {
  color: #b4647f;
}
.l-operator {
  color: #ba9a5e;
}
.l-property {
  color: #ba9a5e;
}
.l-punctuation-bracket {
  color: #a7a9b5;
}
.l-punctuation-delimiter {
  color: #a7a9b5;
}
.l-punctuation-special {
  color: #7aa8a7;
}
.l-string {
  color: #9cb67d;
}
.l-string-documentation {
  color: #9cb67d;
}
.l-string-escape {
  color: #f05c60;
  font-weight: bold;
}
.l-string-regexp {
  color: #f05c60;
}
.l-string-special {
  color: #597bc0;
}
.l-string-special-path {
  color: #597bc0;
}
.l-string-special-symbol {
  color: #ba9a5e;
}
.l-string-special-url {
  color: #7aa8a7;
  text-decoration: underline;
}
.l-tag {
  color: #597bc0;
}
.l-tag-attribute {
  color: #d29146;
}
.l-tag-builtin {
  color: #597bc0;
}
.l-tag-delimiter {
  color: #878996;
}
.l-type {
  color: #7aa8a7;
}
.l-type-builtin {
  color: #597bc0;
}
.l-type-definition {
  color: #7aa8a7;
}
.l-variable {
  color: #bdbfcb;
}
.l-variable-builtin {
  color: #f05c60;
}
.l-variable-member {
  color: #ba9a5e;
}
.l-variable-parameter {
  color: #a7a9b5;
}
.l-variable-parameter-builtin {
  color: #597bc0;
}
